<template>
	<div id="deposit" class="payment-step py-0 pr-0" v-if="loaded">
		<div class="pay-amt-container" v-if="details != null">
			<div class="row w-xxl-min w-100 mx-0 p-0">
				<div class="col-12 col-sm-9 col-xl-6 pr-xl-4 mb-md-5 py-5">
					<div class="payment-methods py-3">
						<div class="row mb-5">
							<div class="col-12 d-flex flex-column width-scale-img">
								<router-link to="/dashboard/finance/deposit" class="prev-page d-flex justify-content-start align-items-center" data-step="one">
									<i class="material-icons">chevron_left</i>
									{{ $t('dashboard.payment_amount_text1') }}
								</router-link>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<div class="form-group">
									<div id="form-amount-error" class="col-xs-6">
										<label class="form-group-label">{{ $t('dashboard.amount') }}:</label>
										<div class="form-group first-input-box mb-0   ">
											<input @keyup="calculateBonus()" autocomplete="off" type="text" name="amount" v-model="amount" class="form-control" style="color:white" />
											<span class="form-group-addon fs_amount_sub_text">USD</span>
										</div>
										<div class="sum-offer-list">
											<a class="sum-offer-item js-sum-offer-item" @click="inputAmount('150')" data-amount="150">$150</a>
											<a class="sum-offer-item js-sum-offer-item" @click="inputAmount('200')" data-amount="200">$200</a>
											<a class="sum-offer-item js-sum-offer-item" @click="inputAmount('300')" data-amount="300">$300</a>
											<a class="sum-offer-item js-sum-offer-item" @click="inputAmount('500')" data-amount="500">$500</a>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div id="form-error-bonus_code form-group-label" class="col-xs-6" style="width: 100%">
										<!--                                    <label class="control-label form-group-label">{{ $t('dashboard.Promo_codes') }}</label>-->
										<!--                                    <div class="promo-group">-->
										<!--                                        <input autocomplete="off" id="bonus_code" type="text" name="bonus_code" class="form-control" disabled />-->
										<!--                                        <span class="control-space-text"></span>-->
										<!--                                    </div>-->
										<div class="input-group-addon d-none">
											<div class="bonus-code-not-valid">
												<div class="bonus-code-not-valid__in">
													<i class="fa fa-times"></i>
													<div class="tooltip">
														<div class="tooltip-text">
															{{ $t('dashboard.payment_amount_text5') }}
														</div>
													</div>
												</div>
											</div>
											<div class="bonus-code-valid">
												<div class="bonus-code-valid__in">
													<i class="fa fa-check"></i>
													<div class="tooltip">
														<div class="tooltip-text">
															<div class="rrt">
																<p>
																	{{ $t('dashboard.payment_amount_text6') }}
																	$<span class="js-min-amount"></span>
																</p>
																<p>
																	{{ $t('dashboard.payment_amount_text7') }}
																	<span class="js-count-user-use"></span>
																</p>
																<p>{{ $t('dashboard.Bonus') }} <span class="js-percent"></span>%</p>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="bonus-code-clear js-clear-promo-code tooltip2 tooltip-effect-2">
												<div class="bonus-code-clear__in">
													{{ $t('dashboard.delete') }}
													<div class="tooltip-content">
														<div class="tooltip-text">
															{{ $t('dashboard.payment_amount_text8') }}
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-6">
								<!-- <div class="form-group">
									<div id="form-error-bonus_code" class="col-xs-6" style="width: 100%">
										<label class="control-label">{{ $t('dashboard.Promo_codes') }}</label>
										<div class="promo-group">
											<input autocomplete="off" id="bonus_code" type="text" name="bonus_code" class="form-control" disabled />
											<span class="control-space-text"></span>
										</div>
										<div class="input-group-addon d-none">
											<div class="bonus-code-not-valid">
												<div class="bonus-code-not-valid__in">
													<i class="fa fa-times"></i>
													<div class="tooltip">
														<div class="tooltip-text">
															{{ $t('dashboard.payment_amount_text5') }}
														</div>
													</div>
												</div>
											</div>
											<div class="bonus-code-valid">
												<div class="bonus-code-valid__in">
													<i class="fa fa-check"></i>
													<div class="tooltip">
														<div class="tooltip-text">
															<div class="rrt">
																<p>
																	{{ $t('dashboard.payment_amount_text6') }}
																	$<span class="js-min-amount"></span>
																</p>
																<p>
																	{{ $t('dashboard.payment_amount_text7') }}
																	<span class="js-count-user-use"></span>
																</p>
																<p>{{ $t('dashboard.Bonus') }} <span class="js-percent"></span>%</p>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="bonus-code-clear js-clear-promo-code tooltip2 tooltip-effect-2">
												<div class="bonus-code-clear__in">
													{{ $t('dashboard.delete') }}
													<div class="tooltip-content">
														<div class="tooltip-text">
															{{ $t('dashboard.payment_amount_text8') }}
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div> -->
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<div class="deposit-payment">
									<a href="javascript:void()" @click="continuePayment()" type="button" class="btn btn-payment">
										<span v-if="!fetchingAddress">{{ $t('dashboard.continue') }}</span>
										<span v-else>{{ $t('dashboard.Initialising_Payment') }}</span>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- <div class="col-12 col-sm-3 col-xl-2 pr-xl-4">
					<div class="col-inner-wrapper">
						<div class="col-header-text">
							<h6>{{ $t('dashboard.choose_your_bonus') }}</h6>
						</div>
						<div class="col-extended-section">
							<h6>{{ $t('dashboard.your_payment_amount') }}</h6>
							<span class="font-lg clr-primay">$300,000.00</span>
						</div>
						<div class="col-extended-section">
							<h6>{{ $t('dashboard.your_bonus_amount') }}</h6>
							<span class="font-lg clr-primay">0%</span>
						</div>
						<div class="error-block-text">
							<span class="error-no-bonus"> <sup>***</sup>{{ $t('dashboard.bonus_available') }} </span>
						</div>
					</div>
				</div> -->
				<div class="col-12 col-sm-3 d-xl-block br-xl-show payment-step-details py-5">
					<div class="payment-side-option">
						<div class="payment-type-img">
							<img :src="details.image" />
						</div>
						<div class="payment-type-expanded">
							<p>{{ $t('dashboard.You_get') }}</p>
							<h5>${{bonus ? bonus : 0}}</h5>
							<span>({{ $t('dashboard.Bonus') }}: <em>{{details.percentage_bonus}}%</em>)</span>
						</div>
					</div>
				</div>
			</div>
			<div id="paymentModal" class="modal payment-modal">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-body">
							<paymentConfirmed :paymentDetails="paymentDetails"></paymentConfirmed>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div v-else>
			<p class="alert alert-danger">
				Currency not found...
			</p>
		</div>
	</div>
</template>

<script>
	import Payment_confirmed from './Payment_confirmed';

	export default {
		name: 'Deposit',
		components: {
			paymentConfirmed: Payment_confirmed,
		},
		data() {
			return {
				loaded:false,
				bonus:0,
				amount: 0,
				currentDepType: 'default',
				giftDeposit: {
					default: true,
				},
				details:null,
				// methods: ['eth', 'usdt'],
				// methods_code: {
				// 	eth: 'Ethereum',
				// 	usdt: 'USD Tether',
				// },
				// methods_image: {
				// 	eth: '/assets/img/finance/icon/ethereum.png',
				// 	usdt: '/assets/img/finance/icon/usdt.png',
				// },
				currency: '',
				fetchingAddress: false,
				paymentDetails: {},
				paymentDone: false,
			};
		},
		methods: {
			calculateBonus(){
				this.bonus = ((this.details.percentage_bonus / 100) * this.amount) + parseInt(this.amount)
			},
			getAddress() {
				this.fetchingAddress = true;

				this.$store
					.dispatch('post', {
						endpoint: '/payment/get-wikipay-address',
						details: {
							currency: this.currency,
							amount: this.amount,
						},
					})
					.then((data) => {
						console.log(data);
						if (data.data.status) {
							var temp = data.data.data;
							this.paymentDetails = {
								usd: this.amount,
								// currency: this.methods_code[temp.currency],
								currency:this.details.title,
								currency_code: temp.currency.toUpperCase(),
								amount: temp.amount,
								address: temp.address,
								barcode: process.env.VUE_APP_ENDPOINT + '/' + temp.qr,
							};
							window.$('#paymentModal').modal('show');
						} else {
							this.$store.commit('setNotification', {
								type: 2,
								msg: data.data.msg,
							});
						}
						this.fetchingAddress = false;
					})
					.catch((error) => {
						console.log(error.request);
						this.fetchingAddress = false;
					});
			},
			continuePayment() {
				this.getAddress();
			},
			inputAmount(amount) {
				this.amount = amount;
				this.calculateBonus()
			},
			selectGift(depositType) {
				this.giftDeposit = {};
				this.giftDeposit[depositType] = true;
				this.currentDepType = Object.keys(this.giftDeposit)[0];
			},
			active_route() {
				const routeName = this.$router.currentRoute.path.split('/');
				this.$parent.active_route = routeName[routeName.length - 1];
			},
			verifyCurrency(){
				var mthd = this.$route.params.method;
				this.$store.dispatch('post', {endpoint:'/verify-currency-exist', details:{'code':mthd}})
				.then((data)=>{
					this.loaded = true
					if(data.data.status){
						this.details = data.data.data
						this.currency = mthd;
						console.log(this.details)
					}
				})
			}
		},
		created() {
			// var mthd = this.$route.params.method;
			// // console.log(mthd);

			// if (!this.methods.find((d) => d == mthd)) {
			// 	this.$router.back();
			// }
			// this.currency = mthd;
			this.verifyCurrency();

			

			this.active_route();
		},
	};
</script>

<style lang="scss" scoped>
	.modal-body {
		background: #04233f;
		padding: 0;
		position: relative;
		overflow: hidden;
	}
	.modal-lg {
		max-width: 100% !important;
	}
	#paymentModal .modal-dialog {
		width: 90%;
		height: 100%;
		margin: 0;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background: rgba(4, 35, 63, 0.3);
		border: 1px solid #074176;
		backdrop-filter: blur(100px);
		border-radius: 5px;

		.modal-content {
			height: 100%;
		}
	}
	#deposit {
		background-color: #04233f;
		padding: 4rem 12px 5rem;
		margin-bottom: 6rem;
		border-radius: 5px;
	}
	.prev-page {
		text-decoration: none !important;
		color: #ffffff !important;
		font-weight: bolder;
		white-space: nowrap;
		cursor: pointer;
	}
	.form-group-label {
		color: #049cb1;
		text-transform: capitalize;
	}
	.commission__item .title {
		color: #fff;
		font-size: 20px !important;
	}
	.payment-type-img {
		margin-bottom: 20px;
		img {
			width: 100%;
			max-width: 225px;
		}
	}
	.first-input-box,
	.promo-group {
		position: relative;
		border-radius: 5px;
		background-color: #04233f;
		border: 1px solid #5789cf;
		overflow: hidden;

		.form-control {
			position: relative;
			background: transparent;
			outline: none;
			border: none;
			box-shadow: none;
			padding-right: 50px;
			border-radius: 0;
			width: 100%;
		}

		.form-group-addon,
		span {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			width: 60px;
			text-align: center;
			line-height: 35px;
			background-color: #052f55;
			font-size: 12px;
			color: #bfc6d6;
			border-left: 1px solid #5789cf;
		}

		.control-space-text {
			width: 70px;
		}
	}

	.sum-offer-list {
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		margin-top: 5px;

		a {
			text-decoration: none !important;
			color: #d5d6d8;
			width: 23%;
			background: rgba(161, 227, 162, 0.1);
			display: inline-block;
			margin-top: 4px;
			margin-right: 4px;
			font-size: 10px;
			line-height: 15px;
			padding: 4px 10px;
			text-align: center;
			border-radius: 4px;

			&:last-of-type {
				margin-right: 0;
			}
		}
	}

	.label {
		display: inline-flex;
		align-items: center;
		cursor: pointer;
	}

	.label-text {
		margin-left: 8px;
	}

	.sum-offer-item {
		-moz-user-select: none;
		cursor: pointer;
	}

	.toggle {
		isolation: isolate;
		position: relative;
		height: 24px;
		width: 48px;
		border-radius: 15px;
		background: rgba(0, 0, 0, 0.26);
		overflow: hidden;
	}

	.toggle-inner {
		z-index: 2;
		position: absolute;
		top: 1px;
		left: 1px;
		height: 22px;
		width: 46px;
		border-radius: 15px;
		overflow: hidden;
	}

	.active-bg {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 200%;
		background: #3f51b5;
		transform: translate3d(-100%, 0, 0);
		transition: transform 0.05s linear 0.17s;
	}

	.toggle-state {
		display: none;
	}

	.indicator {
		height: 100%;
		width: 200%;
		background: white;
		border-radius: 13px;
		transform: translate3d(-75%, 0, 0);
		transition: transform 0.35s cubic-bezier(0.85, 0.05, 0.18, 1.35);
	}

	.toggle-state:checked ~ .active-bg {
		transform: translate3d(-50%, 0, 0);
	}

	.toggle-state:checked ~ .toggle-inner .indicator {
		transform: translate3d(25%, 0, 0);
	}

	.bonus-offer-toggler {
		margin-bottom: 1rem;
		padding-left: 15px;
		display: flex;
		justify-items: flex-start;
		align-items: center;

		label {
			margin-bottom: 0;
		}

		span {
			display: inline-block;
			padding-left: 1rem;
		}
	}

	.deposit-payment {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 1rem;

		button {
			width: 100%;
			text-align: center;
			outline: none;
			box-shadow: none !important;
			background-color: #333b4e;
			color: #fff;
			border-radius: 4px;
			cursor: pointer;
		}

		.fp_payment_stat {
			margin-top: 10px;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: row;

			.profit {
				font-size: 24px;
				padding: 0 12px;
			}
		}
	}

	.gift-deposit-offer {
		padding: 12px;
		padding-bottom: 1.5rem;
		overflow: hidden;
		border: 1px solid;
		border-radius: 5px;
		width: 85%;
		margin: 0 auto 1.5rem;
		transition: 300ms ease;

		&.default {
			border-color: hsla(0, 0%, 80%, 0.2);
			background: hsla(0, 0%, 80%, 0.07);
		}

		&.beginner {
			border: 1px solid rgba(83, 225, 139, 0.3);
			background: rgba(83, 225, 139, 0.1);
		}

		&.experienced {
			border: 1px solid rgba(200, 83, 101, 0.3);
			background: rgba(200, 83, 101, 0.1);
		}

		&.master {
			border: 1px solid rgba(238, 179, 75, 0.3);
			background: rgba(238, 179, 75, 0.1);
		}

		&.professional {
			border: 1px solid rgba(136, 72, 220, 0.3);
			background: rgba(136, 72, 220, 0.1);
		}

		&.guru {
			border: 1px solid rgba(63, 147, 209, 0.3);
			background: rgba(63, 147, 209, 0.1);
		}

		.gift-title {
			span {
				font-size: 12px;
				line-height: 16px;
				margin-bottom: 7px;
				color: #ffaf00;
			}
		}
	}

	.btn-payment {
		display: block;
		width: 100%;
		background: #0b7381;
		color: #fff;
		box-shadow: none;
		font-size: 12px;
		letter-spacing: 2px;
		transition: 300ms ease;
		text-transform: uppercase;
		padding: 10px;
		font-weight: bolder;
		&:hover {
			background-color: #0d5a64;
			color: #ffffff;
		}
	}

	.gift-offer-select {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		overflow: auto;
		-ms-overflow-style: none;
		scrollbar-width: none;
		padding-bottom: 10px;
		padding-top: 10px;

		.gift-items-box {
			margin-right: 15px;
			border-radius: 5px;

			a {
				display: inline-block;
				width: fit-content;
				height: fit-content;
				border: 1px solid transparent;
				border-radius: 5px;
				transition: 300ms ease;

				img {
					width: 48px;
					height: 48px;
				}
			}

			&.box-1 {
				width: 48px;
				height: 48px;
				border-radius: 5px;
				cursor: pointer;
				background: hsla(0, 0%, 80%, 0.07);
				border: 1px solid hsla(0, 0%, 80%, 0.5);
				box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);

				i {
					font-size: 32px;
					line-height: 50px;
					text-align: center;
					width: 48px;
				}
			}

			&.box-2 {
				border: 1px solid rgba(83, 225, 139, 0.3);
				background: rgba(83, 225, 139, 0.1);
				box-shadow: 0 0 10px 3px rgba(83, 225, 139, 0.3);

				&.active {
					border: 1px solid #53e18b;
					background: #53e18b;
					box-shadow: 0 0 10px 3px #53e18b;
				}
			}

			&.box-3 {
				border: 1px solid rgba(200, 83, 101, 0.3);
				background: rgba(200, 83, 101, 0.1);
				box-shadow: 0 0 10px 3px rgba(200, 83, 101, 0.3);

				&.active {
					border: 1px solid #c85365;
					background: #c85365;
					box-shadow: 0 0 10px 3px #c85365;
				}
			}

			&.box-4 {
				border: 1px solid rgba(238, 179, 75, 0.3);
				background: rgba(238, 179, 75, 0.1);
				box-shadow: 0 0 10px 3px rgba(238, 179, 75, 0.3);

				&.active {
					border: 1px solid #eeb34b;
					background: #eeb34b;
					box-shadow: 0 0 10px 3px #eeb34b;
				}
			}

			&.box-5 {
				border: 1px solid rgba(136, 72, 220, 0.3);
				background: rgba(136, 72, 220, 0.1);
				box-shadow: 0 0 10px 3px rgba(136, 72, 220, 0.3);

				&.active {
					border: 1px solid #8848dc;
					background: #8848dc;
					box-shadow: 0 0 10px 3px #8848dc;
				}
			}

			&.box-6 {
				border: 1px solid rgba(63, 147, 209, 0.3);
				background: rgba(63, 147, 209, 0.1);
				box-shadow: 0 0 10px 3px rgba(63, 147, 209, 0.3);

				&.active {
					border: 1px solid #3f93d1;
					background: #3f93d1;
					box-shadow: 0 0 10px 3px #3f93d1;
				}
			}
		}
	}

	.gift-deposit-offer-tab {
		border-radius: 5px;
	}

	.amount-gift-info {
		width: 100%;
		padding: 15px;
		border-radius: 5px;
		background: rgba(83, 225, 139, 0.1);
		border: 1px solid rgba(83, 225, 139, 0.3);
		transition: 300ms ease-in;
		animation: scaleIn 600ms linear;
	}

	@keyframes scaleIn {
		from {
			opacity: 0;
			transform: scale(0);
		}

		to {
			opacity: 1;
			transform: scale(1);
		}
	}

	.width-scale-img {
		img {
			width: 50%;
			max-width: 230px;
		}
	}

	.amount-gift-info__in {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;

		.amount-gift-info__gift {
			border-radius: 4px;
			margin-right: 20px;
			width: 76px;
			height: 76px;
			background: url('/assets/img/finance/icon/5.jpg') no-repeat center center/cover;
			border: 1px solid #53e18b;
			box-shadow: 0 0 10px 3px #53e18b;
		}
	}

	.amount-gift-info__title {
		font-size: 20px;
		line-height: 24px;
	}

	.amount-gift-info__info {
		font-size: 10px;
	}

	.gift-offer-select::-webkit-scrollbar {
		display: none;
	}

	.tariffs-block-title {
		font-size: 20px;
	}

	.bonus-side-option {
		.header-top {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 8px;

			div {
				color: #8fa5bf;
				font-size: 12px !important;
			}

			.payment-amount {
				padding-left: 2rem;
			}

			.bonus-amount {
				padding-right: 2rem;
			}
		}
	}

	.data-list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: #293145;
		color: #fff;
		margin-bottom: 8px;
		border-radius: 4px;
		cursor: pointer;
		padding: 0.8rem;

		&.active {
			box-shadow: 0 0 0 1px #f59c1a;
			background-color: #364059;

			.point .circle::before {
				opacity: 1;
			}

			.bonus {
				color: #ffffff;
			}
		}

		.bonus {
			font-size: 16px;
			color: #5fca64;
		}

		.point {
			padding-left: 1.5rem;

			.circle {
				position: relative;

				&::before,
				&::after {
					content: '';
					position: absolute;

					border-radius: 50%;
				}

				&::before {
					width: 15px;
					height: 15px;
					top: -8px;
					left: 5px;
					background: #ffffff;
					z-index: 5;
					opacity: 0;
				}

				&::after {
					width: 25px;
					height: 25px;
					top: -13px;
					left: 0;
					background: #212228;
					z-index: 3;
				}
			}
		}
	}
	.col-header-text {
		margin-bottom: 25px;
		color: #cfcfcf;

		h6 {
			font-size: 18px;
		}
	}
	.col-extended-section {
		margin-bottom: 15px;

		h6 {
			color: #049cb1;
			font-size: 14px;
			margin-bottom: 0;
		}
	}
	.font-lg {
		font-size: 20px;
		font-family: Roboto;
	}
	.clr-primay {
		color: #cfcfcf;
	}
	.error-block-text {
		.error-no-bonus {
			color: #ff8aa6;
			font-size: 22px;
		}
	}
	.payment-modal {
		position: absolute;
		background: #00182dc7;
	}

	@media only screen and (min-width: 576px) {
		.gift-deposit-offer {
			width: 100%;
			padding: 8px;
		}

		.deposit-payment {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			margin-top: 1rem;

			button {
				width: 30%;
				max-width: 100px;
			}
		}

		.payment-modal {
			min-height: 670px;
		}
	}
	@media only screen and (min-width: 768px) {
		.bonus-offer-toggler {
			padding-left: 0;
		}
		.col-inner-wrapper {
			padding-left: 3rem;
		}
		#paymentModal .modal-dialog {
			width: 90%;
			height: 86%;
			max-width: 740px !important;
		}
		.payment-modal {
			height: 100%;
			min-height: 400px;
		}
	}
	@media only screen and (min-width: 992px) {
		.w-xxl-min {
			width: 85%;
			margin: 0 auto;
			padding: 1rem;
		}
		.col-header-text {
			h6 {
				font-size: 24px;
			}
		}
		.col-extended-section {
			h6 {
				font-size: 16px;
			}
		}
		.font-lg {
			font-size: 26px;
		}
	}
	.payment-step-details {
		background: #052d51;
	}
	@media only screen and (min-width: 1200px) {
		.w-xxl-min {
			width: 85%;
			margin: 0 auto;
		}
		.br-xl-show {
			padding: 2rem 3rem 2rem 2rem;
		}
		.payment-step {
			position: relative;

			.payment-step-details {
				position: absolute;
				top: 0;
				right: 0;
				width: fit-content;
				height: 100%;
				
				border-radius: 5px;
			}
		}
		.item-block-payment {
			p {
				color: #d3d3d3;
				font-size: 12px;
				width: 65%;

				span {
					color: #ccbbed;
					font-size: 14px;
				}
			}
		}
		.payment-type-expanded {
			p {
				color: #ccbbed;
				font-size: 18px;
				margin-bottom: 5px;
			}

			h5 {
				color: #d3d3d3;
				font-size: 22px;
			}

			span {
				font-size: 16px;
				color: #d3d3d3;

				em {
					font-style: normal;
					color: #ccbbed;
				}
			}
		}
		#paymentModal .modal-dialog {
			height: 90%;
			max-width: 800px !important;
		}
	}
	@media only screen and (min-width: 1350px) {
		.w-xxl-min {
			width: 85%;
			margin: 0 auto;
		}
	}
</style>
