<template>
	<div class="about-us">
		<div class="abt-banner-imgWrapper">
			<div class="abt-banner-Img">
				<div class="abt-banner-text">
					<p>{{ $t('home.about_us_banner_title') }}</p>
					<h2>{{ $t('home.about_us_banner_text') }}</h2>
				</div>
				<img src="../../../assets/Devices_1.png" class="abt-crd-logo" alt="" />
			</div>
		</div>

		<div class="abt-crd-textWrapper width">
			<div class="row abt-crd-row">
				<div class="col-sm-12 col-md-6 col-lg-6 p-0">
					<div class="abt-crd-txt">
						<p class="crd-p1 txt">
							{{ $t('home.about_card_1') }}
						</p>
						<p class="crd-p2 txt">{{ $t('home.about_card_2') }}.</p>
					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-6 crd-logo-wrap p-0">
					<div class="crd-logo-img">
						<img src="./../../../assets/image_3.png" alt="" />
					</div>
				</div>
			</div>
		</div>

		<!-- Why choose us -->
		<div class="abt-choose-wrapper width">
			<h2 class="abt-choose-h2">{{ $t('home.why_choose_us') }}?</h2>
			<div class="row choose-row">
				<div class="col-sm-12  col-lg-4">
					<p class="choose-p">
						{{ $t('home.why_choose_us_text') }}
					</p>
				</div>
				<div class="col-xm-6 col-sm-6 col-md-6 col-lg-5 padding-left choose-col">
					<div class="choose-details">
						<span class="fa fa-star"></span>
						<div class="choose">
							<span class="choose-num">100,000+</span>
							<span class="choose-active">{{ $t('home.why_choose_card_1') }}</span>
						</div>
					</div>
					<div class="choose-details bt-choose">
						<span class="fa fa-star"></span>
						<div class="choose">
							<span class="choose-num">$500,000,000+</span>
							<span class="choose-active">{{ $t('home.why_choose_card_2') }}</span>
						</div>
					</div>
				</div>
				<div class="col-xm-6 col-sm-6 col-md-6 col-lg-3 choose-col">
					<div class="choose-details">
						<span class="fa fa-star"></span>
						<div class="choose">
							<span class="choose-num">100,000+</span>
							<span class="choose-active">{{ $t('home.why_choose_card_3') }}</span>
						</div>
					</div>
					<div class="choose-details bt-choose">
						<span class="fa fa-star"></span>
						<div class="choose">
							<span class="choose-num">100,000+</span>
							<span class="choose-active">{{ $t('home.why_choose_card_4') }}</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="abt-jumbo width">
			<p class="abt-jumbo-p">{{ $t('home.about_blockquote') }}.</p>
		</div>

		<!-- How we work -->
		<div class="abt-work-wrapper">
			<h2 class="abt-work-h2">
				{{ $t('home.about_work') }}
			</h2>
			<div class="row abt-work-detailsWrapper width">
				<div class="col-sm-12 col-md-6 col-lg-7 p-0">
					<div class="abt-wrk-txtDiv">
						<p class="abt-wrk-p">{{ $t('home.about_work_text_2') }}.</p>
						<p class="abt-wrk-p">
							{{ $t('home.about_work_text_3') }}
						</p>
					</div>
					<div class="p2p-head">
						<h6 class="p2p-head-h6"> Kenji Yamamoto</h6>
						<p class="p2p-head-p">{{ $t('home.about_work_text_head') }}</p>
					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-5 p-0">
					<div class="abt-work-imgWrap">
						<img src="../../../assets/about_us_icons/abt-smiling-man.png" class="abt-mask-img" alt="" />
						<!-- <img src="../../../assets/about_us_icons/Rectangle 97.png" class="abt-rect-img" alt=""> -->
					</div>
				</div>
			</div>
		</div>

		<!-- Our core Values -->
		<div class="core-values">
			<div class="abt-values-wrapper width">
				<h2 class="abt-choose-h2 abt-val-h2">{{ $t('home.core_value_title') }}</h2>
				<div class="row">
					<div class="col-sm-12 col-md-6 col-lg-4">
						<div class="abt-val-card">
							<div class="abt-val-icon">
								<img src="../../../assets/about_us_icons/innovat@2x.png" class="abt-val-i" alt="" />
							</div>
							<div class="abt-val-body">
								<h6 class="abt-val-title">{{ $t('home.core_value_title_1') }}</h6>
								<p class="abt-val-text">
									{{ $t('home.core_value_text_1') }}.
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-4 ">
						<div class="abt-val-card b-left">
							<div class="abt-val-icon">
								<img src="../../../assets/about_us_icons/value@2x.png" class="abt-val-i" alt="" />
							</div>
							<div class="abt-val-body">
								<h6 class="abt-val-title">{{ $t('home.core_value_title_2') }}</h6>
								<p class="abt-val-text">
									{{ $t('home.core_value_text_2') }}.
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-4 ">
						<div class="abt-val-card b-left">
							<div class="abt-val-icon">
								<img src="../../../assets/about_us_icons/social@2x.png" class="abt-val-socialIcon" alt="" />
							</div>
							<div class="abt-val-body">
								<h6 class="abt-val-title">{{ $t('home.core_value_title_3') }}</h6>
								<p class="abt-val-text">
									{{ $t('home.core_value_text_3') }}.
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-4 b-t">
						<div class="abt-val-card">
							<div class="abt-val-icon val-pt">
								<img src="../../../assets/about_us_icons/innovat@2x.png" class="abt-val-i" alt="" />
							</div>
							<div class="abt-val-body">
								<h6 class="abt-val-title">{{ $t('home.core_value_title_4') }}</h6>
								<p class="abt-val-text">
									{{ $t('home.core_value_text_4') }}.
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-4  b-t">
						<div class="abt-val-card b-left">
							<div class="abt-val-icon val-pt">
								<img src="../../../assets/about_us_icons/innovat@2x.png" class="abt-val-i" alt="" />
							</div>
							<div class="abt-val-body">
								<h6 class="abt-val-title">{{ $t('home.core_value_title_5') }}</h6>
								<p class="abt-val-text">
									{{ $t('home.core_value_text_5') }}.
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-4  b-t">
						<div class="abt-val-card b-left">
							<div class="abt-val-icon val-pt">
								<img src="../../../assets/about_us_icons/innovat@2x.png" class="abt-val-i" alt="" />
							</div>
							<div class="abt-val-body">
								<h6 class="abt-val-title">{{ $t('home.core_value_title_6') }}</h6>
								<p class="abt-val-text">
									{{ $t('home.core_value_text_6') }}.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'about-us',
	};
</script>

<style>
	.about-us {
		background: white;
		position: relative;
		font-family: 'Campton';
	}

	.abt-banner-Img {
		width: 80%;
		margin: auto;
	}
	.abt-banner-imgWrapper {
		background-image: url('/assets/img/Landing_Page_Banner.png');
		background-position: center;
		background-size: cover;
		width: 100%;
		height: 80vh;
		position: relative;
	}

	.abt-banner-text {
		width: 500px;
		position: absolute;
		height: fit-content;
		top: 0;
		bottom: 0;
		margin: auto;
	}

	.abt-banner-text p {
		display: inline;
		font-size: 48px;
		line-height: 1.3;
		font-weight: 300;
		color: #ffffff;
	}

	.abt-banner-text h2 {
		display: inline;
		font-weight: 700;
		font-size: 48px;
		color: #ffffff;
	}

	.abt-crd-textWrapper {
		position: relative;
	}

	.abt-crd-logo {
		position: absolute;
		width: 580px;
		right: 91px;
		top: 0;
		bottom: 0;
		margin: auto;
	}

	.abt-crd-txt {
		color: white;
	}

	.abt-crd-row {
		position: relative;
		top: -90px;
	}

	.width {
		width: 80%;
		margin: auto;
	}

	.abt-crd-txt {
		background: #049cb1;
		padding: 60px 79px;
	}

	.txt {
		font-size: 20px;
		font-weight: 600;
		line-height: 1.6;
		text-align: justify;
		margin-bottom: 0;
	}

	.crd-p1 {
		margin-bottom: 32px;
	}
    
	.crd-logo-wrap {
		background: #b1aeef;
	}

	.crd-logo-img {
		background: #b1aeef;
	}

	.crd-logo-img img {
		width: 420px;
		position: absolute;
		top: 67px;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
	}

	.abt-choose-wrapper {
		margin-top: 47px;
	}

	.abt-choose-h2 {
		color: #767676;
		font-size: 31px;
		font-weight: 800;
		text-align: center;
		font-family: 'Raleway';
	}

	.choose-row {
		color: black;
		margin-top: 70px;
	}

	.choose-p {
		color: #5c5c5c;
		font-size: 1.27rem;
		font-weight: 600;
		text-align: right;
		padding-right: 58px;
	}

	.padding-left {
		padding-left: 50px;
	}

	.choose-details {
		display: flex;
	}

	.choose-details .fa-star {
		padding-right: 22px;
		color: #c4c4c4;
	}

	.choose-num {
		color: #049cb1;
		display: block;
		font-size: 44px;
		font-weight: 700;
		line-height: 0.8;
		margin-bottom: 12px;
	}

	.choose-active {
		color: #5c5c5c;
		font-size: 18px;
		font-weight: 600;
	}

	.choose-col {
		position: relative;
	}

	.bt-choose {
		margin-top: 58px;
	}

	.abt-jumbo {
		border: 1px solid #f6b1a7;
		padding: 36px 58px;
		margin: 60px auto;
		border-radius: 18px;
		box-shadow: 2px 2px 8px #dedede;
	}

	.abt-jumbo-p {
		color: #5c5c5c;
		font-weight: 600;
		font-size: 1.2rem;
		line-height: 1.4;
		text-align: center;
		margin-bottom: 0;
	}

	.abt-work-wrapper {
		background: #a9aff1;
		padding-top: 67px;
		padding-bottom: 425px;
		margin-top: 100px;
		color: white;
	}

	.abt-wrk-txtDiv {
		padding-right: 65px;
	}

	.abt-work-h2 {
		text-align: center;
		font-size: 30px;
		font-weight: 800;
		font-family: 'Raleway';
	}

	.abt-work-detailsWrapper {
		margin-top: 120px;
	}

	.abt-wrk-p {
		font-size: 21px;
		word-spacing: 0.15rem;
		margin-bottom: 30px;
	}

	.p2p-head-h6 {
		font-size: 46px;
		font-style: italic;
	}

	.p2p-head-p {
		font-size: 14px;
		font-weight: 600;
	}

	.abt-work-imgWrap {
		position: relative;
	}

	.abt-mask-img {
		width: 374px;
		height: auto;
	}

	.abt-val-icon {
		min-height: 82px;
	}

	.abt-val-body {
		min-height: 237px;
	}

	.abt-val-i {
		width: 53px;
	}

	.abt-val-socialIcon {
		width: 112px;
	}

	.abt-val-title {
		font-size: 22px;
		font-weight: 700;
		color: #707070;
		margin-bottom: 19px;
		margin-top: 22px;
	}

	.abt-val-text {
		font-size: 15px;
		line-height: 1.4;
		color: black;
		font-weight: 600;
	}

	.abt-val-h2 {
		margin-bottom: 68px;
	}

	.val-pt {
		padding-top: 50px;
	}

	.abt-values-wrapper {
		box-shadow: 0px 0px 12px hsl(0 0% 90% / 1);
		padding: 74px 67px;
		border-radius: 10px;
		background: white;
		position: relative;
		left: 0;
		right: 0;
		top: -300px;
	}

	.abt-val-card {
		padding: 0px 30px;
	}

	.b-left,
	.b-t {
		position: relative;
	}

	.b-left::after {
		content: '';
		position: absolute;
		display: block;
		bottom: 14px;
		left: 0;
		top: 19px;
		height: 88%;
		width: 1px;
		background: #20273f70;
	}

	.b-t::before {
		content: '';
		background: #20273f70;
		position: absolute;
		top: 0;
		left: 36px;
		height: 1px;
		width: 88%;
	}

	.core-values {
		position: relative;
	}

	@media screen and (max-width: 1300px) {
		.abt-banner-text h2 {
			font-size: 45px;
		}

		.abt-banner-text h2 {
			font-size: 43px;
		}

		.abt-crd-logo {
			width: 541px;
		}

		.abt-values-wrapper {
			padding: 74px 33px;
		}

		.abt-val-card {
			padding: 0px 30px;
		}
	}

	@media screen and (max-width: 1180px) {
		.abt-banner-Img {
			width: 90%;
		}

		.abt-crd-logo {
			right: 19px;
		}

		.width {
			width: 90%;
		}

		.abt-crd-txt {
			background: #049cb1;
			padding: 40px 35px;
		}

		.txt {
			font-size: 19px;
			font-weight: 600;
			line-height: 1.6;
			text-align: justify;
			margin-bottom: 0;
		}

		.crd-p1 {
			margin-bottom: 24px;
		}

		.crd-logo-img img {
			width: 368px;
			position: absolute;
			top: 0;
		}

		.abt-crd-row {
			position: relative;
			top: -65px;
		}

		.padding-left {
			padding-left: 44px;
		}

		.choose-p {
			padding-right: 45px;
		}
	}

	@media screen and (max-width: 999px) {
		.abt-banner-text {
			width: 426px;
		}

		.abt-crd-logo {
			width: 487px;
		}

		.bt-choose {
			position: unset;
			margin-top: 67px;
		}

		.choose-p {
			padding-right: 14px;
			text-align: left;
			margin-bottom: 43px;
		}

		.padding-left {
			padding-left: 15px;
		}

		.abt-wrk-txtDiv {
			padding-right: 50px;
		}

		.b-left::after {
			display: none;
		}

		.b-t::before {
			display: none;
		}

		.abt-val-body {
			min-height: 182px;
		}

		.val-pt {
			padding-top: 0px;
		}
	}

	@media screen and (max-width: 895px) {
		.abt-banner-imgWrapper {
			height: 69vh;
		}

		.abt-crd-logo {
			width: 360px;
		}

		.abt-crd-txt {
			padding: 30px 35px;
		}

		.crd-p1 {
			margin-bottom: 20px;
		}

		.txt {
			font-size: 17px;
		}

		.crd-logo-img img {
			width: 355px;
		}

		.abt-mask-img {
			width: 350px;
			height: auto;
		}

		.abt-wrk-p {
			font-size: 17px;
		}
	}

	@media screen and (max-width: 798px) {
		.abt-banner-text {
			position: unset;
			width: 452px;
			margin: unset;
			margin-bottom: 17px;
		}

		.abt-banner-text p {
			font-size: 28px;
		}

		.abt-banner-text h2 {
			font-size: 28px;
		}

		.abt-crd-logo {
			position: unset;
			width: 384px;
		}

		.abt-banner-Img {
			padding-top: 50px;
		}

		.choose-num {
			font-size: 35px;
		}

		.bt-choose {
			position: unset;
			margin-top: 54px;
		}
	}

	@media screen and (max-width: 768px) {
		.crd-logo-wrap {
			height: 350px;
		}

		.crd-logo-img img {
			width: 307px;
		}

		.abt-crd-textWrapper {
			position: relative;
		}

		.choose-num {
			font-size: 28px;
		}

		.bt-choose {
			margin-top: 39px;
		}

		.choose-active {
			font-size: 14px;
		}

		.abt-jumbo {
			padding: 30px 28px;
		}

		.abt-work-detailsWrapper {
			margin-top: 34px;
		}

		.abt-wrk-txtDiv {
			padding-right: 10px;
		}

		.abt-val-body {
			min-height: 144px;
		}

		.abt-val-icon {
			min-height: 59px;
		}
	}

	@media screen and (max-width: 500px) {
		.txt {
			font-size: 16px;
		}

		.crd-p1 {
			margin-bottom: 13px;
		}

		.abt-crd-txt {
			padding: 25px 25px;
		}

		.abt-crd-logo {
			width: 318px;
		}

		.abt-banner-imgWrapper {
			height: 66vh;
		}

		.abt-banner-text {
			width: 337px;
		}

		.abt-banner-text p {
			font-size: 22px;
		}

		.abt-banner-text h2 {
			font-size: 22px;
		}

		.abt-banner-Img {
			padding-top: 45px;
		}

		.abt-crd-row {
			width: 99%;
			margin: auto;
		}

		.choose-col {
			margin-bottom: 43px;
			position: relative;
		}

		.bt-choose {
			margin-top: 27px;
		}

		.choose-num {
			font-size: 33px;
		}

		.choose-active {
			font-size: 16px;
		}

		.choose-row {
			margin-top: 31px;
		}

		.abt-jumbo {
			padding: 24px 17px;
		}

		.abt-mask-img {
			width: 310px;
			margin-top: 25px;
		}

		.abt-work-h2 {
			font-size: 27px;
		}

		.b-left::after {
			display: none;
		}

		.b-t::before {
			display: none;
		}

		.abt-values-wrapper {
			padding: 48px 0px;
		}

		.abt-val-h2 {
			margin-bottom: 49px;
		}

		.abt-val-icon {
			min-height: 69px;
		}

		.abt-val-title {
			margin-bottom: 15px;
			margin-top: 9px;
		}

		.abt-val-body {
			min-height: fit-content;
			margin-bottom: 40px;
		}

		.val-pt {
			padding-top: 10px;
		}

		.abt-val-card {
			padding: 0px 20px;
		}
	}
</style>
