<template>
	<div id="home">
		<section class="hero-section">
			<div class="section-wrapper">
				<div class="container-fluid">
					<div class="banner-wrapper">
						<div class="hero-banner-text">
							<div class="hero-text-header">
								<h4>
									{{ $t('home.contact_banner_text') }}
								</h4>
							</div>
							<div class="hero-img-extended">
								<span class="img-wrapper img-1">
									<svg width="145" height="145" viewBox="0 0 145 145" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M72.0811 144.055C111.855 144.055 144.098 111.812 144.098 72.0386C144.098 32.2649 111.855 0.0219727 72.0811 0.0219727C32.3074 0.0219727 0.0644531 32.2649 0.0644531 72.0386C0.0644531 111.812 32.3074 144.055 72.0811 144.055Z" fill="#9A91EC" />
										<path d="M72.0812 37.5796L43.3711 103.818L46.0512 106.498L72.0884 95.0142L98.1256 106.498L100.806 103.818L72.0812 37.5796Z" fill="white" />
										<path
											opacity="0.1"
											d="M72.0815 9.00982e-06C57.8307 -0.00711638 43.8979 4.21222 32.0454 12.1243C20.1928 20.0365 10.953 31.2859 5.49449 44.4499C0.0360222 57.6138 -1.39584 72.1009 1.37998 86.0787C4.1558 100.057 11.0146 112.897 21.0889 122.977C31.1632 133.056 44.0004 139.921 57.9769 142.704C71.9533 145.487 86.4411 144.062 99.6077 138.61C112.774 133.158 124.029 123.924 131.947 112.075C139.865 100.227 144.091 86.2962 144.091 72.0454C144.091 52.944 136.505 34.6245 123.002 21.1144C109.499 7.60427 91.1829 0.00955971 72.0815 9.00982e-06ZM72.0815 134.451C59.7301 134.451 47.6562 130.788 37.387 123.925C27.1177 117.063 19.1144 107.308 14.3894 95.8965C9.66435 84.4847 8.42992 71.9279 10.8422 59.8144C13.2544 47.7009 19.205 36.5749 27.9412 27.8437C36.6775 19.1125 47.8069 13.1683 59.9218 10.763C72.0367 8.35779 84.5928 9.59949 96.0019 14.3311C107.411 19.0627 117.161 27.0716 124.017 37.3448C130.874 47.6181 134.53 59.6941 134.523 72.0454C134.521 88.6048 127.942 104.485 116.232 116.194C104.522 127.902 88.6408 134.48 72.0815 134.48V134.451Z"
											fill="black"
										/>
									</svg>
									<svg width="146" height="145" viewBox="0 0 146 145" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M73.087 144.033C112.861 144.033 145.104 111.79 145.104 72.0166C145.104 32.243 112.861 0 73.087 0C33.3133 0 1.07031 32.243 1.07031 72.0166C1.07031 111.79 33.3133 144.033 73.087 144.033Z" fill="#9A91EC" />
										<path
											d="M114.045 50.2588L92.4817 72.1967C92.4438 72.233 92.4137 72.2766 92.393 72.3249C92.3724 72.3732 92.3618 72.4251 92.3618 72.4777C92.3618 72.5302 92.3724 72.5821 92.393 72.6304C92.4137 72.6787 92.4438 72.7223 92.4817 72.7586L107.611 88.8464C107.973 89.211 108.219 89.6745 108.319 90.1786C108.418 90.6826 108.367 91.2049 108.17 91.6797C107.974 92.1546 107.642 92.5608 107.216 92.8476C106.789 93.1344 106.288 93.2888 105.774 93.2915C105.083 93.2901 104.42 93.0156 103.93 92.5279L88.8795 76.4978C88.8026 76.4221 88.6991 76.3797 88.5913 76.3797C88.4834 76.3797 88.3799 76.4221 88.3031 76.4978L84.636 80.2009C83.1345 81.7363 81.3414 82.9562 79.3618 83.7889C77.3823 84.6215 75.2562 85.0501 73.1087 85.0495C70.9205 85.0394 68.7563 84.5933 66.7424 83.7373C64.7286 82.8813 62.9055 81.6325 61.3797 80.064L57.8567 76.4617C57.7799 76.3861 57.6763 76.3436 57.5685 76.3436C57.4607 76.3436 57.3572 76.3861 57.2803 76.4617L42.2661 92.4558C42.0245 92.6979 41.7375 92.8898 41.4217 93.0209C41.1058 93.1519 40.7673 93.2193 40.4253 93.2193C40.0834 93.2193 39.7448 93.1519 39.4289 93.0209C39.1131 92.8898 38.8261 92.6979 38.5845 92.4558C38.3417 92.2148 38.1489 91.928 38.0173 91.612C37.8858 91.2961 37.8181 90.9573 37.8181 90.6151C37.8181 90.2729 37.8858 89.934 38.0173 89.6181C38.1489 89.3022 38.3417 89.0154 38.5845 88.7743L53.6564 72.7226C53.7234 72.6443 53.7602 72.5446 53.7602 72.4416C53.7602 72.3386 53.7234 72.239 53.6564 72.1607L32.0932 50.2228C32.0378 50.1671 31.9671 50.1291 31.89 50.1137C31.8129 50.0982 31.733 50.1061 31.6604 50.1362C31.5878 50.1663 31.5258 50.2173 31.4823 50.2828C31.4388 50.3482 31.4157 50.4252 31.416 50.5038V94.4011C31.4217 96.098 32.0983 97.7238 33.2982 98.9237C34.4981 100.124 36.124 100.8 37.8209 100.806H108.332C110.029 100.8 111.654 100.124 112.854 98.9237C114.054 97.7238 114.731 96.098 114.737 94.4011V50.5398C114.74 50.4581 114.718 50.3773 114.674 50.3085C114.63 50.2396 114.566 50.1862 114.49 50.1554C114.414 50.1246 114.331 50.1181 114.251 50.1366C114.171 50.1551 114.099 50.1978 114.045 50.2588Z"
											fill="white"
										/>
										<path
											d="M73.0874 79.8409C74.5491 79.8553 75.9987 79.5756 77.3502 79.0187C78.7017 78.4618 79.9275 77.6389 80.9547 76.5989L112.359 44.6323C111.245 43.7088 109.844 43.1997 108.397 43.1914H37.8355C36.3873 43.1961 34.986 43.7057 33.873 44.6323L65.2848 76.5989C66.303 77.633 67.5179 78.4526 68.858 79.0095C70.1981 79.5663 71.6362 79.849 73.0874 79.8409Z"
											fill="white"
										/>
										<path
											opacity="0.1"
											d="M72.1791 0.00733322C57.9268 0.00020885 43.9926 4.22046 32.1393 12.1342C20.2859 20.0479 11.0461 31.2995 5.58871 44.4655C0.131299 57.6316 -1.29847 72.1205 1.48027 86.0993C4.25901 100.078 11.1214 112.919 21.1993 122.997C31.2772 133.075 44.1178 139.937 58.0966 142.716C72.0754 145.494 86.5643 144.065 99.7304 138.607C112.896 133.15 124.148 123.91 132.062 112.057C139.975 100.203 144.196 86.2691 144.189 72.0168C144.179 52.9216 136.589 34.6113 123.087 21.1089C109.585 7.60663 91.2743 0.0168784 72.1791 0.00733322ZM72.1791 134.459C59.8293 134.459 47.7568 130.796 37.4883 123.935C27.2198 117.074 19.2165 107.322 14.4905 95.9122C9.76439 84.5025 8.52785 71.9475 10.9372 59.835C13.3465 47.7224 19.2935 36.5964 28.0261 27.8637C36.7588 19.1311 47.8848 13.1841 59.9973 10.7748C72.1099 8.36544 84.6648 9.60199 96.0746 14.3281C107.484 19.0541 117.236 27.0575 124.098 37.326C130.959 47.5945 134.621 59.6669 134.621 72.0168C134.621 88.5774 128.042 104.46 116.332 116.17C104.622 127.88 88.7397 134.459 72.1791 134.459Z"
											fill="black"
										/>
									</svg>
									<svg width="145" height="145" viewBox="0 0 145 145" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M72.1846 144.033C111.958 144.033 144.201 111.79 144.201 72.0166C144.201 32.2429 111.958 0 72.1846 0C32.4109 0 0.167969 32.2429 0.167969 72.0166C0.167969 111.79 32.4109 144.033 72.1846 144.033Z" fill="#9A91EC" />
										<path
											d="M103.1 90.5898C100.593 88.0826 94.5625 84.3002 91.5726 82.8882C88.1216 81.2311 86.8536 81.2599 84.4113 83.025C82.3796 84.466 81.0611 85.8564 78.7269 85.3449C76.3926 84.8334 71.7673 81.3464 67.2932 76.8868C62.8192 72.4272 59.3466 67.8307 58.8495 65.4604C58.3524 63.0901 59.7213 61.8005 61.1766 59.7688C62.9345 57.3264 62.9849 56.0584 61.3135 52.6075C59.8726 49.6176 56.1334 43.6018 53.6046 41.0802C51.0758 38.5586 50.5283 39.1133 49.145 39.6393C47.7214 40.236 46.3543 40.9594 45.06 41.8006C42.5529 43.4793 41.148 44.877 40.161 46.9807C39.1739 49.0844 38.0572 52.9893 43.7992 63.2125C48.0351 71.0333 53.4 78.1874 59.7213 84.4443C65.9995 90.78 73.1781 96.1548 81.0251 100.395C91.2411 106.159 95.1532 105.013 97.257 104.033C99.3607 103.054 100.758 101.663 102.43 99.1344C103.273 97.8411 103.996 96.4738 104.591 95.0494C105.067 93.6662 105.629 93.1042 103.1 90.5898Z"
											fill="white"
										/>
										<path
											opacity="0.1"
											d="M72.185 0.00733322C57.9327 0.00020885 43.9985 4.22046 32.1451 12.1342C20.2918 20.0479 11.052 31.2995 5.59457 44.4655C0.137158 57.6316 -1.29261 72.1205 1.48613 86.0993C4.26487 100.078 11.1273 112.919 21.2052 122.997C31.2831 133.075 44.1236 139.937 58.1024 142.716C72.0812 145.494 86.5702 144.065 99.7362 138.607C112.902 133.15 124.154 123.91 132.068 112.057C139.981 100.203 144.202 86.2691 144.194 72.0168C144.185 52.9216 136.595 34.6113 123.093 21.109C109.59 7.60665 91.2801 0.0168784 72.185 0.00733322ZM72.185 134.459C59.8352 134.459 47.7627 130.796 37.4942 123.935C27.2257 117.074 19.2224 107.322 14.4963 95.9122C9.77023 84.5025 8.53368 71.9475 10.943 59.835C13.3523 47.7225 19.2994 36.5964 28.032 27.8638C36.7646 19.1311 47.8907 13.1841 60.0032 10.7748C72.1157 8.36544 84.6707 9.60201 96.0804 14.3281C107.49 19.0542 117.242 27.0575 124.103 37.326C130.965 47.5945 134.627 59.6669 134.627 72.0168C134.627 80.2167 133.012 88.3364 129.874 95.9122C126.736 103.488 122.136 110.372 116.338 116.17C110.54 121.968 103.656 126.567 96.0804 129.705C88.5046 132.843 80.3849 134.459 72.185 134.459Z"
											fill="black"
										/>
									</svg>
								</span>
							</div>
						</div>
						<div class="img-banner-wrapper">
							<img src="@/assets/Devices_1.png" />
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="contact-extended">
			<div class="section-wrapper mt-3 mt-lg-5">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-6">
							<div class="side-a-contact">
								<div class="card-contact-box d-flex justify-content-start align-items-start">
									<span>
										<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path
												d="M27.5002 19.9999C29.8002 19.9999 31.6502 18.1333 31.6502 15.8333C31.6502 13.5333 29.8002 11.6666 27.5002 11.6666C25.2002 11.6666 23.3335 13.5333 23.3335 15.8333C23.3335 18.1333 25.2002 19.9999 27.5002 19.9999ZM15.0002 18.3333C17.7668 18.3333 19.9835 16.0999 19.9835 13.3333C19.9835 10.5666 17.7668 8.33325 15.0002 8.33325C12.2335 8.33325 10.0002 10.5666 10.0002 13.3333C10.0002 16.0999 12.2335 18.3333 15.0002 18.3333ZM27.5002 23.3333C24.4502 23.3333 18.3335 24.8666 18.3335 27.9166V31.6666H36.6668V27.9166C36.6668 24.8666 30.5502 23.3333 27.5002 23.3333ZM15.0002 21.6666C11.1168 21.6666 3.3335 23.6166 3.3335 27.4999V31.6666H15.0002V27.9166C15.0002 26.4999 15.5502 24.0166 18.9502 22.1333C17.5002 21.8333 16.1002 21.6666 15.0002 21.6666Z"
												fill="#323232"
											/>
										</svg>
									</span>
									<div class="transaction-box-text">
										<h4>{{ $t('home.support_service') }}</h4>
										<p>{{ $t('home.support_service_text') }}:</p>
										<a href="#" class="btn-ctr btn-hero btn-rounded-sm d-inline-block btn-with-full">{{ $t('home.support_service_btn') }}</a>
									</div>
								</div>
								<div class="card-contact-box d-flex justify-content-start align-items-start">
									<span>
										<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path
												d="M35.0002 9.99992H31.6668V24.9999H10.0002V28.3333C10.0002 29.2499 10.7502 29.9999 11.6668 29.9999H30.0002L36.6668 36.6666V11.6666C36.6668 10.7499 35.9168 9.99992 35.0002 9.99992ZM28.3335 19.9999V4.99992C28.3335 4.08325 27.5835 3.33325 26.6668 3.33325H5.00016C4.0835 3.33325 3.3335 4.08325 3.3335 4.99992V28.3333L10.0002 21.6666H26.6668C27.5835 21.6666 28.3335 20.9166 28.3335 19.9999Z"
												fill="#323232"
											/>
										</svg>
									</span>
									<div class="transaction-box-text">
										<h4>{{ $t('home.community_help_title') }}</h4>
										<p>{{ $t('home.community_help_text') }}:</p>
										<a href="#" class="btn-ctr btn-hero btn-rounded-sm d-inline-block btn-with-full">{{ $t('home.community_help_btn') }}</a>
									</div>
								</div>
								<div class="card-contact-box d-flex justify-content-start align-items-start">
									<span>
										<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M36.6663 8.25C36.3163 7.96667 32.783 5 27.4997 5C22.1997 5 18.683 7.96667 18.333 8.25L27.4997 20L36.6663 8.25Z" fill="#323232" />
											<path
												d="M33.3333 25.85C31.2667 25.85 29.25 25.5167 27.3833 24.9C26.8 24.7 26.1333 24.85 25.6833 25.3L22.0167 28.9667C17.3 26.55 13.4333 22.7 11.0333 17.9833L14.7 14.3167C15.1667 13.85 15.3 13.2 15.1167 12.6167C14.5 10.75 14.1667 8.75 14.1667 6.66667C14.1667 5.75 13.4167 5 12.5 5H6.66667C5.75 5 5 5.75 5 6.66667C5 22.3167 17.6833 35 33.3333 35C34.25 35 35 34.25 35 33.3333V27.5167C35 26.6 34.25 25.85 33.3333 25.85Z"
												fill="#323232"
											/>
										</svg>
									</span>
									<div class="transaction-box-text">
										<h4>{{ $t('home.hotline_title') }}</h4>
										<p>{{ $t('home.hotline_text') }}:</p>
										<div class="hot-page-sect">
											<h3>+44 20 8123 4499</h3>
											<p>10:00 - 02:00 GMT+2</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="side-b-contact">
								<div class="contact-form">
									<form>
										<div class="transaction-box-text form-row-top">
											<h4>{{ $t('home.send_us_msg_title') }}</h4>
											<p>{{ $t('home.send_us_msg_text') }}.</p>
										</div>
										<div class="form-group">
											<input type="email" placeholder="Email" />
										</div>
										<div class="form-group">
											<textarea rows="5" placeholder="Message"></textarea>
										</div>
										<div class="form-check form-check-inline">
											<input id="checkbox1" type="checkbox" checked="checked" style="appearance: auto" />
											<label for="checkbox3">{{ $t('home.send_us_msg_terms') }}</label>
										</div>
										<button type="submit" class="btn-ctr btn-hero btn-rounded-sm d-inline-block btn-with-full">{{ $t('home.send_btn') }}</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
	export default {
		name: 'contact-us',
	};
</script>

<style lang="scss" scoped>
	.hero-section {
		min-height: 40vh;
	}
	.hero-img-extended {
		width: 100%;
		position: relative;

		svg {
			margin-right: 15px;
			width: 40px;
			height: 40px;
		}
	}
	.reveiw-btn {
		button {
			border: none;
			outline: none;
			box-shadow: none;
		}
	}
	.hero-text-header h4 {
		text-transform: capitalize;
	}
	.card-contact-box {
		padding: 15px;

		span {
			svg {
				width: 25px;
				height: 25px;
			}
		}

		.transaction-box-text {
			h4 {
				font-weight: bolder;
			}
			p {
				width: 80%;
			}
		}
	}
	.btn-with-full {
		width: 75%;
		padding: 15px;
	}
	.hot-page-sect {
		h3 {
			font-family: Campton;
			font-style: normal;
			font-weight: bolder;
			color: #049cb1;
			margin-bottom: 0;
		}
		p {
			color: #000;
		}
	}
	.contact-form {
		padding: 20px;
		border-radius: 10px;
		box-shadow: 3px 4px 15px 0px rgba(40, 114, 123, 0.07);
		font-family: Campton;

		.form-row-top {
			margin-left: 0;
		}

		label {
			color: #000;
			font-size: 12px;
			margin-left: 20px;
		}

		.form-group {
			input,
			textarea {
				border: 1px solid #049cb1;
				outline: none;
				box-shadow: none;
				border-radius: 4px;
				padding: 10px;
				font-family: Campton;
				width: 100%;
				margin-bottom: 20px;

				&::placeholder {
					font-size: 10px;
				}
			}
		}
		.form-check {
			margin-bottom: 20px;
		}

		button {
			outline: none;
			box-shadow: none;
			border: none;
			width: 100%;
		}
	}
	@media only screen and (min-width: 576px) {
		.hero-img-extended {
			svg {
				height: 60px;
				width: 60px;
			}
		}
	}
	@media only screen and (min-width: 768px) {
		.hero-img-extended {
			width: 100%;

			img {
				max-width: 245px;
			}

			.img-2 {
				bottom: -90%;

				img {
					width: 100%;
					max-width: 285px;
				}
			}
		}
		.reveiw-text-form {
			form {
				.form-group {
					width: 70%;
				}
			}
		}
		.contact-form {
			padding: 40px 20px;
		}
	}
	@media only screen and (min-width: 992px) {
		.hero-img-extended {
			svg {
				margin-right: 25px;
				height: 80px;
				width: 80px;
			}
		}
	}
	@media only screen and (min-width: 1200px) {
		.hero-img-extended {
			svg {
				margin-right: 35px;
				height: 100px;
				width: 100px;
			}
		}
		.contact-form {
			padding: 65px;
		}
	}
</style>
