<template>
	<div class="public-login" style="background-image: url('assets/img/login/login.png'); ">
		<div class="pl-layout">
			<div class="pl-head text-center">
				<img src="../../../assets/img/logo1.png" alt="" width="75%">
			</div>
			<div class="pl-shield text-center mt-5">
				<svg width="75" height="93" viewBox="0 0 84 102" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M42 0.583374L0.75 18.9167V46.4167C0.75 71.8542 18.35 95.6417 42 101.417C65.65 95.6417 83.25 71.8542 83.25 46.4167V18.9167L42 0.583374ZM32.8333 73.9167L14.5 55.5834L20.9625 49.1209L32.8333 60.9459L63.0375 30.7417L69.5 37.25L32.8333 73.9167Z" fill="#049CB1"/>
				</svg>
				<h5 class="mt-5">{{ $t('home.pass_recovery_title') }}</h5>
			</div>
			<div class="pl-form mt-5">
				<form @submit.prevent="sendResetToken()">
					<div class="form-group">
						<input type="email" class="form-control" placeholder="Email" v-model="user.email">
					</div>
					<div class="form-group mt-4">
						<button type="submit" class="btn btn-lg btn-submit">
							<span v-if="!loading">{{ $t('home.pass_recovery_btn') }}</span>
							<span v-else>{{ $t('home.pass_recovery_btn') }}...</span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>

<script>
// import changeLanguage from '../extra_components/changeLanguage';
export default {
  name: 'password-recovery',
  components: {
    // changeLanguage,
  },
  data() {
    return {
      user: {
        email: '',
      },
      loading: false,
      verified: false,
    };
  },
  methods: {
    sendResetToken() {
      if (this.user.email.length < 1) {
        this.$store.commit('setNotification', {
          type: 2,
          msg: 'Email fields is required',
        });
        return false;
      }

      this.loading = true;
      this.$store
        .dispatch('post', {
          details: this.user,
          endpoint: '/forget-password',
        })
        .then((data) => {
          if (data.data.status) {
            this.$store.commit('setNotification', {
              type: 1,
              msg: data.data.msg,
            });
          } else {
            this.$store.commit('setNotification', {
              type: 2,
              msg: data.data.msg,
            });
          }
          // console.log(data);
          this.loading = false;
        })
        .catch((error) => {
          console.log(error);
          if (error.request != null) {
            this.$store.dispatch('handleError', error);
          }
          this.loading = false;
        });
    },
  },
};
</script>

<style scoped lang="scss">
	.public-login{
		font-family: Campton;
		background-size: cover;
		background-position: center;
		width: 100%;
		min-height: 100vh;
		display: flex;
		justify-content: center;
		color: #3E3E3E;
		align-items: center;
		.pl-layout{
			background: #fff;
			margin-top: 20px;
			margin-bottom: 20px;
			padding: 60px 40px;
			border-radius: 20px;
			/*height: 620px;*/
			width: 450px;
			.pl-head{
				width: 100%;
			}
			.pl-shield{
				h5{
					font-weight: 700;
					color: #424242;
				}
			}
			.pl-form{
				input.form-control{
					height: 54px;
					border:1px solid #049CB1;
				}
				.btn-submit{
					width: 100%;
					color: white;
					background: #049CB1;
					border-radius: 5px;
					font-weight: 600;
					font-size: 15px;
					padding: 15px 0;
				}
			}
		}
	}
	.btn-submit span{
		text-transform: uppercase;
	}
	@media(max-width:576px){
		.pl-layout{
			padding: 80px 18px !important;
			margin:0 17px;
			/*width: 300px !important;*/
		}
	}
	@media (min-height: 900px) {
		.pl-layout{
			height: max-content;
		}
	}
</style>
