<template>
	<div id="home">
		<section class="hero-section">
			<div class="section-wrapper">
				<div class="container-fluid">
					<div class="banner-wrapper">
						<div class="hero-banner-text">
							<div class="hero-text-header">
								<h4>
									<span>{{ $t('home.hero-text-1') }}</span>
									<br />
									<span>{{ $t('home.hero-text-2') }}</span>
								</h4>
								<p>{{ $t('home.hero-text-p') }}</p>
							</div>
							<a href="/demo-trade" class="btn-ctr btn-hero">{{ $t('home.hero_btn') }}</a>
						</div>
						<div class="img-banner-wrapper">
							<img src="@/assets/Devices_1.png" />
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="page-condition-intro">
			<div class="section-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="section-header-text">
								<h4>{{ $t('home.section_trade') }}</h4>
							</div>
						</div>
						<div class="col-12">
							<div class="intro-card-section">
								<div class="row justify-content-center align-items-center">
									<div class=" col-10 col-sm-6 col-md-4">
										<div class="card intro-card card-intro-min d-flex justify-space-between align-items-center">
											<div class="card-asset-counter"><i class="fas fa-dollar-sign"></i>2000<sup></sup></div>
											<div class="card-asset-text">{{ $t('home.card_asset_count_1_text') }}</div>
										</div>
									</div>
									<div class=" col-10 col-sm-6 col-md-4">
										<div class="card intro-card card-intro-asset d-flex justify-space-between align-items-center">
											<div class="card-asset-counter">4+</div>
											<div class="card-asset-text">{{ $t('home.card_asset_count_2_text') }}</div>
										</div>
									</div>
									<div class=" col-10 col-sm-6 col-md-4">
										<div class="card intro-card card-intro-min-commission d-flex justify-space-between align-items-center">
											<div class="card-asset-counter"><i class="fas fa-dollar-sign"></i>0</div>
											<div class="card-asset-text">{{ $t('home.card_asset_count_3_text') }}</div>
										</div>
									</div>
									<div class=" col-10 col-sm-6 col-md-4 col-lg-6">
										<div class="card intro-card card-intro-virtual d-flex justify-space-between align-items-center">
											<div class="card-asset-counter"><i class="fas fa-dollar-sign"></i>20,000+</div>
											<div class="card-asset-text">{{ $t('home.card_asset_count_4_text') }}</div>
										</div>
									</div>
									<div class=" col-10 col-sm-6 col-md-4 col-lg-3">
										<div class="card intro-card card-intro-payment d-flex justify-space-between align-items-center">
											<div class="card-asset-counter">3+</div>
											<div class="card-asset-text">{{ $t('home.card_asset_count_5_text') }}</div>
										</div>
									</div>
									<div class=" col-10 col-sm-6 col-md-4 col-lg-3">
										<div class="card intro-card card-intro-min-trade d-flex justify-space-between align-items-center">
											<div class="card-asset-counter"><i class="fas fa-dollar-sign"></i>1</div>
											<div class="card-asset-text">{{ $t('home.card_asset_count_6_text') }}</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="p2p-why-use">
			<div class="section-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="section-header-text">
								<h4>{{ $t('home.section_why') }}</h4>
							</div>
						</div>
						<div class="col-12">
							<div class="row">
								<div class="col-12 col-md-6">
									<div class="card-why-box d-flex justify-content-start align-items-start">
										<div class="transaction-ellipse-box">
											<div class="ellipse-rounded shadow-rounded-box">
												<img src="@/assets/why_choose_us_icons/Smart_Transaction.png" />
											</div>
										</div>
										<div class="transaction-box-text">
											<h4>{{ $t('home.why_title_1') }}</h4>
											<p>{{ $t('home.why_text_1') }}</p>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="card-why-box d-flex justify-content-start align-items-start">
										<div class="transaction-ellipse-box">
											<div class="ellipse-rounded shadow-rounded-box">
												<img src="@/assets/why_choose_us_icons/Withdrawal.png" />
											</div>
										</div>
										<div class="transaction-box-text">
											<h4>{{ $t('home.why_title_2') }}</h4>
											<p>{{ $t('home.why_text_2') }}.</p>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="card-why-box d-flex justify-content-start align-items-start">
										<div class="transaction-ellipse-box">
											<div class="ellipse-rounded shadow-rounded-box">
												<img src="@/assets/why_choose_us_icons/Expert_Learning.png" />
											</div>
										</div>
										<div class="transaction-box-text">
											<h4>{{ $t('home.why_title_3') }}</h4>
											<p>{{ $t('home.why_text_3') }}.</p>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="card-why-box d-flex justify-content-start align-items-start">
										<div class="transaction-ellipse-box">
											<div class="ellipse-rounded shadow-rounded-box">
												<img src="@/assets/why_choose_us_icons/Providing_Rich_Benefits.png" />
											</div>
										</div>
										<div class="transaction-box-text">
											<h4>{{ $t('home.why_title_4') }}</h4>
											<p>{{ $t('home.why_text_4') }}.</p>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="card-why-box d-flex justify-content-start align-items-start">
										<div class="transaction-ellipse-box">
											<div class="ellipse-rounded shadow-rounded-box">
												<img src="@/assets/why_choose_us_icons/Various_Means_of_Trading.png" />
											</div>
										</div>
										<div class="transaction-box-text">
											<h4>{{ $t('home.why_title_5') }}</h4>
											<p>{{ $t('home.why_text_5') }}.</p>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="card-why-box d-flex justify-content-start align-items-start">
										<div class="transaction-ellipse-box">
											<div class="ellipse-rounded shadow-rounded-box">
												<img src="@/assets/why_choose_us_icons/Trading_Advantage.png" />
											</div>
										</div>
										<div class="transaction-box-text">
											<h4>{{ $t('home.why_title_6') }}</h4>
											<p>{{ $t('home.why_text_6') }}.</p>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="card-why-box d-flex justify-content-start align-items-start">
										<div class="transaction-ellipse-box">
											<div class="ellipse-rounded shadow-rounded-box">
												<img src="@/assets/why_choose_us_icons/Demo_Trading.png" />
											</div>
										</div>
										<div class="transaction-box-text">
											<h4>{{ $t('home.why_title_7') }}</h4>
											<p>{{ $t('home.why_text_7') }}.</p>
										</div>
									</div>
								</div>
								<div class="col-12 col-md-6">
									<div class="card-why-box d-flex justify-content-start align-items-start">
										<div class="transaction-ellipse-box">
											<div class="ellipse-rounded shadow-rounded-box">
												<img src="@/assets/why_choose_us_icons/Accurate_Data.png" />
											</div>
										</div>
										<div class="transaction-box-text">
											<h4>{{ $t('home.why_title_8') }}</h4>
											<p>{{ $t('home.why_text_8') }}.</p>
										</div>
									</div>
								</div>
								<div class="col-12">
									<div class="section-btn">
										<a href="#" class="btn-ctr">
											{{ $t('home.why_btn') }}
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="platform-devices">
			<div class="section-wrapper">
				<div class="container">
					<div class="row pb-5">
						<div class="col-12 col-md-6">
							<div class="section-header-text devices-section-header">
								<h4>{{ $t('home.enjoy_all_title') }}</h4>
							</div>
						</div>
						<div class="col-12 col-md-6 ">
							<div class="platform-devices-img">
								<img src="@/assets/Devices_1.png" />
							</div>
						</div>
					</div>
					<div class="row pb-5">
						<div class="col-12 col-md-4">
							<div class="all-platforms-devices">
								<a href="#">
									<img src="@/assets/Enjoy_on_all_platforms/google-play-and-apple-app-store-logos-221.png" alt="" />
								</a>
							</div>
						</div>
						<div class="col-12 col-md-4">
							<div class="all-platforms-devices">
								<a href="#">
									<img src="@/assets/Enjoy_on_all_platforms/google-play-and-apple-app-store-logos-222.png" alt="" />
								</a>
							</div>
						</div>
						<div class="col-12 col-md-4 pb-5 pb-md-0">
							<div class="all-platforms-devices">
								<a href="#">
									<img src="@/assets/Enjoy_on_all_platforms/Group_24.png" />
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="reveiws">
			<div class="section-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="section-header-text">
								<h4>{{ $t('home.review_title') }}</h4>
								<p>{{ $t('home.review_paragraph') }}.</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-12 col-md-6">
							<div class="review-card-box">
								<div class="review-card-box-header">
									<div class="reveiw-id-details">
										<span class="details-ellipse"></span>
										<div class="review-details-desc">
											<h5>SVETLANA S. KONSTANTI P.</h5>
											<h6>UID 7348927</h6>
										</div>
									</div>
									<div class="review-id-ratings">
										<img src="@/assets/Review/Group_20.png" />
									</div>
								</div>
								<div class="review-card-box-footer">
									<p>
										Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi consequuntur magni assumenda optio facilis quidem porro eius dicta doloremque laboriosam asperiores, quod saepe numquam incidunt. Molestiae illo hic dolorum debitis.
									</p>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="review-card-box">
								<div class="review-card-box-header">
									<div class="reveiw-id-details">
										<span class="details-ellipse"></span>
										<div class="review-details-desc">
											<h5>SVETLANA S. KONSTANTI P.</h5>
											<h6>UID 7348927</h6>
										</div>
									</div>
									<div class="review-id-ratings">
										<img src="@/assets/Review/Group_20.png" />
									</div>
								</div>
								<div class="review-card-box-footer">
									<p>
										Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi consequuntur magni assumenda optio facilis quidem porro eius dicta doloremque laboriosam asperiores, quod saepe numquam incidunt. Molestiae illo hic dolorum debitis.
									</p>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="review-card-box">
								<div class="review-card-box-header">
									<div class="reveiw-id-details">
										<span class="details-ellipse"></span>
										<div class="review-details-desc">
											<h5>SVETLANA S. KONSTANTI P.</h5>
											<h6>UID 7348927</h6>
										</div>
									</div>
									<div class="review-id-ratings">
										<img src="@/assets/Review/Group_20.png" />
									</div>
								</div>
								<div class="review-card-box-footer">
									<p>
										Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi consequuntur magni assumenda optio facilis quidem porro eius dicta doloremque laboriosam asperiores, quod saepe numquam incidunt. Molestiae illo hic dolorum debitis.
									</p>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-6">
							<div class="review-card-box">
								<div class="review-card-box-header">
									<div class="reveiw-id-details">
										<span class="details-ellipse"></span>
										<div class="review-details-desc">
											<h5>SVETLANA S. KONSTANTI P.</h5>
											<h6>UID 7348927</h6>
										</div>
									</div>
									<div class="review-id-ratings">
										<img src="@/assets/Review/Group_20.png" />
									</div>
								</div>
								<div class="review-card-box-footer">
									<p>
										Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi consequuntur magni assumenda optio facilis quidem porro eius dicta doloremque laboriosam asperiores, quod saepe numquam incidunt. Molestiae illo hic dolorum debitis.
									</p>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="section-btn mt-0">
								<a href="#" class="btn-ctr"> {{ $t('home.reveiw_btn') }} > </a>
							</div>
						</div>
					</div>
				</div>
				<div class="review-extended">
					<div class="review-extended-top">
						<div class="container">
							<div class="row">
								<div class="col-12">
									<div class="right-review-box">
										<div class="reveiw-text">
											<h5>{{ $t('home.leave_review_title') }}.</h5>
											<p>{{ $t('home.leave_review_text') }}.</p>
										</div>
										<div class="reveiw-btn">
											<a href="/review" class="btn-ctr">
												{{ $t('home.write_review_btn') }}
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
	// import changeLanguage from '../extra_components/changeLanguage';
	// import {mapState} from 'vuex';
	// export default {
	//   name: 'index',
	//   components: {
	//     changeLanguage,
	//   },
	//   computed: {
	//     ...mapState({
	//       loading: (state) => state.loading,
	//     }),
	//   },
	//   data() {
	//     return {
	//       user: {
	//         email: '',
	//         password: '',
	//         password_confirmation: '',
	//       },
	//       tabs: {
	//         registration: true,
	//         login: false,
	//       },
	//       userData: {
	//         endpoint: '/login',
	//         detail: {
	//           email: '',
	//           password: '',
	//         },
	//       },
	//     };
	//   },

	//   methods: {
	//     toggleTabs(tabname) {
	//       this.tabs = {
	//         registration: false,
	//         login: false,
	//       };
	//       this.tabs[tabname] = true;
	//     },
	//     createAccount(data = this.user, socialSignIn = false) {
	//       if (data.email.length == 0 || data.password.length == 0 || data.password_confirmation.length == 0) {
	//         this.$store.commit('setNotification', {
	//           type: 2,
	//           msg: 'All fields are required',
	//         });
	//         return false;
	//       }
	//       data.socialSignIn = socialSignIn;
	//       this.$store.dispatch('createAccount', data);
	//     },
	//     loginUser() {
	//       this.$store.dispatch('loginUser', this.userData);
	//     },
	//     loginWithFacebook() {
	//        window.FB.login((response) => {
	//           console.log('fb response', response);
	//           window.FB.api('/me', { locale: 'tr_TR', fields: 'name, email, birthday, hometown, education, gender, website, work' },
	//           (data)=>{
	//             if(data.email != undefined){
	//              var payload = {
	//                 user: {},
	//               };
	//               payload.email = data.email ?? '';
	//               payload.password = data.id;
	//               payload.password_confirmation = data.id;
	//               payload.lastname = data.name.split(' ')[0];
	//               payload.firstname = data.name.split(' ')[1];
	//               payload.gmail_login = true;
	//               payload.gmail_id = data.id;

	//               this.createAccount(null, payload, true);
	//             }else{
	//               this.$store.commit('setNotification', {type: 2, msg: 'We have no access your facebook email, Please signin using another login method.'});
	//             }
	//           });
	//         }, this.params);
	//     },
	//     loginWithGoogle() {
	//       this.$gAuth
	//         .signIn()
	//         .then((GoogleUser) => {
	//           // console.log('GoogleUser', GoogleUser);
	//           // console.log('getId', GoogleUser.getId());
	//           // console.log('getBasicProfile', GoogleUser.getBasicProfile());
	//           // console.log('getAuthResponse', GoogleUser.getAuthResponse());

	//           var user = GoogleUser.getBasicProfile();
	//           var payload = {
	//             user: {},
	//           };

	//           payload.email = user.bu;
	//           payload.password = user.PT;
	//           payload.password_confirmation = user.PT;
	//           payload.lastname = user.tV;
	//           payload.firstname = user.wT;
	//           payload.profile_image = user.eK;
	//           payload.gmail_login = true;
	//           payload.gmail_id = user.PT;

	//           this.createAccount(payload, true);
	//         })
	//         .catch((error) => {
	//           console.log('error', error);
	//         });
	//     },
	//   },

	//   created() {
	//     // this.$store.commit('setNotification',{type:2,msg:'hello word'});
	//   },
	// };
</script>

<style lang="scss">
	#home {
		background: #ffffff;
		overflow-x: hidden;
		width: 100%;
		color: #ffffff;
	}
	section {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.btn-ctr {
		background: #049cb1;
		color: #ffffff;
		border-radius: 10px;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		font-family: Campton;
		font-style: normal;
		font-weight: 600;
		font-size: 10px;
		padding: 20px;
		white-space: nowrap;
		text-align: center;
		transition: 200ms ease;
		text-decoration: none !important;

		&:hover {
			background: #117380;
			color: #ffffff;
		}
	}
	.btn-rounded-sm {
		border-radius: 5px;
	}
	.section-header-text {
		text-align: center;
		margin-bottom: 35px;
		h4 {
			font-family: Raleway;
			color: #767676;
			font-weight: bolder;
			font-size: 20px;
			margin-bottom: 25px;
		}
		p {
			font-family: Campton;
			color: #000;
			font-size: 12px;
		}
	}

	section.hero-section {
		background: url(/assets/img/Landing_Page_Banner.png) no-repeat center center/cover;
	}

	.hero-section {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}
	.reveiw-btn {
		button {
			border: none;
			outline: none;
			box-shadow: none;
		}
	}

	.hero-text-header {
		font-style: normal;
		margin-bottom: 35px;

		h4 {
			font-family: Raleway;
			line-height: 30px;
			font-weight: bolder;
			font-size: 24px;
			margin-bottom: 1rem;
			color: #ffffff !important;
		}

		p {
			font-family: Campton;
			font-size: 12px;
			color: #c7c7c7;
		}
	}

	.intro-card-section {
		.card {
			flex-direction: row;
			border-radius: 10px;
			margin-bottom: 25px;
			padding: 12px;
			height: 85px;
			box-shadow: 3px 4px 11px 3px rgba(163, 160, 160, 0.15);
			overflow: hidden;
		}
		.card-asset-counter {
			font-family: Roboto;
			font-style: normal;
			font-weight: bold;
			font-size: 18px;
			margin-right: 10px;
			white-space: nowrap;
			min-width: 45%;
			text-align: center;

			i {
				font-size: 168x;
			}
		}
		.card-asset-text {
			font-family: Campton;
			font-style: normal;
			font-weight: 600;
			font-size: 12px;
			color: #4a4a4a;
			text-align: left;
		}
	}

	.card-intro-min,
	.card-intro-payment {
		border-color: #049cb1;

		.card-asset-counter {
			color: #049cb1;
		}
	}

	.card-intro-asset,
	.card-intro-min-trade {
		border-color: #9b2994;

		.card-asset-counter {
			color: #9b2994;
		}
	}

	.card-intro-min-commission {
		border-color: #f49587;

		.card-asset-counter {
			color: #f49587;
		}
	}

	.card-intro-virtual {
		border-color: #f49587;

		.card-asset-counter {
			color: #f49587;
		}
	}

	.card-why-box {
		padding: 25px;
	}

	.transaction-ellipse-box {
		border-radius: 50%;
		padding: 40px;
		box-shadow: 3px 4px 40px 14px rgba(40, 114, 123, 0.07);
	}

	.shadow-rounded-box {
		img {
			width: 30px;
		}
	}

	.section-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 30px;
	}

	.transaction-box-text {
		font-family: Campton;
		margin-left: 20px;
		h4 {
			color: #313131;
			font-style: normal;
			font-weight: 600;
			font-size: 16px;
		}

		p {
			color: #5c5c5c;
			font-style: normal;
			font-weight: normal;
			font-size: 12px;
		}
	}

	.platform-devices {
		position: relative;
		padding-bottom: 5rem;

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 50%;
			background: url('/assets/img/Rectangle91.png') no-repeat center center/cover;
			z-index: 1;
		}

		a {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			width: 100%;

			img {
				width: 60% !important;
			}
		}

		.section-wrapper {
			position: relative;
			z-index: 2;
			img {
				width: 100%;
			}
		}
	}

	.devices-section-header {
		margin-bottom: 0;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.all-platforms-devices {
		img {
			margin-bottom: 10px;
			width: 70%;
		}
	}

	.review-card-box {
		background: #ffffff;
		overflow: hidden;
		margin-bottom: 30px;
	}

	.review-card-box-header {
		background: linear-gradient(180deg, #a4adf2 0%, #d0bcec 100%);
		border-radius: 10px 10px 0px 0px;
		padding: 15px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.details-ellipse {
		display: inline-block;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		background: #c4c4c4;
	}

	.review-id-ratings {
		width: 30%;
		img {
			width: 100%;
		}
	}

	.review-card-box-footer {
		background: #f3f0ff;
		padding: 20px;

		p {
			font-family: Campton;
			font-style: normal;
			font-weight: normal;
			font-size: 12px;
			color: #000;
		}
	}

	.reveiw-id-details {
		display: flex;
		justify-content: flex-start;
		align-items: center;

		.review-details-desc {
			margin-left: 15px;
		}
	}

	.review-details-desc {
		font-family: Campton;
		font-style: normal;
		font-weight: 600;
		width: 40%;
		color: #000000;

		h5 {
			font-size: 12px;
		}

		h6 {
			font-size: 10px;
		}
	}

	.review-extended-top {
		background: #f0e6ff;
		margin-top: 60px;
		padding: 4rem 0;

		.right-review-box {
			background: linear-gradient(0deg, #320a69, #320a69), linear-gradient(96.25deg, #a4adf2 22.48%, #d0bcec 77.09%);
			border-radius: 20px;
			padding: 3rem;
		}

		.reveiw-text {
			margin-bottom: 30px;
			font-family: Campton;
			font-style: normal;
			h5 {
				font-weight: bold;
			}

			p {
				font-weight: 500;
				font-size: 12px;
			}
		}
	}

	.text-extended {
		padding-top: 35px;
		padding-bottom: 20px;
		p {
			color: #989898;
			font-family: Campton;
			font-style: normal;
			font-weight: 500;
			font-size: 12px;
		}
	}

	.banner-wrapper {
		display: flex;
		justify-content: flex-start;
		align-content: center;
		position: relative;

		.hero-banner-text {
			position: relative;
			width: 65%;
			margin-left: 0;
			z-index: 2;
		}

		.img-banner-wrapper {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 70%;
			max-width: 270px;
			height: 90%;
			transform: translate(-30%, -25%);
			z-index: 1;

			img {
				width: 100%;
			}
		}
	}

	@media only screen and (min-width: 576px) {
		.section-header-text {
			h4 {
				font-size: 24px;
			}
			p {
				font-family: Campton;
				color: #000;
			}
		}
		.hero-text-header {
			h4 {
				font-size: 32px;
				line-height: 40px;
			}

			p {
				font-size: 14px;
			}
		}
		.transaction-ellipse-box {
			padding: 40px;
			width: 120px;
			height: 120px;
		}
		.shadow-rounded-box {
			img {
				width: 40px;
			}
		}
		.transaction-box-text {
			h4 {
				font-size: 20px;
			}

			p {
				font-size: 14px;
			}
		}
		.review-details-desc {
			h5 {
				font-size: 14px;
			}
			h6 {
				font-size: 11px;
			}
		}
		.review-card-box-footer {
			p {
				font-size: 14px;
			}
		}
		.banner-wrapper {
			.hero-banner-text {
				width: 70%;
			}

			.img-banner-wrapper {
				max-width: 300px;
				transform: translate(-15%, -30%);
			}
		}
	}
	@media only screen and (min-width: 768px) {
		.section-header-text {
			h4 {
				font-size: 24px;
			}
			p {
				font-size: 14px;
				font-weight: bolder;
			}
		}
		.hero-text-header {
			margin-bottom: 40px;
			h4 {
				font-size: 45px;
				line-height: 45px;
			}

			p {
				font-size: 16px;
			}
		}
		.intro-card-section {
			.card {
				min-height: 95px;
				padding: 20px;
				align-items: center !important;
			}
			.card-asset-counter {
				font-size: 20px;
				min-width: 43%;

				i {
					font-size: 20px;
				}
			}
		}
		.shadow-rounded-box {
			img {
				width: 45px;
			}
		}
		.transaction-box-text {
			h4 {
				font-size: 24px;
			}
		}
		.review-details-desc {
			h5 {
				font-size: 12px;
			}
			h6 {
				font-size: 10px;
			}
		}
		.review-extended-top {
			.reveiw-text {
				h5 {
					font-size: 28px;
				}

				p {
					font-size: 14px;
				}
			}
		}
		.platform-devices {
			padding-bottom: 10rem;

			&::after {
				height: 100%;
				background-position-y: 110%;
			}
		}
		.banner-wrapper {
			.hero-banner-text {
				width: 70%;
			}

			.img-banner-wrapper {
				max-width: 350px;
				transform: translate(0%, -40%);
			}
		}
	}
	@media only screen and (min-width: 992px) {
		.section-header-text {
			h4 {
				font-size: 32px;
				margin-top: 2.5rem;
			}
		}
		.btn-ctr {
			font-size: 12px;
			padding: 20px 40px;
		}
		.hero-text-header {
			margin-bottom: 50px;
			h4 {
				font-size: 55px;
				line-height: 65px;
			}

			p {
				font-size: 16px;
				width: 45%;
			}
		}
		.hero-section {
			.section-wrapper {
				min-height: 65vh;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
		.intro-card-section {
			.card {
				min-height: 105px;
				padding: 20px;
			}
			.card-asset-counter {
				font-size: 38px;
				min-width: 65%;

				i {
					font-size: 36px;
				}
			}
			.card-asset-text {
				font-size: 12px;
			}
		}
		.devices-section-header {
			h4 {
				font-size: 38px;
				width: 60%;
				text-align: left;
			}
		}
		.review-details-desc {
			h5 {
				font-size: 14px;
			}
			h6 {
				font-size: 11px;
			}
		}
		.review-extended-top {
			.reveiw-text {
				h5 {
					font-size: 40px;
				}

				p {
					font-size: 12px;
					font-weight: normal;
					margin-bottom: 0;
				}
			}
		}
		.review-extended-top {
			.right-review-box {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
		}
		.banner-wrapper {
			justify-content: space-between;
			width: 90%;
			margin-left: auto;

			.hero-banner-text {
				position: relative;
				width: 45%;
				margin-left: 0;
			}

			.img-banner-wrapper {
				position: relative;
				top: initial;
				left: initial;
				width: 60%;
				max-width: 600px;
				height: auto;
				margin-left: 0;
				transform: translate(0);

				img {
					width: 100%;
					margin-left: -2rem;
				}
			}
		}
	}
	@media only screen and (min-width: 1200px) {
		.hero-section {
			padding-top: 0rem;
			padding-bottom: 0rem;
			.section-wrapper {
				min-height: 80vh;
				display: flex;
				align-items: center;

				.container {
					margin-bottom: -4rem;
				}
			}
		}
		.intro-card-section {
			.card {
				padding: 25px 35px;
				min-height: 120px;
			}
			.card-asset-counter {
				font-size: 42px;
				i {
					font-size: 40px;
				}
			}
		}
		.platform-devices {
			&::after {
				height: 100%;
				background-position-y: 100%;
			}
		}
	}
</style>
