<template>
	<div class="public-login" style="background-image: url('assets/img/login/login.png'); ">
		<loginComponent></loginComponent>
	</div>
</template>
<script>
	// import changeLanguage from '../extra_components/changeLanguage';
	import loginComponent from '../layout/login-component';
	import {mapState, mapActions} from 'vuex';

	export default {
		name: 'login',
		components: {
			// changeLanguage,
			loginComponent,
		},
		computed: {
			...mapState({
				loading: (state) => state.loading,
			}),
		},

		data() {
			return {
				userData: {
					endpoint: '/login',
					detail: {
						email: '',
						password: '',
					},
				},
			};
		},

		methods: {
			...mapActions(['loginUser']),
			loginWithFacebook() {
				window.FB.login((response) => {
					console.log('fb response', response);
					window.FB.api('/me', {locale: 'tr_TR', fields: 'name, email, birthday, hometown, education, gender, website, work'}, (data) => {
						if (data.email != undefined) {
							var payload = {
								endpoint: '/login',
								detail: {},
							};
							payload.detail.email = data.email ?? '';
							payload.detail.password = data.id;
							payload.gmail_login = true;
							payload.gmail_id = data.id;

							this.loginUser(null, payload);
						} else {
							this.$store.commit('setNotification', {type: 2, msg: 'We have no access your facebook email, Please signin using another login method.'});
						}
					});
				}, this.params);
			},
			loginWithGoogle() {
				this.$gAuth
					.signIn()
					.then((GoogleUser) => {
						var user = GoogleUser.getBasicProfile();

						var payload = {
							endpoint: '/login',
							detail: {},
						};
						payload.detail.email = user.Kt;
						payload.detail.password = user.KR;
						payload.detail.gmail_login = true;
						payload.detail.gmail_id = user.KR;

						this.loginUser(null, payload);
					})
					.catch((error) => {
						console.log('error', error);
					});
			},
			loginUser(e, data = this.userData) {
				// console.log(data);
				this.$store.dispatch('loginUser', data);
			},
		},

		created() {
			//  console.log(window.bowser.getParser(window.navigator.userAgent));
		},
	};
</script>

<style lang="scss" scoped>
	.public-login {
		font-family: Campton;
		background-size: cover;
		background-position: center;
		width: 100%;
		min-height: 100vh;
		display: flex;
		justify-content: center;
		color: #3e3e3e;
		align-items: center;
	}
</style>
