<template>
    <div class="public-login" style="background-image: url('../assets/img/login/login.png');">
        <div class="pl-layout">
            <div class="pl-head">
                <h4 class="text-center">{{ $t('home.reset_password') }}</h4>
            </div>
            <div class="pl-form mt-3">
                <form @submit.prevent="reset()" v-if="verified">
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" v-model="psw.password">
                    </div>
                    <div class="form-group mt-4">
                        <input type="password" class="form-control" placeholder="Confirm Password" v-model="psw.password_confirmation">
                    </div>
                    <div class="form-group mt-4">
                        <button type="submit" class="btn btn-lg btn-submit">
                            <span v-if="!loading">{{ $t('home.reset_password_btn') }}</span>
                            <span v-else>{{ $t('home.reset_password_btn_alt') }}...</span>
                        </button>
                    </div>
                </form>
                <div v-else>
                    <p class="alert alert-danger"> {{ $t('home.reset_password_error') }} </p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
// import changeLanguage  from '../extra_components/changeLanguage';
export default {
    components:{
        // changeLanguage, 
    },
    data(){
        return {
            psw:{
                token:'',
                password:'',
                password_confirmation:'',
            },
            loading:false,
            verified:false,
        }
    },
    methods:{
        verifyAccount(){ 
            this.loading=true;
            this.$store.commit('setNotification',{type:0,msg:''});
            this.$store.dispatch('get','/verify-reset-token?code='+this.$route.params.token)
            .then((data)=>{
                this.loading=false;
                if(data.data.status){
                    this.verified=true;
                    this.psw.token=this.$route.params.token;
                }else{
                    this.$store.commit('setNotification',{type:2,msg:'Expired or Invalid reset link. <br> Please try resetting your password again.'});  
                }
            })
            .catch((error)=>{
                console.log(error.request);
                if(error.request != null){
                    this.$store.dispatch("handleError",error); 
                }
                this.loading=false;
            });
        },
        reset(){
            if(this.psw.password_confirmation.length == 0 || this.psw.password.length == 0){
                this.$store.commit('setNotification',{type:2,msg:'Password and Confirm password fields are required'});
                return false;
            }
 

            if(this.psw.password_confirmation != this.psw.password){
                this.$store.commit('setNotification',{type:2,msg:"password doesn't match"});
                return false;
            }

            if(this.loading){
                return false;
            } 

            this.loading=true;

            this.$store.commit('setNotification',{type:0,msg:''});
            this.$store.dispatch('post',{
                details:this.psw,
                endpoint:'/reset-password'
            })
            .then((data)=>{
                console.log(data);
                if(data.data.status){
                    this.$store.commit('setNotification',{type:1,msg:'Your password reset was successfull.'});
                    this.$router.push('/login');
                }else{
                    this.$store.commit('setNotification',{type:2,msg:data.data.msg});
                }

                this.loading=false; 
            })
            .catch((error)=>{
                console.log(error.request);
                if(error.request != null){
                    this.$store.dispatch("handleError",error); 
                }

                this.loading=false;
            });
        }
    },
    created(){
        this.verifyAccount();
    }
}
</script>

<style scoped lang="scss">
    .public-login{
        font-family: Campton;
        background-size: cover;
        background-position: center;
        width: 100%;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        color: #3E3E3E;
        align-items: center;
        .pointer{
            cursor: pointer;
        }
        .pl-layout{
            background: #fff;
            margin-top: 20px;
            margin-bottom: 20px;
            padding: 60px 50px;
            border-radius: 20px;
            /*height: 620px;*/
            width: 450px;
            .pl-head{
                display: flex;
                justify-content: space-between ;
                align-items: center;
                h4{
                    color: #424242;
                    font-weight: 700;
                    font-size: 31px;
                }
            }
            .pl-social{
                .social-item{
                    padding:13px 18px;
                    background: #F3F3FF;
                    border-radius: 5px;
                    font-weight: 600;
                    i{
                        color: blue;
                        font-size: 19px;
                    }
                }
            }
            .pl-divider{
                p{
                    color: #DCDCDC;
                }
                p::before{
                    content: '';
                    display: flex;
                    margin-top:12px;
                    border-top: 1px solid #B8B4F0;
                    position: absolute;
                    width: 145px;
                }
                p::after{
                    content: '';
                    display: inline;
                    margin-top:12px;
                    border-top: 1px solid #B8B4F0;
                    position: absolute;
                    margin-left: 22px;
                    width: 145px;
                }
            }
            .pl-form{
                input.form-control{
                    height: 54px;
                    border:1px solid #049CB1;
                }
                input[type='checkbox']:focus{
                    -webkit-appearance: checkbox !important;
                }
                .form-check-input {
                    margin-top: 0.4rem;
                }
                .form-check-label{
                    color: #C4C4C4;
                    font-size: 17px;
                }
                .btn-submit{
                    width: 100%;
                    color: white;
                    background: #049CB1;
                    border-radius: 5px;
                    font-weight: 600;
                    font-size: 14px;
                    padding: 12px 0;
                }
                .form-footer{
                    a{
                        color: #1A1A1A;
                        font-size: 17px;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    @media(max-width:576px){
        .pl-layout{
            padding: 36px 18px !important;
            height: max-content !important;
            margin-left: 17px;
            margin-right: 17px;
            /*width: 300px !important;*/
            .pl-head{
                text-align: center;
                display: block !important;
            }
            .pl-divider{
                p::after{
                    width: 121px !important;
                }
                p::before{
                    width: 121px !important;
                }
            }
        }
    }
    @media (min-height: 900px) {
        .pl-layout{
            height: max-content;
        }
    }
</style>