<template>
    <div class="privacy-policy">
        <div class="pp-wrapper">
            <div class="row pp-banner width">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 pp-banner-text">
                    <h2>{{ $t('home.priavcy_banner_text') }}</h2>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 pp-banner-imgWrap">
                    <div class="pp-ban-innImg">
                        <div class="pp-ban-inn2">
                            <img src="../../../assets/Devices_1.png" class="pp-crd-logo" alt="">
                            <img src="../../../assets/Privacy_Policy/Group 46.png" class="pp-ban-grp46" alt="">
                        </div>
                    </div>
                    
                    
                </div>  
            </div>
        </div>

        <div class="pp-customer-reviews ">
            <div class="pp-reviews-wrapper width">
                <h2 class="pp-review-h2">{{ $t('home.priavcy_customer_reveiw') }}</h2>
                <div class="pp-reviews-content">
                    <div class="pp-review-in">
                        <div class="pp-review">
                            <span class="pp-review-count">1.</span>
                            <p class="pp-txt">
                                {{ $t('home.privacy_review_text_1') }}
                            </p>
                        </div>
                        <div class="pp-sub-review">
                            <span class="pp-review-count">1.1</span>
                            <p class="pp-txt">
                                {{ $t('home.privacy_review_text_1') }}.
                            </p>
                        </div>
                    </div>
                    <div class="pp-review-in">
                        <div class="pp-review">
                            <span class="pp-review-count">2.</span>
                            <p class="pp-txt">
                                {{ $t('home.privacy_review_text_2') }}.
                            </p>
                        </div>
                        <div class="pp-sub-review">
                            <span class="pp-review-count">2.1</span>
                            <p class="pp-txt">
                                {{ $t('home.privacy_review_text_2') }}.
                            </p>
                        </div>
                        <div class="pp-sub-review">
                            <span class="pp-review-count">2.2</span>
                            <p class="pp-txt">
                                {{ $t('home.privacy_review_text_2') }}.
                            </p>
                        </div>
                        <div class="pp-sub-review">
                            <span class="pp-review-count">2.3</span>
                            <p class="pp-txt">
                                {{ $t('home.privacy_review_text_2') }}.
                            </p>
                        </div>
                    </div>
                    <div class="pp-review-in">
                        <div class="pp-review">
                            <span class="pp-review-count">3.</span>
                            <p class="pp-txt">
                                {{ $t('home.privacy_review_text_3') }}.
                            </p>
                        </div>
                    </div>
                    <div class="pp-review-in">
                        <div class="pp-review">
                            <span class="pp-review-count">4.</span>
                            <p class="pp-txt">
                                {{ $t('home.privacy_review_text_4') }}.
                            </p>
                        </div>
                    </div>
                    <div class="pp-review-in">
                        <div class="pp-review">
                            <span class="pp-review-count">5.</span>
                            <p class="pp-txt">
                                {{ $t('home.privacy_review_text_5') }}.
                            </p>
                        </div>
                    </div>
                    <div class="pp-review-in">
                        <div class="pp-review">
                            <span class="pp-review-count">6.</span>
                            <p class="pp-txt">
                                {{ $t('home.privacy_review_text_6') }}.
                            </p>
                        </div>
                    </div>
                    <div class="pp-review-in">
                        <div class="pp-review">
                            <span class="pp-review-count">7.</span>
                            <p class="pp-txt">
                                Po sopstvenom nahođenju, Kompanija može. ali nije obavezna da pregleda i proveri bilo koje informacije koje joj dostavi klijent, u bilo koje svrhe.
                                To je jasno navedeno, i svojim potpisomu nastavku klijent je takođe saglasan da Kompanija nema obavezu initi odgovornost prema klijentu uvezi
                                sa gore navedenim pregledom ili proverom informacija.
                            </p>
                        </div>
                    </div>
                    <div class="pp-review-in">
                        <div class="pp-review">
                            <span class="pp-review-count">8.</span>
                            <p class="pp-txt">
                                {{ $t('home.privacy_review_text_8') }}.
                            </p>
                        </div>
                    </div>
                    <div class="pp-review-in">
                        <div class="pp-review">
                            <span class="pp-review-count">9.</span>
                            <p class="pp-txt">
                                {{ $t('home.privacy_review_text_9') }}.
                            </p>
                        </div>
                    </div>
                    <div class="pp-review-in">
                        <div class="pp-review">
                            <span class="pp-review-count">10.</span>
                            <p class="pp-txt">
                                {{ $t('home.privacy_review_text_10') }}.
                            </p>
                        </div>
                    </div>
                    <div class="pp-review-in">
                        <div class="pp-review">
                            <span class="pp-review-count">11.</span>
                            <p class="pp-txt">
                               {{ $t('home.privacy_review_text_11') }}.
                            </p>
                        </div>
                    </div>
                    <div class="pp-review-in">
                        <div class="pp-review">
                            <span class="pp-review-count">12.</span>
                            <p class="pp-txt">
                                {{ $t('home.privacy_review_text_12') }}.
                            </p>
                        </div>
                        <div class="pp-sub-review">
                            <span class="pp-review-count">12.1</span>
                            <p class="pp-txt">
                                {{ $t('home.privacy_review_text_12_a') }}.
                            </p>
                        </div>
                    </div>
                    <div class="pp-review-in">
                        <div class="pp-review">
                            <span class="pp-review-count">13.</span>
                            <p class="pp-txt">
                                {{ $t('home.privacy_review_text_13') }}:
                            </p>
                        </div>
                        <div class="pp-sub-review">
                            <p class="pp-txt">
                                {{ $t('home.privacy_review_text_13_a') }}.
                            </p>
                        </div>
                        <div class="pp-sub-review">
                            <p class="pp-txt">
                                {{ $t('home.privacy_review_text_13_b') }}.
                            </p>
                        </div>
                    </div>
                    <div class="pp-review-in">
                        <div class="pp-review">
                            <span class="pp-review-count">14.</span>
                            <p class="pp-txt">
                                {{ $t('home.privacy_review_text_14') }}.
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>  
    </div>
</template>

<script>
export default {

}
</script>

<style>
    .privacy-policy{
        background: white;
    }

    .pp-banner-text h2{
        color: #ffffff;
    }

    .pp-wrapper{
        background-image: url('./../../../assets/Header BG.png');
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 80vh;
        position: relative;
    }

    .pp-banner-text h2{
        position: relative;
        font-size: 67px;
        font-weight: 800;
        top: 150px;
    }

    .pp-banner-imgWrap{
        position: relative;
    }

    .pp-ban-innImg{
        position: relative;
        top: 80px;
    }

    .pp-ban-inn2{
        position: relative;
    }

    .pp-crd-logo{
        width: 630px;
    }

    .pp-ban-grp46{
        width: 178px;
        top: 0px;
        position: absolute;
        left: 80px;
        z-index: 10;
    }


    .pp-customer-reviews{
        position: relative;
    }

    .pp-reviews-content{
        margin-top: 50px;
    }

    .pp-review-h2{
        color: #767676;
        font-size: 38px;
        font-weight: 900;
    }

    .pp-reviews-wrapper{
        background: white;
        position: relative;
        top: -120px;
        left: 0;
        right: 0;
        padding: 60px 93px;
        z-index: 8;
    }

    .pp-review{
        display: flex;
    }

    .pp-review-in{
        color: #020102;
        font-size: 17px;
        font-weight: 600;
        font-family: 'Campton';
        line-height: 1.6;
    }

    .pp-txt{
        margin-bottom: 26;
        margin-left: 42px;
    }

    .pp-sub-review{
        display: flex;
        margin-left: 55px;
    }



    @media screen and (max-width: 1300px) {
        .pp-crd-logo {
            left: 124px;
            width: 605px;
        }

        .pp-ban-grp47 {
            left: 14px;
            width: 171px;
            top: -27px;
        }

        .pp-ban-grp46 {
            left: 201px;
        }

        .pp-banner-text h2 {
            font-size: 60px;
            font-weight: 800;
        }

        .pp-reviews-wrapper {
            top: -344px;
        }
    }

    @media screen and (max-width: 1125px) {
        .pp-banner-text h2 {
            font-size: 60px;
            font-weight: 800;
            position: relative;
            top: 91px;
            left: 89px;
        }

        .pp-crd-logo {
            left: -16px;
            width: 538px;
            top: 144px;
        }

        .pp-ban-grp46 {
            width: 150px;
            top: -9px;
            left: 74px;
        }

        .pp-reviews-wrapper {
            top: -171px;
        }
    }

    @media screen and (max-width: 895px) {
        .pp-reviews-wrapper {
            padding: 60px 40px;
        }

        .pp-ban-innImg{
            position: relative;
            left: -55px;
            top: 92px;
        }

        .pp-wrapper {
            height: 74vh;
        }

        .pp-ban-grp46 {
            width: 121px;
            top: -11px;
            left: 59px;
        }

        .pp-crd-logo {
            left: -72px;
            width: 467px;
            top: 95px;
        }

        .pp-banner-text h2 {
            font-size: 57px;
            font-weight: 800;
            position: relative;
            top: 89px;
            left: 16px;
        }
    }

    @media screen and (max-width: 768px) {
        .pp-crd-logo {
            width: 432px;
            left: -108px;
            top: 111px;
        }

        .pp-ban-grp46 {
            width: 112px;
            top: 1px;
            left: 59px;
        }

        .pp-ban-innImg {
            top: 104px;
        }

        .pp-reviews-wrapper {
            padding: 48px 9px;
        }

        .pp-txt {
            margin-left: 10px;
        }

        .pp-sub-review {
            margin-left: 26px;
        }

        .pp-review-in {
            font-size: 14px;
        }


        .pp-banner-text h2 {
            font-size: 57px;
            top: 107px;
            left: -30px;
        }

        .pp-banner-text {
            left: 19px;
        }


        
    }   


    @media screen and (max-width: 756px ){
        .pp-banner-text h2 {
            font-size: 48px;
            top: 109px;
        }

        .pp-crd-logo {
            width: 402px;
            left: -51px;
            top: 68px;
        }

        .pp-ban-grp46 {
            width: 108px;
            top: -9px;
            left: 51px;
        }
    }

    @media screen and (max-width: 680px) {
        .pp-wrapper {
            height: 65vh;
        }

        .pp-crd-logo {
            width: 377px;
            left: -82px;
            top: 98px;
        }

        .pp-ban-grp46 {
            width: 96px;
            top: -6px;
            left: 41px;
        }

        .pp-banner-text h2 {
            font-size: 39px;
            top: 104px;
        }

        .pp-ban-innImg {
            top: 71px;
            left: -67px;
        }
        
    }

    

    @media screen and (max-width: 575px ) {
        .pp-wrapper {
            height: 60vh;
        }

        .pp-ban-innImg {
            top: 45px;
            left: 5px;
        }

        .pp-banner-text h2 {
            font-size: 39px;
            top: 43px;
        }

        .pp-crd-logo {
            width: 366px;
            left: -54px;
            top: 13px;
            position: relative;
        }

        .pp-ban-grp46 {
            width: 95px;
            top: 4px;
            left: -8px;
        }

        .pp-reviews-wrapper {
            top: -103px;
        }
    }
    

    @media screen and (max-width: 360px ){
        .pp-crd-logo {
            width: 301px;
            left: -54px;
            top: 13px;
        }

        .pp-ban-grp46 {
            width: 77px;
            top: 11px;
            left: -15px;
        }

        .pp-banner-text h2 {
            font-size: 35px;
            top: 43px;
        }

        .pp-review-h2 {
            color: #767676;
            font-size: 29px;
            font-weight: 900;
        }

        .pp-ban-innImg {
            top: 68px;
            left: 5px;
        }
    }
    
</style>