<template>
    <div class="public-login" style="background-image: url('assets/img/login/login.png'); ">
        <register_component color="#fff"></register_component>
    </div>
</template>

<script>
    import {mapState} from 'vuex';
    // import changeLanguage from '../extra_components/changeLanguage';
    import register_component from '../layout/register-component'
    export default {
        name: 'register',
        components: {
            register_component,
        },
        computed: {
            ...mapState({
                loading: (state) => state.loading,
            }),
        },
        data() {
            return {
                user: {
                    email: '',
                    password: '',
                    password_confirmation: '',
                },
                params: {
                    client_id: '405489142264-g5cdcidet97q3rgjmjs300uj60ggt92j.apps.googleusercontent.com',
                },
                renderParams: {
                    width: 250,
                    height: 50,
                    longtitle: true,
                },
            };
        },
        methods: {
            loginWithFacebook() {
                window.FB.login((response) => {
                    console.log('fb response', response);
                    window.FB.api('/me', { locale: 'tr_TR', fields: 'name, email, birthday, hometown, education, gender, website, work' },
                        (data)=>{
                            if(data.email != undefined){
                                var payload = {
                                    user: {},
                                };
                                payload.email = data.email ?? '';
                                payload.password = data.id;
                                payload.password_confirmation = data.id;
                                payload.lastname = data.name.split(' ')[0];
                                payload.firstname = data.name.split(' ')[1];
                                payload.gmail_login = true;
                                payload.gmail_id = data.id;

                                this.createAccount(null, payload, true);
                            }else{
                                this.$store.commit('setNotification', {type: 2, msg: 'We have no access your facebook email, Please signin using another login method.'});
                            }
                        });
                }, this.params);
            },
            loginWithGoogle() {
                this.$gAuth
                    .signIn()
                    .then((GoogleUser) => {
                        // console.log('GoogleUser', GoogleUser);
                        // console.log('getId', GoogleUser.getId());
                        // console.log('getBasicProfile', GoogleUser.getBasicProfile());
                        // console.log('getAuthResponse', GoogleUser.getAuthResponse());

                        var user = GoogleUser.getBasicProfile();
                        var payload = {
                            user: {},
                        };
                        payload.email = user.Kt;
                        payload.password = user.KR;
                        payload.password_confirmation = user.KR;
                        payload.lastname = user.qR;
                        payload.firstname = user.oT;
                        payload.profile_image = user.wI;
                        payload.gmail_login = true;
                        payload.gmail_id = user.KR;

                        this.createAccount(null, payload, true);
                    })
                    .catch((error) => {
                        console.log('error', error);
                    });
            },
            createAccount(e, data = this.user, socialSignIn = false) {
                if (data.email.length == 0 || data.password.length == 0 || data.password_confirmation.length == 0) {
                    this.$store.commit('setNotification', {type: 2, msg: 'All fields are required'});
                    return false;
                }

                if (this.loading) {
                    return false;
                }

                // this.loading=true;
                data.socialSignIn = socialSignIn;
                this.$store.dispatch('createAccount', data);
            },
        },
        mounted() {

        },
    };
</script>

<style lang="scss" scoped>
    .public-login{
        font-family: Campton;
        background-size: cover;
        background-position: center;
        width: 100%;
        /*height: 100vh;*/
        display: flex;
        justify-content: center;
        color: #3E3E3E;

    }

    @media (min-height: 900px) {
        .public-login{
            height: 100vh;
            align-items: center;
        }
    }
</style>
