<template>
	<div id="home">
		<section class="hero-section">
			<div class="section-wrapper">
				<div class="container-fluid">
					<div class="banner-wrapper">
						<div class="hero-banner-text">
							<div class="hero-text-header">
								<h4>
									{{ $t('home.reveiw_title_1') }}
									<br />
									{{ $t('home.reveiw_title_2') }}
								</h4>
							</div>
							<div class="hero-img-extended">
								<span class="img-wrapper img-1">
									<img src="@/assets/Review/Group_20.png" />
								</span>
								<span class="img-wrapper img-2">
									<img src="@/assets/Review/Group_21.png" />
								</span>
							</div>
						</div>
						<div class="img-banner-wrapper">
							<img src="@/assets/Devices_1.png" />
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="reveiws mt-5">
			<div class="section-wrapper">
				<div class="container">
					<div class="row">
						<div class="col-12">
							<div class="section-header-text">
								<h4>{{ $t('home.customer_review') }}</h4>
							</div>
						</div>
					</div>
					<div class="row">
						<Carousel
							class="gl_carousel_data"
							:paginationEnabled="true"
							:scrollPerPage="true"
							:navigationEnabled="true"
							:perPageCustom="[
								[300, 1],
								[768, 2],
							]"
							navigationNextLabel="<i class='material-icons'>keyboard_arrow_right</i>"
							navigationPrevLabel="<i class='material-icons'>keyboard_arrow_left</i>"
						>
							<Slide class="owl-item-padding">
								<div class="review-card-box">
									<div class="review-card-box-header">
										<div class="reveiw-id-details">
											<span class="details-ellipse"></span>
											<div class="review-details-desc">
												<h5>SVETLANA S. KONSTANTI P.</h5>
												<h6>UID 7348927</h6>
											</div>
										</div>
										<div class="review-id-ratings">
											<img src="@/assets/Review/Group_20.png" />
										</div>
									</div>
									<div class="review-card-box-footer">
										<p>
											Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi consequuntur magni assumenda optio facilis quidem porro eius dicta doloremque laboriosam asperiores, quod saepe numquam incidunt. Molestiae illo hic dolorum debitis.
										</p>
									</div>
								</div>
								<div class="review-card-box">
									<div class="review-card-box-header">
										<div class="reveiw-id-details">
											<span class="details-ellipse"></span>
											<div class="review-details-desc">
												<h5>SVETLANA S. KONSTANTI P.</h5>
												<h6>UID 7348927</h6>
											</div>
										</div>
										<div class="review-id-ratings">
											<img src="@/assets/Review/Group_20.png" />
										</div>
									</div>
									<div class="review-card-box-footer">
										<p>
											Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi consequuntur magni assumenda optio facilis quidem porro eius dicta doloremque laboriosam asperiores, quod saepe numquam incidunt. Molestiae illo hic dolorum debitis.
										</p>
									</div>
								</div>
							</Slide>
							<Slide class="owl-item-padding">
								<div class="review-card-box">
									<div class="review-card-box-header">
										<div class="reveiw-id-details">
											<span class="details-ellipse"></span>
											<div class="review-details-desc">
												<h5>SVETLANA S. KONSTANTI P.</h5>
												<h6>UID 7348927</h6>
											</div>
										</div>
										<div class="review-id-ratings">
											<img src="@/assets/Review/Group_20.png" />
										</div>
									</div>
									<div class="review-card-box-footer">
										<p>
											Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi consequuntur magni assumenda optio facilis quidem porro eius dicta doloremque laboriosam asperiores, quod saepe numquam incidunt. Molestiae illo hic dolorum debitis.
										</p>
									</div>
								</div>
								<div class="review-card-box">
									<div class="review-card-box-header">
										<div class="reveiw-id-details">
											<span class="details-ellipse"></span>
											<div class="review-details-desc">
												<h5>SVETLANA S. KONSTANTI P.</h5>
												<h6>UID 7348927</h6>
											</div>
										</div>
										<div class="review-id-ratings">
											<img src="@/assets/Review/Group_20.png" />
										</div>
									</div>
									<div class="review-card-box-footer">
										<p>
											Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi consequuntur magni assumenda optio facilis quidem porro eius dicta doloremque laboriosam asperiores, quod saepe numquam incidunt. Molestiae illo hic dolorum debitis.
										</p>
									</div>
								</div>
							</Slide>
							<Slide class="owl-item-padding">
								<div class="review-card-box">
									<div class="review-card-box-header">
										<div class="reveiw-id-details">
											<span class="details-ellipse"></span>
											<div class="review-details-desc">
												<h5>SVETLANA S. KONSTANTI P.</h5>
												<h6>UID 7348927</h6>
											</div>
										</div>
										<div class="review-id-ratings">
											<img src="@/assets/Review/Group_20.png" />
										</div>
									</div>
									<div class="review-card-box-footer">
										<p>
											Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi consequuntur magni assumenda optio facilis quidem porro eius dicta doloremque laboriosam asperiores, quod saepe numquam incidunt. Molestiae illo hic dolorum debitis.
										</p>
									</div>
								</div>
								<div class="review-card-box">
									<div class="review-card-box-header">
										<div class="reveiw-id-details">
											<span class="details-ellipse"></span>
											<div class="review-details-desc">
												<h5>SVETLANA S. KONSTANTI P.</h5>
												<h6>UID 7348927</h6>
											</div>
										</div>
										<div class="review-id-ratings">
											<img src="@/assets/Review/Group_20.png" />
										</div>
									</div>
									<div class="review-card-box-footer">
										<p>
											Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi consequuntur magni assumenda optio facilis quidem porro eius dicta doloremque laboriosam asperiores, quod saepe numquam incidunt. Molestiae illo hic dolorum debitis.
										</p>
									</div>
								</div>
							</Slide>
							<Slide class="owl-item-padding">
								<div class="review-card-box">
									<div class="review-card-box-header">
										<div class="reveiw-id-details">
											<span class="details-ellipse"></span>
											<div class="review-details-desc">
												<h5>SVETLANA S. KONSTANTI P.</h5>
												<h6>UID 7348927</h6>
											</div>
										</div>
										<div class="review-id-ratings">
											<img src="@/assets/Review/Group_20.png" />
										</div>
									</div>
									<div class="review-card-box-footer">
										<p>
											Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi consequuntur magni assumenda optio facilis quidem porro eius dicta doloremque laboriosam asperiores, quod saepe numquam incidunt. Molestiae illo hic dolorum debitis.
										</p>
									</div>
								</div>
								<div class="review-card-box">
									<div class="review-card-box-header">
										<div class="reveiw-id-details">
											<span class="details-ellipse"></span>
											<div class="review-details-desc">
												<h5>SVETLANA S. KONSTANTI P.</h5>
												<h6>UID 7348927</h6>
											</div>
										</div>
										<div class="review-id-ratings">
											<img src="@/assets/Review/Group_20.png" />
										</div>
									</div>
									<div class="review-card-box-footer">
										<p>
											Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi consequuntur magni assumenda optio facilis quidem porro eius dicta doloremque laboriosam asperiores, quod saepe numquam incidunt. Molestiae illo hic dolorum debitis.
										</p>
									</div>
								</div>
							</Slide>
							<Slide class="owl-item-padding">
								<div class="review-card-box">
									<div class="review-card-box-header">
										<div class="reveiw-id-details">
											<span class="details-ellipse"></span>
											<div class="review-details-desc">
												<h5>SVETLANA S. KONSTANTI P.</h5>
												<h6>UID 7348927</h6>
											</div>
										</div>
										<div class="review-id-ratings">
											<img src="@/assets/Review/Group_20.png" />
										</div>
									</div>
									<div class="review-card-box-footer">
										<p>
											Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi consequuntur magni assumenda optio facilis quidem porro eius dicta doloremque laboriosam asperiores, quod saepe numquam incidunt. Molestiae illo hic dolorum debitis.
										</p>
									</div>
								</div>
								<div class="review-card-box">
									<div class="review-card-box-header">
										<div class="reveiw-id-details">
											<span class="details-ellipse"></span>
											<div class="review-details-desc">
												<h5>SVETLANA S. KONSTANTI P.</h5>
												<h6>UID 7348927</h6>
											</div>
										</div>
										<div class="review-id-ratings">
											<img src="@/assets/Review/Group_20.png" />
										</div>
									</div>
									<div class="review-card-box-footer">
										<p>
											Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi consequuntur magni assumenda optio facilis quidem porro eius dicta doloremque laboriosam asperiores, quod saepe numquam incidunt. Molestiae illo hic dolorum debitis.
										</p>
									</div>
								</div>
							</Slide>
							<Slide class="owl-item-padding">
								<div class="review-card-box">
									<div class="review-card-box-header">
										<div class="reveiw-id-details">
											<span class="details-ellipse"></span>
											<div class="review-details-desc">
												<h5>SVETLANA S. KONSTANTI P.</h5>
												<h6>UID 7348927</h6>
											</div>
										</div>
										<div class="review-id-ratings">
											<img src="@/assets/Review/Group_20.png" />
										</div>
									</div>
									<div class="review-card-box-footer">
										<p>
											Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi consequuntur magni assumenda optio facilis quidem porro eius dicta doloremque laboriosam asperiores, quod saepe numquam incidunt. Molestiae illo hic dolorum debitis.
										</p>
									</div>
								</div>
								<div class="review-card-box">
									<div class="review-card-box-header">
										<div class="reveiw-id-details">
											<span class="details-ellipse"></span>
											<div class="review-details-desc">
												<h5>SVETLANA S. KONSTANTI P.</h5>
												<h6>UID 7348927</h6>
											</div>
										</div>
										<div class="review-id-ratings">
											<img src="@/assets/Review/Group_20.png" />
										</div>
									</div>
									<div class="review-card-box-footer">
										<p>
											Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi consequuntur magni assumenda optio facilis quidem porro eius dicta doloremque laboriosam asperiores, quod saepe numquam incidunt. Molestiae illo hic dolorum debitis.
										</p>
									</div>
								</div>
							</Slide>
							<Slide class="owl-item-padding">
								<div class="review-card-box">
									<div class="review-card-box-header">
										<div class="reveiw-id-details">
											<span class="details-ellipse"></span>
											<div class="review-details-desc">
												<h5>SVETLANA S. KONSTANTI P.</h5>
												<h6>UID 7348927</h6>
											</div>
										</div>
										<div class="review-id-ratings">
											<img src="@/assets/Review/Group_20.png" />
										</div>
									</div>
									<div class="review-card-box-footer">
										<p>
											Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi consequuntur magni assumenda optio facilis quidem porro eius dicta doloremque laboriosam asperiores, quod saepe numquam incidunt. Molestiae illo hic dolorum debitis.
										</p>
									</div>
								</div>
								<div class="review-card-box">
									<div class="review-card-box-header">
										<div class="reveiw-id-details">
											<span class="details-ellipse"></span>
											<div class="review-details-desc">
												<h5>SVETLANA S. KONSTANTI P.</h5>
												<h6>UID 7348927</h6>
											</div>
										</div>
										<div class="review-id-ratings">
											<img src="@/assets/Review/Group_20.png" />
										</div>
									</div>
									<div class="review-card-box-footer">
										<p>
											Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi consequuntur magni assumenda optio facilis quidem porro eius dicta doloremque laboriosam asperiores, quod saepe numquam incidunt. Molestiae illo hic dolorum debitis.
										</p>
									</div>
								</div>
							</Slide>
							<Slide class="owl-item-padding">
								<div class="review-card-box">
									<div class="review-card-box-header">
										<div class="reveiw-id-details">
											<span class="details-ellipse"></span>
											<div class="review-details-desc">
												<h5>SVETLANA S. KONSTANTI P.</h5>
												<h6>UID 7348927</h6>
											</div>
										</div>
										<div class="review-id-ratings">
											<img src="@/assets/Review/Group_20.png" />
										</div>
									</div>
									<div class="review-card-box-footer">
										<p>
											Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi consequuntur magni assumenda optio facilis quidem porro eius dicta doloremque laboriosam asperiores, quod saepe numquam incidunt. Molestiae illo hic dolorum debitis.
										</p>
									</div>
								</div>
								<div class="review-card-box">
									<div class="review-card-box-header">
										<div class="reveiw-id-details">
											<span class="details-ellipse"></span>
											<div class="review-details-desc">
												<h5>SVETLANA S. KONSTANTI P.</h5>
												<h6>UID 7348927</h6>
											</div>
										</div>
										<div class="review-id-ratings">
											<img src="@/assets/Review/Group_20.png" />
										</div>
									</div>
									<div class="review-card-box-footer">
										<p>
											Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi consequuntur magni assumenda optio facilis quidem porro eius dicta doloremque laboriosam asperiores, quod saepe numquam incidunt. Molestiae illo hic dolorum debitis.
										</p>
									</div>
								</div>
							</Slide>
							<Slide class="owl-item-padding">
								<div class="review-card-box">
									<div class="review-card-box-header">
										<div class="reveiw-id-details">
											<span class="details-ellipse"></span>
											<div class="review-details-desc">
												<h5>SVETLANA S. KONSTANTI P.</h5>
												<h6>UID 7348927</h6>
											</div>
										</div>
										<div class="review-id-ratings">
											<img src="@/assets/Review/Group_20.png" />
										</div>
									</div>
									<div class="review-card-box-footer">
										<p>
											Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi consequuntur magni assumenda optio facilis quidem porro eius dicta doloremque laboriosam asperiores, quod saepe numquam incidunt. Molestiae illo hic dolorum debitis.
										</p>
									</div>
								</div>
								<div class="review-card-box">
									<div class="review-card-box-header">
										<div class="reveiw-id-details">
											<span class="details-ellipse"></span>
											<div class="review-details-desc">
												<h5>SVETLANA S. KONSTANTI P.</h5>
												<h6>UID 7348927</h6>
											</div>
										</div>
										<div class="review-id-ratings">
											<img src="@/assets/Review/Group_20.png" />
										</div>
									</div>
									<div class="review-card-box-footer">
										<p>
											Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi consequuntur magni assumenda optio facilis quidem porro eius dicta doloremque laboriosam asperiores, quod saepe numquam incidunt. Molestiae illo hic dolorum debitis.
										</p>
									</div>
								</div>
							</Slide>
							<Slide class="owl-item-padding">
								<div class="review-card-box">
									<div class="review-card-box-header">
										<div class="reveiw-id-details">
											<span class="details-ellipse"></span>
											<div class="review-details-desc">
												<h5>SVETLANA S. KONSTANTI P.</h5>
												<h6>UID 7348927</h6>
											</div>
										</div>
										<div class="review-id-ratings">
											<img src="@/assets/Review/Group_20.png" />
										</div>
									</div>
									<div class="review-card-box-footer">
										<p>
											Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi consequuntur magni assumenda optio facilis quidem porro eius dicta doloremque laboriosam asperiores, quod saepe numquam incidunt. Molestiae illo hic dolorum debitis.
										</p>
									</div>
								</div>
								<div class="review-card-box">
									<div class="review-card-box-header">
										<div class="reveiw-id-details">
											<span class="details-ellipse"></span>
											<div class="review-details-desc">
												<h5>SVETLANA S. KONSTANTI P.</h5>
												<h6>UID 7348927</h6>
											</div>
										</div>
										<div class="review-id-ratings">
											<img src="@/assets/Review/Group_20.png" />
										</div>
									</div>
									<div class="review-card-box-footer">
										<p>
											Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi consequuntur magni assumenda optio facilis quidem porro eius dicta doloremque laboriosam asperiores, quod saepe numquam incidunt. Molestiae illo hic dolorum debitis.
										</p>
									</div>
								</div>
							</Slide>
						</Carousel>
					</div>
				</div>
				<div class="review-extended mt-5">
					<div class="review-extended-wrapper">
						<div class="container">
							<div class="row">
								<div class="col-12">
									<div class="section-header-text">
										<h4>{{ $t('home.write_review') }}</h4>
										<p>
											<svg width="30" height="22" viewBox="0 0 38 33" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M17.4345 1.41662C18.2043 0.0832905 20.1288 0.0832925 20.8986 1.41663L37.1365 29.5416C37.9063 30.875 36.9441 32.5416 35.4045 32.5416H2.92853C1.38892 32.5416 0.426676 30.875 1.19648 29.5416L17.4345 1.41662Z" fill="#A40000" />
												<path d="M19.1667 28.75C20.3633 28.75 21.3333 27.7799 21.3333 26.5833C21.3333 25.3867 20.3633 24.4166 19.1667 24.4166C17.97 24.4166 17 25.3867 17 26.5833C17 27.7799 17.97 28.75 19.1667 28.75Z" fill="#FAFAFA" />
												<path d="M17 9.25H21.3333V22.25H17V9.25Z" fill="#FAFAFA" />
											</svg>
											{{ $t('home.write_review_warning') }} : {{ $t('home.write_review_warning_msg') }}
										</p>
									</div>
								</div>
								<div class="col-12">
									<div class="write-message-box">
										<div class="reveiw-text-form">
											<form>
												<div class="form-group">
													<textarea rows="5"></textarea>
												</div>
												<div class="reveiw-btn">
													<button type="submit" class="btn-ctr">
														{{ $t('home.write_review_btn') }}
													</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</template>

<script>
	import {Carousel, Slide} from 'vue-carousel';

	export default {
		name: 'Reviews',
		components: {
			Carousel,
			Slide,
		},
	};
</script>

<style lang="scss" scoped>
	.hero-img-extended {
		width: 100%;
		position: relative;

		img {
			width: 90%;
		}

		.img-2 {
			position: absolute;
			width: 50%;
			right: -40%;
			bottom: -50%;
		}
	}

	.reveiw-text-form {
		form {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			.form-group {
				width: 90%;
			}

			textarea {
				outline: none;
				box-shadow: none;
				padding: 15px;
				width: 100%;
				border: 1px solid #bcb5ef;
				border-radius: 10px;
			}
		}
	}

	.img-banner-wrapper {
		display: none;
	}

	.reveiw-btn {
		button {
			border: none;
			outline: none;
			box-shadow: none;
		}
	}

	.gl_carousel_data {
		width: 100%;
	}
	.owl-item-padding {
		padding-left: 16px;
		padding-right: 16px;
		width: 100%;
	}
	@media only screen and (min-width: 768px) {
		.hero-img-extended {
			width: 50%;

			img {
				max-width: 245px;
			}

			.img-2 {
				bottom: -90%;

				img {
					width: 100%;
					max-width: 285px;
				}
			}
		}
		.reveiw-text-form {
			form {
				.form-group {
					width: 70%;
				}
			}
		}
		.img-banner-wrapper {
			display: inline-block;
		}
	}
	@media only screen and (min-width: 992px) {
		.reveiw-text-form {
			form {
				.form-group {
					width: 55%;
				}
			}
		}
		.hero-img-extended {
			width: 50%;

			img {
				max-width: 245px;
			}

			.img-2 {
				bottom: -450%;

				img {
					min-width: 300px;
				}
			}
		}
	}
	@media only screen and (min-width: 1200px) {
		.hero-img-extended {
			width: 50%;

			img {
				max-width: 245px;
			}

			.img-2 {
				bottom: -160%;

				img {
					width: 100%;
					max-width: 285px;
				}
			}
		}
	}
</style>
