<template>
    <div class="sidebar">
        <div class="sidebar__tabs tabs">
            <div class="tabs__btn-container">
                <div class="tabs__btn active">{{$t('home.registration')}}</div>
                <div class="tabs__btn">{{$t('home.log_in')}}</div>
            </div>
            <div class="tabs__info-container">
                <div class="sidebar__close">
                    <span></span>
                    <span></span>
                </div>
                <div class="tabs__info active">
                    <div class="sidebar__container">
                        <!-- begin login -->
                        <div class="login login-v2">
                            <div  class="sidebar__register">

                                <form action="" method="post" class="form-with-label" @submit.prevent="createAccount()">
                                    <p class="login__subtitle">
                                            {{$t('home.via_social_networks ')}}                                   
                                    </p>
                                    <div class="register-social" style="text-align: center">
                                        <a class="social-btn social-btn--sm social-btn--icon social-btn--fb" href="#">
                                            {{$t('home.facebook')}}
                                        </a>
                                        <a class="social-btn social-btn--sm social-btn--icon social-btn--gp" href="#">
                                            {{$t('home.google')}}
                                        </a>
                                    </div>
                                    <p class="login__subtitle login__subtitle_large-margin">
                                        {{$t('home.by_using_email')}}                                    
                                    </p>
                                    
                                    <div class="form-group">
                                        <input type="email" name="email" v-model="user.email" class="form-control" required="1" placeholder="Email"  />                                    
                                        <label for="email">{{$t('home.email')}}</label>
                                    </div>
                                    <div class="form-group   password-container">
                                        <input type="password" name="password" v-model="user.password" id="pass" class="form-control" required="1" placeholder="Password"  />                                    <label for="email">Password</label>
                                        <div class="password-container__icon"></div>
                                    </div>
                                    <div class="form-group   password-container">
                                        <input type="password" name="confirm-password" v-model="user.password_confirmation" id="confirm-pass" class="form-control" required="1" placeholder="Password confirmation"  />                                    
                                        <label for="email">{{$t('home.password_confirmation')}}</label>
                                        <div class="password-container__icon"></div>
                                    </div>
                                    <div class="form-group  rules ">
                                        <div class="checkbox">
                                            <label>{{$t('home.read_and_accepted')}}
                                                 <a href="#" target="_blank">Public Offer</a>
                                                <input type="checkbox" name="rules" value="1" id="checkbox_pao" required="1"  />                                            
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit" class="waves btn btn_blue btn_full">{{$t('home.sign_up')}}</button>
                                    </div>
                                </form>
                                <div class="ajax-message js-message" style="display: none;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tabs__info">
                    <div class="sidebar__container">
                        <!-- begin login -->
                        <div class="login login-v2">
                            <div class="sidebar__login">
                                <form action="" method="POST" class="form-with-label">
                                    <p class="login__subtitle">
                                        {{$t('home.via_social_networks')}}                                    
                                    </p>
                                    <div class="register-social" style="text-align: center">
                                        <a class="social-btn social-btn--sm social-btn--icon social-btn--fb"
                                        href="#">
                                           {{$t('home.facebook')}}
                                        </a>
                                        <a class="social-btn social-btn--sm social-btn--icon social-btn--gp"
                                        href="#">
                                            {{$t('home.google')}}
                                        </a>
                                    </div>
                                    <p class="login__subtitle login__subtitle_large-margin">
                                        {{$t('home.by_using_email')}}                                    
                                    </p>
                                    
                                    <div class="step1 js-step1">

                                        <div class="form-group">
                                            <input type="email" name="email" value="" class="form-control" required="1" placeholder="Email"  />                                        
                                            <label for="email">{{$t('home.email')}}</label>
                                        </div>
                                        <div class="form-group   password-container">
                                            <input type="password" name="password" value="" class="form-control" required="1" placeholder="Password"  />                                        
                                            <label for="email">{{$t('home.password')}}</label>
                                            <div class="password-container__icon"></div>
                                        </div>
                                        <div class="form-group js-recaptcha-block recaptcha-block" style="min-height: 80px;">
                                            <div class="g-recaptcha" data-sitekey="6LcU2hgUAAAAAPHmrOrfTDy6DnROjq7Mr8LNwhNF" data-theme="light" data-type="image" data-size="normal" >
                                            </div>
                                        
                                        
                                        </div>
                                        <div class="checkbox">
                                            <div class="checkbox checkbox_small clearfix m-b-0 ">
                                                <label>
                                                    <input type="checkbox" name="remember" value="1"  />{{$t('home.remember_me')}}                                                <span class="checkmark"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="step2 js-step2"></div>
                                    <div class="submit-btn-wrap">
                                        <button class="waves btn btn_blue btn_full" type="submit">
                                            {{$t('home.login')}}                                   
                                        </button>
                                    </div>
                                    <div class="form-group rules ">
                                        <div>
                                            <p><a href="#"> {{$t('home.password_recovery')}}</a></p>
                                        </div>
                                    </div>
                                </form>
                                <div class="ajax-message js-message"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sidebar__soc-links">
            <div class="sidebar__container">
                <p class="sidebar__soc-title">
                   {{$t('home.follow_us_on')}}:
                </p>
                <ul class="socials">
                    <li class="socials__item">
                        <a rel="noopener" target="_blank" href="#" class="socials__icon socials__icon--fb"></a>
                    </li>
                    <li class="socials__item">
                        <a rel="noopener" target="_blank" href="#" class="socials__icon socials__icon--tl"></a>
                    </li>
                    <li class="socials__item">
                        <a rel="noopener" target="_blank" href="#" class="socials__icon socials__icon--tw"></a>
                    </li>
                    <li class="socials__item">
                        <a rel="noopener" target="_blank" href="#" class="socials__icon socials__icon--vk"></a>
                    </li>
                    <li class="socials__item">
                        <a rel="noopener" target="_blank" href="#" class="socials__icon socials__icon--ins"></a>
                    </li>
                    <li class="socials__item">
                        <a rel="noopener" target="_blank" href="#" class="socials__icon socials__icon--yt"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'sidebar',
    data(){
        return {
            user:{
                email:'',
                password:'',
                password_confirmation:'',
            }
        }
    },
    methods:{
        createAccount(){
            if(
                this.user.email.length == 0 
                || this.user.password.length == 0 
                || this.user.password_confirmation.length == 0 
            ){
                this.$store.commit('setNotification',{type:2,msg:'All fields are required'});
                return false;
            }

            if(this.loading){ return false; } 

            this.loading=true;
            this.$store.dispatch('post',{
                details:this.user,
                endpoint:'/create-account'
            })
            .then((data)=>{
                if(data.data.status){
                    this.$store.commit('setNotification',{type:1,msg:data.data.message});
                    var result=data.data.user;
                    result.token=data.data.token;
                    this.$store.commit('setUser',result);
                    this.$router.push('/dashboard/');
                }else{
                    this.$store.commit('setNotification',{type:2,msg:data.data.message,unset:true});
                }
                this.loading=false;
            })
            .catch((error)=>{
                console.log(error);
                if(error.request != null){
                    this.$store.dispatch("handleError",error); 
                }
                this.loading=false;
            });
        },
    },
    created(){
        this.$store.commit('setNotification',{type:2,msg:'hello word'});
    }
}

</script>

<style scoped lang="scss">

</style>