<template>
    <div class="blank page-password_recovery ">
        <div class="portrait-dummy"></div>
        <div class="wrapper">
            <div class="wrapper__top">
                <header class="site-header">
                    <div class="login-container">
                        <a class="site-header__back-btn" href="/index">{{$t('home.to_home_page')}}</a>
                        
                        <changeLanguage/>
                    </div>
                </header>
            </div>
            <div class="wrapper__center">
                <div class="site-content">
                    <div class="site-content-in js-site-content" style="height: 100%">
                        <div class="login login-v2">
                            <!-- begin brand -->
                            <div class="login-header" style="padding: 0;">
                                <div class="brand">
                                    <a href="" class="brand__link">
                                        <img srcset="https://pocketoption.com/themes/cabinet/images/logo-horizontal-black.png 1x, https://pocketoption.com/themes/cabinet/images/logo-horizontal-black@2x.png 2x"
                                            src="https://pocketoption.com/themes/cabinet/images/logo-horizontal-black.png"
                                            alt="Logo">
                                    </a>
                                </div>
                            </div>
                            <div class="login-content">
                                <h2>{{$t('home.email_verification')}}</h2>
                                <div v-if="loading" class="loading d-flex justify-content-center align-items-center my-5">
                                    <loader></loader>
                                </div>
                                 <div v-else class="v-msg my-5">
                                     <notification></notification>
                                 </div>
                                 <p class="login-content__redirect"><router-link to="/login">{{$t('home.back_to_login')}}</router-link></p>
                            </div>
                        </div>
                    </div><!-- .site-content-in -->
                </div><!-- .site-content -->
            </div><!-- .wrapper__center -->
            <div class="wrapper__bottom">
                <div class="login-container">
                    <div class="login-footer">
                        <ul class="login-footer-nav">
                        <li class="login-footer-nav__item">
                            <a class="login-footer-nav__link" href="/home/index">
                            {{$t('auth.contacts')}}
                            </a>
                        </li>
                        <li class="login-footer-nav__item">
                            <a class="login-footer-nav__link" href="/home/index"
                            >{{$t('auth.aml_policy')}}</a
                            >
                        </li>
                        <li class="login-footer-nav__item">
                            <a class="login-footer-nav__link" href="/home/payment-policy"
                            >{{$t('auth.payment_policy')}}</a
                            >
                        </li>
                        <li class="login-footer-nav__item">
                            <a class="login-footer-nav__link" href=""
                            >{{$t('auth.terms_and_conditions')}}</a
                            >
                        </li>
                        <li class="login-footer-nav__item">
                            <a class="login-footer-nav__link" href="/home/privacy-policy"
                            >{{$t('auth.privacy_policy')}}</a
                            >
                        </li>
                        <li class="login-footer-nav__item">
                            <a
                            class="login-footer-nav__link"
                            href="/home/responsibility-disclosure"
                            >{{$t('auth.responsibility_disclosure')}}</a
                            >
                        </li>
                        </ul>
                    </div>
                    <div class="login-socket">
                        <p>{{$t('auth.copyright')}} &copy;2020 Pocket Option</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

// import changeLanguage  from '../extra_components/changeLanguage';
export default {
    name:'verify_email',
    components:{
        // changeLanguage, 
    },
    data(){
        return {
            loading:false,
            verified:false
        }
    },
    methods:{ 
        verifyAccount(){ 
            this.loading=true;
            this.$store.commit('setNotification',{type:0,msg:''});
            this.$store.dispatch('get','/verify-account?code='+this.$route.query.code)
            .then((data)=>{
                console.log(data);
                this.loading=false;
                if(data.data.status){
                    this.$store.commit('setNotification',{type:1,msg:'Congratulations,your account has been verified .please proceed to login'});  
                    this.verified=true;
                }else{
                    this.$store.commit('setNotification',{type:2,msg:'Expired or Invalid verification link. <br> Please contact us'});  
                }
            })
            .catch((error)=>{
                console.log(error.request);
                if(error.request != null){
                    this.$store.dispatch("handleError",error); 
                }
                this.loading=false;
            });
        }
    },
    created(){
        this.verifyAccount();
        // this.$store.commit('setNotification',{type:2,msg:'hello word'});
    }
}
</script>

<style lang="scss" scoped>

</style>