<template>
    <div id="cashback">
        <div class="cashback-container">
            <div class="cashback-panel">
                <div class="csh-pannel-list">
                    <div class="csh-panel-body">
                        <div class="panel-flex">
                            <div class="cashback--item csh-table">
                                <div class="csh-panel-item">
                                    <table class="table cashback-table">
                                        <tbody>
                                            <tr class="cashback-table-header">
                                                <td>
                                                    <h2 class="table-title">{{ $t('dashboard.your_cashback') }}</h2>
                                                </td>
                                                <td>
                                                    <h3 class="table-title">0%</h3>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="key">{{ $t('dashboard.last_payout') }}</div>
                                                    <div class="var">$200,000,000.00</div>
                                                </td>
                                                <td>
                                                    <div class="key">{{ $t('dashboard.total_cashback') }}</div>
                                                    <div class="var">$3,000</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="key">{{ $t('dashboard.max_payout') }}</div>
                                                    <div class="var">$200,000,000.00</div>
                                                </td>
                                                <td>
                                                    <div class="key">{{ $t('dashboard.next_payout') }}</div>
                                                    <div class="var">$3,000</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="last-border">
                                                    <div class="key">{{ $t('dashboard.date_of_activation') }}</div>
                                                    <div class="var">Jan 3, 2021</div>
                                                </td>
                                                <td class="last-border">
                                                    <div class="key">{{ $t('dashboard.valid_until') }}</div>
                                                    <div class="var">Jan 3, 2071</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="cashback--item csh-data-entry">
                                <div class="cashback-payout mb-4 mb-lg-5">
                                    <h4 class="csh--table--header payout--header">{{ $t('dashboard.cashback_payouts') }} </h4>
                                    <table class="table csh--table">
                                        <thead>
                                            <tr>
                                                <th>{{ $t('dashboard.amount') }},$</th>
                                                <th>{{ $t('dashboard.Cashback') }}</th>
                                                <th>{{ $t('dashboard.balance') }}</th>
                                                <th>{{ $t('dashboard.date') }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">$500,000.00</th>
                                                <td>10%</td>
                                                <td>$340,000.00</td>
                                                <td>JAN. 31, 2021</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">$500,000.00</th>
                                                <td>10%</td>
                                                <td>$340,000.00</td>
                                                <td>JAN. 31, 2021</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">$500,000.00</th>
                                                <td>10%</td>
                                                <td>$340,000.00</td>
                                                <td>JAN. 31, 2021</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">$500,000.00</th>
                                                <td>10%</td>
                                                <td>$340,000.00</td>
                                                <td>JAN. 31, 2021</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="cashback-payout payout-history mb-4 mb-md-0">
                                    <h4 class="csh--table--header payout--header">{{ $t('dashboard.activation_history') }}</h4>
                                    <table class="table csh--table">
                                        <thead>
                                            <tr>
                                                <th>{{ $t('dashboard.date_of_activation') }}</th>
                                                <th>{{ $t('dashboard.cashback_percent') }}</th>
                                                <th>{{ $t('dashboard.end_date') }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">$500,000.00</th>
                                                <td>10%</td>
                                                <td>$340,000.00</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">$500,000.00</th>
                                                <td>10%</td>
                                                <td>$340,000.00</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">$500,000.00</th>
                                                <td>10%</td>
                                                <td>$340,000.00</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">$500,000.00</th>
                                                <td>10%</td>
                                                <td>$340,000.00</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="cashback--item csh-data-text">
                            <h2 class="table-title">{{ $t('dashboard.terms_and_conditions') }}</h2>
                            <div>
                                <span>1.</span>
                                {{ $t('dashboard.cashback_text4') }}
                            </div>
                            <div>
                                <span>2.</span>
                                {{ $t('dashboard.cashback_text5') }}
                            </div>
                            <div>
                                <span>3.</span>
                                {{ $t('dashboard.cashback_text6') }}
                            </div>
                            <div>
                                <span> 4.</span>
                                {{ $t('dashboard.cashback_text7') }}
                            </div>
                            <div>
                                <span>5.</span>
                                {{ $t('dashboard.cashback_text8') }}
                            </div>
                            <div>
                                <span>6.</span>
                                {{ $t('dashboard.cashback_text9') }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'cashback',
};
</script>

<style lang="scss" scoped>
#cashback {
    margin-bottom: 2rem;
    padding-bottom: 1.5rem;
}

.csh-panel-body {
    background-color: #001426;
}

.panel-flex {
    background: #04233f;
    border-radius: 8px;
}
.sm-title {
    width: 100%;
    vertical-align: baseline;
    font-family: inherit;

    h4 {
        font-size: 20px;
        line-height: 22px;
        color: #8fa5bf;
        margin-bottom: 10px;
    }
}
.cashback-table-header {
    td {
        padding: 0 !important;
    }

    h2 {
        color: #e3e3e3;
        text-transform: uppercase;
        font-size: 14px;
        font-family: Campton;
        font-weight: bolder;
        margin-bottom: 0;
        text-align: left;
    }

    h3 {
        margin-bottom: 0;
        text-align: left;
        color: #ccbbed;
        font-family: Roboto;
        font-style: normal;
        font-size: 30px;
    }
}
.cashback-panel {
    background-color: #131628;

    .panel-title {
        background-color: #20273f;
        color: #7e91a7;
        padding: 10px 15px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
}

.cashback--item {
    margin-bottom: 2rem;
}

.csh-panel-item {
    padding-left: 14px;
    padding-right: 14px;

    .table td {
        padding-left: 0;
    }

    .table td,
    .table th {
        border-top: none;
        // color: #8fa5bf;
        line-height: 16px;
        text-align: center;

        div {
            text-align: left;

            &.key {
                color: #049cb1;
                margin-bottom: 10px;
            }

            &.var {
                color: #cbcbcb;
                font-size: 15px;
                font-weight: bold;
                font-family: Roboto;
            }
        }
    }

    .table td:first-of-type {
        border-right: none;
    }

    .table td.cashback-info {
        border-right: 1px solid transparent;
    }

    .table td.last-border {
        border-bottom: none;
    }

    .cashback-percent {
        text-align: center;
        b {
            color: #009af9;
            font: 600 30px 'Exo 2', sans-serif;
        }
    }
}

.table-title {
    color: #ffffff;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-size: 18px;
    padding: 12px 0;
    line-height: 29px;
}

.csh-data-entry {
    width: 100%;
    padding: 16px;

    .cashback--item-info {
        .message {
            padding: 10px 20px;
            border-style: dashed;
            border-width: 1px;
            margin-bottom: 1.5rem;
            border-radius: 5px;

            p {
                margin-bottom: 0;
            }
        }

        .message-info {
            background: rgba(40, 57, 98, 0.15);
            border-color: #283962;
        }

        .message-warning {
            background: rgba(177, 80, 23, 0.15);
            border-color: #b15017;
        }

        .btn-wrap {
            padding: 0 0 1rem;

            .waves {
                background-color: rgba(2, 91, 68, 0.15);
                border-color: #025b44;
                color: #fff;
                display: block;
                border-radius: 4px;
                font-size: 14px;
                cursor: pointer;
                transition: 300ms ease;
                border-width: 1px;
                border-style: solid;

                &:hover {
                    color: #d8d8d8;
                    background-color: #025b44;
                }
            }
        }
    }
}

.cashback-history,
.cashback-activations {
    .table-title {
        margin-top: 1rem;
    }

    table {
        display: none;
    }
}

.csh-data-text {
    width: 100%;
    font-size: 14px;
    padding-bottom: 6rem;
    padding: 20px;
    background: #04233f;
    border-radius: 5px;
    font-family: Campton;

    .table-title {
        text-align: left;
        font-size: 18px;
        margin-bottom: 0;
        padding-bottom: 0;
        font-weight: bolder;
    }

    div {
        font-size: 12px;
        font-weight: normal;
        margin-bottom: 15px;

        span {
            margin-right: 10px;
        }
    }
}
.csh--table--header {
    font-family: campton;
    color: #e3e3e3;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 0;
}
.csh-table {
    background: #04335e;
    border-radius: 5px;
    padding: 15px;

    thead {
        th {
            color: #049cb1;
        }
    }
}
.table.csh--table {
    th,
    td {
        border: none;
    }
    thead {
        th {
            color: #049cb1;
            border-bottom: none;
            border-top: none;

            &:first-of-type {
                padding-left: 0;
            }
        }
    }
    tbody {
        th,
        td {
            font-family: Roboto;
            font-weight: bold;
            font-size: 10px;
            line-height: 21px;
            text-transform: uppercase;
            color: #a0a0a0;
            white-space: nowrap;
        }
        th {
            &:first-of-type {
                padding-left: 0;
            }
        }
    }
}

@media only screen and (min-width: 576px) {
    .btn-wrap {
        width: 100px;
        white-space: nowrap;
    }

    .cashback-history,
    .cashback-activations {
        table {
            display: block;

            thead {
                display: grid;
                width: 100%;
            }

            tr {
                display: inline-table;
            }
        }

        .table td,
        .table th {
            border-top: 1px solid #292d4a !important;
        }

        .table thead th {
            border-bottom: none;
            color: #7f838c;
            font-weight: lighter;
            font-size: 12px;
        }
    }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
    .panel-flex {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 4rem;
    }
    .cashback--item {
        margin-bottom: 0;
    }
    .csh-data-text {
        width: 100%;
    }
    .cashback-table-header {
        h2 {
            font-size: 20px;
        }
        h3 {
            font-size: 32px;
        }
    }
    .csh-panel-item {
        .table td {
            padding-left: 0;
        }

        .table td,
        .table th {
            padding-bottom: 0;
            padding-top: 2rem;
            padding-bottom: 1rem;

            div {
                &.var {
                    font-size: 20px;
                }
            }
        }
    }
    .csh-table {
        padding: 5rem 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .csh-panel-item {
            width: 100%;
        }
    }
    .csh-data-entry {
        padding-right: 3rem;
        padding-left: 3rem;
        padding-top: 2.5rem;
    }
    .table.csh--table thead th {
        padding-bottom: 0;
    }
    .table.csh--table tbody th,
    .table.csh--table tbody td {
        padding-bottom: 0;
        font-size: 12px;
    }
}

@media only screen and (min-width: 1200px) {
    .sm-title {
        display: none;
    }
}
</style>
