<template>
    <div id="deposit">
        <div class="payment-methods">
            <div class="row">
                <!-- Payment methods -->
                <div class="col-12 col-xl-10 px-0">
                    <div class="payment-method">
                        <div class="payment-panel-body">
                            <div class="panel-ttile">
                                <p>{{ $t('dashboard.panel_title') }}:</p>
                            </div>
                            <div class="payment-method-body">
                                <div class="payment-panel">
                                    <div class="payment-panel-text">
                                        <h5>{{ $t('dashboard.panel_title') }}</h5>
                                    </div>
                                    <div class="payment-panel-inner">
                                        <div class="payment-panel-divider">
                                            <span class="btn-type-backgroud">
                                                <svg viewBox="0 0 67 68" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M60.1669 27.4032C63.8518 42.1754 54.8638 57.1378 40.0916 60.8227C25.3194 64.5076 10.357 55.5196 6.6721 40.7474C2.98719 25.9752 11.9752 11.0128 26.7474 7.3279C41.5196 3.64298 56.482 12.631 60.1669 27.4032ZM43.939 27.4037C43.5836 23.7118 40.3963 22.4746 36.3722 22.1226L36.3717 17.0015L33.2542 17.0023L33.2549 21.9884C32.4353 21.9886 31.5976 22.005 30.7654 22.0217L30.7654 17.0027L27.6496 17.0031L27.649 22.1226C26.974 22.1364 26.3112 22.1491 25.665 22.1496L25.6645 22.1337L21.3647 22.1328L21.3659 25.462C21.3659 25.462 23.668 25.4178 23.6298 25.4601C24.8925 25.4603 25.3036 26.1933 25.4231 26.8257L25.4238 32.6597C25.511 32.6602 25.6247 32.6638 25.7534 32.6814C25.6495 32.6815 25.5383 32.6809 25.424 32.6819L25.4239 40.8546C25.3685 41.252 25.135 41.8856 24.2528 41.8873C24.2926 41.9226 21.9866 41.887 21.9866 41.887L21.3675 45.6097L25.4245 45.609C26.1794 45.6098 26.9223 45.6225 27.6515 45.627L27.6533 50.8063L30.7673 50.8063L30.7667 45.6817C31.5968 45.6985 32.4269 45.7063 33.2571 45.7051L33.2562 50.8061L36.3736 50.8053L36.3741 45.6351C41.6151 45.3338 45.2833 44.0129 45.7383 39.0917C46.1058 35.1289 44.2414 33.361 41.2662 32.6471C43.0736 31.7268 44.2035 30.1052 43.939 27.4037ZM39.5785 38.4789C39.5805 42.3495 32.9525 41.9101 30.8397 41.9125L30.8399 35.0502C32.9532 35.0504 39.5783 34.4419 39.5785 38.4789ZM38.1277 28.7974C38.1271 32.3188 32.5993 31.9086 30.8394 31.9091L30.839 25.6853C32.599 25.6848 38.127 25.1244 38.1277 28.7974Z"
                                                        fill="#E3E3E3"
                                                    />
                                                </svg>
                                                <em>
                                                    {{ $t('dashboard.crypto_currency') }}
                                                </em>
                                            </span>
                                        </div>
                                        <div class="payment-panel-method" v-if="currency.length > 0">
                                            <ul  class="row">
                                                <li class="col-sm-6 " v-for="curr in currency" :key="curr.id">
                                                    <router-link :to="'/dashboard/finance/method/'+curr.code" class="curr-con">
                                                        <!-- <img :src="curr.image" width="100%" /> -->
                                                        <div class="curr-border" :style="{'background-image':'url('+curr.image+')'}">
                                                            
                                                        </div>
                                                    </router-link>
                                                </li>
                                                <!-- <li>
                                                    <router-link to="/dashboard/finance/method/usdt" class="btn-payment btn-type-transparent border-color-tether">
                                                        <label>
                                                            <div class="payment-item">
                                                                <span class="payment-item-img p-0">
                                                                    <img src="/assets/img/finance/icon/usdt.png" />
                                                                </span>
                                                            </div>
                                                        </label>
                                                    </router-link>
                                                </li>
                                                <li class="mt-3">
                                                    <a href="javascript:void(0)" class="btn-payment btn-type-transparent border-color-tether">
                                                        <label>
                                                            <div class="payment-item p-0">
                                                                <span class="payment-item-img p-0">
                                                                    <img src="/assets/img/finance/icon/fexx.png" />
                                                                </span>
                                                            </div>
                                                        </label>
                                                    </a>
                                                </li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Deposit',

    data() {
        return {
            currency:[],
        };
    },
    methods: {
        getAddress() {
            this.$store
                .dispatch('post', {
                    endpoint: '/payment/get-wikipay-address',
                    details: {},
                })
                .then((data) => {
                    console.log(data);
                })
                .catch((error) => {
                    console.log(error.request);
                });
        },

        getDepositCurrency(){
            this.$store.dispatch('get', '/get-deposit-currency')
            .then((data)=>{
                if(data.data.status){
                    this.currency = data.data.data
                    console.log(this.currency)
                }
            })
        },
    },
    created() {
        this.getDepositCurrency();
    },
};
</script>

<style lang="scss">
@media only screen and (min-width: 1200px) { 
    .pages-tabs {  
        &::after {
            left: 32px;
        }
    }
}
</style>
<style lang="scss" scoped>
#deposit {
    background-color: #04233f;
    margin-bottom: 6rem;
}
.payment-methods {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
}

.panel-ttile {
    padding: 20px;
    border-bottom: 1px solid #001426;

    p {
        text-align: left;
        font-weight: 600;
        margin-bottom: 0;
        color: #cfcfcf;
    }
}
.payment-method-body {
    padding: 30px 20px 0px;
}
.payment-panel-text {
    display: none;
}
.payment-tooltip {
    text-transform: lowercase;
}
.btn-payment {
    &:hover {
        text-decoration: none !important;
    }
}
.payment-panel-divider {
    overflow: hidden;

    span {
        width: 100%;
        max-width: 325px;
        text-transform: uppercase;
        text-align: center;
        margin: 0 auto 0px;
        font-size: 16px;
        position: relative;

        em {
            font-style: normal;
        }

        svg {
            width: 35px;
            margin-right: 12px;
        }

        &::before {
            left: -1015px;
        }

        &::after {
            right: -1015px;
        }
    }
}
.curr-con{
    border:1px solid #5789cf;
    display: block;
    margin-top: 15px;
    border-radius: 5px;
    padding: 0px 10px;
}
.curr-border{
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 70px;
} 

.border-color-tether {
    border-color: #21a27c;
}
.payment-panel-method {
    width: 100%;
    max-width: 325px;
    margin: 0 auto;

    ul {
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    li {
        label {
            display: block;
            height: 100%;
            min-height: 60px;
            margin-bottom: 0;
            border-radius: 4px;
            cursor: pointer;
            transition: 200ms ease;

            .payment-item {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                min-height: inherit;

                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 14px;
                    color: #ffffff;
                }

                img {
                    width: 120px;
                }

                .img-sm {
                    width: 30px;
                }
            }
        }
    }
}
.payment-info-slide {
    ul {
        margin-bottom: 0;
    }
    li {
        i {
            width: 20px;
            color: #009eff;
        }

        .deposit-info-val {
            color: #848585;
            font-size: 14px;
        }
    }
}
.payment-acheivement-status {
    display: none;
}
@media only screen and (min-width: 576px) {
    .payment-methods {
        padding-top: 3rem;
        padding-bottom: 5rem;
    }
    .payment-panel-method {
        width: 100%;

        ul {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }

        li {
            // width: 45%;

            label {
                .payment-item {
                    span {
                        padding: 12px;
                        padding-right: 0;

                        &:first-of-type {
                            width: 40%;
                            margin-right: 5px;
                        }

                        &:last-of-type {
                            line-height: 1;
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    }
    .payment-panel {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .payment-panel-text {
        display: inline-block;
        width: 35%;
        font-weight: 600;
        padding-bottom: 10px;
        border-bottom: 1px solid #dcdcdc;

        h5 {
            font-size: 14px;
        }
    }
    .payment-panel-inner {
        width: 55%;
    }
}
@media only screen and (min-width: 768px) {
    .payment-panel-method {
        li {
            label {
                .payment-item {
                    span {
                        &:first-of-type {
                            width: 25%;
                            margin-right: 8px;
                        }

                        &:last-of-type {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .payment-info-slide {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
@media only screen and (min-width: 992px) {
    .payment-methods {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
}
@media only screen and (min-width: 1200px) {
    .payment-panel-method {
        width: 100%;

        li {
            width: 45%;
            label {
                .payment-item {
                    span {
                        padding: 12px;
                        padding-right: 0;

                        &:first-of-type {
                            width: 100%;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }

    .payment-modes-extended {
        padding-left: 2rem;
    }

    .payment-methods {
        width: 100%;
        overflow: hidden;
    }

    .payment-acheivement-status {
        display: block;

        ul {
            .tooltip-wrap {
                display: none;
            }

            li {
                display: block;
                width: 100%;
                margin-bottom: 1rem;
                padding: 10px 20px;
                transition: 200ms ease;
                border-radius: 3px;

                &.stranger {
                    border: 1px solid #edeceb;
                    background: rgba(210, 209, 207, 0.1);

                    &.active {
                        box-shadow: 0 0 7px 1px rgba(216, 215, 213, 0.7);
                        background: rgba(210, 209, 207, 0.1);
                    }
                }

                &.newbie {
                    background: rgba(198, 38, 164, 0.1);
                    border: 1px solid rgba(198, 38, 104, 0.5);

                    &:hover {
                        background: rgba(198, 38, 164, 0.2);
                    }

                    &.active {
                        box-shadow: 0 0 7px 1px rgba(198, 38, 104, 0.5);
                        background: rgba(198, 38, 164, 0.2);
                    }
                }

                &.beginner {
                    border: 1px solid rgba(77, 144, 42, 0.5);
                    background: rgba(64, 113, 39, 0.1);

                    &:hover {
                        background: rgba(64, 113, 39, 0.2);
                    }

                    &.active {
                        border: 1px solid #4d902a;
                        box-shadow: 0 0 7px 1px #4d902a;
                        background: rgba(64, 113, 39, 0.1);
                    }
                }

                &.experienced {
                    border: 1px solid rgba(198, 193, 38, 0.5);
                    background: rgba(198, 193, 38, 0.1);

                    &:hover {
                        background: rgba(198, 193, 38, 0.2);
                    }

                    &.active {
                        border: 1px solid #c6c126;
                        box-shadow: 0 0 7px 1px #c6c126;
                        background: rgba(198, 193, 38, 0.1);
                    }
                }

                &.master {
                    border: 1px solid rgba(198, 134, 38, 0.5);
                    background: rgba(198, 119, 38, 0.1);

                    &:hover {
                        background: rgba(198, 119, 38, 0.2);
                    }

                    &.active {
                        border: 1px solid #c68626;
                        box-shadow: 0 0 7px 1px #c68626;
                        background: rgba(198, 119, 38, 0.1);
                    }
                }

                &.pro {
                    border: 1px solid rgba(129, 38, 198, 0.5);
                    background: rgba(122, 38, 198, 0.1);

                    &:hover {
                        background: rgba(122, 38, 198, 0.2);
                    }

                    &.active {
                        box-shadow: 0 0 7px 1px #8126c6;
                        border: 1px solid #8126c6;
                        background: rgba(122, 38, 198, 0.1);
                    }
                }

                &.guru {
                    border: 1px solid rgba(38, 102, 196, 0.5);
                    background: rgba(64, 113, 39, 0.1);

                    &:hover {
                        background: rgba(38, 95, 198, 0.2);
                    }

                    &.active {
                        border: 1px solid #2666c4;
                        border: 1px solid #2666c4;
                        background: rgba(38, 95, 198, 0.1);
                    }
                }
            }
        }
    }

    .payment-acheivement-title {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 1rem;

        .title {
            margin-right: 1.25rem;
            font-size: 16px;
            vertical-align: baseline;

            .tooltip-content {
                display: none;
            }
        }

        .title-compare {
            background-color: #333b4e;
            color: #fff;
            border-radius: 4px;
            font-size: 12px;
            padding: 8px 12px;
            transition: 0.3s, background-color 0.3s;
            border: 1px solid #333b4e;
            text-decoration: none !important;

            &:hover {
                background-color: #3d475d;
                border-color: #3d475d;
            }
        }
    }

    .payment-info-slide {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .payment-modes-secured {
        border-top: 1px solid #33373c;
        margin-top: 1rem;
        padding-top: 1rem;

        .secure-block {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: center;
        }

        a {
            display: inline-block;
            margin-right: 0.5rem;
            margin-bottom: 0.8rem;
            background-image: url('/assets/img/finance/icon/security.png');
        }

        .i-3d {
            background-position: 0 -51px;
            width: 108px;
            height: 51px;
        }

        .i-visa {
            background-position: -132px -52px;
            width: 88px;
            height: 37px;
        }

        .i-master-card {
            background-position: -113px -145px;
            width: 109px;
            height: 39px;
        }

        .i-ssl-encryption {
            background-position: 0 -104px;
            width: 116px;
            height: 39px;
        }

        .i-payment {
            background-position: 0 -145px;
            width: 111px;
            height: 39px;
        }

        .i-norton {
            background-position: -132px 0;
            width: 92px;
            height: 50px;
        }

        .i-finra {
            background-position: 0 0;
            width: 130px;
            height: 49px;
        }

        .i-fmrrc-en {
            width: 96px;
            height: 43px;
        }
    }
    .payment-method-body[data-v-2aece0ee] {
        padding-left: 4rem;
    }
    .panel-ttile p,
    .payment-panel-text h5 {
        font-size: 18px;
    }
    .panel-ttile {
        padding-left: 4rem;
        margin-bottom: 2rem;
        width: 200%;
    }
    .pages-tabs {
        &::after {
            left: 32px;
        }
    }
}
@media only screen and (min-width: 1350px) {
    .payment-methods {
        width: 80%;
    }
}
</style>
