<template>
	<div id="history">
		<div class="history-wrapper">
			<div class="history-container">
				<div class="history-dates">
					<div class="row">
						<div class="col-12 col-md-3">
							<div class="history-title">
								<h4>{{ $t('dashboard.history_title') }}</h4>
							</div>
						</div>
						<div class="col-12 col-md-9">
							<div class="history-controller-items">
								<li>
									<a class="btn">{{ $t('dashboard.deposits') }}</a>
								</li>
								<li>
									<a class="btn">{{ $t('dashboard.withdrawals') }}</a>
								</li>
								<form>
									<div class="form-group">
										<input type="date" placeholder="" />
									</div>
									<button type="submit">{{ $t('dashboard.applyy') }}</button>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="history-table">
					<div class="history-panel">
						<div id="trading-history" class="panel-body">
							<table class="table">
								<thead>
									<tr>
										<th class="order"></th>
                                        <th class="method"> Reference </th>
										<th class="amount">{{ $t('dashboard.amount') }}</th>
										<th class="status">{{ $t('dashboard.status') }}</th>
                                        <th class="option-time">{{ $t('dashboard.date') }}</th>
									</tr>
								</thead>
								<tbody>
									<tr v-for="(history, index) in history" :key="index">
                                        <td > {{history.id}} </td>
										<td> {{history.reference}} </td>
										<td> {{history.amount}} </td>
										<td>
                                            <span v-if="history.rejected_at == null && history.accepted_at == null">Pending</span>
                                            <span v-else-if="history.accepted_at !== null">Accepted</span>
                                            <span v-else>Rejected</span>
                                        </td>
                                        <td> {{history.created_at}} </td>
									</tr>
								</tbody>
								<!-- <tbody v-else>
									<tr>
										<td colspan="8">{{ $t('dashboard.nothing_found') }}</td>
									</tr>
								</tbody> -->
							</table>
							<div class="pull-right">
								<ul class="pagination mt-0 mb-4"></ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	export default {
		name: 'history',
        data(){
            return{
                historyData: false,
                history:[],
            }
        },
        methods:{
            getHistory(){
                this.$store.dispatch('get', '/payment/get-history')
                .then((data) => {
                    if(data.data.status){
                        this.history = data.data.data;
                        console.log(this.history);
                    }
                })
                .catch((error) => {
                    console.log(error);
                })
            }
        },
        created(){
            this.getHistory();
        }
	};
</script>

<style lang="scss" scoped>
	#history {
		background-color: transparent;
		margin-bottom: 2rem;
	}
	#history_date_input {
		background: #162032;
		border: 1px solid #44506a;
		border-color: #44506a !important;
		cursor: pointer;
		padding: 5px 10px;
		line-height: 20px;
	}
	.history-title {
		h4 {
			font-size: 16px;
			line-height: 22px;
			color: #e3e3e3;
			margin-bottom: 10px;
			text-transform: uppercase;
		}
	}
	.history-dates {
		padding: 15px;
		background-color: #13162800;

		button {
			outline: none;
			border: none;
			box-shadow: none !important;
			width: 80px;
			background-color: #049cb1;
			border: none !important;
			color: #fff;
			padding: 5px 20px;
			border-radius: 4px;
			font-size: 12px;
			margin-top: 1rem;
			cursor: pointer;
			transition: color 0.3s, background-color 0.3s;
			border-width: 1px;
			border-style: solid;
			text-transform: uppercase;

			&:hover {
				background-color: #3d475d;
				border-color: #3d475d;
				color: #d8d8d8;
			}
		}
	}
	.history-table {
		margin-top: 1.5rem;
		background-color: #13162800;
	}
	.panel-head {
		width: 100%;
		background-color: #20273f;
		color: #7e91a7;
		padding: 10px 15px;
		padding: 10px 15px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;

		h4 {
			line-height: 20px;
			font-size: 14px;
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	.panel-body {
		padding: 10px 15px;

		ul {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			padding-top: 1rem;

			.btn {
				background-color: #202537;
				color: #fff;
				border: 1px solid #293145;
				border-radius: 4px;
				cursor: pointer;
				transition: color 300ms;
				margin-right: 15px;

				&:hover {
					color: #d8d8d8;
					background-color: #293145;
				}
			}
		}

		.table {
			thead {
				display: none;
			}

			td {
				border-top: none;
			}
		}

		tbody {
			padding: 10px;

			tr {
				display: flex;
				flex-direction: column;
				border-bottom: 1px solid #8fa5bf;
			}
		}

		table tr {
			color: #fff;
		}

		table tr > td {
			font-size: 12px;
		}
	}
	.history-controller-items {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		li {
			margin-bottom: 1rem;
			a {
				background: rgba(161, 227, 162, 0.1);
				border-radius: 5px;
				font-size: 12px;
				cursor: pointer;
			}
		}
		form {
			flex: 2;
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;

			.form-group {
				margin-bottom: 0;
				width: 80%;
				margin-right: 5px;

				input {
					width: 100%;
					outline: none;
					box-shadow: none;
					background: #04233f;
					border: 1px solid #5789cf;
					box-sizing: border-box;
					border-radius: 5px;
					color: #ffffff;
					padding: 2px 10px;
				}
			}

			button {
				margin-top: 0;
				width: 80px;
			}
		}
	}
	@media only screen and (min-width: 576px) {
		#history {
			padding: 1.5rem;
		}
		.history-controller-items {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: flex-start;

			li {
				margin-bottom: 0;
				margin-right: 1rem;
			}

			form {
				.form-group {
					margin-right: 1rem;
				}
			}
		}
	}
	@media only screen and (min-width: 768px) {
		.panel-body {
			.table {
				thead {
					display: table-row-group;
					width: 100%;
					color: #049cb1;
					background: #049db138;
				}

				tr {
					width: 100%;
				}
			}

			table thead {
				border: none;

				tr {
					border: none !important;
					width: 100%;
					color: #8fa5bf;
				}
			}

			.table thead tr {
				display: table-row;
				width: 100%;
			}

			.table thead th {
				vertical-align: bottom;
				border-bottom: 1px solid #8fa5bf;
				color: #049cb1;
				font-weight: bolder;
			}

			.table th {
				border-top: none;
				font-size: 12px;
				font-weight: lighter;
			}

			tbody {
				tr {
					display: table-row;
					// flex-direction: column;
					border-bottom: none;
				}
			}

			table tr > td {
				background-color: transparent;
				margin-top: 10px;
			}
		}
		#history {
			padding: 1rem;
		}
	}
	@media only screen and (min-width: 1200px) {
		.history-dates {
			padding-top: 0;
		}
	}
</style>
