<template>
    <div id="finance_layout">
        <div class="page-navs-tabs">
            <div class="container-fluid px-0">
                <div class="row px-0">
                    <div class="col-12">
                        <!-- TOP TABS LG -->
                        <div id="finance-nav" class="finance-top-tabs-lg">
                            <ul class="top-tabs-list mt-2">
                                <li class="top-tabs-items">
                                    <router-link to="/dashboard/finance/deposit" class="top-tabs-link">{{ $t('dashboard.deposit') }}</router-link>
                                </li>
                                <li class="top-tabs-items">
                                    <router-link to="/dashboard/finance/withdrawal" class="top-tabs-link">{{ $t('dashboard.withdrawal') }}</router-link>
                                </li>
                                <!-- <li class="top-tabs-items">
                                    <router-link to="/dashboard/finance/history" class="top-tabs-link">{{ $t('dashboard.history') }}</router-link>
                                </li>
                                <li class="top-tabs-items">
                                    <router-link to="/dashboard/finance/cashback" class="top-tabs-link">{{ $t('dashboard.cashback') }}</router-link>
                                </li>
                                <li class="top-tabs-items">
                                    <router-link to="/dashboard/finance/promocodes" class="top-tabs-link">{{ $t('dashboard.promo_codes') }}</router-link>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- FINANCE PAGE VIEW -->
        <div class="pages-tabs">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Finance',
    data() {
        return {
            publicPath: process.env.BASE_URL,
            active_route: '',
        };
    },
};
</script>

<style lang="scss">
.btn-type-backgroud {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background: #005098;
    border: 1px solid #cccccc;
    color: #cfcfcf;
    box-sizing: border-box;
    border-radius: 5px;
    font-weight: normal;
    outline: none;
    box-shadow: none;
}
.btn-type-transparent {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid;
    height: 60px;
    span {
        padding: 0;
    }
}
@media only screen and (min-width: 1200px) {
    .btn-type-transparent {
        padding: 35px 20px;
    }
    .pages-tabs {
        // background: #04233f;
        position: relative;
        max-width: 1200px;
    }
}
</style>
<style lang="scss" scoped>
#finance_layout {
    background: #001426;
    width: 100%;
    height: 100%;
    font-family: Campton;
    padding-left: 10px;
    padding-right: 10px;
}
.pages-tabs {
    background: #04233f;
    position: relative;

    &:nth-child(1) {
        background: inherit !important;
    }
}
.page-navs-tabs {
    width: 100%;
    height: fit-content;
    background: transparent;
    margin-bottom: 1.5rem;
}
.clear-fix {
    clear: right;
}
 .finance-top-tabs-lg {
        display: block;

        .top-tabs-list {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 0;

            .top-tabs-items {
                margin-right: 1rem;
            }

            .top-tabs-link {
                display: block;
                background-color: transparent;
                color: #ffffff;
                transition: 0.3s ease;
                padding: 12px 18px;
                font-size: 12px;
                font-weight: 600;
                font-family: Campton;
                text-transform: uppercase;
                border-radius: 5px;

                &.router-link-exact-active {
                    color: #ffffff;
                    background-color: #334351;
                    text-decoration: none !important;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        bottom: -56px;
                        left: 50%;
                        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                        width: 84px;
                        position: absolute;
                        height: 50px;
                        transform: translate(-50%, 0);
                        background: #04233f;
                    }
                }

                &:hover {
                    color: #ffffff;
                    background-color: #334351;
                    text-decoration: none !important;
                }
            }
        }
    }
.finance-top-tabs-sm {
    background: #04233f;
    width: 100%;
    height: max-content;
    padding: 6px;
    position: fixed;
    left: 0;
    bottom: 0;
    opacity: 1;
    transition: opacity 200ms;
    z-index: 5;

    ul {
        margin-bottom: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    li {
        margin-right: 5px;

        &:last-of-type {
            margin-right: 0;
        }

        a {
            display: inline-block;
            background-color: #001426;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 34px;
            min-width: 68px;
            padding: 3px;

            &.router-link-exact-active {
                background: #2e364c;
            }

            svg {
                fill: #8ea5c0;
                width: 22px;
                margin: 0 auto;
            }
        }
    }
}
@media only screen and (min-width: 576px) {
    .finance-top-tabs-sm {
        width: 100%;
        max-width: 274px;

        li {
            a {
                height: 34px;
                min-width: 48px;

                svg {
                    width: 28px;
                }
            }
        }
    }
}
@media only screen and (min-width: 1200px) {
    .finance-top-tabs-sm {
        display: none;
    }

    #finance_layout {
        padding: 1rem 2rem;
    }
}
</style>