<template>
    <div id="withdrawal">
        <div class="widthdrawal-form-wrapper">
            <form>
                <!-- <h3 class="">{{ $t('dashboard.withdrawal') }}</h3> -->
                <div class="row">
                    <div class="col-12 col-md-6 mb-md-4">
                        <div class="form-group">
                            <label class="col-md-12 px-0">{{ $t('dashboard.free_balance') }}</label>
                            <div class="col-md-3 px-0">
                                <div class="balance-block">
                                    <span class="balance"> ${{user.wallet.amount}}</span>
                                    <!-- {{ $t('dashboard.USD') }} -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mb-md-4">
                        <div class="form-group">
                            <label class="col-md-12 px-0">{{ $t('dashboard.withdrawal_amount') }}:</label>
                            <div class="col-md-12 px-0">
                                <div class="balance-block">
                                    <div class="wallet-frm">
                                        <h5 v-if="user.hasActiveWithdrawal !== null" class="w-req">Processing Withdrawal Request made on {{user.hasActiveWithdrawal.created_at}} </h5>
                                        <form v-else action="" class="form" @submit.prevent="makeWithdrawalRequest()">
                                            <div class="form-group">
                                                <input type="number" class="form-control" min="0" :max="user.wallet.amount" v-model="withdrawalRequest.amount">
                                            </div>
                                            <button type="submit" class="btn btn-primary">{{$t('dashboard.submit_address')}}</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <p>{{$t('dashboard.withdrawal_txt')}}</p>
                            <label class="col-md-12 px-0">{{ $t('dashboard.commission') }}</label>
                            <div class="col-md-12 px-0">
                                <div class="balance-block">
                                    <div class="wallet-frm">
                                        <form action="" class="form" @submit.prevent="uploadWalletAddress()">
                                            <div class="form-group">
                                                <input type="text" class="form-control" v-model="address.walletAddress" name="walletAddress">
                                            </div>
                                            <button type="submit" class="btn btn-primary">
                                                <span v-if="!loading">{{$t('dashboard.submit_wallet_id')}}</span>
                                                <span v-else>Loading</span>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <div class="message-withdrawal">{{ $t('dashboard.message_withdrawal_text1') }} <br />{{ $t('dashboard.message_withdrawal_text2') }}</div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
import {mapState} from 'vuex';
export default {
    name: 'Withdrawal',
    computed: {
        ...mapState({
            user:(context)=>context.user,
            token:(context)=>context.token
        }),
    },
    data() {
        return {
            address: {
                walletAddress: ""
            },
            withdrawalRequest:{
                amount: 0
            },
            loading:false
        };
    },
    methods: {
        uploadWalletAddress(){
            if(this.address.walletAddress.length == 0){
                this.$store.commit('setNotification', {type:2, msg:"Please fill in your Wallet Address"});
                return false;
            }
            this.loading =true;
            this.$store.dispatch('post', {
                endpoint: '/payment/upload-wallet-address',
                details: this.address
            }).then((data) => {
                if(data.data.status){
                    var local_user = {
                        user: data.data.data,
                        token: this.token,
                    };
                    this.$store.commit('setUser', local_user);
                    this.$store.commit('setNotification', {
                        type: 1,
                        msg: 'Wallet Address uploaded successfully',
                        unset: true,
                    });
                }
                else {
                    this.$store.commit('setNotification', {
                        type: 2,
                        msg: data.data.msg,
                    });
                }
                this.loading = false;
            })
            .catch((error) => {
                console.log(error);
                this.loading = false;
            });
        },
        makeWithdrawalRequest(){
            if(this.withdrawalRequest.amount.length == 0){
                this.$store.commit('setNotification', {type:2, msg:"Please fill in an amount"});
                return false;
            }
            this.loading =true;
            this.$store.dispatch('post', {
                endpoint: '/payment/make-withdrawal-request',
                details: this.withdrawalRequest
            }).then((data) => {
                console.log(data.data)
                if(data.data.status){
                    var local_user = {
                        user: data.data.data,
                        token: this.token,
                    };
                    this.$store.commit('setUser', local_user);
                    this.$store.commit('setNotification', {
                        type: 1,
                        msg: 'Request sent successfully',
                        unset: true,
                    });
                }
                else {
                    this.$store.commit('setNotification', {
                        type: 2,
                        msg: data.data.msg,
                    });
                }
                this.loading = false;
            })
            .catch((error) => {
                console.log(error);
                this.loading = false;
            });
        }
    },
    created(){
        this.address.walletAddress = this.user.wallet.address;
    }
};
</script>

<style lang="scss" scoped>
#withdrawal {
    background-color: #04233f;
    padding-top: 1rem;
    padding-bottom: 3rem;
    margin-bottom: 1rem;
}
.wallet-frm{
    .w-req{
        border: 1px dashed #049cb1;
        font-size: 14px;
        height: 60px;
        text-align: center;
        padding: 17px 0px;
        margin-top: 15px;
    }
    .form{
        padding-left: 0;
    }
    .form-group{
        margin-bottom: 0px;
        .form-control{
            background-color: transparent;
            border: 1px solid #406fac;
            border-radius: 7px;
            height: calc(1.5em + 0.75rem + 4px);
            color: #b9b9e4;
            font-size: 14px;
        }
    }

    .btn{
        background: #049cb1;
        border: #049cb1;
        color: white;
        font-size: 13px;
        width: 150px;
        height: 41px;
        border-radius: 6px;
        margin: 10px 0px;
    }
}
.widthdrawal-form-wrapper {
    form {
        width: 100%;
        height: fit-content;
        padding: 15px;

        h3 {
            font-size: 15px;
            margin-bottom: 2rem;
        }

        .form-group {
            font-weight: bolder;

            label {
                font-size: 12px;
                color: #e3e3e3;
                margin-bottom: 0;
                font-weight: normal;
            }

            .balance-block {
                font-size: 22px;
                color: #ccbbed;
            }
        }

        .message-withdrawal {
            font-weight: lighter;
            background: rgba(40, 57, 98, 0.15);
            border: 1px dashed #283962;
            margin-left: 1px;
            margin-right: 0px;
            padding: 15px;
            color: #d7c8c8;

            &::before {
                opacity: 0;
            }
        }
    }
}
@media only screen and (min-width: 576px) {
    .widthdrawal-form-wrapper {
        form {
            .message-withdrawal {
                padding: 15px;
                padding-left: 45px;
                position: relative;

                &::before {
                    content: '\';
                    display: inline-block;
                    font: normal normal normal 14px fontawesome;
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    position: absolute;
                    left: 15px;
                    top: 50%;
                    margin-top: -10px;
                    font-size: 20px;
                }
            }
        }
    }
}
@media only screen and (min-width: 768px) {
    #withdrawal {
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .widthdrawal-form-wrapper {
        form {
            .form-group {
                label {
                    font-size: 14px;
                }
                .balance-block {
                    font-size: 32px;
                }
            }
        }
    }
}
@media only screen and (min-width: 992px) {
    .widthdrawal-form-wrapper {
        form {
            .form-group {
                label {
                    font-size: 14px;
                }
                .balance-block {
                    font-size: 45px;
                }
            }
        }
    }
}
</style>