@font-face {
    font-family: 'Campton';
    font-style: normal;
    font-weight: 950;
    font-display: swap;
    src: url(CamptonBlack.otf);
}
@font-face {
    font-family: 'Campton';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(CamptonExtraBold.otf);
}

@font-face {
    font-family: 'Campton';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(CamptonSemiBold.otf);
}
@font-face {
    font-family: 'Campton';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(CamptonMedium.otf);
}
@font-face {
    font-family: 'Campton';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(CamptonBook.otf);
}
@font-face {
    font-family: 'Campton';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(CamptonLight.otf);
}
@font-face {
    font-family: 'Campton';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(CamptonExtraLight.otf);
}
@font-face {
    font-family: 'Campton';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(CamptonThin.otf);
}