<template>
    <div class="trading h-100 w-100">
        <div class="trades d-flex justify-content-between h-100">
            <div class="trade-chart h-100">
                <router-view></router-view>
            </div>
            <!-- <div class="trade-sidebar">
                <aside>
                    <ul class="">
                        <li data-toggle="tooltip" title="Select a trading type for your demo or live account!" data-placement="right">
                            <a class="trade-tooltip" data-toggle="collapse" data-target="#history">
                                <i class="fa fa-history"></i>
                                <p class="side-label">{{$t('dashboard.Trades')}}</p>
                            </a>
                        </li>
                        <li data-toggle="tooltip" title="Select a trading type for your demo or live account!" data-placement="right">
                            <a class="trade-tooltip" data-toggle="collapse" data-target="#signals">
                                <i class="fa fa-heartbeat"></i>
                                <p class="side-label">{{$t('dashboard.Signals')}}</p>
                            </a>
                        </li>
                        <li data-toggle="tooltip" title="Select a trading type for your demo or live account!" data-placement="right">
                            <a class="trade-tooltip">
                                <i class="fas fa-users"></i>
                                <p class="side-label">{{$t('dashboard.Social_Trading')}}</p>
                            </a>
                        </li>
                        <li data-toggle="tooltip" title="Select a trading type for your demo or live account!" data-placement="right">
                            <a class="trade-tooltip">
                                <i class="fas fa-bullseye"></i>
                                <p class="side-label">{{$t('dashboard.Express_Trades')}}</p>
                            </a>
                        </li>
                        <li data-toggle="tooltip" title="Select a trading type for your demo or live account!" data-placement="right">
                            <a class="trade-tooltip tm-title">
                                <i class="fas fa-long-arrow-alt-right"></i>
                            </a>
                        </li>
                    </ul>
                    <div id="history" class="collapse">
                        <div class="main-tab-content">
                            <div class="tab-title his-title d-flex align-items-center">
                                <a href=""><i class="fa fa-list"></i></a>
                                <p>{{$t('dashboard.Trades')}}</p>
                            </div>
                            <div class="his-tabs">
                                <ul class="nav nav-pills d-flex">
                                    <li><a data-toggle="pill" class="active" href="#open-trade">{{$t('dashboard.Opened')}}</a></li>
                                    <li><a data-toggle="pill" href="#close-trade">{{$t('dashboard.Closed')}}</a></li>
                                </ul>
                                <div class="tab-content trade-status">
                                    <div id="open-trade" class="tab-pane fade in active show">
                                        <p class="text-center">{{$t('dashboard.No_placed_trades')}}</p>
                                    </div>
                                    <div id="close-trade" class="tab-pane fade">
                                        <p class="text-center">{{$t('dashboard.No_closed_trades')}}</p>
                                        <p class="text-center"> <a href="">{{$t('dashboard.View_history_of_demo_trades')}}</a> </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="signals" class="collapse">
                        <div class="main-tab-content">
                            <div class="tab-title signal-title d-flex justify-content-between align-items-center">
                                <div class="dropdown">
                                    <button class="dropdown-toggle sig-dp-btn" type="button" data-toggle="dropdown">H1
                                    <span class="caret"></span></button>
                                    <ul class="dropdown-menu">
                                        <div class="row mx-0">
                                            <div class="col-4 dp-item">
                                                <a href="#">M1</a>
                                            </div>
                                            <div class="col-4 dp-item">
                                                <a href="#">M2</a>
                                            </div>
                                            <div class="col-4 dp-item">
                                                <a href="#">M3</a>
                                            </div>
                                            <div class="col-4 dp-item">
                                                <a href="#">M1</a>
                                            </div>
                                            <div class="col-4 dp-item">
                                                <a href="#">M2</a>
                                            </div>
                                            <div class="col-4 dp-item">
                                                <a href="#">M3</a>
                                            </div>
                                            <div class="col-4 dp-item">
                                                <a href="#">M1</a>
                                            </div>
                                            <div class="col-4 dp-item">
                                                <a href="#">M2</a>
                                            </div>
                                            <div class="col-4 dp-item">
                                                <a href="#">M3</a>
                                            </div>
                                        </div>
                                        
                                    </ul>
                                </div>
                                <p>{{$t('dashboard.Trades')}}</p>
                                <div class="d-flex">
                                    <a href="" class="quest mr-2"><i class="bx bxs-help-circle"></i></a>
                                    <a href=""><i class="fa fa-cog"></i></a>
                                </div>
                            </div>
                            <div class="signal-body">
                                <p class="g-tele"><a href="" class="telegram"><i class="fab fa-telegram" aria-hidden="true"></i> <span>Telegram Bot</span><sup>beta</sup></a></p>
                                <p class="cry text-center">{{$t('dashboard.Currencies')}}</p>
                                <div class="sig-trades">
                                    <a href="" class="sig-tra-price">
                                        <p>AUD/CAD OTC</p>
                                        <i class="bx bx-sort"></i>
                                    </a>
                                    <a href="" class="sig-tra-price">
                                        <p>AUD/CAD OTC</p>
                                        <i class="bx bx-sort"></i>
                                    </a>
                                    <a href="" class="sig-tra-price">
                                        <p>AUD/CAD OTC</p>
                                        <i class="bx bx-sort"></i>
                                    </a>
                                    <a href="" class="sig-tra-price">
                                        <p>AUD/CAD OTC</p>
                                        <i class="bx bx-sort"></i>
                                    </a>
                                    <a href="" class="sig-tra-price">
                                        <p>AUD/CAD OTC</p>
                                        <i class="bx bx-sort"></i>
                                    </a>
                                    <a href="" class="sig-tra-price">
                                        <p>AUD/CAD OTC</p>
                                        <i class="bx bx-sort"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </aside>
            </div> -->
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
    
}
</script>
<style scoped>
    
    .sig-tra-price p{
        font-size: 14px;
    }
    .sig-tra-price{
        padding: 10px 10px !important;
        display: flex;
        justify-content: space-between;
        background-color: #2e354a;
    }
    .sig-tra-price:nth-of-type(even){
        background-color: transparent;
    }
    .cry{
        margin: 6px;
        color: #8ea5c0;
    }
    .g-tele{
        background-color: #292f44;
    }
    .telegram{
        border-radius: 6px;
        border: 1px solid #8ea5c0;
        margin:7px 30px ;
    }
    .telegram span{
        color: white;
        font-size: 15px;
    }
    .telegram sup{
        color: red;
    }
    .sig-dp-btn:focus{
        outline: none;
    }
    .sig-dp-btn{
        border: none;
        background-color: transparent;
        color: #849ab4;
    }
    .signal-title .dropdown ul{
        min-width: 17.3rem;
        background-color: #30374d;
    }
    .signal-title .dropdown-menu{
        left: -8px !important;
        border-radius: 0 !important;
    }
    .signal-title .dropdown-menu .dp-item a:hover{
        background-color: #364059;
    }
    .signal-title .dropdown-menu .dp-item a{
        display: block;
        background-color: #293145;
        padding: 7px 15px;
        margin-top: 9px;
        border-radius: 4px;
    }
    .quest i{
        font-size: 18px;
    }
    .signal-title a i{
        font-size: 16px;
    }
    #close-trade a{
        color: white;
        background-color: #333b4e;;
        padding: 10px;
        font-size: 14px;
        border-radius: 5px;
        display: inline;
    }
    .trade-status p{
        font-size: 14.5px;
        padding: 20px 0;
    }
    #history .tab-title a:hover{
        background-color: transparent;
    }
    .tab-content{
        overflow-y: hidden;
    }
    .his-tabs li a:hover{
        background-color: transparent;
    }
    .his-tabs ul{
        background-color: #333744;
    }
    .his-tabs ul li{
        width: 50%;
    }
    .his-tabs li a.active{
        border-bottom: 1px solid red;
        color: white !important;
    }
    .his-tabs a{
        padding: 4px;
    }
    .his-tabs ul li a{
        display: block;
        text-align: center;
    }
    .tab-title{
        background-color: #2f3d4f;
        padding: 0 8px;
    }
    .his-title a i{
        font-size: 20px;
    }
    .his-title p{
        font-size: 14px;
        width: 100%;
        text-align: center;
    }
    .main-tab-content{
        /* border: 1px solid yellow; */
        background-color: #1b1e2f;
        position: absolute;
        top: 0;
        right: 85px;
        min-width: 20em;
        color: white;
        min-height: 100vh;
        overflow-y: scroll;
    }
    ::-webkit-scrollbar {
        width: 4px;
    }
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    ::-webkit-scrollbar-thumb {
        background: #888;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    .trade-chart{
        width: 100%;
    }
    .trade-sidebar{
        background-color: #181d2b;
        min-height: 100vh;
    }
    .rm-padding {
        padding: 14px;
        transition: ease .25s;
    }
    .remove-p {
        display: none;
        transition: ease .5s;
    }
    aside p{
        font-size: 12px;
        line-height: 1;
        margin: 0;
        padding:1px 3px;
    }
    aside i{
        font-size:16px;
    }
    aside a{
        text-align: center;
        font-size: 13px;
        display: block;
        color: #8fa5bf !important;
        padding: 10px 0;
        cursor: pointer;
    }
    aside a:hover{
        color: white !important;
        transition: ease-out 0.3s;
        background-color: #464a58;
        text-decoration: none;
    }
    @media (max-width: 1199px) {
        .trade-sidebar{
            display: none !important;
        }
    }
</style>