<template>
    <div id="calculator" class="collapse">
        <div class="cal-con-col">
            <div class="cal-header d-flex justify-content-between align-items-center">
                <div class="cal-display">
                    <div><input type="number" v-model="current" class="amount" :max="max_investment_possible"></div>
                </div>
                <div class="cal-coeff">
                    <p class="m-0">{{$t('dashboard.coefficient')}}</p>
                    <div class="cal-sign">
                        <span class="cal-coe-text">{{coefficient}}</span>
                        <span @click="operate('/')"><i class="fa fa-divide"></i></span>
                        <span @click="operate('*')"><i class="fa fa-times"></i></span>
                    </div>
                </div>
            </div>
            <div class="row mx-0 cal-body">
                <div class="col-6 px-0 cal-digit">
                    <div class="row-cd cal-bd">
                        <button @click="append('7')" class="calcOperator cal-br">7</button>
                        <button @click="append('8')" class="calcOperator cal-br">8</button>
                        <button @click="append('9')" class="calcOperator">9</button>
                    </div>
                    <div class="row-cd cal-bd">
                        <button @click="append('4')" class="calcOperator cal-br">4</button>
                        <button @click="append('5')" class="calcOperator cal-br">5</button>
                        <button @click="append('6')" class="calcOperator">6</button>
                    </div>
                    <div class="row-cd cal-bd">
                        <button @click="append('1')" class="calcOperator cal-br">1</button>
                        <button @click="append('2')" class="calcOperator cal-br">2</button>
                        <button @click="append('3')" class="calcOperator">3</button>
                    </div>
                    <div class="row-cd">
                        <button @click="append('.')" class="calcOperator cal-br">.</button>
                        <button @click="append('0')" class="calcOperator cal-br">0</button>
                        <button @click="clear()" class="calcOperator">C</button>
                    </div>
                </div>
                <div class="col-6 pl-3 pr-2 cal-avail">
                    <a @click="selectAmount('100')" class="demoNumb">$100</a>
                    <a @click="selectAmount('500')" class="demoNumb">$500</a>
                    <a @click="selectAmount('900')" class="demoNumb">$900</a>
                    <a @click="selectAmount('1500')" class="demoNumb">$1500</a>
                    <a @click="selectAmount('2000')" class="demoNumb">$2000</a>
                    <div class="cal-avail-bal">
                        <div class="cal-ab-txt">
                            <h6>{{$t('dashboard.available_balance')}}</h6>
                        </div>
                        <h5 class="mb-0"><Money :amount="user[account_type].amount" /></h5>
                        <small v-if="account_type =='demo_wallet'" class="text-danger">{{$t('dashboard.demo')}}</small>
                        <small v-else class="text-success">Live</small>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a data-toggle="collapse" href="#calculator" class="close-calculator" >{{$t('dashboard.close')}}</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import { mapState } from 'vuex';

export default {
    data(){
        return {
            current:0,
            coefficient:2,
            calculator_controller:false
        }
    },
    computed:{
        ...mapState({
            user:(state)=> state.user,
            capital:(state)=> state.investment_amount,
            account_type:(state)=> state.active_account_type,
            max_investment_possible :(state)=> state.max_investment_possible
        })
    },
    watch:{
        capital:function(newValue,oldValue){
            this.current=newValue; 
        },
        current:function(n,o){
            if(n > this.max_investment_possible){
                this.current = this.max_investment_possible;
            }
            this.checkAccountBalance();
        }
    },
    methods: { 
        toggleCalculator(){
            this.calculator_controller = !this.calculator_controller;
        },
        operate(operation){
            
            switch(operation){
                case '*':
                    this.current *= this.coefficient;
                    break;
                case '/':
                    this.current = this.current / this.coefficient;
                    break;
                default:
                    break;
            }

            this.checkAccountBalance();
        },
        clear(){
            var temp=this.current.toString();
            temp = temp.split("")
            temp.pop();
            temp = temp.length == 0 ? 10:parseFloat(temp.join(''));
            temp = temp > this.max_investment_possible ? this.max_investment_possible : temp;
            this.current = temp;
            this.checkAccountBalance();
        },
        append(number){
            this.current = `${this.current}${number}`;
            this.current = parseFloat(this.current); 
            this.checkAccountBalance();
        },
        selectAmount(amount){
            if(amount > this.max_investment_possible) return false;
            this.current = amount;
            this.checkAccountBalance(); 
        },
        checkAccountBalance(){
            if(this.current > this.user[this.account_type].amount){
                this.current=this.user[this.account_type].amount;
            }
            this.$store.state.investment_amount=parseFloat(this.current).toString();
        }
    },
    created(){ 
        this.current=this.capital;
    }
}
</script>

<style scoped lang="scss">
    .close-calculator{
        padding: 9px 0px;
        display: block;
        text-align: center;
        background: #10457336;
        margin-top: 10px;
        border: 1px solid #104573;
        text-decoration: none;
    }
    input.amount{
        background: #01294b;
        border: none;
        color: white;
        padding: 4px 10px;
        font-size: 16px;
        border-radius: 4px;
    }
    #calculator.show::after{
        content: '';
        position: absolute;
        height: 28px;
        width: 15px;
        top: 22px;
        right: -14px;
        z-index: 0;
        background: #001F3A;
        clip-path: polygon(100% 50%, 0 0, 0 100%);
    }
    #calculator{
        position: absolute;
        top: 0;
        right: 211px;
        border-radius: 10px;
        width: 25em;
        background-color: #001F3A;
        padding: 10px ;
        .cal-header{
            padding: 15px 9px;
            background-color: #104573;
            border-radius: 7px;
            .cal-display{
                span{
                    font-weight: 600;
                    font-size: 19px;
                }
            }
            .cal-coeff{
                color: #DEDBDB;

                p{
                    font-size: 10px;
                    font-weight: 600;
                }
                .cal-sign{
                    .cal-coe-text{
                        font-size: 15px;
                        font-weight: 700;
                    }
                    span{
                        /*border: 1px solid yellow;*/
                        background-color: #001F3A;
                        font-size: 13px;
                        padding: 3px 7px;
                        margin-right: 5px;
                        border-radius: 5px;
                    }
                }
            }
        }
        .cal-body{
            margin-top: 20px;
            .cal-digit{
                background-color: #01294D;
                color: #C5B9EE;
                border-radius: 10px;
                .cal-bd{
                    border-bottom: 1px solid #ccbbed2b;
                }
                .row-cd{
                    display: flex;
                    .cal-br{
                        border-right: 1px solid #ccbbed2b;
                    }
                }
                .calcOperator{
                    /*padding: 6px 20px;*/
                    width: 33.333%;
                    height: 58px;
                    border: none;
                    background-color: transparent;
                    color: #C5B9EE;
                    font-weight: 700;
                    font-size: 21px;
                }
            }
            .cal-avail{
                .demoNumb{
                    display: block;
                    padding: 2px 0;
                    border-top: 1px solid #ccbbed2b;
                    font-weight: 600;
                }
                .demoNumb:hover{
                    cursor: pointer;
                    background: #ccbbed2b;
                }
                .cal-avail-bal{
                    padding-top: 10px;
                    border-top: 1px solid #ccbbed2b;
                    .cal-ab-txt{

                    }
                    h6{
                        font-size: 13px;
                    }
                    h5{
                        border-top: 1px solid #ccbbed2b;
                        padding-top: 10px;
                        color: #CCBBED;
                        font-weight: 600;
                        font-size: 21px;
                    }
                    .text-danger{
                        border: 1px solid #FF7878;
                        padding: 2px 10px;
                        background-color: #280000;
                        color: #FFA1A1;
                        border-radius: 5px;
                        font-size: 12px;
                        &:hover{
                            text-decoration: none;
                        }
                    }
                    .text-success{
                        padding: 2px 10px;
                        background-color: lightgreen;
                        color: #FFF;
                        border-radius: 5px;
                        font-size: 12px
                    }
                }
            }
        }
    }
    @media(max-width:768px){
        #calculator{
            bottom: 80px;
            right: -50px;
            top: auto;
        }
         #calculator.show::after{
             display: none;
         }
    }
</style>