<template>
  <div class="trading-purchase-time">
    <div class="trd-purchase-title">
        <a href="javascript:void(0)" @click="toggleTimer()">
          <i class="far fa-clock"></i>
        </a>
      <span>{{$t('dashboard.purchase_time')}}</span>
    </div>
    <div class="trd-purchase-time-wrapper">
      <div class="trd-purchase-time-box">
        <div class="trd-purchase-time-value"> 
          <a style="text-decoration:none" href="javascript:void(0)" @click="toggleTimer()">
            {{formatSecondsToMin(selected_trade_time)}}
          </a>
        </div>
        <div class="trd purchase-time-count value">00:{{ time_left }}</div>
      </div>
    </div>
    <div v-if="showTimer">
      <Timer />
    </div>
  </div>
</template>
<script>
import {mapState} from 'vuex';
import Timer from './timer-modal';

export default {
  data() {
    return { 
    };
  },
  computed: {
    ...mapState({
      user: (state) => state.user,
      investment_amount: (state) => state.investment_amount,
      localEmitter: (state) => state.localEmitter,
      purchase_times: (state) => state.purchase_times,
      active_symbol: (state) => state.active_symbol,
      purchase_times_ms: (state) => state.purchase_times_ms,
      selected_trade_time: (state) => state.selected_trade_time,
      showTimer: (state) => state.showTimer,
    }),
    time_left(){
      return this.purchase_times[this.active_symbol.symbol];
    }
  },
  components: { Timer },
  methods: {
    toggleTimer() {
      this.$store.dispatch('resetModals');
      this.$store.state.showTimer = !this.showTimer;
    },
    formatTime(min,seconds){
        if(min <= 0){
          return 'S'+seconds;
        }
        seconds = seconds == 0 ? '':'.'+seconds;
        return 'M'+min+seconds;
    },
    formatSecondsToMin(seconds){
      var min=0; 
      seconds=parseInt(seconds);
      if(seconds >= 60){
        min = Math.floor(seconds/60);
        seconds = seconds - (min * 60);
      }

      return this.formatTime(min,seconds);
    },
  },
  created() {
    var data = null;
    var current_time = null;
    var seconds = null;
    var context = this;
    var time_left = 0;

    this.localEmitter.on('trade_data', function(e) {
      var data = e ;
      
      var current_time = data.current_time;
      var temp = context.purchase_times_ms;
      temp[data.symbol]= current_time;
      context.$store.state.purchase_times_ms={...temp};
      var seconds = new Date(current_time).getSeconds();
      time_left = 59 - seconds;
      time_left = time_left.toString().length < 2 ? '0' + time_left.toString() : time_left;
      context.$store.state.purchase_times[data.symbol]=time_left;
    
    });
  },
};
</script>
<style scoped>
  
</style>
