<template> 
    <div style="position:relative" class="trading-purchase-time p-0 trd-amt-mast">
        <div class="trading-pur d-flex justify-content-between">
            <div class="trading-pur-amt">
                <a @click="toggleCalculator()" style="text-decoration:none;color:unset" href="javascript:void(0)">
                    <div class="trd-purchase-title d-flex">
                        <i class="fa fa-wallet"></i>
                        <span class="white-space-wrap">{{$t('dashboard.Trade_amount')}}</span>
                    </div>
                </a>
                <div class="trd-purchase-time-wrapper trd-amt-con">
                    <a href="javascript:void(0)" @click="increase_capital()" class="trd-operator-btn mr-1 trd">+</a>
                    <input @keyup="cleanCapital()" type="number" min="10" max="2000" v-model="capital" class="trd-amt">
                    <a href="javascript:void(0)" @click="deduct_capital()" class="trd-operator-btn trd">-</a> 
            </div>
            </div>
            <div class="trading-al-icon d-flex align-items-center d-none-sm-page" data-toggle="collapse" href="#calculator">
                <i class="fa fa-calculator"></i>
            </div>
        </div>
        <Calculator></Calculator> 
    </div> 
</template>
<script>
import { mapState } from "vuex"; 
import Calculator from './calculator-modal';
    export default {
        data(){
            return {
                capital:0,
                showCalculator:0
            }
        },
        components:{
            Calculator
        },
        computed:{
            ...mapState({
                user:(state)=> state.user,
                investment_amount:(state)=> state.investment_amount,
                account_type:(state)=> state.active_account_type,
            }),
        },
        watch:{
            investment_amount:function(newValue,oldValue){
                this.capital=newValue; 
            }
        },
        methods:{
            toggleCalculator(){
                this.showCalculator = !this.showCalculator;
            },
            cleanCapital(){  
                var temp = this.capital.replace(/[a-z]/g,''); 
                if(temp == 'NN' || isNaN(temp) || temp == ''){
                    temp = 10;
                }

                if(temp > this.user[this.account_type].amount){
                    temp=this.user[this.account_type].amount;
                }
                temp = temp > 2000 ?  2000 : temp;
                this.capital = temp;
                this.$store.state.investment_amount=this.capital;
            },
            deduct_capital(){
                var temp = this.capital <= 10 ? 10: parseInt(this.capital) - this.getCapitalStepAmount();
                temp = temp > 2000 ?  2000 : temp;
                this.capital = temp;
                this.$store.state.investment_amount=this.capital;
            },
            increase_capital(){

                if(this.capital < this.user[this.account_type].amount){
                    var temp = parseInt(this.capital) + this.getCapitalStepAmount();
                    temp = temp > 2000 ?  2000 : temp;
                    this.capital = temp;
                    this.$store.state.investment_amount=this.capital;
                }
            },
            getCapitalStepAmount(){
                var result=1;
                if(this.capital < 10){
                    result = 2;
                }
                else if(this.capital < 50){
                    result = 5;
                }
                else if(this.capital < 100){
                    result = 10;
                }
                else if(this.capital >= 100){
                    result = 50;
                }
                return result;
            }
        },
        created(){
            this.capital=this.investment_amount;
        }
    }
</script>

<style scoped lang="scss">
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    }
    .trd-amount-box{
		padding: 0px 0px;
	}
	.trd-operator-btn{
		text-align: center;
		font-weight: 700;
		height: 20px;
		width: 20px;
		background-color: #352A4A;
	}
	.trd-operator-btn:hover{
		cursor: pointer;
	}  
    .trd-amt{
        width: 72px;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #C4C4C4;
        color: #4dc33f;
        font-size: 25px;
        font-weight: 600;
        height: 32px;
        text-align: center;
    }
    .trading-pur-amt{
        padding: 10px 0 10px 6px;
    }
    .trd-operators{
        border-top: 2px solid #1b1f2f;
    }
    .trd-amount-time i.fas{
        padding-top: 3px;
    }
    .trading-al-icon{
        cursor: pointer;
        padding: 0px 15px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        background: #1f103c 38%;
        border-left: 1px solid #CCBBED;
        i{
            font-size: 24px;
        }
    }
</style>