<template>
    <div class="trading-purchase-time">
        <div class="trd-purchase-title">
            <i class="bx bx-trending-up"></i>
            <span>{{$t('dashboard.strike_price')}}</span>
        </div>
        <div class="trd-purchase-time-wrapper">
        <div class="strike-price"> 
            <div class="trd purchase-time-counter">{{price}}</div>
        </div>
        </div>
    </div> 
</template>
<script>
import { mapState } from "vuex"; 
    export default {
        data(){
            return { 
            }
        },
        computed:{
            ...mapState({
                user:(state)=> state.user,
                investment_amount:(state)=> state.investment_amount,
                localEmitter:(state)=> state.localEmitter,
                strike_prices:(state)=> state.strike_prices,
                active_symbol:(state)=> state.active_symbol,
            }),
            profit:function(){
                return parseFloat((40/100) * this.capital).toFixed(1);
            },
            price(){
                return this.strike_prices[this.active_symbol.symbol];
            }
        },
        created(){
        }
}
</script>
<style scoped>
    .trd-purchase-title i{
        font-size: 15px;
    }
</style>