<template>
    <div v-if="active_symbol.base_asset" id="market">
        <div class="symbol">
            <a @click="toggleChartTypeModal()" class="chart-type-trigger" href="javascript:void(0)">
                <span v-html="chart_type.svg"></span>
            </a>
            <a @click="toggleMarketModal()" href="javascript:void(0)" class="d-none d-sm-none wrap-link">
                <div class="symbol-container">
                    <div class="label">
                        <h4  class="m-0">{{active_symbol.symbol}}</h4>
                        <p class="m-0" :class="{'text-danger':barStatus,'text-success':!barStatus}">
                            <i v-if="!barStatus" class="fas fa-arrow-up"></i>
                            <i v-else class="fas fa-arrow-down"></i>
                            {{price}}
                        </p>
                    </div>
                    <div class="arrow" :class="{'open':openMarketModal}">
                        <i class="fas fa-chevron-right"></i>
                    </div>
                </div>
            </a>
        </div>
        <div :class="!openMarketModal ? 'assets':'assets open-market'">
            <div class="row m-0">
                <div class="col-12 col-md-4 h-100 p-0 m-0">
                    <div class="col-12 col-md-4 p-0 m-0 d-flex" style="justify-content:space-between">
                        <h5 class="market-label">Assets</h5>
                        <a href="#" class="mark-close" @click="toggleMarketModal()"><i class="fa fa-close"></i></a>
                    </div>
                    <div class="types">
                        <ul class="nav nav-tabs" role="tablist">
                            <li v-for="(type,index) in asset_types" :key="index" class="nav-item">
                                <a :class="getTabClass(type)" :href="'#tab'+index" data-toggle="tab">{{type.title}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="tab-content col-12 col-md-8 h-100 p-0">
                    <div v-for="(type,index) in asset_types" :key="'tabpan'+index" :class="getTabPaneClass(type)" :id="'tab'+index">
                        <div class="options">
                            <div class="row mx-0">
                                <table class="table table-responsive">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th></th>
                                            <th class="text-center p-0 pt-2 pb-2 profit" :colspan="available_trade_times.length">Profits in seconds</th>
                                        </tr>
                                        <tr class="thead-btm">
                                            <th>Currency</th>
                                            <th>Price</th>
                                            <th class="profit_perc" v-for="(time,index2) in available_trade_times" :key="index2">{{time.name}}s</th>
                                        </tr>
                                    </thead>
                                    <tbody class="pt-1">
                                        <tr @click="changeSymbol(asset)" :class="getSymbolClass(asset)" v-for="(asset,index2) in type.assets" :key="'sym'+index2">
                                            <td><span>{{asset.base_asset}}/{{asset.quote_asset}}</span></td>
                                            <td>{{strike_prices[asset.name]}}</td>
                                            <td style="color: #a1e3a2;" :class="{'active-time':isActiveTime(asset,time.name)}" v-for="(time,index2) in available_trade_times" :key="index2">{{getTimePercentage(time.name,asset)}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <div v-if="openChartTypeModal" class="chart-types">
            <ul>
                <li v-for="(type,index) in chart_types" :key="index">
                    <a @click="changeChartType(type)" href="javascript:void(0)" :class="{'active':chart_type.id == type.id}">
                        <span v-html="type.svg"></span>
                        <span>{{type.title}}</span>
                    </a>
                </li> 
            </ul>
        </div>
    </div>
</template>
<script>
import  { mapState } from "vuex";
export default {
    data(){
        return {
            // openMarketModal:false,
            openChartTypeModal:false,
            chart_types : [
                    {
                        id:0,
                        svg:'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" width="28" height="28"><g fill="none" stroke="currentColor" stroke-linecap="square"><path d="M10.5 7.5v15M7.5 20.5H10M13.5 11.5H11M19.5 6.5v15M16.5 9.5H19M22.5 16.5H20"></path></g></svg>',
                        title:'Bars'
                    },
                    {
                        id:1,
                        svg:'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" width="28" height="28" fill="currentColor"><path d="M17 11v6h3v-6h-3zm-.5-1h4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5z"></path><path d="M18 7h1v3.5h-1zm0 10.5h1V21h-1z"></path><path d="M9 8v12h3V8H9zm-.5-1h4a.5.5 0 0 1 .5.5v13a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 .5-.5z"></path><path d="M10 4h1v3.5h-1zm0 16.5h1V24h-1z"></path></svg>',
                        title:'Candles'
                    },
                    {
                        id:9,
                        svg:'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" width="28" height="28" fill="currentColor"><path d="M17 11v6h3v-6h-3zm-.5-1h4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .5-.5z"></path><path d="M18 7h1v3.5h-1zm0 10.5h1V21h-1z"></path><path d="M9 8v11h3V8H9zm-.5-1h4a.5.5 0 0 1 .5.5v12a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5v-12a.5.5 0 0 1 .5-.5z"></path><path d="M10 4h1v5h-1zm0 14h1v5h-1zM8.5 9H10v1H8.5zM11 9h1.5v1H11zm-1 1h1v1h-1zm-1.5 1H10v1H8.5zm2.5 0h1.5v1H11zm-1 1h1v1h-1zm-1.5 1H10v1H8.5zm2.5 0h1.5v1H11zm-1 1h1v1h-1zm-1.5 1H10v1H8.5zm2.5 0h1.5v1H11zm-1 1h1v1h-1zm-1.5 1H10v1H8.5zm2.5 0h1.5v1H11z"></path></svg>',
                        title:'Hollow Candles'
                    },
                    {
                        id:8,
                        svg:'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" width="28" height="28" fill="currentColor"><path d="M9 8v12h3V8H9zm-1-.502C8 7.223 8.215 7 8.498 7h4.004c.275 0 .498.22.498.498v13.004a.493.493 0 0 1-.498.498H8.498A.496.496 0 0 1 8 20.502V7.498z"></path><path d="M10 4h1v3.5h-1z"></path><path d="M17 6v6h3V6h-3zm-1-.5c0-.276.215-.5.498-.5h4.004c.275 0 .498.23.498.5v7c0 .276-.215.5-.498.5h-4.004a.503.503 0 0 1-.498-.5v-7z"></path><path d="M18 2h1v3.5h-1z"></path></svg>',
                        title:'Heikin Ashi'
                    },
                    {
                        id:2,
                        svg:'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" width="28" height="28"><path fill="currentColor" d="M11.982 16.689L17.192 12h3.033l4.149-4.668-.748-.664L19.776 11h-2.968l-4.79 4.311L9 12.293l-4.354 4.353.708.708L9 13.707z"></path></svg>',
                        title:'Line'
                    },
                    {
                        id:3,
                        svg:'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" width="28" height="28" fill="currentColor"><path d="M12.5 17.207L18.707 11h2l3.647-3.646-.708-.708L20.293 10h-2L12.5 15.793l-3-3-4.854 4.853.708.708L9.5 14.207z"></path><path d="M9 16h1v1H9zm1 1h1v1h-1zm-1 1h1v1H9zm2 0h1v1h-1zm-1 1h1v1h-1zm-1 1h1v1H9zm2 0h1v1h-1zm-3-3h1v1H8zm-1 1h1v1H7zm-1 1h1v1H6zm2 0h1v1H8zm-1 1h1v1H7zm-2 0h1v1H5zm17-9h1v1h-1zm1-1h1v1h-1zm0 2h1v1h-1zm-1 1h1v1h-1zm-1 1h1v1h-1zm2 0h1v1h-1zm-1 1h1v1h-1zm-1 1h1v1h-1zm2 0h1v1h-1zm-1 1h1v1h-1zm-1 1h1v1h-1zm2 0h1v1h-1zm-1 1h1v1h-1zm-1 1h1v1h-1zm2 0h1v1h-1zm-5-7h1v1h-1zm2 0h1v1h-1zm1-1h1v1h-1zm-2 2h1v1h-1zm-1 1h1v1h-1zm2 0h1v1h-1zm-1 1h1v1h-1zm-1 1h1v1h-1zm2 0h1v1h-1zm-1 1h1v1h-1zm-1 1h1v1h-1zm2 0h1v1h-1zm-1 1h1v1h-1zm-2-6h1v1h-1zm-1 1h1v1h-1zm-1 1h1v1h-1zm2 0h1v1h-1zm-1 1h1v1h-1zm-1 1h1v1h-1zm2 0h1v1h-1zm-1 1h1v1h-1zm-1 1h1v1h-1zm2 0h1v1h-1zm-3-3h1v1h-1zm-1 1h1v1h-1zm-1 1h1v1h-1zm2 0h1v1h-1zm-1 1h1v1h-1z"></path></svg>',
                        title:'Area'
                    },
                    {
                        id:10,
                        svg:'<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 28 28" width="28" height="28"><g fill="none" stroke="currentColor"><path stroke-dasharray="1,1" d="M4 14.5h22"></path><path stroke-linecap="round" stroke-linejoin="round" d="M7.5 12.5l2-4 1 2 2-4 3 6"></path><path stroke-linecap="round" d="M5.5 16.5l-1 2"></path><path stroke-linecap="round" stroke-linejoin="round" d="M17.5 16.5l2 4 2-4m2-4l1-2-1 2z"></path></g></svg>',
                        title:'Baseline'
                    }
            ]
        }
	}, 
	computed:{
		...mapState({
			close:(state)=>state.close,
			active_symbol:(state)=>state.active_symbol,
			symbols:(state)=>state.symbols,
			binance_api:(state)=>state.binance_api,
            chart_widget:(state)=>state.chart_widget,
            asset_types:(state)=>state.asset_types,
            trades:(state)=>state.trades,
            frames:(state)=>state.frames,
            chart_type:(state)=>state.chart_type,
            strike_prices:(state)=>state.strike_prices,
            strikes_data:(state)=>state.strikes_data,
            openMarketModal:(state)=>state.openMarketModal,
            selected_trade_time:(state)=>state.selected_trade_time,
            available_trade_times:(state)=>state.available_trade_times
		}),
        barStatus(){
            var data =this.strikes_data[this.active_symbol.symbol];
            if(data.open > data.close){
                return true;
            }
            return false
        },
        price(){
            return this.strike_prices[this.active_symbol.symbol];
        }
	},
    methods:{
        isActiveTime(symbol,time){
            var result = false;
            if(this.active_symbol.name == symbol.name && this.selected_trade_time == time){
                result = true;
            }
            return result;
        },
        getTimePercentage(time,asset){
            var result = asset.timing.find((d)=> d.name == time);
            return result ? result.pivot.percentage+'%' : 'N/A';
        },
        toggleChartTypeModal(){
            this.$store.dispatch('resetModals');
            this.openChartTypeModal = !this.openChartTypeModal;
        },
        changeChartType(type){
            this.chart_widget.activeChart().setChartType(type.id);
            this.$store.state.chart_type = type;
            this.openChartTypeModal = false;
        },
        getSymbolClass(symbol){
            if(this.active_symbol.name == symbol.name){
                return 'asset-row active';
            }
            return 'asset-row';
        },
        getTabPaneClass(item){
            var check = item.assets.find((symbol)=> this.active_symbol.name == symbol.name);
            return check ? 'tab-pane active':'tab-pane'
        },
        getTabClass(item){
            var check = item.assets.find((symbol)=> this.active_symbol.name == symbol.name);
            return check ? 'nav-link active':'nav-link'
        },
		changeSymbol(symbol){
            this.$store.state.openMarketModal=false;

            // check if the asset already has a symbol
            var exist = this.frames.find((d)=> d.asset.symbol == symbol.symbol);
            
            if(exist){
                exist.asset.frame_id = exist.id;
                this.$parent.changeSymbol(exist.asset);
                return false;    
            }
            this.$parent.changeSymbol(symbol);
			
        },
        cleanChartForNewSymbol(){
            this.trades.forEach(element => {
                if(element.state != 'ended'){
                    element.order_line().remove();
                }
            });
        },
        toggleMarketModal(){
            // this.$store.dispatch('resetModals');
            this.$store.state.openMarketModal=!this.openMarketModal;
		},
	},
	created(){
        this.$store.state.chart_type = this.chart_types[1];

        setTimeout(()=>{
            // var symb = this.symbols.find((d)=> d.title == '')
            // this.changeSymbol();
            // console.log(this.symbols);
        });
	}
}
</script>
<style scoped>
    .types{
        padding-top: .5rem;
    }
    .mark-close{
        padding: 1rem;
    }
    .active-time{
        background: #1d8177 !important;
        font-weight: 600;
    }
    .arrow.open .fas{
        transform: rotate(90deg) !important;
    }
    .arrow .fas{
        transition: all .2s linear;
    }
    .asset-row:hover{
        cursor: pointer !important;
        background: #9e9e9e3d !important;
    }
    tbody{
        border-top: 1px solid white;
    }
    .tab-content table td span {
        color: white !important;
    }
    tr.active{
        background: #9e9e9e3d !important;
    }
    .tab-content table td:nth-child(even) {
        background-color: unset;
    }
    th.profit{
        background: #26a69a2e;
    }
    th.profit_perc{
        background: #26a69a2e;
    }  
    th{
        border: none !important;
        font-weight: bold;
        color: white !important;
    }
    td{
        text-align: left !important;
        color: white !important;
        border-right: 1px solid #d3d3d308 !important;
    }
    td span{
        display: block !important;
    }
    table{
        display: table;
    }

    .thead-btm th{
        border-bottom: 1px solid white !important;
    }
    .tab-content table tbody tr {
        display: table-row;
    }
    .tab-content table thead {
        display: table-header-group;
    }
    .chart-types{
        background: #001f3a;
        padding: 10px 10px;
        border-radius: 3px;
        margin-left: 5px;
    }
    .chart-types ul{
        margin: 0px;
    }
    .chart-types ul li{}
    .chart-types ul li a{
        display: block;
        padding: 5px 0px;
        text-decoration: none;
        margin-bottom: 3px;
    }
    .chart-types ul li a.active{
        background: #26a1ff;
        color: black;
        border-radius: 2px;
    }
    .chart-types ul li a:hover{
        background: #b8ffb1;
        color: black;
        border-radius: 2px;
    }
    .chart-types ul li a svg{}
    .chart-types ul li a span{}
    .chart-type-trigger{
        padding: 5px 8px;
        border: 1px solid #002647;
        margin-right: 10px;
        border-radius: 4px;
        background: #26a1ff;
        display: flex;
        color: white;
    } 
    .tab-content .tab-pane{
        height: 100%;
    }
    ::-webkit-scrollbar {
        width: 5px;
    }
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    ::-webkit-scrollbar-thumb {
        background: #A1E3A2;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    #market{
        position: absolute;
        top: 38px;
        left: 50px;
        z-index: 2;
	}
	#market .market-head{
        background-color: #001F3A;
        padding: 14px 17px 14px 11px;
    }
    #market .market-head .mh-percent span{
        padding: 5px 11px;
        margin-right: 10px;
        background: rgba(161, 227, 162, 0.1);
        border-radius: 5px;
        font-size: 12px;
        font-weight: 700;
    }
    #market .market-head .mh-tabs i{
        cursor: pointer;
    }
	#market .assets{
		position: absolute;
		width: 600px;
		background:#002648;
		margin-top: 5px; 
		border-radius: 5px;
        margin-left: 7px;
		height: 0px;
		overflow: hidden;
        transition: all .2s ease-in-out;
	}

	@media (max-width: 600px) {
        #market{
            /* bottom: 24px; */
            /* top: unset !important; */
        }
		#market .assets{
			top: 0;
            position: fixed;
            margin-left: 0;
            width: 95%;
            margin: auto;
            left: 0;
            right: 0;
            bottom: 0;
            display: none;
		}
        #market .assets.open-market{
            display: block;
        }
        #market .assets::before{
            position: fixed;
            content: '';
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            background: #00000094;
        }
        #market .assets .types ul li a{
            padding: 10px 28px !important;
            border-top-left-radius: 5px !important;
            border-top-right-radius: 5px !important;
        }
        #market .assets .types ul li a.active{
            background: #001f3a !important;
        }
    }
    .options::-webkit-scrollbar{
        height: 3px;
    }
    .open-market{
        /* transform: scale(1) !important; */
        /* opacity: 1 !important; */
        height:400px !important;
    }
	#market .market-search{
		padding: 12px 0;
        position: absolute;
        top: 0;
        width: 95%;
        background-color: #001F3A;
	}
	#market .market-search input{
		background: #002648;
		color: #fff;
		padding: 0px 10px;
		height: 29px;
		font-size: 12px;
		border-radius: 3px;
		border: 1px solid #a0e2a2;
	}
    #market .market-search i{
        padding: 0 2px 0 7px;
        font-size: 17px;
        cursor: pointer;
    }
	#market .market-search input:focus{
		outline: none !important;
		border: none !important;
	}
    #market .market-search input::placeholder{
        color:#D6D6D6;
    }
	#market .market-label{
		padding: 15px 10px 10px 15px;
		font-size: 16px;
		color: #A1E3A2;
        text-transform: uppercase;
        font-weight: 600;
	}
	#market .assets .types{
		height: 100%;
		background: #002648;
	}
    #market .assets .tab-content{
        overflow-y: auto;
    }
    #market .assets .tab-content li{
        border-left: none;
        background-color: transparent;
        margin-bottom: 0;
        padding: 0;
    }
	#market .assets .types ul li a{
		padding: 10px 10px;
		color: white;
		font-size: 14px;
        border-radius: 0;
        border: none;
	}
    #market .assets .types ul li a:hover{
        background-color: #69c97121;
        border: none;
    }
    #market .assets .types .nav-tabs{
        border: none;
    }
	#market .assets .types ul li a.active{
        border: none;
        border-left: none;
        border-right: none;
        /* background-color: #001f3a; */
        font-weight: 500;
        /* border-bottom: 1px solid #a1e3a2; */
        background-color: #69c97121;
	}
	#market .assets .options{
		background: #001F3A;
		height: 100%;
		overflow-y:auto;
	}
    #market .assets .options .row{
        margin-bottom: 15px;
    }
	#market .assets .options li a{
		text-decoration: none;
		color: #D6D6D6;
		padding: 10px 10px;
		display: flex;
		justify-content: space-between;
        align-items: center;
		font-weight: 600;
        font-size: 13px;
        border: 1px solid transparent;
         border-right: none;
        border-left: none;
	}
	#market .assets .options li a:hover{
		/*background: #A1E3A2 !important;*/
        /* border: 1px solid #A1E3A2; */
        border-right: none;
        border-left: none;
	}
	#market .assets .options li a i{
		display: none;
	}
	#market .assets .options li.active a{
		/*background: #5e616d;*/
        border: 1px solid #A1E3A2;
        border-right: none;
        border-left: none;
		color: #e0e0e0;
		font-weight: 500;
	}
	#market .assets .options li.active a i{
		display: block;
        color: #A1E3A2;
        margin-left: 8px;
	}
    #market a.wrap-link{
        text-decoration: none;
    }
	#market .symbol{
		padding: 8px 8px;
        border-radius: 5px;
        display: flex;
	}
	#market .symbol .symbol-container{
		padding: 5px 10px;
		background: #001F3A;
		border: 1px solid #002647;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
		display: flex;
		justify-content: space-between;
		min-width: 200px;
		color: #161928;
	}
	#market .symbol .symbol-container .label{
		color: white;
	}
	#market .symbol .symbol-container .label h4{
		font-size: 15px;
		font-weight: 400;
	}
	#market .symbol .symbol-container .label p{
		font-size: 11px;
		font-weight: 400;
	}
    #market .symbol .symbol-container .label p.text-danger{
        color: #ef534f !important;
    }
    #market .symbol .symbol-container .label p.text-success{
        color: #B8FFB1 !important;
    }
	#market .symbol .symbol-container .arrow{}
	#market .symbol .symbol-container .arrow i{
		color:white;
        margin-top: 10px;
	}
</style>