<template>
    <div :class="openOrderPanel ? 'open' : ''" id="order">
        <div class="tradHistory-head px-3">
            <div class="thh-title d-flex justify-content-between">
                <a @click="toggleOrderPanel()" class="remove-collapse no-hover"><i class="bx bx-chevron-left"></i></a>
                <p style="color:lightgrey; margin-bottom: 0">{{$t('dashboard.recent_trades')}}</p>
            </div>
        </div>
        <div class="order-body">
            <div v-for="(trade, index) in [...trades, ...completed_trades]" :key="index" :class="getTradeClasses(trade)">
                <a @click="toggleBody(trade)" class="">
                    <div v-if="trade.state != 'ended'" class="">
                        <div class="header d-flex">
                            <div class="timer order-det">
                                <h5>
                                    <i class="fas fa-clock"></i> &nbsp;
                                    <span v-if="trade.state == 'waiting'">{{ trade.time_rem_formatted }} </span>
                                    <span v-else>{{ trade.time_rem_formatted }}</span>
                                </h5>
                            </div>
                            <div class="order-det asset">
                                <h5>{{ trade.asset }}</h5>
                            </div>
                            <div :class="'order-det ' + trade.status">
                                <h5 class="money d-flex">
                                    <span v-if="trade.status == 'winning'" class="">+</span>
                                    <Money :amount="getProfit(trade)" />
                                </h5>
                            </div>
                        </div>
                        <div class="d-flex bottom-flex px-2 pb-2">
                            <div class="order-info">
                                <span v-if="trade.state == 'waiting'">{{$t('dashboard.waiting_time')}}</span>
                                <span v-else class="expiration-time">{{$t('dashboard.time_left')}}</span>
                            </div>
                            <div class="order-info">
                                <div class="d-flex m-auto" style="width:fit-content">
                                    <i v-if="trade.direction == 'up'" class="fas direction-arrow fa-arrow-up text-success"></i>
                                    <i v-else class="fas direction-arrow fa-arrow-down text-danger"></i>
                                    <b class=""><Money :amount="trade.amount"/></b>
                                </div>
                            </div>
                            <div class="order-info text-right" style="width:75px;">
                                <span v-if="!trade.openBody">{{$t('dashboard.show_more')}}</span>
                                <span class="mr-1">
                                    <span v-if="trade.openBody" >{{$t('dashboard.close')}}</span>
                                </span>
                                <i :class="trade.openBody ? 'fas ml-1 fa-chevron-down open' : 'fas ml-1 fa-chevron-down'"></i>
                            </div>
                        </div>
                    </div>
                    <div v-else class="ended py-1 px-2 trad-ended">
                        <div class="d-flex">
                            <div class="ended-info d-flex">
                                <div class="mr-1 ended-status-ud">
                                    <i v-if="trade.direction == 'up'" class="fas fa-arrow-up text-success"></i>
                                    <i v-else class="fas fa-arrow-down text-danger"></i>
                                </div>
                                <div class="ended-asset">
                                    <small class="money mb-0"><Money :amount="trade.amount"/></small>
                                    <h5>{{ trade.asset }}</h5>
                                </div>
                            </div>
                            <div class="ended-info">
                                <div class="order-info end-success-status">
                                    <span class="ml- mt-1 d-block completed">{{$t('dashboard.completed')}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex bottom-flex mt-1 align-items-end">
                            <div class="ended-info">
                                <small>{{$t('dashboard.strike_price')}}:</small>
                                <h5 class="money">{{ trade.strike_price }}</h5>
                            </div>
                            <div class="ended-info">
                                <small>{{$t('dashboard.Profit')}}:</small>
                                <h5 :class="'money ' + trade.status"><Money :amount="getProfit(trade)" /></h5>
                            </div>
                            <div class="order-info mt-1">
                                <span v-if="!trade.openBody"></span>
                                <span v-else>{{$t('dashboard.close')}}</span>
                                <i :class="trade.openBody ? 'fas fa-chevron-down open' : 'fas fa-chevron-down'"></i>
                            </div>
                        </div>
                    </div>
                </a>
                <div :class="trade.openBody ? 'body open' : 'body'">
                    <div class="row px-1">
                        <div class="col-6 det-col">
                            <small>{{$t('dashboard.strike_price')}}</small>
                            <b>{{ trade.strike_price }}</b>
                        </div>
                        <div class="col-6 det-col">
                            <small>{{$t('dashboard.Close_price')}}</small>
                            <b>{{ trade.close_price }}</b>
                        </div>
                        <div class="col-6 det-col">
                            <small>{{$t('dashboard.Investment')}}</small>
                            <b><Money :amount="trade.amount"/></b>
                        </div>
                        <div class="col-6 det-col">
                            <small>{{$t('dashboard.asset')}}</small>
                            <b>{{ trade.asset }}</b>
                        </div>
                        <div class="col-6 det-col">
                            <small>{{$t('dashboard.time')}}</small>
                            <b>{{ formatSecondsToMin(trade.trade_time) }}</b>
                        </div>
                        <div class="col-6 det-col ">
                            <small>Side</small>
                            <b v-if="trade.direction == 'up'"><i class="fas fa-arrow-up text-success"></i> {{$t('dashboard.rise')}}</b>
                            <b v-if="trade.direction == 'down'"><i class="fas fa-arrow-down text-danger"></i> {{$t('dashboard.fall')}}</b>
                        </div>
                    </div>
                </div>
            </div>

            <div v-if="trades.length == 0" class="">
                <p class="text-danger text-center">{{$t('dashboard.no_active_trades')}}</p>
            </div>
        </div>
    </div>
</template>
<script>
import { mapState } from 'vuex';
export default {
    data(){
        return {

        }
    },
    computed:{
        ...mapState({
            trades: (state) => state.trades,
            completed_trades: (state) => state.completed_trades,
            openOrderPanel: (state) => state.openOrderPanel,
            localEmitter: (state) => state.localEmitter,
			symbols:(state)=>state.symbols,
            asset_types:(state)=>state.asset_types
        })
    },
    methods:{ 
        toggleOrderPanel() {
            this.$store.state.openOrderPanel = !this.openOrderPanel;
        },
        formatTime(min, seconds) {
            min = min < 10 ? '0' + min : min;
            seconds = seconds < 10 ? '0' + seconds : seconds;
            return min + ':' + seconds;
        },
        formatSecondsToMin(seconds) {
            var min = 0;

            if (seconds >= 60) {
                min = Math.floor(seconds / 60);
                seconds = seconds - min * 60;
            }

            return this.formatTime(min, seconds);
        },
        getProfit(trade) {
            var profit = trade.profit;
            var amount = trade.amount;
            return trade.status == 'winning' || trade.state == 'waiting' ? profit : amount - amount * 2;
        },
        getTradeClasses(trade) {
            var classes = ['single-trade'];
            if (trade.direction == 'up') {
                classes.push('rise');
            }
            if (trade.direction == 'down') {
                classes.push('fall');
            }
            classes.push(trade.state);
            return classes.join(' ');
        },
        toggleBody(trade) {
            var symbols = [];
            this.asset_types.forEach((d)=>{
                symbols = [...symbols,...d.assets];
            })
            var asset = symbols.find((d)=> trade.asset == d.symbol);
            if(asset){
                asset.frame_id = trade.frame_id;
                this.localEmitter.emit('change_symbol',asset);
                // trade.openBody = !trade.openBody;
            }

            this.$store.state.openOrderPanel = false;
        },
    },
    created(){
    }
}
</script>

<style scoped>
    #order .order-body {
        overflow-y: auto;
        height: 100%;
        padding-bottom: 40px;
        padding-right: 8px;
    }
    .recent-trades {
        min-width: 150px;
    }
    .recent-trades.active {
        background: #001f3a !important;
    }
    .recent-trades .trd {
        font-size: 12px !important;
        line-height: initial;
        padding: 5px 5px;
        color: #cbcbcb;
    }
    .recent-trades.active .trd {
        color: white;
    }
    .recent-trades a {
        text-decoration: none;
    }
    .completed {
        font-weight: bold;
    }
    .ended {
        background: #053f73 !important;
        border: none !important;
        /*padding: 5px 5px;*/
        /*padding: 5px 0;*/
    }
    .trad-ended {
        border-radius: 5px;
    }
    .ended .d-flex {
        justify-content: space-between;
    }
    .ended .ended-info {
        color: white;
    }
    .ended .ended-info .ended-asset h5 {
        color: #90dbfe;
        font-size: 13px;
        margin-top: 2px;
        font-weight: 600;
    }
    .ended .ended-info .ended-status-ud {
        font-size: 24px;
        line-height: 1;
    }
    .ended .ended-info small {
        display: block;
        font-size: 11px;
        color: #cbcbcb;
    }
    .ended .ended-info .money {
        color: #cbcbcb;
        font-size: 13px;
        font-weight: 600;
        line-height: 1;
    }
    .ended .end-success-status span {
        border: 1px solid #018e0f;
        background-color: #003906;
        color: #cbcbcb;
        border-radius: 5px;
        padding: 0 4px;
    }
    .ended .order-info {
        color: #00bcd4;
    }
    .ended .ended-info h5 {
        font-size: 12px;
        margin: 0px;
    }
    .ended .losing {
        color: #fb3c23 !important;
    }
    .ended .winning {
        color: #4caf50 !important;
    }
    .direction-arrow {
        padding-top: 2px;
        margin-right: 3px;
    }
    .trading-on .timer h5 {
        color: #ff5757 !important;
    }
    .trading-on .timer h5 {
        font-size: 14px;
    }
    .trading-on .order-info {
        color: cadetblue;
    }
    .winning .money {
        color: #4caf50;
    }
    .losing .money {
        color: #fb3c23;
    }
    .expiration-time {
        color: #ff5757 !important;
        font-size: 11px;
        font-weight: 600;
    }
    .bottom-flex {
        justify-content: space-between;
    }
    .order-info {
        font-size: 10px;
        text-transform: capitalize;
    }
    .order-info b {
        font-size: 13px;
        display: block;
        text-align: center;
    }
    .asset h5 {
        font-weight: 700 !important;
    }
    #order {
        width: 0px;
        height: 100%;
        background: #00182e;
        overflow: hidden;
    }
    #order.open {
        width: 290px;
        padding: 10px 0 10px 8px;
        margin-left: 8px;
        margin-right: 10px;
    }
    .winning .order-det {
        color: #4caf50;
    }
    .order-det {
        text-align: center;
        padding: 7px 0px 0px 0px;
    }
    .order-det h5 { 
        color: #90dbfe;
        font-size: 13px;
        font-weight: 600;
    }
    .order-det p {
        font-weight: 500;
    }
    .order-info .fa-chevron-down:hover {
        cursor: pointer;
    }
    .order-info .fa-chevron-down {
        font-size: 12px;
        transition: all 0.2s linear;
        color: #cbcbcb;
    }
    .order-info .fa-chevron-down.open {
        transform: rotateZ(180deg) !important;
    }
    .rise.waiting h5 {
        margin: 0 ;
        color: #90dbfe;
        font-size: 13px;
        font-weight: 600;
    }
    .fall.waiting h5 {
        margin: 0;
        color: #90dbfe;
        font-size: 13px;
        font-weight: 600;
    }
    .trading-on h5 {
        color: #90dbfe;
        font-size: 13px;
        margin-top: 2px;
        margin: 0;
        font-weight: 600;
    }
    .trading-on .timer h5 {
        color: #ff5722;
    }
    .waiting .timer h5 {
        color: white !important;
        font-weight: 700;
    }
    #order .title {
        font-weight: 500;
        font-size: 16px;
        border-bottom: 1px solid #8d8f96;
        padding: 5px 0px 10px 0px;
        justify-content: space-between;
    }
    .single-trade {
        border: 1px solid #ffffff21;
        background: #053f73 !important;
        border-radius: 5px;
        margin-bottom: 10px;
    }
    .single-trade:hover{
        cursor: pointer;
    }
    .single-trade.trading-on {
        background: #053f73 !important;
        border: none !important;
    }
    .single-trade .header {
        justify-content: space-between;
        padding: 5px 0.5rem;
    }
    .single-trade .body {
        height: 0px;
        transition: all 0.1s linear;
        overflow: hidden;
        background: #064986;
        border-radius: 2px;
        color: black;
        font-size: 12px;
    }
    .single-trade .body.open {
        height: unset;
        padding: 10px 5px;
        margin: 8px 0px 1px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    .det-col {
        margin-bottom: 5px;
    }
    .det-col small {
        display: block;
        font-size: 12px;
        line-height: 11px;
        color: #cbcbcb;
        font-weight: 600;
    }
    .det-col b {
        display: block;
        line-height: 15px;
        font-size: 12px;
        font-weight: 500;
        margin-top: 3px;
        margin-left: 4px;
        color: #9e9e9e !important;
    }

    @media(min-width: 800px){
        #order .thh-title{
            justify-content: flex-start !important ;
            align-items: center;

        }
        #order .thh-title .fa-less-than{
            font-size: 15px;
        }
    }

    @media(max-width: 800px){
          #order{
            top: 0 !important;
        }
        #order .thh-title{
            justify-content: flex-start !important ;
            align-items: center;

        }
        #order .thh-title .fa-less-than{
            margin-right: 10px;
            font-size: 20px;
        }
        #order.open{
            position: fixed;
            left: 0;
            right: 0;
            width: 99%;
            margin: auto;
            top: 75px;
        }
    }
    @media(min-width: 800px){
        #order .thh-title{
            justify-content: flex-start !important ;
            align-items: center;

        }
        #order .thh-title .fa-less-than{
            font-size: 15px;
        }
    }
</style>