<template>
  <div class="demo-timer-container">
    <div class="demo-timer-inner">
      <div class="timer-wrapper-extended">
        <h4>{{$t('dashboard.trade_time')}}</h4>
        <div class="profits-wrapper">
          <div class="profit type-1">
            <!-- <div class="profits-percentage">Profit <span>80%</span></div> -->
            <div class="profits-body-expanded">
              <table class="table profit-table">
                <thead>
                  <tr>
                    <a class="table-flex-link th">
                      <th scope="col">{{$t('dashboard.time')}}</th> 
                      <th scope="col">{{$t('dashboard.profit')}}</th>
                    </a>
                  </tr>
                </thead>
                <tbody>
                  <tr :class="getTimeClass(time)" v-for="(time,index) in active_symbol.timing" :key="index">
                    <a @click="selectTradeTimeProfit(time)" href="javascript:void(0)" class="table-flex-link">
                      <td>
                        <img src="https://img.icons8.com/material/24/717277/alarm-clock--v1.png" />
                        <span>{{formatSecondsToMin(time.name)}}</span>
                      </td>
                      <td class="profit">{{time.pivot.percentage}}%</td>
                    </a>
                  </tr> 
                </tbody>
              </table>
            </div> 
          </div> 
        </div>
        <div class="row">
            <div class="col-12">
                <a @click="close()" href="javascript:void(0)" class="close-timer" >{{$t('dashboard.close')}}</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>   
  import { mapState } from 'vuex';
  export default{
    computed:{
      ...mapState({
        active_symbol:(state)=> state.active_symbol,
        selected_trade_time: (state) => state.selected_trade_time,
        frame_id: (state) => state.frame_id,
        frames: (state) => state.frames,
        trades: (state) => state.trades,
        localEmitter: (state) => state.localEmitter,
      }),
      frame(){
          var result = null;
          result = this.frames.find((d)=> d.id == this.frame_id)
          return result;
      },
    },
    methods:{
      getTimeClass(time){
        return parseInt(time.name) == parseInt(this.selected_trade_time) ? 'activetime':'';
      },
      close(){
        this.$store.state.showTimer=false;
      },
      selectTradeTimeProfit(time){ 
        // SET FRAME TIME
        if(this.frame.trade_time == null){ 
          
          //frame has no trade time set
          this.$store.dispatch('updateFrameTradeTime',{id:this.frame.id, value:time});
          this.$store.dispatch('changeFrameTime',this.frame.id);
        }else{
          //trade time already set
          // check if there is active trade 
          if(this.frame.state == 'waiting' || this.frame.state == 'trading-on'){
              var frame = this.frame;
              frame.asset.trade_time = time;
              delete frame.asset.frame_id;
              frame.asset.forceCreate = true;
              this.localEmitter.emit('change_symbol',frame.asset);
          }else{
            this.$store.dispatch('updateFrameTradeTime',{id:this.frame.id, value:time});
            this.$store.dispatch('changeFrameTime',this.frame.id);
          }
        }
        this.close();
      },
     formatTime(min,seconds){
        min = min < 10 ? '0'+min : min;
        seconds= seconds < 10 ? '0'+seconds : seconds;
        return min+":"+seconds;
      },
      formatSecondsToMin(seconds){
        var min=0; 
        seconds=parseInt(seconds);
        if(seconds >= 60){
          min = Math.floor(seconds/60);
          seconds = seconds - (min * 60);
        }

        return this.formatTime(min,seconds);
      },
    },
    created(){
      // console.log(this.active_symbol);
      // this.selectTradeTimeProfit();
    }
  }
</script>

<style lang="scss" scoped>
  .activetime{
    border: 1px solid green !important;
    border-left: none !important;
    border-right: none !important;
    color: #45b447;
  }
  .close-timer{
    color: red;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 10px;
    display: block;
    text-decoration: none;
    border: 1px solid #ff000042;
    width: 92%;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    margin-bottom: 5px;
  }
  .activetime td{
    color: #48b944 !important;
  }
  .profit{
    font-weight: 600 !important;
  }
.demo-timer-container {
  background: #001426;
  position: absolute;
  right: 199px;
  top: 0;
  z-index: 99999999;
}

.demo-timer-wrapper {
  padding: 17px 12px;
  width: 175px;
  overflow: hidden;
}
.demo-timer-head {
  margin-bottom: 0px;
  font-size: 12px;
  font-weight: 200;
  color: #8d8f97;
}

.btnBox1-wrap {
  display: flex;
  padding-top: 6px;
}

.inpShow {
  width: 81px;
  background: #363c4f;
  text-align: center;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.operatorBtn {
  color: #9b9ea7;
  background: #363c4f;
  margin-left: 2px;
  width: 35px;
  height: 33px;
  padding: 7px 0px;
  font-size: 15px;
  font-weight: bolder;
}

#div {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.showCalc {
  margin-bottom: 0;
  height: 48px;
  text-align: right;
  font-size: 27px;
  padding: 8px 0px;
}

.calcOperator {
  background: #363c4f;
  width: 49px;
  height: 47px;
  font-size: 18px;
  text-align: center;
  margin-bottom: 2px;
}

.ml {
  margin-left: 2px;
}

.br {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.bl {
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.demo-timer-inner {
  display: flex;
}

.demoNumb-wrapper {
  background: #1c2030;
  padding: 17px 10px 0px 10px;
  width: 125px;
}

.demoNumb {
  margin-bottom: 0;
  padding: 7px 0px 7px 19px;
  border-bottom: 1px solid grey;
  font-weight: 100;
  font-size: 12px;
  font-family: 'Open Sans';
  color: white;
  font-weight: 400;
}

.availableBal {
  padding: 7px 0px;
  text-align: center;
  margin-bottom: 0;
}

.aBal {
  font-size: 11px;
  font-weight: 100;
  color: #8d8f97;
  margin-bottom: 5px;
}

.amt-wrap {
  display: flex;
  justify-content: space-between;
}

.amt-aBal {
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Open Sans';
}

.amt-wrap {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin: 15px 0px 9px 0px;
}

.amt-wrap p {
  font-size: 11px;
  font-weight: 100;
  color: #8d8f97;
  margin-bottom: 0px;
}

.amt-wrap i {
  font-size: 8px;
  padding-top: 5px;
  color: #8e9098;
}

.caclDemo {
  background: #363c4f;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
}


.timer-wrapper-extended {
  h4 {
    display: block;
    width: 100%;
    padding: 10px 12px;
    text-transform: uppercase;
    background: #012546;
    font-size: 12px;
    text-align: left;
  }
}

.profits-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 15px;
  padding: 0 12px;

  .profit {
    width: 100%;
  }

  .profits-percentage {
    text-align: center;
    color: #ffffff;
    white-space: nowrap;

    span {
      margin-left: 8px;
      background: #2cac40;
      color: #ffffff;
      border-radius: 3px;
      padding: 5px;
    }
  }
}

.profit-table {
  margin-top: 10px;
}

.table {
  thead th {
    border-bottom: none !important;
    font-size: 11px;
  }

  tbody tr {
    border-top: 1px solid #717171;
  }

  td {
    color: #ffffff;
    border-top: none !important;
    white-space: nowrap;
    font-size: 12px;

    img {
      margin-right: 5px;
      width: 20px;
    }

    &:nth-child(2) {
      color: #717277;
    }
  }

  th {
    border-top: none !important;
    color: #717277;
  }
}

.table-flex-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none !important;
  transition: 300ms ease;

  &.th {
    cursor: default;

    &:hover {
      background: initial;
    }
  }

  &:hover {
    background: #262c3b;
  }
}

@media only screen and (min-width: 576px) {
  .profits-wrapper {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    overflow: hidden;

    .profit {
      width: 46%;
    }
  }
}
@media(max-width: 768px){
  .demo-timer-container{
    left: 0;
    right: unset;
    top: auto;
    bottom: 80px;
    box-shadow: 0px 0px 20px black;
  }
}
@media(max-width: 576px){
  .demo-timer-container{
    
  }
}
</style>
