<template>
  <div id="profile_layout">
    <div class="page-navs-tabs">
      <div class="container-fluid px-0">
        <div class="row px-0">
          <div class="col-12">
            <!-- TOP TABS LG -->
            <div id="finance-nav" class="finance-top-tabs-lg">
              <ul class="top-tabs-list">
                <!-- <li class="top-tabs-items">
                  <router-link to="/dashboard/profile/trading-profile" class="top-tabs-link active">{{ $t('dashboard.trading_profile') }}
                    
                  </router-link>
                  
                </li> -->
                <li class="top-tabs-items">
                  <router-link to="/dashboard/profile/details" class="top-tabs-link">{{ $t('dashboard.profile') }}</router-link>
                </li>
                <li class="top-tabs-items">
                  <router-link to="/dashboard/profile/security" class="top-tabs-link">{{ $t('dashboard.security') }}</router-link>
                </li>
                <!-- <li class="top-tabs-items">
                  <router-link to="/dashboard/profile/trading-history" class="top-tabs-link">{{ $t('dashboard.trading_history') }}</router-link>
                </li> -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- FINANCE PAGE VIEW -->
    <div class="pages-tabs">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Finance',
  data() {
    return {
      publicPath: process.env.BASE_URL,
    };
  },
};
</script>

<style lang="scss">
$openSans: 'Open Sans', sans-serif;

#profile_layout {
  background: transparent;
  width: 100%;
  height: 100%;
  padding: 10px;
  padding-left: 10px !important;
}

.cover-title {
  color: #8fa5bf;

  h4 {
    font-size: 20px;
    line-height: 22px;
    margin-bottom: 10px;
  }
}

.content-heading {
  padding: 10px 15px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-color: #20273f;

  h6 {
    color: #7e91a7;
    margin-bottom: 0;
    font-size: 14px;
  }
}

.page-tile-body {
  background-color: #131628;
}

.page-navs-tabs {
  width: 100%;
  height: fit-content;
  background: transparent;
}

#history_date_input {
  background: #162032;
  border: 1px solid #44506a;
  border-color: #44506a !important;
  cursor: pointer;
  padding: 5px 10px;
  line-height: 20px;
}

.history-dates {
  width: 100%;
  padding: 15px;
  background-color: #131628;

  button {
    outline: none;
    border: none;
    box-shadow: none !important;
    width: 100%;
    background-color: #333b4e;
    border-color: #333b4e;
    color: #fff;
    border-radius: 4px;
    margin-top: 1rem;
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
    border-width: 1px;
    border-style: solid;

    &:hover {
      background-color: #3d475d;
      border-color: #3d475d;
      color: #d8d8d8;
    }
  }
}

.profit__info__xl {
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.top-tabs-items{
  a{
    white-space: nowrap;
  }
}
.clear-fix {
  clear: right;
}


.finance-top-tabs-sm {
  background: #262c41;
  width: 100%;
  height: max-content;
  padding: 6px;
  position: fixed;
  left: 0;
  bottom: 0;
  opacity: 1;
  transition: opacity 200ms;
  z-index: 999;

  ul {
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  li {
    margin-right: 5px;

    &:last-of-type {
      margin-right: 0;
    }

    a {
      display: inline-block;
      background-color: #293145;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 34px;
      min-width: 85px;
      padding: 3px;

      &.router-link-exact-active {
        background: #364059;
      }

      svg {
        fill: #8ea5c0;
        width: 18px;
        margin: 0 auto;
      }
    }
  }
}

.page_cover {
  margin-bottom: 2rem;
}

.profile-info {
  padding-top: 1.5rem;
}

.profile-detail-name {
  width: 100%;

  .profile-img {
    width: 202px;
    height: 202px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;

    img {
      width: 100%;
      vertical-align: baseline;
    }
  }

  .profile-level {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;

    a {
      display: inline-block;
      background-color: rgba(160, 158, 155, 0.7);
      border: 1px solid rgba(167, 166, 163, 0.7);
      border-radius: 3px;
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 9px;
      line-height: 16px;
      padding: 0 8px;
      font-family: Exo2Regular, sans-serif;
      white-space: nowrap;
    }
  }

  .profile-nickname {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .profile-country {
      height: 24px;
      height: 24px;
      margin-right: 10px;
    }

    span {
      font-size: 16px;
    }
  }
}

.btn.btn-warn {
  background-color: rgba(177, 80, 23, 0.15);
  border: 1px solid #b15017;
  color: #fff;
  border-radius: 4px;
}

.trading-info-tabs {
  .level-label {
    margin-top: 0.8rem;
    p {
      width: 100%;
      cursor: default;
      font-size: 14px;
      margin-bottom: 0;
    }
  }
}

.table-level {
  table {
    color: #fff;
  }

  .table td,
  .table th {
    border-bottom: 1px solid #292d4a;
    border-top: none;
  }
}

.profile-data-history {
  margin-top: 1.5rem;
  .nav-tabs {
    margin-bottom: 0;
    border-bottom: none;
    line-height: 44px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      width: 33.33%;

      a {
        display: block;
        width: 100%;
        border-radius: 4px;
        padding: 10px 22px;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.5;
        text-decoration: none !important;
        text-align: center;
        white-space: nowrap;
        user-select: none;
        color: #fff;
        transition: 200ms ease;
        cursor: pointer;

        &.active {
          background-color: #364059;
        }
      }
    }
  }

  .trading-recomendation {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      display: inline-block;
      text-decoration: none;
      color: #8ea5c0;
      border-bottom: 1px dashed;
    }
  }
}

.tab-content {
  li {
    border-left: 4px solid #3099f5;
    background-color: rgba(48, 153, 245, 0.1);
    padding: 7px 0 7px 12px;
    margin-bottom: 0.5rem;
    font-size: 12px;
  }
}

.profile-additional-details {
  margin-top: 2.5rem;

  .profile-additional {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
      display: inline-block;
      width: 90%;
      margin-bottom: 0.5rem;
      transition: 300ms ease;
      text-decoration: none !important;

      &:hover {
        color: #d8d8d8 !important;
      }

      &.btn-green {
        background-color: rgba(2, 91, 68, 0.15);
        border-color: #025b44;
        color: #fff;
        border: 1px solid #025b44;
        cursor: pointer;

        &:hover {
          background-color: #025b44;
        }
      }

      &.btn-warn {
        &:hover {
          background-color: #b15017;
        }
      }
    }
  }
}

.ratings {
  margin-top: 2rem;

  .nav-pills {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    li {
      width: 100%;
      height: fit-content;

      a {
        display: block;
        width: 100%;
        margin-bottom: 0;
        padding: 14px 5px;
        text-align: center;
        border-radius: 4px 4px 0 0;
        background-color: #20273f;
        color: #7e91a7;
        font-size: 12px;
        text-decoration: none !important;

        &.active {
          background-color: #434858;
          color: #fff;
        }
      }
    }
  }
}

.tab-content {
  padding: 15px;
  background-color: #161a2f;

  .tab-pane {
    background-color: rgba(56, 56, 65, 0.3);
  }

  table {
    color: #fff;

    thead {
      display: none;
    }

    tbody tr {
      display: grid;
    }

    td {
      border-top: none;
      text-align: center;
      border-top: 1px solid #292d4a;

      &.data-left {
        text-align: left !important;
      }

      &:nth-child(even) {
        background-color: rgba(56, 56, 65, 0.3);
      }

      span {
        display: inline-block;
        margin-right: 6px;
        font-size: 12px;
        font-weight: bolder;
        color: #7f838c;
      }

      i {
        font-size: 12px;
        margin-right: 10px;

        &.fa-arrow-up {
          color: green;
        }

        &.fa-arrow-down {
          color: red;
        }
      }
    }

    .btn-more {
      display: inline-block;
      color: #fff;
      border-radius: 4px;
      cursor: pointer;
      transition: color 0.3s, background-color 0.3s;
      border-width: 1px;
      border-style: solid;
      min-width: 200px;
      text-align: center;
      background-color: #333b4e;
      border-color: #333b4e;

      &:hover {
        color: #d8d8d8;
        background-color: #3d475d;
        border-color: #3d475d;
      }
    }
  }
}

.tab-content.data-history {
  width: 100%;
  .tab-pane {
    display: block;
  }
}

.pie-symbols-hsst,
.column-symbols-hsst {
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

  .message-info {
    background: rgba(40, 57, 98, 0.15);
    border: 1px dashed #283962;
    border-width: 1px;
    color: #fff;
    border-radius: 4px;
    padding: 10px 15px;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 15px;
  margin-bottom: 0;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: -2px;
  bottom: -3px;
  background-color: #7e91a7;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.settings-toggler {
  width: 100%;
  height: max-content;
  margin-top: 1rem;
}

.auth-settings-changed {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;

  .toggler-text {
    display: block;
    width: fit-content;
    font-weight: bolder;
    margin-left: 2rem;
  }
}

@media only screen and (min-width: 576px) {
    .finance-top-tabs-sm {
        width: 100%;
        max-width: 274px;

        li {
            a {
            height: 34px;
            min-width: 62px;

            svg {
                width: 28px;
            }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    #profile_layout {
        padding-left: 15px !important;
    }

  .ratings {
    .nav-pills {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      li {
        a {
          font-size: 14px;
        }
      }
    }
  }

  .tab-content {
    padding: 15px;
    background-color: #161a2f;

    .tab-pane {
      background-color: rgba(56, 56, 65, 0.3);
    }

    table {
      color: #fff;

      thead {
        display: none;
      }

      tbody tr {
        display: grid;
      }

      td {
        border-top: none;
        text-align: center;
        border-top: 1px solid #292d4a;

        &.data-left {
          text-align: left !important;
        }

        &:nth-child(even) {
          background-color: rgba(56, 56, 65, 0.3);
        }

        span {
          display: inline-block;
          margin-right: 6px;
          font-size: 12px;
          font-weight: bolder;
          color: #7f838c;
        }

        i {
          font-size: 12px;
          margin-right: 10px;

          &.fa-arrow-up {
            color: green;
          }

          &.fa-arrow-down {
            color: red;
          }
        }
      }

      .btn-more {
        display: inline-block;
        color: #fff;
        border-radius: 4px;
        cursor: pointer;
        transition: color 0.3s, background-color 0.3s;
        border-width: 1px;
        border-style: solid;
        min-width: 200px;
        text-align: center;
        background-color: #333b4e;
        border-color: #333b4e;

        &:hover {
          color: #d8d8d8;
          background-color: #3d475d;
          border-color: #3d475d;
        }
      }
    }
  }
}

 .finance-top-tabs-lg {
    display: block;

    .top-tabs-list {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-bottom: 0;
      overflow: hidden;
      overflow-x: auto;

      .top-tabs-items {
        margin-right: 1rem;
        
      }

      .top-tabs-link {
        display: block;
        color: white;
        transition: 0.3s ease;
        padding: 12px 17px;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 600;
        position: relative;

        &:hover,
        &.router-link-exact-active {
          color: white;
          background-color: #334351;
          text-decoration: none !important;
          border-radius: 10px;
        }

        &.router-link-exact-active::after{
            content: '';
            left: 50%;
            -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            background: #04233f;
            width: 83px;
            position: absolute;
            bottom: -53px;
            height: 50px;
            left: 0;
            right: 0;
            margin: auto;
        }
      }
      
      &::-webkit-scrollbar {
        width: 2px;
        height: 2px;
      }

      &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
      }
      
      
      &::-webkit-scrollbar-thumb {
        background: #073259; 
        border-radius: 10px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #073259; 
      }
    }
}

 .page-navs-tabs {
    margin-bottom: 1.6rem;
  }

@media only screen and (min-width: 992px) {
  .footer-top {
    p {
      font-size: 11px;
    }
  }

  .footer__bottom {
    margin-top: 0.5rem;
  }

  .footer-ddr {
    float: right;
  }
}

@media only screen and (min-width: 1200px) {
  .finance-top-tabs-sm {
    display: none;
  }

  .page-navs-tabs {
    margin-bottom: 1.6rem;
  }

  .ratings {
    .nav-pills {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      li {
        a {
          font-size: 14px;
        }
      }
    }
  }
  .tab-content {
    padding: 15px;
    background-color: #161a2f;

    .tab-pane {
      background-color: rgba(56, 56, 65, 0.3);
    }

    .table thead th {
      border-bottom: none;
      color: #7f838c;
      font-size: 12px;
    }

    .table th {
      border-top: none;
    }

    table {
      color: #fff;

      thead {
        display: table-row-group;
      }

      tbody tr {
        display: table-row;
      }

      td {
        border-top: none;
        text-align: center;
        border-top: 1px solid #292d4a;

        &.data-left {
          text-align: left !important;
        }

        &:nth-child(even) {
          background-color: transparent;
        }

        span {
          display: none;
        }
      }

      .btn-more {
        display: inline-block;
        color: #fff;
        border-radius: 4px;
        cursor: pointer;
        transition: color 0.3s, background-color 0.3s;
        border-width: 1px;
        border-style: solid;
        min-width: 200px;
        text-align: center;
        background-color: #333b4e;
        border-color: #333b4e;

        &:hover {
          color: #d8d8d8;
          background-color: #3d475d;
          border-color: #3d475d;
        }
      }
    }
  }
}
</style>
