<template>
  <div id="live-history-table">
    <div class="pannel-content">
      <h4 class="table-type">{{ $t('dashboard.Trading_history_text1') }}</h4>
      <div class="history-dates px-lg-0">
        <form>
          <div class="row mx-lg-0">
            <div class="col-12 p-0 li date-flex">
              <div id="history_date_input" class="form-control flex-lg-enlarged mb-3 mb-xl-0 min-width-fit">
                <i class="fas fa-caret-down"></i>&nbsp;
                <!-- <span><span id="date-start">2020-09-03</span> - <span id="date-end">2020-09-04</span></span> -->
                <!-- <b class="caret"></b> -->
                <input type="date" name="date_from" value="2020-09-03" />
                <!-- <input type="hidden" name="date_to" value="2020-09-04" /> -->
              </div>
              <div class="form-group flex-lg-enlarged form-type-sm mb-xl-0">
                <input type="text" class="form-control" placeholder="Order" />
              </div>
              <div class="form-group flex-lg-enlarged form-type-sm mb-xl-0">
                <input type="text" class="form-control" placeholder="All" />
              </div>
              <div class="settings-toggler flex-lg-enlarged">
                <div class="auth-settings-changed d-none">
                  <label class="switch">
                    <input type="checkbox" checked />
                    <span class="slider round"> </span>
                  </label>
                  <span class="toggler-text">{{ $t('dashboard.Possible_to_cancel') }}</span>
                </div>
              </div>
              <div class="col-12 ri p-0">
                <button type="button" class="btn btn-primary mt-sm-0">
                  {{ $t('dashboard.apply') }}
                </button>
                <div class="filters-block__btn2 mt-md-0 ml-md-2">
                  <input id="xls-submit" type="submit" class="btn btn-default" value="XLS" name="xls" />
                  <!-- Submit the input button type -->
                  <a onclick="" class="xls-btn btn-default mt-md-0">
                    <i class="far fa-file-excel"></i>
                    {{ $t('dashboard.Export_to_XLS') }}
                  </a>
                </div>
              </div>
            </div>
          </div>
        </form>
        <div class="col-12 px-0">
          <div class="tab-content">
            <div id="live_trades" class="tab-pane active">
              <table class="table table-adaptive">
                <colgroup>
                  <col style="width: 4%;" />
                  <col style="width: 20%" />
                  <col style="width: 8%" />
                  <col style="width: 12%" />
                  <col style="width: 12%" />
                  <col style="width: 9%" />
                  <col style="width: 9%" />
                  <col style="width: 8%" />
                  <col style="width: 8%" />
                  <col style="width: 10%" />
                </colgroup>
                <thead>
                  <tr>
                    <th col></th>
                    <th class="order">{{ $t('dashboard.order') }}</th>
                    <th class="asset">{{ $t('dashboard.Asset') }}</th>
                    <th class="open-time">{{ $t('dashboard.Open_Time') }}</th>
                    <th class="expiry-time">{{ $t('dashboard.Expiry_Time') }}</th>
                    <th class="open-price">{{ $t('dashboard.Open_Price') }}</th>
                    <th class="close-price">{{ $t('dashboard.Closing_Price') }}</th>
                    <th class="amount">{{ $t('dashboard.amount') }}</th>
                    <th class="payout">{{ $t('dashboard.Payout') }}</th>
                    <th class="profit">{{ $t('dashboard.Profit') }}</th>
                  </tr>
                </thead>
                <tbody v-if="this.histories">
                  <tr v-for="history in histories" :key="history.order_id">
                    <td>
                      <span v-if="history.side == 1" style="display: inline !important; color: #118241"><i class="fa fa-2x put fa-arrow-up"></i></span>
                      <span v-else style="display: inline !important; color: #db4931"><i class="fa fa-2x put fa-arrow-down "></i></span>
                    </td>
                    <td colspan="1">{{ history.order_id }}</td>
                    <td>{{ history.asset }}</td>
                    <td>{{ history.open_time }}</td>
                    <td>{{ history.close_time }}</td>
                    <td>{{ history.open_price }}</td>
                    <td>{{ history.close_price }}</td>
                    <td>${{ history.amount }}</td>
                    <td>Empty</td>
                    <td>
                      <span :class="getProfitColor(history.profit)" style="display: inline !important; color: #db4931">${{ history.profit }}</span>
                    </td>
                  </tr>
                </tbody>
                <tbody v-else>
                  <tr>
                    <td colspan="10">
                      {{ $t('dashboard.Trading_history_text5') }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {mapState} from 'vuex';

export default {
  data() {
    return {
      histories: [],
    };
  },
  computed:{
  
  },
  methods: {
    getProfitColor(profit){
      return profit < 0 ? 'text-danger':'text-success' ;
    },
    getHistory() { 
      this.$store
        .dispatch('post', {
          endpoint: '/wallet-history',
        })
        .then((data) => {
          this.histories = data.data.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },

  created() {
    this.getHistory();
  },
};
</script>

<style lang="scss" scoped>
.in-page-blocks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;

  .in_page_blocks__item {
    width: 31%;

    &:last-of-type {
      display: none;
    }

    a {
      display: block;
      width: 100%;
      min-width: 100px;
      min-height: 190px;
      padding: 15px;
      background-color: #293145;
      border-radius: 5px;
      text-align: center;

      &:hover,
      &.active {
        background-color: #364059;
        text-decoration: none !important;
      }
    }

    svg {
      width: 50px;
      min-height: 60px;
      fill: #8fa5bf;
      margin-bottom: 1rem;
    }
  }

  .in-page-top-blocks__title {
    font-size: 14px;
    line-height: 18px;
    color: #8fa5bf;
  }
}

.account-type-buttons {
  width: 100%;
  margin-top: 2rem;

  .live-demo-buttons__in {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    a {
      display: inline-block;
      text-decoration: none !important;
      width: fit-content;
      height: auto;
      opacity: 0.6;
      border-bottom: 2px solid transparent;
      padding: 12px 20px;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 16px;
      background-color: #131628;

      &:first-of-type {
        border-right: 1px solid #ffffff63;
      }

      &.active,
      &:hover {
        color: #ffffff;
        opacity: 1;
        border-bottom-color: #8da5bf;
      }
    }
  }
}

.panel-body {
  background-color: #131628;
  width: 100%;

  .pannel-content {
    padding: 15px;
  }
}

.history-dates {
  padding: 15px;
  background-color: #131628;
}

.history-dates button,
.filters-block__btn2 a {
  outline: none;
  border: none;
  box-shadow: none !important;
  width: 100%;
  background-color: #333b4e;
  border-color: #333b4e;
  color: #fff;
  border-radius: 4px;
  margin-top: 1rem;
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
  border-width: 1px;
  border-style: solid;

  &:hover {
    background-color: #3d475d;
    border-color: #3d475d;
    color: #d8d8d8;
  }
}

.history-table {
  margin-top: 1.5rem;
  background-color: #131628;
}

.filters-block__btn2 {
  height: fit-content;
  width: 100%;
  margin-top: 0.3rem;

  input {
    display: none;
  }

  a {
    display: block;
    text-align: center;
    padding: 8px 15px;
  }
}

.tab-content {
  width: 100%;
}

.panel-inverse {
  .panel-title {
    background-color: #20273f;
    color: #7e91a7;
    padding: 20px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    font-size: 14px;
    margin-bottom: 0;
  }

  .no-data {
    background-color: #131628;
    padding: 15px;
  }
}

.form-control {
  box-shadow: none;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #162032 !important;
  border-color: #495671;
  color: #7e91a7 !important;
}

.trading-recomendation {
  width: 100%;
  height: fit-content;
  position: relative;

  .btn-wrap {
    width: 100%;
    height: fit;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;

    button {
      outline: none;
      box-shadow: none !important;
      background-color: rgba(2, 91, 68, 0.15);
      border: 1px solid #025b44;
      color: #fff;
      border-radius: 4px;
      cursor: pointer;
      transition: 200ms ease-in;
      font-size: 12px;
      padding: 5px 10px;

      &:hover {
        background-color: #025b44;
      }
    }
  }
}

.history-expanded {
  background-color: #131628;
}

.in-page-top-blocks__link {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 576px) {
  .in-page-blocks {
    justify-content: space-between;

    .in_page_blocks__item {
      width: 23%;

      &:last-of-type {
        display: block;
      }

      a {
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .marg-inverser {
    margin-right: -1rem;
    margin-left: -1rem;
  }

  .ri {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media only screen and (min-width: 1200px) {
  .li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;

    .ri {
      width: fit-content;
      max-width: 330px;
      overflow: hidden;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    .flex-lg-enlarged {
      width: fit-content;
      max-width: 20% !important;

      button {
        width: 50px !important;
      }
    }

    .filters-block__btn2 {
      width: 160px;

      a {
        white-space: nowrap;
      }
    }

    .form-type-sm {
      //   max-width: 90px !important;
      width: 24%;
    }
  }
}

@media only screen and (min-width: 1400px) {
  .history-expanded {
    margin-top: 2rem;
    background: transparent;
  }
}

.table-type {
  font-size: 18px;
  color: #7e91a7 !important;
}

.date-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.tab-content .table thead th {
  text-align: center !important;
}

.min-width-fit {
  min-width: fit-content;
}

.tab-content table tbody tr {
  border-bottom: 3px solid #292d4a;
  padding-bottom: 8px;

  &:last-of-type {
    border-bottom: none;
    padding-bottom: 0;
  }
}
</style>
