<template>
    <div id="trading_profile" class="page_cover trading-profile">
        <div class="trading-profile-h6">
            <h6>{{ $t('dashboard.Profile') }}</h6>
        </div>
        <div class="trp-identity-infoWrapper">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="trp-idenInfo-formWrapper">
                        <p class="iden-info-title">{{ $t('dashboard.Identity_Info') }}</p>
                        <form>
                            <div class="form-group row">
                                <span class="pro-asterik">*</span>
                                <label for="firstName" class="col-sm-3 col-form-label">{{ $t('dashboard.First_Name') }}  </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" v-model="user.firstname" id="firstName" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <span class="pro-asterik">*</span>
                                <label for="lastName" class="col-sm-3 col-form-label">{{ $t('dashboard.last_name') }} </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" v-model="user.lastname" id="lastName" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="email" class="col-sm-3 col-form-label">{{ $t('dashboard.Email') }} </label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" v-model="user.email" id="email" />
                                </div>
                                <div class="verified-email" v-if="user.email_verified_at">
                                    <img src="../../../assets/verify.png" alt="" class="verified-img" />
                                    <span> {{ $t('dashboard.verified') }} </span>
                                </div>
                                <div class="verified-email d-flex mt-2" v-else>
                                    <i class="fa fa-times text-danger"></i>
                                    <span class="ml-1 text-danger" style="line-height:13px">{{ $t('dashboard.Unverified') }} </span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="phone" class="col-sm-3 col-form-label">{{ $t('dashboard.Phone') }} </label>
                                <div class="col-sm-9 pr-tel">
                                    <vue-country-code @onSelect="onSelect" :defaultCountry="user.dial_ct" :preferredCountries="['kr', 'ng', 'gb']"> </vue-country-code>
                                    <input type="tel" class="form-control tel-input" v-model="phone" @input="acceptNumber()" id="phone" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="dateofBirth" class="col-sm-3 col-form-label">{{ $t('dashboard.Date_of_birth') }} </label>
                                <div class="col-sm-9">
                                    <input type="date" v-model="user.date_of_birth" class="form-control unstyled" id="dateofBirth" />
                                </div>
                            </div>
                            <div class="form-group row gender-row">
                                <span class="pro-asterik gender-ask">*</span>
                                <legend class="col-form-label col-sm-3 pt-0">{{ $t('dashboard.gender') }}</legend>
                                <div class="col-sm-9">
                                    <input class="form-check-input" type="radio" id="phone" v-model="user.gender" :selected="user.gender == 'male' ? 'selected' : ''" value="male" name="gender" />
                                    <label class="form-check-label" for="gridRadios1"> {{ $t('dashboard.Male') }}  </label>

                                    <input class="form-check-input" type="radio" id="phone" v-model="user.gender" :selected="user.gender == 'female' ? 'selected' : ''" value="female" name="gender" />
                                    <label class="form-check-label" for="gridRadios1">{{ $t('dashboard.Female') }}  </label>
                                </div>
                            </div>
                            <button class="btn trp-update-btn trp-info-btn" @click.prevent="updateProfile('profileStatus')">
                                <span v-if="!loader.profileStatus">{{ $t('dashboard.update') }} </span>
                                <span v-else>{{ $t('dashboard.updating') }}....</span>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="trp-idenInfo-formWrapper">
                        <p class="iden-info-title">{{ $t('dashboard.Address_Info') }} </p>
                        <form @submit.prevent="updateProfile('addressStatus')">
                            <div class="form-group row">
                                <span class="pro-asterik country-ask">*</span>
                                <label for="country" class="col-sm-3 col-form-label">{{ $t('dashboard.Country') }} </label>
                                <div class="col-sm-9">
                                    <v-select :reduce="(ct) => ct.code2" @input="selectCountry()" v-model="user.country" class="v-selt fill-details editable-click editable editable-empty " label="name" :options="countries"></v-select>
                                    <!-- <input type="text" class="form-control" id="country"> -->
                                </div>
                            </div>
                            <div class="form-group row">
                                <span class="pro-asterik addressLine-ask">*</span>
                                <label for="stateRegion" class="col-sm-3 col-form-label">{{ $t('dashboard.State_Region') }}  </label>
                                <div class="col-sm-9">
                                    <!-- <input type="text" class="form-control" id="stateRegion"> -->
                                    <v-select :reduce="(state) => state.name" v-model="user.state" class="v-selt fill-details editable-click editable editable-empty" label="name" :options="states"></v-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="city" class="col-sm-3 col-form-label">{{ $t('dashboard.City') }} </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="city" v-model="user.city" placeholder="empty" @input="acceptStringCity()" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="address" class="col-sm-3 col-form-label">{{ $t('dashboard.Address') }} </label>
                                <div class="col-sm-9 pr-tel">
                                    <!--                                        <div class="pro-count-wrapper">-->
                                    <!--                                            <img src="../../../assets/US - United States.png" alt="" class="pro-count-icon">-->
                                    <!--                                            <i class="fa fa-play"></i>-->
                                    <!--                                        </div>-->
                                    <!--                                        <span class="b-l"></span>-->
                                    <input type="text" class="form-control" id="address" v-model="user.address" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <span class="pro-asterik addressLine-ask">*</span>
                                <label for="addressLine" class="col-sm-3 col-form-label">{{ $t('dashboard.Address_Line_2') }} </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="addressLine" v-model="user.address_two" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <span class="pro-asterik zipCode-ask">*</span>
                                <label for="zipCode" class="col-sm-3 col-form-label">{{ $t('dashboard.Zip_Code') }} </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="zipCode" v-model="user.zip_code" @input="acceptNumberZipCode()" />
                                </div>
                            </div>

                            <button class="btn trp-update-btn trp-info-btn" type="submit">
                                <span v-if="!loader.addressStatus">{{ $t('dashboard.update') }}</span>
                                <span v-else>{{ $t('dashboard.updating') }}....</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="profile-idenStatus-wrapper">
            <div class="row ">
                <div class="col-md-12 col-lg-6">
                    <div class="row pro-idenStatus-inner">
                        <div class="col-sm-12 col-md-6 p-0">
                            <div class="identity-status-head">
                                <p class="identity-status-title">{{ $t('dashboard.Identity_status') }} </p>
                                <div class="iden-ImgStat-wrapper" v-if="checkIdentityStatus() == -1">
                                    <i class="fa fa-times-circle text-danger"></i>
                                    <p class="text-danger ml-1">{{ $t('dashboard.Unverified') }} </p>
                                </div>
                                <div class="iden-ImgStat-wrapper" v-if="checkIdentityStatus() == 0">
                                    <i class="fa fa-exclamation-triangle text-warning"></i>
                                    <p class="ml-1 text-warning">{{ $t('dashboard.pending') }} </p>
                                </div>
                                <div class="iden-ImgStat-wrapper" v-if="checkIdentityStatus() == 1">
                                    <i class="fa fa-check-circle text-success"></i>
                                    <p class="ml-1 text-success">{{ $t('dashboard.verified') }} </p>
                                </div>
                            </div>
                            <label v-if="checkIdentityStatus() == -1" class="btn identity-upload-btn pointer" for="identity_verify">{{ $t('dashboard.Upload_a_valid_ID') }} </label>
                            <input type="file" id="identity_verify" class="d-none" @change="uploadID('identity_verify')" />
                        </div>
                        <div class="col-sm-12 col-md-6 pr-0 pl" v-if="checkIdentityStatus() == -1">
                            <p class="iden-stat-p">
                               {{ $t('dashboard.profile_text1') }} 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="row pro-idenStatus-inner">
                        <div class="col-sm-12 col-md-6 p-0">
                            <div class="identity-status-head">
                                <p class="identity-status-title">{{ $t('dashboard.Address_status') }} </p>
                                <div class="iden-ImgStat-wrapper" v-if="checkAddressStatus() == -1">
                                    <i class="fa fa-times-circle text-danger"></i>
                                    <p class="text-danger ml-1">{{ $t('dashboard.Unverified') }} </p>
                                </div>
                                <div class="iden-ImgStat-wrapper" v-if="checkAddressStatus() == 0">
                                    <i class="fa fa-exclamation-triangle text-warning"></i>
                                    <p class="ml-1 text-warning">{{ $t('dashboard.pending') }} </p>
                                </div>
                                <div class="iden-ImgStat-wrapper" v-if="checkAddressStatus() == 1">
                                    <i class="fa fa-check-circle text-success"></i>
                                    <p class="ml-1 text-success">{{ $t('dashboard.verified') }} </p>
                                </div>
                            </div>
                            <label for="address_verify" class="btn identity-upload-btn pointer" v-if="checkAddressStatus() == -1">{{ $t('dashboard.update') }} UPLOAD VALID ADDRESS</label>
                            <input type="file" id="address_verify" class="d-none" @change="uploadID('address_verify')" />
                        </div>
                        <div class="col-sm-12 col-md-6 pr-0 pl" v-if="checkAddressStatus() == -1">
                            <p class="iden-stat-p">
                                {{ $t('dashboard.profile_text1') }} 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapState} from 'vuex';
import country from '../../../store/countries/countries.json';
import 'vue-select/dist/vue-select.css';
export default {
    name: 'Trading_profile',
    computed: {
        ...mapState({
            user: (context) => context.user,
            token: (context) => context.token,
            loading: (context) => context.loading,
        }),
    },
    data() {
        return {
            countries: country,
            states: [],
            phone: '',
            resendLoading: false,
            droppedFiles: false,
            dialCode: '',
            resendPhoneLoading: false,
            loader: {
                profileStatus: false,
                addressStatus: false,
                identity_verify: false,
                address_verify: false,
                upload_image: false,
            },
        };
    },
    methods: {
        onSelect({iso2, dialCode}) {
            this.user.dial_ct = iso2;
            this.user.dial_code = dialCode;
        },
        checkIdentityStatus() {
            var check = -1;
            if (this.user.verification) {
                if (this.user.verification.identity_verified_at != null) {
                    check = 1;
                } else {
                    if (this.user.verification.identity_verification != null) {
                        check = 0;
                    }
                }
            }
            return check;
        },
        checkAddressStatus() {
            var check = -1;
            if (this.user.verification) {
                if (this.user.verification.address_verified_at != null) {
                    check = 1;
                } else {
                    if (this.user.verification.address_verification != null) {
                        check = 0;
                    }
                }
            }
            return check;
        },
        uploadID(name) {
            this.loader[name] = true;
            var file = document.getElementById(name).files;
            var form = new FormData();
            form.append(name, file[0]);
            this.$store
                .dispatch('post', {
                    endpoint: '/verify-details',
                    details: form,
                })
                .then((data) => {
                    this.loader[name] = false;
                    console.log(data.data);
                    if (data.data.status) {
                        var user = this.user;
                        user.verification = data.data.data.verification;
                        var load = {
                            token: this.token,
                            user: this.user,
                        };
                        this.$store.commit('setUser', load);

                        this.$store.commit('setNotification', {
                            type: 1,
                            msg: data.data.msg,
                        });
                    } else {
                        this.$store.commit('setNotification', {
                            type: 2,
                            msg: data.data.msg,
                        });
                    }
                })
                .catch((error) => {
                    this.loader[name] = false;
                    console.log(error.request);
                });
        },
        selectCountry() {
            this.countries.forEach((val) => {
                if (val.code2 == this.user.country) {
                    this.states = val.states;
                }
            });
            // console.log(this.states);
        },
        updateProfile(type) {
            this.loader[type] = true;
            console.log(this.user.country);
            this.$store
                .dispatch('post', {endpoint: '/update-profile', details: this.user})
                .then((data) => {
                    console.log(data);
                    if (data.data.status) {
                        var local_user = {
                            user: data.data.data,
                            token: this.token,
                        };
                        this.$store.commit('setUser', local_user);
                        this.$store.commit('setNotification', {
                            type: 1,
                            msg: 'Profile was updated successfully',
                            unset: true,
                        });
                    } else {
                        this.$store.commit('setNotification', {
                            type: 2,
                            msg: data.data.msg,
                        });
                    }
                    this.loader[type] = false;
                })
                .catch((error) => {
                    console.log(error.request);
                    this.loader[type] = false;
                });
        },
        uploadImage() {
            var file = document.getElementById('profile_pic_upload').files;
            var form = new FormData();
            form.append('image', file[0]);
            this.loader.upload_image = true;
            this.$store
                .dispatch('post', {
                    endpoint: '/upload-profile-image',
                    details: form,
                })
                .then((data) => {
                    console.log(data.data);
                    if (data.data.status) {
                        this.loader.upload_image = false;
                        this.$store.commit('setUser', {
                            user: data.data.data,
                            token: this.token,
                        });
                        this.$store.commit('setNotification', {
                            type: 1,
                            msg: 'Profile image updated successfully',
                        });
                    } else {
                        this.$store.commit('setNotification', {
                            type: 2,
                            msg: data.data.msg,
                        });
                    }
                })
                .catch((error) => {
                    this.loader.upload_image = false;
                    console.log(error.request);
                });
        },
        deleteAvatar() {
            this.$store
                .dispatch('get', '/delete-avatar')
                .then((data) => {
                    if (data.data.status) {
                        this.$store.commit('setUser', {
                            user: data.data.data,
                            token: this.token,
                        });
                        this.$store.commit('setNotification', {
                            type: 1,
                            msg: 'Avatar deleted successfully',
                        });
                    } else {
                        this.$store.commit('setNotification', {
                            type: 2,
                            msg: data.data.msg,
                        });
                    }
                })
                .catch((error) => {
                    this.$store.dispatch('handleError', error);
                });
        },
        resendVerification() {
            this.resendLoading = true;
            this.$store
                .dispatch('get', '/resend-verification')
                .then((data) => {
                    this.resendLoading = false;
                    if (data.data.status) {
                        this.$store.commit('setNotification', {
                            type: 1,
                            msg: data.data.msg,
                        });
                    } else {
                        this.$store.commit('setNotification', {
                            type: 2,
                            msg: 'Error resending verification mail, pls try again',
                        });
                    }
                })
                .catch((error) => {
                    this.resendLoading = false;
                    this.$store.dispatch('handleError', error);
                });
        },
        acceptNumber() {
            var x = this.phone.replace(/\D/g, '').match(/(\d{0,3})(\d{0,3})(\d{0,4})/);
            this.phone = !x[2] ? x[1] : '(' + x[1] + ') ' + x[2] + (x[3] ? '-' + x[3] : '');
            this.user.phone = this.phone;
        },
        acceptStringCity() {
            this.user.city = this.user.city.replace(/[^a-zA-Z]+/g, '');
        },
        acceptNumberZipCode() {
            this.user.zip_code = this.user.zip_code.replace(/[a-zA-Z]+/g, '');
        },
    },
    mounted() {
        this.phone = this.user.phone;
        this.selectCountry();
        // console.log(this.user.firstname);
    },
    created() {},
};
</script>
<style>
.trading-profile .vs__dropdown-toggle {
    height: calc(1.5em + 0.75rem + 7px) !important;
    border: 1px solid #406fac !important;
    border-radius: 7px;
}
.trading-profile .vs__open-indicator {
    fill: #b9b9e4;
}
.trading-profile .vs__selected {
    color: #b9b9e4;
}
.trading-profile .vue-country-select .dropdown:hover {
    background: transparent;
}
.trading-profile .vue-country-select .dropdown:focus {
    outline: none;
    box-shadow: none;
}
.trading-profile .vue-country-select:focus {
    outline: none;
    box-shadow: none;
}
.trading-profile .vue-country-select .dropdown.open {
    background: transparent;
}
.trading-profile .vue-country-select .dropdown-list {
    width: 314px;
    overflow-x: scroll;
}
::-webkit-scrollbar {
    width: 4px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
::-webkit-scrollbar:horizontal {
    width: 1px;
}
.vs__dropdown-toggle {
    cursor: text;
    width: 70%;
    height: 42px;
    border: 1px solid #406fac;
}

.vs--single .vs__selected {
    font-size: 1rem;
    color: #b9b9e4;
}

.vs__open-indicator {
    fill: rgb(185 185 228);
}

.vs__open-indicator {
    fill: rgb(185 185 238);
}

.vs__clear {
    fill: rgb(185 185 238);
}

.trp-idenInfo-formWrapper .vue-country-select:hover,
.vue-country-select .dropdown:hover {
    background-color: transparent;
    background: transparent;
}

@media screen and (max-width: 1200px) {
    .vs__dropdown-toggle {
        width: 85% !important;
    }
}
</style>
<style lang="scss" scoped>
.pointer {
    cursor: pointer !important;
}
input[type='checkbox']:focus {
    -webkit-appearance: checkbox !important;
}
input[type='radio']:focus {
    -webkit-appearance: radio !important;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.upload-form > input {
    display: none;
}

label.filebutton {
    width: 25px;
    height: 25px;
    overflow: hidden;
    position: absolute;
    right: -9px;
    top: 5px;
}

label span input {
    z-index: 999;
    line-height: 0;
    font-size: 50px;
    position: absolute;
    top: -2px;
    left: -700px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -ms-filter: 'alpha(opacity=0)';
    cursor: pointer;
    _cursor: hand;
    margin: 0;
    padding: 0;
}

.filebutton i {
    font-size: 11px;
    border-radius: 50%;
    padding: 7px;
    background: #bfb9ee;
    height: 25px;
    width: 25px;
    color: black;
    cursor: pointer;
}

.vs__dropdown-toggle {
    cursor: text;
    width: 70% !important;
    height: 42px !important;
    border: 1px solid #1e4977 !important;
}

.trading-profile-h6 {
    background-color: #04233f;
    border-radius: 10px;
    position: relative;

    h6 {
        margin-bottom: 0;
        font-size: 22px;
        font-weight: 600;
        padding: 24px 30px;
        color: #c5b9ee;
    }
}

.trp-idenInfo-formWrapper {
    background-color: #072f54;
    padding: 30px 40px;
    margin: 30px 0px;
    border-radius: 10px;

    .iden-info-title {
        font-size: 17px;
        color: #b9b9ee;
        font-weight: 600;
    }

    .form-group {
        position: relative;
        margin-bottom: 1.5rem;

        .pro-asterik {
            font-size: 10px;
            position: absolute;
            color: #de6e73;
            left: 88px;
            top: 7px;
        }

        label,
        .col-form-label {
            font-size: 13px;
            color: #049aaf;
            font-weight: 500;
        }

        .pr-tel {
            position: relative;
        }

        .pro-count-wrapper {
            height: fit-content;
            position: absolute;
            top: 4px;
            bottom: 0;
            margin: auto;
            left: 27px;

            .pro-count-icon {
                width: 27px;
                display: inline;
            }

            i {
                font-size: 5px;
                transform: rotate(90deg);
                padding-right: 7px;
            }
        }

        .b-l {
            position: absolute;
            border-right: 1px solid #406fac;
            left: 79px;
            bottom: 0;
            top: 0;
        }

        .form-control {
            width: 70%;
            background-color: transparent;
            border: 1px solid #406fac;
            border-radius: 7px;
            height: calc(1.5em + 0.75rem + 4px);
            color: #b9b9e4;
            font-size: 14px;
        }

        .form-check-input {
            position: unset;
            margin-top: 0.3rem;
            margin-left: 0;
        }

        .form-check-label {
            margin-right: 35px;
            margin-left: 10px;
        }

        .gender-ask {
            left: 69px;
            top: 0px;
        }

        .verified-email {
            display: inline;
            position: absolute;
            right: 6%;
            top: 13%;

            img {
                width: 12px;
            }

            span {
                color: #52db6c;
                font-size: 10px;
                margin-left: 12px;
            }
        }

        .zipCode-ask {
            left: 72px;
        }

        .country-ask {
            left: 68px;
        }

        .addressLine-ask {
            left: 108px;
        }
    }

    .trp-info-btn {
        background: #049cb1;
        color: white;
        font-size: 13px;
        width: 150px;
        height: 41px;
        border-radius: 6px;
        margin: 10px 0px;
    }

    .tel-input {
        padding-left: 65px;
    }

    .vue-country-select {
        border-radius: 3px;
        display: inline-block;
        border: 1px solid #bbb;
        text-align: left;
        position: absolute;
        left: 23px;
        top: 0;
        bottom: 0;
        border: none;
        border-right: 1px solid #406fac;
        border-radius: 0;
        box-shadow: none;
    }

    .unstyled::-webkit-inner-spin-button,
    .unstyled::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }
}

.gender-row {
    margin-bottom: 2.4rem !important;
}

.pro-idenStatus-inner {
    background: #04233f;
    margin: 0px;
    border-radius: 10px;
    padding: 30px 40px;
    max-height: 170px;

    .identity-status-head {
        display: flex;
        justify-content: space-between;

        p {
            margin-bottom: 0;
            color: #c5b9ee;
            font-weight: 600;
            font-size: 13px;
        }
    }

    .iden-ImgStat-wrapper {
        img {
            display: inline;
            width: 11px;
            margin-right: 5px;
        }

        p {
            display: inline;
            color: #f5b12b;
            font-size: 10px;
        }
    }

    .iden-stat-p {
        margin-bottom: 0;
        font-size: 11px;
        padding: 15px 16px;
        line-height: 1.4;
        border: 1px dashed #085ca8;
        color: #adb1b6;
    }

    .identity-upload-btn {
        color: white;
        font-size: 13px;
        background: #049cb1;
        height: 41px;
        width: 100%;
        border-radius: 6px;
        margin: 21px 0px 8px;
        line-height: 2;
    }
}

.pro-social-wrapper {
    background: #04233f;
    margin: 35px 0px;
    padding: 30px 30px;
    border-radius: 10px;

    .social-trading-title {
        margin-bottom: 18px;
        color: #c5b9ee;
        font-weight: 600;
        font-size: 13px;
    }

    .social-trading {
        display: flex;
    }

    .social-trading-userWrap {
        width: 70px;
        height: 70px;
        background: black;
        border-radius: 50%;
        position: relative;
    }

    .socail-trd-icon {
        width: 56px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .social-trd-delete {
        padding: 19px 0px 19px 15px;
    }

    .social-avater {
        margin-bottom: 0;
        font-size: 13px;
        color: #c1c2c3;
        line-height: 0.9;
    }

    .social-delete {
        margin-bottom: 0;
        font-size: 8px;
        background: #280000;
        border: 1px solid #863b3f;
        color: #e28b8b;
        padding: 2px 13px;
        border-radius: 4px;
        margin-top: 6px;
    }

    .nick-label {
        color: #0496ac;
        margin-bottom: auto;
        font-size: 13px;
        margin-right: 12px;
        padding: 5px 0px;
    }

    .nick-wrapper {
        display: flex;
        margin-bottom: 10px;

        input {
            background: transparent;
            border: 1px solid #3f6ca6;
            border-radius: 5px;
            height: 36px;
            width: 90%;
        }
    }

    .custom-switch .custom-control-label::before {
        width: 1.95rem;
        margin-top: 5px;
        background: #cbcbcb;
    }

    .custom-switch .custom-control-label::after {
        top: calc(0.25rem + 7px);
        left: calc(-2.25rem + 2px);
        width: calc(1rem - 4px);
        height: calc(1rem - 4px);
        background-color: #04233f;
    }

    input:checked ~ .custom-control-label::before {
        color: #fff;
        border-color: #cbcbcb;
    }
}

.delete-acc-btn {
    background: #920000;
    border-color: #dc3545;
    width: 70%;
    height: 71px;
    color: #c5b9ee;
    font-size: 15px;
    border-radius: 7px;
    margin-top: 34px;
}

.pro-settings-wrapper {
    margin-top: 35px;
    background: #04233f;
    padding: 30px 35px;
    border-radius: 10px;

    .settings-inner {
        display: flex;
        justify-content: space-between;
        margin-bottom: 13px;

        .settings-title {
            margin-bottom: 0;
            font-size: 12px;
            color: #049cb1;
            font-weight: 500;
        }

        .custom-control {
            display: inline;
            padding-right: 35px;
        }

        .settings-icon {
            display: inline;
            width: 18px;
            margin-right: 48px;
            height: 19px;
        }

        .set-tit {
            font-size: 14px;
            color: #c5b9ee;
            font-weight: 600;
        }

        .pro-lang-wrap {
            display: flex;

            .pro-lang-flag {
                width: 32px;
                height: 25px;
            }

            .pro-lang-p {
                margin-bottom: 0;
                font-size: 11px;
                margin-left: 5px;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .trading-clipath {
        display: none;
    }
    .trp-idenInfo-formWrapper {
        padding: 30px 34px;
        .form-group {
            .verified-email {
                right: -2%;
            }

            .form-control {
                width: 85%;
            }

            .col-form-label {
                font-size: 11px;
            }
        }
    }
}

@media screen and (max-width: 990px) {
    .trp-idenInfo-formWrapper {
        .form-group {
            .verified-email {
                right: -1%;
            }
        }
    }

    .pro-idenStatus-inner {
        max-height: unset;
        margin-bottom: 30px;
    }

    .delete-acc-btn {
        width: 100%;
        margin-top: 9px;
        margin-bottom: 40px;
    }

    .pro-settings-wrapper {
        padding: 30px 20px;

        .custom-control {
            display: inline;
            padding-right: 6px;
        }
    }

    .custom-control {
        padding-right: 6px;
    }

    .pro-settings-wrapper .settings-inner .pro-lang-wrap .pro-lang-flag {
        width: 23px;
        height: 19px;
    }

    .pro-settings-wrapper .settings-inner .pro-lang-wrap .pro-lang-p {
        font-size: 8px;
        margin-left: 4px;
    }

    .pro-settings-wrapper .settings-inner .settings-title {
        font-size: 10px;
    }

    .pro-settings-wrapper .settings-inner .custom-control {
        padding-right: 18px;
    }

    .pro-settings-wrapper .settings-inner .settings-icon {
        margin-right: 33px;
    }
}

@media screen and (max-width: 767px) {
    .pl {
        padding-left: 0px;
    }
}

@media screen and (max-width: 573px) {
    .trp-idenInfo-formWrapper {
        padding: 20px 20px;
        .form-group {
            .verified-email {
                right: 2%;
                top: 53%;

                span {
                    color: #52db6c;
                    font-size: 9px;
                    margin-left: 4px;
                }

                img {
                    width: 10px;
                }
            }

            .form-control {
                height: calc(1.5em + 0.75rem + 1px);
            }
        }
    }

    .pro-idenStatus-inner[data-v-1f4cd1c8] {
        padding: 30px 20px;
    }
}
</style>
