<template>
  <div id="security" class="page_cover security">
      <div class="profile-security-wrapper">
          <div class="row pro-security-row">
                <div class="col-md-12 col-lg-6">
                    <div class="change-password-wrapper">
                        <div class="chng-pw-title">
                            <h6 class="security-h6">{{ $t('dashboard.Change_password') }}</h6>
                            <img src="../../../assets/lock.png" alt="" class="security-lock-icon">
                        </div>
                        <div class="security-form-wrapper">
                            <form action="" @submit.prevent="changePassword()">
                                <div class="form-group row">
                                    <label for="Password" class="col-sm-3 col-form-label"> {{ $t('dashboard.old_password') }} </label>
                                    <div class="col-sm-9">
                                        <input type="password" class="form-control" v-model="psw.oldPassword" id="Password">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="Password" class="col-sm-3 col-form-label"> {{ $t('dashboard.Password') }} </label>
                                    <div class="col-sm-9">
                                        <input type="password" class="form-control" v-model="psw.password" id="Password">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="changePassword" class="col-sm-3 col-form-label"> {{ $t('dashboard.confirm_password') }} </label>
                                    <div class="col-sm-9">
                                        <input type="password" class="form-control" v-model="psw.password_confirmation" id="changePassword">
                                    </div>
                                </div>

                                
                                <button type="submit" class="btn pro-security-btn">
                                    <span v-if="!loading"> {{ $t('dashboard.Update') }} </span>
                                    <span v-else> {{ $t('dashboard.Updating') }}...</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="twoFactor-auth-wrapper">
                        <h6 class="security-h6"> {{ $t('dashboard.security_test1') }} </h6>
                        <p class="recomended">{{ $t('dashboard.recommended') }} </p>
                    </div>
                    <div class="twofactor-img-wrapper">
                        <img src="../../../assets/google.png" alt="" class="google-auth-icon">
                        <div class="two-fact-details">
                            <div class="google-auth-text">
                                <p class="google-auth-p"> {{ $t('dashboard.security_test1') }} </p>
                                <p class="google-active"> {{ $t('dashboard.active') }} </p>
                            </div>
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                <label class="custom-control-label" for="customSwitch1"></label>
                            </div>
                        </div>
                    </div>
                </div>
          </div>

          <div class="pro-security-history">
              <div class="row security-history-row">
                  <div class="col-12">
                      <div class="login-history-wrapper">
                          <h6 class="history-h6"> {{ $t('dashboard.login_history') }} </h6>
                          <div class="login-history-table">
                                <table class="table table-borderless">
                                    <thead>
                                        <tr>
                                            <th scope="col">{{ $t('dashboard.date') }} </th>
                                            <th scope="col"> {{ $t('dashboard.ip') }}  </th>
                                            <th scope="col"> {{ $t('dashboard.device_os') }} </th>
                                            <th scope="col"> {{ $t('dashboard.browser') }} </th>
                                            <th scope="col"> {{ $t('dashboard.Country') }} </th>
                                            <th scope="col">{{ $t('dashboard.City') }} </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="(history,index) in user.login_sessions" :key="index">
                                            <td>{{history.created_at}} </td>
                                            <td>{{history.ip_address}}</td>
                                            <td>{{history.device}}</td>
                                            <td>{{history.browser}}</td>
                                            <td>{{history.country}} </td>
                                            <td>{{history.city}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      
    <!-- <div class="cover-title">
      <h4>{{$t('dashboard.Profile')}}</h4>
    </div>
    <div class="profile-updates">
      <div class="d-flex-md">
        <div class="page-tile-content mb-4">
          <div class="content-heading">
            <h6>{{$t('dashboard.Change_password')}}</h6>
          </div>
          <div class="row mb-3 mt-2">
            <div class="col-12">
              <notification></notification>
            </div>
          </div> -->
        <!--  <div class="page-tile-body tile-password-form">
            <div class="content-1prf">
              <div class="container-fluid">
                <div class="row">
                  <div class="panel-body">
                    <table class="table table-adaptive password-table">
                      <tbody>
                        <tr>
                          <td>{{$t('dashboard.Password')}}</td>
                          <td class="editable-password-block">
                            <a
                              href="javascript:void(0)"
                              v-on:click="openPassword"
                              id="password_open"
                              class="editable editable-click"
                              style=""
                              >{{$t('dashboard.Change_password')}}
                            </a>
                            <span id="editable_container" class="editable-container editable-inline">
                              <div class="editableform-loading"></div>
                              <form class="form-inline editableform" @submit.prevent="changePassword()">
                                <div class="form-group editable-password">
                                  <label>
                                    <span>{{$t('dashboard.Enter_Old_Password')}} </span>
                                  </label>
                                  <input type="password" v-model="psw.oldPassword" class="form-control" />
                                </div>
                                <div class="form-group editable-password">
                                  <label>
                                    <span>{{$t('dashboard.Enter_New_Password')}} </span>
                                  </label>
                                  <input type="password" v-model="psw.password" class="form-control" />
                                </div>
                                <div class="form-group editable-password">
                                  <label>
                                    <span>{{$t('dashboard.Confirm_New_Password')}} </span>
                                  </label>
                                  <input type="password" v-model="psw.password_confirmation" class="form-control" />
                                </div>
                                <div class="editable-buttons">
                                  <button type="submit" class="btn btn-sm editable-submit">
                                    <i v-if="!loading" class="fas fa-check"></i>
                                    <span v-else>{{$t('dashboard.Updating')}}...</span>
                                  </button>
                                  <button v-on:click="closePassword" type="button" class="btn btn-sm editable-cancel">
                                    <i class="fas fa-times"></i>
                                  </button>
                                </div>
                                <div class="error-message"></div>
                              </form>
                            </span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
        <!-- </div> -->
        <!-- <div class="page-tile-content">
          <div class="content-heading">
            <h6>{{$t('dashboard.security_test1')}}</h6>
          </div>
          <div class="page-tile-body tile-password-form">
            <div class="content-1prf">
              <div class="container-fluid">
                <div class="row">
                  <div class="panel-body">
                    <a class="auth__item google" href="#">
                      GOOGLE
                      <span class="secondary-text">{{$t('dashboard.Recommended')}}</span>
                      <span class="status--off">{{$t('dashboard.inactive')}}</span>
                    </a> -->
                    <!-- Settings toogler -->
                    <!-- <div class="settings-toggler">
                      <div class="auth-settings-changed">
                        <label class="switch">
                          <input type="checkbox" checked />
                          <span class="slider round"> </span>
                        </label>
                        <span class="toggler-text">{{$t('dashboard.security_test2')}}</span>
                      </div>
                      <div class="auth-settings-changed">
                        <label class="switch">
                          <input type="checkbox" checked />
                          <span class="slider round"> </span>
                        </label>
                        <span class="toggler-text">{{$t('dashboard.security_test2')}} </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex-xl">
        <div class="page-tile-content">
          <div class="content-heading">
            <h6>{{$t('dashboard.Login_History')}}</h6>
          </div>
          <div class="page-tile-body tile-password-form">
            <div class="content-1prf">
              <div class="container-fluid">
                <div class="row">
                  <div class="tab-content data-history">
                    <div id="demo_trades" class="tab-pane">
                      <table class="table table-adaptive mb-5">
                        <colgroup>
                          <col style="width: 4%;" />
                          <col style="width: 20%" />
                          <col style="width: 8%" />
                          <col style="width: 12%" />
                          <col style="width: 12%" />
                          <col style="width: 9%" />
                          <col style="width: 9%" />
                          <col style="width: 8%" />
                          <col style="width: 8%" />
                          <col style="width: 10%" />
                        </colgroup>
                        <thead>
                          <tr> -->
                            <!-- <th></th> -->
                            <!-- <th class="order">{{$t('dashboard.date')}}</th>
                            <th class="asset">{{$t('dashboard.IP')}}</th>
                            <th class="open-time">{{$t('dashboard.Device_OS')}}</th>
                            <th class="expiry-time">{{$t('dashboard.Browser')}}</th>
                            <th class="amount">{{$t('dashboard.Country')}}</th>
                            <th class="payout">{{$t('dashboard.City')}}</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr v-for="(history,index) in login_histories" :key="index"> -->
                            <!-- <td class="is-open"></td> -->
                            <!-- <td class="data-left order">
                              <span class="adaptive-label  d-inline d-xl-none">{{$t('dashboard.date')}}</span> 
							{{history.created_at}}
                            </td>
                            <td class="data-left IP">
                              <span class="adaptive-label  d-inline d-xl-none">{{$t('dashboard.IP')}}</span> 
							{{history.ip_address}}
                            </td>
                            <td class="data-left open-time">
                              <span class="adaptive-label  d-inline d-xl-none">{{$t('dashboard.Device_OS')}}</span> 
							{{history.device}}
                            </td>
                            <td class="data-left close-time">
								<span class="adaptive-label  d-inline d-xl-none">{{$t('dashboard.Browser')}}</span>
							{{history.browser}}
							</td>
                            <td class="data-left Coutntyr">
								<span class="adaptive-label  d-inline d-xl-none">{{$t('dashboard.Country')}}</span>
							{{history.country}}
							</td>
                            <td class="data-left refund-amount">
								<span class="adaptive-label  d-inline d-xl-none">{{$t('dashboard.City')}}</span>
							{{history.city}}
							</td>
                          </tr> 
                          
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="page-tile-content">
          <div class="content-heading">
            <h6>{{$t('dashboard.Active_Sessions')}}</h6>
          </div>
          <div class="page-tile-body tile-password-form">
            <div class="content-1prf">
              <div class="container-fluid">
                <div class="row">
                  <div class="tab-content data-history">
                    <div id="demo_trades" class="tab-pane">
                      <table class="table table-adaptive">
                        <thead>
                          <tr> -->
                            <!-- <th></th> -->
                            <!-- <th class="order">{{$t('dashboard.Last_Activity')}}</th>
                            <th class="asset">{{$t('dashboard.IP')}}</th>
                            <th class="open-time">{{$t('dashboard.Device_OS')}}</th>
                            <th class="expiry-time">{{$t('dashboard.Browser')}}</th>
                            <th class="amount">{{$t('dashboard.Country')}}</th>
                            <th class="payout">{{$t('dashboard.City')}}</th>
                          </tr>
                        </thead>
                        <tbody>
							<tr v-for="(history,index) in user.login_sessions" :key="index"> -->
                            <!-- <td class="is-open"></td> -->
                            <!-- <td class="data-left order">
                              <span class="adaptive-label  d-inline d-xl-none">Last Activity </span>  <i class="call-circle"></i>
							{{history.created_at}}
                            </td>
                            <td class="data-left IP">
                              <span class="adaptive-label  d-inline d-xl-none">{{$t('dashboard.IP')}}</span> 
							{{history.ip_address}}
                            </td>
                            <td class="data-left open-time">
                              <span class="adaptive-label  d-inline d-xl-none">{{$t('dashboard.Device_OS')}}</span> 
							{{history.device}}
                            </td>
                            <td class="data-left close-time">
								<span class="adaptive-label  d-inline d-xl-none">{{$t('dashboard.Browser')}}</span>
							{{history.browser}}
							</td>
                            <td class="data-left Coutntyr">
								<span class="adaptive-label  d-inline d-xl-none">{{$t('dashboard.Country')}}</span>
							{{history.country}}
							</td>
                            <td class="data-left refund-amount">
								<span class="adaptive-label  d-inline d-xl-none">{{$t('dashboard.City')}}</span>
							{{history.city}}
							</td>
                          </tr>  
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</template>

<script>
import { mapState } from 'vuex'; 
export default {
	name: 'security',
	data() {
		return {
			loading: false,
			psw: {
				oldPassword: '',
				password: '',
				password_confirmation: '',
			},
			login_histories:[]
		};
	},
	computed:{
		...mapState({
			endpoint :(state)=> state.endpoint,
			user :(state)=> state.user,
		})
	},
	methods: {
		openPassword: function() {
			document.querySelector('#password_open').classList.add('d-none');
			document.querySelector('#editable_container').classList.add('show');
		},
		closePassword: function() {
			document.querySelector('#password_open').classList.remove('d-none');
			document.querySelector('#editable_container').classList.remove('show');
		},
		changePassword() {
			if (this.psw.length < 1 || this.psw.password.length < 0 || this.psw.password_confirmation.length < 0) {
				this.$store.commit('setNotification', {type: 2, msg: 'All fields are required'});
				return false;
			}
			this.loading = true;
			this.$store
			.dispatch('post', {endpoint: '/change-password', details: this.psw})
			.then((data) => {
				this.loading = false;
				if (data.data.status) {
					this.$store.commit('setNotification', {type: 1, msg: 'Password changed successfully'});
				} else {
					this.$store.commit('setNotification', {type: 2, msg: data.data.msg});
				}
			})
			.catch((error) => {
				this.loading = false;
				this.$store.dispatch('handleError', error);
			});
		},
	},
	created(){
		console.log(this.user);
		this.$store.dispatch('get','/login-history')
		.then((data)=>{
			console.log(data);
			this.login_histories=data.data.data;
		})
		.catch((error)=>{
			console.log(error.request);
		});
	}
};
</script>

<style lang="scss" scoped>

    .profile-security-wrapper{
        background: #04233f;
        border-radius: 10px;

        .pro-security-row{
            padding: 30px 35px;

            .change-password-wrapper{
                
            }

            .chng-pw-title{
                display: flex;
                justify-content: space-between;
                margin-bottom: 17px;
                width: 80%;
            }

            .security-h6{
                font-size: 15px;
                font-weight: 700;
                color: #ccbbed;
                text-transform: uppercase;
                margin-bottom: 2px;
            }

            .security-lock-icon{
                width: 21px;
                height: 25px;
            }

            .security-form-wrapper{

                .form-group{
                    margin-bottom: 1.2rem;

                    label{
                        font-size: 13px;
                        color: #049bb0;
                    }

                    .form-control{
                        background: #072f54;
                        border-color: #406fab;
                        height: 40px;
                        border-radius: 7px;
                        width: 80%;
                    }
                }
            }

            .pro-security-btn{
                color: white;
                background: #049cb1;
                width: 150px;
                height: 43px;
                margin: 8px 0px;
                text-transform: uppercase;
                font-size: 13px;
            }
        }

        .twoFactor-auth-wrapper{
            margin-top: 10px;
            margin-bottom: 38px;
        }

        .recomended{
            margin-bottom: 0;
            font-size: 10px;
            color: #cacaca;
        }

        .google-auth-icon{
            width: 61px;
            margin-left: 12px;
            margin-right: 3rem;
        }

        .two-fact-details{
            display: flex;
        }

        .google-auth-p{
            margin-bottom: 3px;
        }

        .google-active{
            margin-bottom: 0;
            background: #003906;
            width: 70px;
            text-align: center;
            font-size: 10px;
            padding: 1px 0px 4px;
            color: #abfcb3;
            border: 1px solid #004e08;
            border-radius: 4px;
            margin-top: 7px;
        }

        .google-auth-text{
            margin-right: 4rem;
        }
    

    .twofactor-img-wrapper{
        display: flex;
        width: 90%;
    }

        
    }

    .security-history-row{
        margin: 0;
        background: #052d52;
        border-radius: 10px;
        padding: 30px 21px;
    }

    .history-h6{
        color: #cbcbcb;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 17px;
    }

    .login-history-table{
        .table{
            tr th{
                color: #0498ae;
                font-size: 12px;
                font-weight: 600;
                padding: .6rem .4rem .6rem 0rem;
            }

            tr td{
                color: #9e9f9f;
                font-size: 10px;
                padding: .6rem .4rem .6rem 0rem;
            }
        }
    }

    @media screen and (max-width: 1200px) {
        .security-clipath{
            display: none;
        }
    }

    @media screen  and (max-width: 576px) {
        .profile-security-wrapper .twofactor-img-wrapper {
            display: block;
            width: 90%;
        }

        .profile-security-wrapper .pro-security-row {
            padding: 25px 20px;
        }

        .profile-security-wrapper .google-auth-icon {
            margin-bottom: 17px;
        }

        .profile-security-wrapper .pro-security-row .chng-pw-title {
            margin-bottom: 8px;
            width: 100%;
        }

        .profile-security-wrapper .pro-security-row .security-form-wrapper .form-group .form-control {
            width: 100%;

            .form-group{
                margin-bottom: 1rem;
            }
        }

        .profile-security-wrapper .pro-security-row .security-lock-icon {
            width: 14px;
            height: unset;
        }

        .profile-security-wrapper .pro-security-row .security-h6 {
            font-size: 12px;
            margin-bottom: 2px;
        }

        .profile-security-wrapper .pro-security-row .pro-security-btn {
            width: 100%;
            margin-bottom: 30px;
        }

        .profile-security-wrapper .twoFactor-auth-wrapper {
            margin-top: 10px;
            margin-bottom: 25px;
        }

        .profile-security-wrapper .two-fact-details {
            display: flex;
            justify-content: space-between;
        }

        .profile-security-wrapper .google-auth-text[data-v-97b18e9e] {
            margin-right: 0;
        }

        .profile-security-wrapper .google-auth-p {
            font-size: 10px;
        }


        .login-history-table{
            overflow: scroll;
            -ms-overflow-style: none;  
            scrollbar-width: none;

            .table {
                width: 500px;
            }
        }

        .login-history-table::-webkit-scrollbar{
        display: none;
    }
    }
</style>
