<template>
    <div id="trading_profile" class="page_cover trading-profile">
        <div class="row">
            <div class="col-md-12 col-lg-6 pr-0 pr">
                <div class="trd-profile-details trd-det1">
                    <div class="trd-profile-pro">
                        <div class="trdP-user-wrap">
                            <img src="../../../assets/user.png" alt="" class="trd-pro-user">
                        </div>
                        <div class="trd-pro-name">
                            <p>{{user.firstname}} {{user.lastname}}</p>
                        </div> 
                    </div>
                    <div class="trd-prf-info">
                        <div class="trd-prf-i">
                            <img src="../../../assets/Vector.png" alt="" class="trd-pro-icon">
                            <p class="trd-pro-p">{{user.email}}</p>
                        </div>
                        <div class="trd-prf-i">
                            <img src="../../../assets/user (1).png" alt="" class="trd-pro-icon">
                            <p class="trd-pro-p">ID: {{user.unique_id}}</p>
                        </div>
                        <div class="trd-prf-i">
                            <img src="../../../assets/Vector (1).png" alt="" class="trd-pro-icon">
                            <p class="trd-pro-p">{{user.ip_address}}</p>
                        </div>
                    </div>
                    <div class="trd-pro-pi">
                        <div class="trd-pro-email">
                            <p>Email</p>
                            <div class="trd-verify-wrap" v-if="user.email_verified_at">
                                <i class="fa fa-check text-success"></i>
                                <p class="ml-1 text-success">{{ $t('dashboard.verified') }} </p>
                            </div>
                            <div class="trd-verify-wrap" v-else>
                                <i class="fa fa-times-circle text-danger"></i>
                                <p class="text-danger">{{ $t('dashboard.Unverified') }} </p>
                            </div>
                        </div>
                        <div class="trd-pro-email ml">
                            <p>Identity Status</p>
                            <div class="trd-verify-wrap" v-if="checkIdentityStatus() == -1">
                                <i class="fa fa-times-circle text-danger"></i>
                                <p class="text-danger">{{ $t('dashboard.Unverified') }}</p>
                            </div>
                            <div class="trd-verify-wrap" v-if="checkIdentityStatus() == 0">
                                <i class="fa fa-exclamation-triangle text-warning"></i>
                                <p class="text-warning">{{ $t('dashboard.pending') }} </p>
                            </div>
                            <div class="trd-verify-wrap" v-if="checkIdentityStatus() == 1">
                                <i class="fa fa-check text-success"></i>
                                <p class="text-success">{{ $t('dashboard.verified') }} </p>
                            </div>
                        </div>
                        <div class="trd-pro-email ml">
                            <p>Address Status</p>
                            <div class="trd-verify-wrap" v-if="checkAddressStatus() == -1">
                                <i class="fa fa-times-circle text-danger"></i>
                                <p class="text-danger">{{ $t('dashboard.Unverified') }} </p>
                            </div>
                            <div class="trd-verify-wrap" v-if="checkAddressStatus() == 0">
                                <i class="fa fa-exclamation-triangle text-warning"></i>
                                <p class="text-warning">{{ $t('dashboard.pending') }} </p>
                            </div>
                            <div class="trd-verify-wrap" v-if="checkAddressStatus() == 1">
                                <i class="fa fa-check text-success"></i>
                                <p class="text-success">{{ $t('dashboard.verified') }} </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 pl-0 pl">
                <div class="trd-profile-details trd-det2">
                <div class="trp-acc-wrap">
                    <div class="trd-acc-stat">
                        <p>{{ $t('dashboard.Live_statistics') }} </p>
                        <img src="../../../assets/Refresh.png" alt="" class="trd-refresh-icon">
                    </div>
                    <div class="trp-turnover-wrap">
                        <div class="trd-turnover-inner">
                            <div class="trd-turnover">
                                <p>{{ $t('dashboard.Trading_turnover') }} </p>
                                <span>$1,000,000.00 </span>
                            </div>
                            <div class="trd-turnover">
                                <p>{{ $t('dashboard.Deals') }} </p>
                                <span>231 </span>
                            </div>
                        </div>
                        <div class="trd-turnover-inner">
                            <div class="trd-turnover">
                                <p>{{ $t('dashboard.Net_turnover') }} </p>
                                <span>$237,000.00 </span>
                            </div>
                            <div class="trd-turnover">
                                <p>{{ $t('dashboard.Trading_profit') }} </p>
                                <span>$763,000.00 </span>
                            </div>
                        </div>
                    </div>
                    <div class="trp-footer-btn">
                        <button class="btn btn-primary trp-btn">{{ $t('dashboard.Live_account_statistics') }} </button>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    name: 'Trading_profile',
    data() {
        return {
            user: this.$store.state.user,
        };
    },
    methods:{
        checkIdentityStatus() {
            var check = -1;
            if (this.user.verification) {
                if (this.user.verification.identity_verified_at != null) {
                    check = 1;
                } else {
                    if (this.user.verification.identity_verification != null) {
                        check = 0;
                    }
                }
            }
            return check;
        },
        checkAddressStatus() {
            var check = -1;
            if (this.user.verification) {
                if (this.user.verification.address_verified_at != null) {
                    check = 1;
                } else {
                    if (this.user.verification.address_verification != null) {
                        check = 0;
                    }
                }
            }
            return check;
        },
    },
    created() {
        console.log(this.user);
    },
};
</script>
<style lang="scss" scoped>
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
      outline: none;
  }

  .trading-profile{
    position: relative;

    .row{
      overflow: hidden; 
    }

    .col{
        margin-bottom: -99999px;
        padding-bottom: 99999px;
    }
  }
  
  .trd-det1{
    background-color: #04233f;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
  }

  .trd-det2{
    background-color: #073259;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  .trd-profile-details{
    
    padding: 55px 50px;
    

    .trd-profile-pro{
      display: flex;
    }

    .trdP-user-wrap{
      background-color: #000000;
      position: relative;
      width: 110px;
      height: 110px;
      border-radius: 50%;

      .trd-pro-user{
        width: 50px;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }

    .trd-pro-name{
      width: 161px;
      padding-bottom: 0;
      margin-left: 38px;
      p{
        font-size: 27px;
        font-weight: 600;
        line-height: 1.3;
        margin-bottom: 0;
        padding: 16px 0;
        color: #c4b8ed;
      }
    }


    .trd-prf-info{
      padding-left: 40px;
      margin: 32px 0px;

      .trd-prf-i{
        padding-bottom: 18px;
      }

      .trd-pro-icon{
        width: 25px;
        display: inline;
      }

      .trd-pro-p{
        margin-bottom: 0;
        padding: 3px 30px;
        font-size: 13px;
        color: #b6a66e;
        display: inline;
      }
    }

    .trd-pro-pi{
      display: flex;

      .trd-pro-email{
        margin-left: 33px;  

        p{
          margin-bottom: 5px;
          font-size: 9px;
          color: #c5b9ee;
        }

      }

      .ml{
          margin-left: 63px;
        }

      .trd-verify-wrap{
        
        p{
          display: inline;
          padding-left: 10px;
          font-size: 11px;
        }

        .green{
          color: #4dcf66;
        }

        .orange{
          color: #f4b02b;
        }

      }

      .trd-verify-icon{
        display: inline;
        width: 13px;
      }
    }

    .trp-acc-wrap{

      .trd-acc-stat{
        display: flex;
        justify-content: space-between;
        border: 1px solid #084378;
        background-color: #04233f;
        width: 79%;
        padding: 13px 22px 2px;
        border-radius: 5px;
        margin-bottom: 26px;
        margin-left: 27px;

        p{ 
          font-size: 12px;
          color: #c5b9ee;
          font-weight: 500;
          margin-bottom: 0;
        }
      }

      .trd-refresh-icon{
        width: 22px;
      }

      .trd-turnover-inner{
        display: flex;
        margin-left: 40px;

        .trd-turnover{
          margin-right: 70px;
          margin-bottom: 33px;

          p{
            font-size: 9px;
            color: #b3b9bd;
            margin-bottom: 0px;
          }

          span{
            font-size: 17px;
            font-weight: 600;
            color: #c5b9ee;
          }
        }

        
        

      }
    }

    .trp-footer-btn{
      padding-bottom: 26px;
      padding-top: 28px;
    }

    .trp-btn{
      width: 82%;
      height: 70px;
      font-size: 17px;
      font-weight: 300;
      color: #c5b9ee;
      background-color: #005098;
      border: 1px solid #7a95ac;
      border-radius: 7px;
      margin-left: 26px;
    }

    .trp-btn:hover{
      background: #334351;
      border: 1px solid #334351;
    }

  }

@media screen and (max-width:1200px){
  .trd-pro-clipath{
    display: none;
  }

  .trd-profile-details {
    padding: 55px 30px;
  }

  .trd-profile-details .trd-pro-pi .ml {
    margin-left: 50px;
  }
}


@media screen and (max-width:999px) {
  .pl{
    padding-left: 15px !important;
  }

  .pr{
    padding-right: 15px !important;
  }

  .trd-det1 {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  .trd-det2 {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
  }
}

@media screen and (max-width:600px){
  .trd-profile-details {
      padding: 55px 18px;
  }

  .trd-profile-details .trdP-user-wrap {
    width: 100px;
    height: 100px;
  }

  .trd-profile-details .trdP-user-wrap .trd-pro-user{
    width: 50px;
  }

  .trd-profile-details .trd-pro-name p {
    font-size: 25px;
    padding: 13px 0;
  }

  .trd-profile-details .trd-pro-name {
    margin-left: 28px;
  }

  .trd-profile-details .trd-prf-info .trd-pro-p {
    padding: 3px 20px;
    font-size: 13px;
  }

  .trd-profile-details .trd-prf-info .trd-pro-icon {
    width: 20px;
  }

  .trd-profile-details .trd-prf-info {
    padding-left: 30px;
    margin: 32px 0px;
  }

  .trd-profile-details .trd-pro-pi .trd-pro-email p {
    font-size: 11px;
  }

  .trd-profile-details .trd-pro-pi .trd-verify-wrap p {
    padding-left: 6px;
    font-size: 8px;
  }

  .trd-profile-details .trd-pro-pi .trd-verify-icon {
    display: inline;
    width: 11px;
  }

  .trd-profile-details .trd-pro-pi .ml {
    margin-left: 21px;
  }

  .trd-profile-details .trd-pro-pi .ml {
    margin-left: 21px;
  }

  .trd-profile-details .trp-acc-wrap .trd-acc-stat {
    width: 100%;
    padding: 13px 13px;
    margin: auto;
    margin-bottom: 26px;
    
  } 

  p[data-v-2febd4aa] {
    font-size: 13px;
    padding: 5px 0px;
  }

  .trd-profile-details .trp-acc-wrap .trd-turnover-inner .trd-turnover span {
    font-size: 19px;
  }

  .trd-profile-details .trp-acc-wrap .trd-turnover-inner {
    display: flex;
    margin-left: 1px;
  }

  .trd-profile-details .trp-acc-wrap .trd-turnover-inner .trd-turnover {
    margin-right: 42px;
    margin-bottom: 33px;
  }

  .trd-profile-details .trp-btn[data-v-2febd4aa] {
    width: 100%;
    font-size: 19px;
    margin-left: 0px;
  }
}
</style>
