<div class="in_page_blocks__item">
    <a href="" class="in-page-top-blocks__link">
        <span class="in-page-top-blocks__icon">
            <svg class="svg-icon mt5-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500.18 488.04">
                <path
                    d="M151.93 488.02s-2.79-.06-5.42-.31c-2.53-.24-5.83-.93-6.1-.98-19.91-3.42-36.32-13.15-49.67-28.2-1.54-1.74-3-1.92-5.2-1.67-38.91 4.4-73.19-19-83.27-56.65-.16-.6-1.73-6.19-2.09-14.22 0 0-.83-9.43 1.08-18.43v-.02c2.2-11.47 6.6-21.98 13.73-31.24 1.63-2.11.6-3.65-.08-5.47-14.23-38.08.66-80.78 35.48-101.59 17.15-10.25 34.31-20.48 51.57-30.53 3.09-1.8 4.35-3.67 4.31-7.36-.22-18.99-.11-37.98-.1-56.97.03-43.09 26.84-76.14 69.09-84.91 2.95-.61 4.38-1.8 5.64-4.47 10.79-22.99 28.5-37.52 53.36-43.27 1.12-.26 7.83-1.74 14.67-1.71 0 0 4.98-.24 11.24.86h.01c27.77 3.96 47.3 19.06 59.25 44.14 1.39 2.92 3.05 4.14 6.05 4.78 40.73 8.73 67.61 41.94 67.69 83.53.04 18.99.12 37.99-.09 56.98-.04 3.78.99 5.9 4.36 7.85 17.29 10.01 34.43 20.28 51.58 30.53 32.94 19.7 48.57 56.27 38.81 93.42-2.32 8.81-3.06 15.76 3.22 22.9.84.95 6 8.83 7.91 21.39.85 5.57 1.21 13.76 1.21 13.76 0 12.03-1.82 19.05-2.09 20.05-10.02 37.43-44.39 61.07-82.7 56.65-2.81-.32-4.51.26-6.39 2.35-10.31 11.45-22.74 19.61-37.46 24.5-5.08 1.69-17.49 4.33-24.73 4.33h13.33l-26.96-.02 11.12.02c-7.67-.52-12.75-1.71-13.82-1.93-10.71-2.19-20.66-6.16-30.02-11.84-15.38-9.33-30.94-18.34-46.33-27.65-2.76-1.67-4.82-1.89-7.69-.14-15.23 9.25-30.66 18.17-45.89 27.42-9.79 5.95-20.15 10.21-31.41 12.34-.62.12-3.78.91-8.36 1.37-3.54.35-8.84.41-8.84.41zM325 96c-1.47-.79-2.24.96-2.32 1.41-9.78 32.79-37.74 54.12-70.74 54.59-34.38.49-63.62-20.46-74.26-53.55-1.21-3.77-2.45-3.31-5.06-1.88-14.62 8.01-22 20.27-22 36.96 0 21.83.18 43.66-.16 65.49-.07 4.23.97 6.5 4.56 8.59 6.77 3.92 13.17 8.48 19.84 12.57 2.36 1.45 3.42 3.02 3.39 5.93-.17 14.66-.07 29.33-.09 43.99 0 1.28.21 3.16-.5 3.72-1.45 1.15-2.65-.66-3.81-1.41-16.11-10.32-32.19-20.68-48.26-31.04-2.28-1.47-4.29-2.73-7.24-.93-15.23 9.26-30.69 18.15-45.85 27.52-12.87 7.95-18.46 20.02-18.5 34.94-.01 4.02.52 5.73 5.55 4.57 46.24-10.66 91.22 24.37 92.36 71.72.49 20.2-6.06 37.9-19.44 53.04-1.33 1.51-3.17 2.62-.14 4.43 13.13 7.85 26.89 9.33 40.33 1.97 17.62-9.65 34.62-20.42 51.98-30.53 2.81-1.63 3.82-3.37 3.77-6.63-.21-13.16.01-26.33-.18-39.49-.03-2.29 1.8-4.1 4.08-4.05 11.02.25 22.06.25 33.09.01 3.59-.08 4.84.62 4.75 4.55-.31 12.66-.02 25.33-.24 37.99-.05 3.16.94 4.92 3.77 6.48 16.91 9.3 33.68 18.86 49.96 29.23 14.1 8.99 28.31 9.22 42.65 1.53 3.34-1.79 4.05-2.97 1.1-6.27-21.97-24.61-25.12-60.58-8.11-89.16 16.64-27.95 50.06-42.26 82-34.72 4.55 1.07 5.04-.51 5.08-4.1.18-15.99-6.23-28.32-20.08-36.59-14.31-8.53-28.71-16.92-42.88-25.67-3.68-2.27-6.29-2.08-9.82.25-16.1 10.63-32.41 20.95-48.59 31.46-2.83 1.84-3.87 1.78-3.84-2.03.14-15 .14-30-.01-44.99-.03-2.73.92-4.19 3.16-5.55 6.12-3.73 11.91-8.01 18.16-11.48 4.8-2.67 6.69-5.64 6.53-11.56-.56-21.32-.12-42.66-.25-63.99-.15-17.77-8.11-30.21-23.74-37.32zM111.49 380.68c-.65-19.88-16.76-35.21-36.45-34.68-19.47.52-35.16 16.87-34.61 36.06.56 19.79 16.93 35.6 36.2 34.99 19.78-.64 35.5-17.03 34.86-36.37zm313.08 36.3c19.32.14 35.38-16.09 35.39-35.75.01-19.27-15.93-35.13-35.46-35.26-19.39-.13-35.28 15.49-35.63 35.04-.36 19.72 15.61 35.82 35.7 35.97zM250.93 40.58c-19.41-.51-35.5 14.73-36.21 34.32-.72 19.78 14.98 36.21 34.97 36.59 19.59.37 35.5-15.15 35.98-35.1.46-19.22-15.13-35.29-34.74-35.81z">
                </path>
                <path
                    d="M239.85 226.63c6.94-6.92 14.34-9.91 23.09-9.81 18.18.2 28.36 8.92 30.21 27.01 1.97 19.27 1.8 38.61-.04 57.89-1.32 13.85-10.77 24.36-24.79 28.07-12.31 3.25-24.75 3.17-37.05-.13-15.86-4.26-24.85-14.64-26.87-30.99-.99-7.96-1.22-15.94-1.16-23.95.01-2.06.41-2.94 2.72-2.92 10.83.11 21.67.13 32.5-.01 2.57-.03 2.98.95 2.95 3.19-.11 8.16-.16 16.33.75 24.47.15 1.32.18 2.68.51 3.95.96 3.75 3.47 5.71 7.31 5.33 3.68-.36 5.63-2.74 5.75-6.38.61-17.49.56-34.99.16-52.48-.02-.99-.36-1.97-.49-2.96-.53-4.17-2.57-7.01-7.04-6.82-4.12.17-6.06 2.96-6.7 6.83-1.18 7.07-1.2 7.06-8.22 7.06-8.83 0-17.67-.08-26.5.05-2.59.04-3.37-.64-3.29-3.37.62-23.49 1.14-46.98 1.5-70.47.05-3.04 1.14-3.42 3.77-3.41 24.67.09 49.33.1 74-.01 2.9-.01 4.2.48 4.02 3.77-.03 6.11.06 10.86.01 16.49-.03 3.56-1.25 4.04-4.3 4-12.83-.14-25.67.07-38.5-.15-3.55-.06-4.51.98-4.37 4.44.26 6.75.07 13.49.07 21.31z">
                </path>
            </svg>
        </span>
        <h3 class="in-page-top-blocks__title">
            {{ $t('dashboard.Trading_history_text2') }}
        </h3>
    </a>
</div>
<div class="in_page_blocks__item">
    <a href="" class="in-page-top-blocks__link">
        <span class="in-page-top-blocks__icon">
            <svg class="svg-icon copy-trading-history-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 608">
                <path
                    d="M498.6 111.8c-6.8-5.9-12.3-13-18.4-19.6-27.4-29.6-54.7-59.4-82-89.1-.5-.6-1.2-1.1-1.7-1.7-.7-.9-1.7-1.5-2.8-1.5L112.6 0C106 0 99.5 1.6 93.8 4.9c-2 1.1-3.8 2.5-5.5 4.2-6 6.3-9.4 13.6-9.5 22.4-.1 8-.1 16 0 24 .1 2.9-.9 3.7-3.7 3.6-7.8-.2-15.7-.1-23.5-.1C32.8 59 19 72.7 19 91.7v272.5c0 2.2 2.6 3.3 4.2 1.9 2.8-2.4 5.6-4.6 8.2-6.7 4.5-3.6 9.3-6.7 14.1-9.9 2.5-1.7 5.1-3 7.6-4.4 3.7-2.1 6-5 6-8.9V283c0-59.5 0-118.9-.1-178.4 0-4.1.5-5.4 5.3-5.5 3.1-.1 7.1-.1 10 0 3.8.2 4.3 1.7 4.3 5.7.1 2.9.1 6.3.1 9.1.1 71.1 0 142.2.1 213.2 0 2.5 2.4 4.4 4.9 3.6 9.3-2.7 24.8-5.1 31.9-6.1 1.9-.3 3.3-1.9 3.3-3.8.1-41.7 0-83.3 0-125 0-50 0-100-.1-150 0-4.3.7-5.8 5.5-5.8 77 .2 154 .2 230.9 0 4.6 0 5.4 1.4 5.4 5.6-.2 19.8-.1 39.7-.1 59.5.1 19.9 13.7 33.6 33.6 33.6 20.3 0 40.7.1 61-.1 3.8 0 4.6 1.1 4.6 4.7-.1 111.6-.1 223.3 0 334.9 0 3.3-.6 4.5-4.3 4.5-52.8-.1-107.8.1-160.7.2-1.9 0-3.5 1.6-3.5 3.5 0 13.9-3.3 25-5.8 31.8-.8 2.3.9 4.8 3.3 4.8 35.8 0 71.6 0 107.4-.1 2.9 0 3.6.9 3.6 3.7 0 5 .3 10 .1 12.6-.3 2.9-2.5 2.4-14.7 2.4-34 .1-68 .1-102 .1-2.2 0-4.2 1.3-5 3.4-3.4 8.6-13 24.4-18.3 32.7-1.2 1.8.1 4.2 2.3 4.2h143.3c21.1 0 34.3-13.2 34.3-34.2 0-7 .2-14-.1-21-.1-3.2.9-3.9 3.9-3.8 7.5.2 15 .1 22.5.1 15.9 0 27-7.8 32.2-22.7.9-2.6 1.3-5.4 1.3-8.2V114.8c.5-1.1 0-2.2-.9-3zm-70.9-13.4h-24.5c-1.7 0-2.3-.7-2.3-2.4V69.7c0-1.4 1.8-2.1 2.8-1.1 8.1 8.8 16.3 17.6 25.1 27.2.8 1 .1 2.6-1.1 2.6z">
                </path>
                <path
                    d="M255.9 478.8c-2.7-61.4-43.4-110.7-103.6-123.3-9.5-2-19.1-3-28.8-2.4-39 2.4-59.7 16.5-60.5 16.9-.2.1-19.7 13.1-31.5 27.4-4.7 5.7-14.3 19.8-15.1 21.1C8.6 432.4 3.5 447.3 1.1 463c-.1.5-1.2 9.2-1.2 13v6c0 8.1 1.1 16.2 2.6 24.2.1.3.1.7.2 1 12.9 51.5 44.4 84.2 95 97.9 2.8.6 5.6 1.1 8.5 1.7 4.6.6 9.2 1.1 13.9 1.1h14c9.3-.2 20.5-1.8 29.8-4.3 14.5-4.3 27.8-10.9 40-19.8 1.3-1 16.5-13.2 22-19.9 6.2-7.6 11.8-15.6 16.6-24.2 9.8-17.1 14.3-39.7 13.4-60.9zm-128.6 89.8c-48.1-.2-87.3-39.7-87-87.6.3-48.4 39.5-87.3 87.6-87.1 48 .3 86.8 39.4 86.8 87.4 0 48.1-39.4 87.5-87.4 87.3zM290.5 203.8c45.3 0 90.6.1 135.9-.1 3.9 0 5 .9 4.9 4.8-.3 10.3-.3 20.6 0 31 .1 3.8-.9 4.6-4.7 4.6-51-.1-101.9-.1-152.9-.1-39.8 0-79.6-.1-119.4.1-3.9 0-5.1-.9-5-4.9.3-10.3.3-20.7 0-31-.1-4 1.3-4.5 4.8-4.5 45.4.2 90.9.1 136.4.1zM290.5 280.7c45.3 0 90.6 0 135.9-.1 3.9 0 5 .9 4.9 4.9-.3 10.3-.3 20.7 0 31 .1 3.8-1 4.6-4.7 4.6-48-.1-95.9-.1-143.9-.1-42.6 0-85.3-.1-127.9.1-4.4 0-5.7-1-5.5-5.5.4-10 .4-20 0-30-.1-4.3 1.3-5.1 5.3-5.1 45.3.2 90.6.2 135.9.2zM359.4 355.7c22.5 0 45 .1 67.4-.1 3.4 0 4.5.8 4.4 4.3-.3 10.6-.2 21.3 0 32 0 3-.4 4.3-4 4.3-44.6-.2-89.3-.2-133.9-.1-4.9 0-6.2-1.5-6-6.2.4-9.8.4-19.6 0-29.5-.2-4.2 1.3-4.9 5.1-4.8 22.4.2 44.7.1 67 .1z">
                </path>
                <path
                    d="M108.3 461.7c11.8 0 23.6.1 35.4-.1 3.1 0 3.8.8 3.9 3.9 1 28.1.2 43.9.6 72 .1 3.6-.8 5.5-4.3 5.4-10.3-.2-20.9-.2-31.2 0-3.8.1-5-1.2-4.9-5.4.3-14.1 0-16.5.3-30.6.1-2.1 0-4.9 0-4.9s-3.2 0-5 .1c-10.1.2-20.3 0-30.4.2-3.3.1-4.6-.5-4.5-4.3.3-10.5.3-21 0-31.5-.1-3.8.7-5.1 4.8-5 11.7.4 23.5.2 35.3.2z">
                </path>
                <path
                    d="M148 502.7c-11.8 0-23.6-.1-35.4.1-3.1 0-3.8-.8-3.9-3.9-1-28.1-.2-43.9-.6-72-.1-3.6.8-5.5 4.3-5.4 10.3.2 20.9.2 31.2 0 3.8-.1 5 1.2 4.9 5.4-.3 14.1 0 16.5-.3 30.6 0 2 .1 4.7.1 4.7s3 .1 4.9.1c10.1-.2 20.3 0 30.4-.2 3.3-.1 4.6.5 4.5 4.3-.3 10.5-.3 21 0 31.5.1 3.8-.7 5.1-4.8 5-11.7-.4-23.5-.2-35.3-.2z">
                </path>
            </svg>
        </span>
        <h3 class="in-page-top-blocks__title">
            {{ $t('dashboard.Trading_history_text3') }}
        </h3>
    </a>
</div>
<div class="in_page_blocks__item">
    <a href="" class="in-page-top-blocks__link">
        <span class="in-page-top-blocks__icon">
            <svg class="svg-icon expresses" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 229.6 229.7">
                <path
                    d="M114.8 229.7C51.5 229.7 0 178.2 0 114.9S51.5 0 114.8 0s114.8 51.5 114.8 114.8-51.5 114.9-114.8 114.9zm0-212.2c-53.7 0-97.4 43.7-97.4 97.4s43.7 97.4 97.4 97.4 97.4-43.7 97.4-97.4-43.7-97.4-97.4-97.4z">
                </path>
                <path
                    d="M114.8 193.7c-43.5 0-78.9-35.4-78.9-78.9s35.4-78.9 78.9-78.9 78.9 35.4 78.9 78.9-35.4 78.9-78.9 78.9zm0-139.5c-33.4 0-60.7 27.3-60.7 60.7s27.3 60.7 60.7 60.7 60.7-27.3 60.7-60.7-27.3-60.7-60.7-60.7z">
                </path>
                <path
                    d="M114.8 157.4c23.5 0 42.5-19 42.5-42.5s-19-42.5-42.5-42.5-42.5 19-42.5 42.5 19 42.5 42.5 42.5zm-.4-67.7c15.4 0 25.8 10.8 25.7 25.2 0 15.4-9.8 25.6-25.2 25.6-15.4 0-25.4-10.2-25.4-25.6 0-13.8 9.5-25.2 24.9-25.2z">
                </path>
            </svg>
        </span>
        <h3 class="in-page-top-blocks__title">
            {{ $t('dashboard.Trading_history_text4') }}
        </h3>
    </a>
</div>