<template>
    <div id="trading_history" class="page_cover trading-history">
    <div class="live-trading-wrapper">
        <div class="row">
        <div class="col-md-4 pr-0">
            <h2 class="live-trading-h2">{{ $t('dashboard.live_trading_history') }}</h2>
        </div>
        <div class="col-md-6 p-0">
            <div class="live-trading-form">
            <form action="" class="lt-form">
                <div class="form-group order1-select-wrapper">
                <select name="" id="">
                    <option value="order">{{ $t('dashboard.order') }}</option>
                </select>
                <i class="fa fa-play"></i>
                </div>
                <div class="form-group order1-select-wrapper">
                <select name="" id="">
                    <option value="order">{{ $t('dashboard.order') }}</option>
                </select>
                <i class="fa fa-play"></i>
                </div>
                <div class="lt-apply-btn">
                    <button class="btn btn-primary live-trd-btn">{{ $t('dashboard.apply') }}</button>
                </div>
            </form>
            </div>
        </div>
        <div class="col-md-2 pl-0">
            <p class="live-trading-export">{{ $t('dashboard.export_to_xls') }}</p>
        </div>
        </div>
    </div>

    <div class="live-trading-table">
        <table class="table table-dark mb-0">
            <thead>
                <tr>
                    <th scope="col">{{ $t('dashboard.order') }} </th>
                    <th scope="col">{{ $t('dashboard.asset') }}</th>
                    <th scope="col">{{ $t('dashboard.open_time') }}</th>
                    <th scope="col">{{ $t('dashboard.expiry_time') }}</th>
                    <th scope="col">{{ $t('dashboard.open_price') }}</th>
                    <th scope="col">{{ $t('dashboard.closing_price') }}</th>
                    <th scope="col">{{ $t('dashboard.amount') }}</th>
    <!--                <th scope="col">Payout(%)</th>-->
                    <th scope="col">{{ $t('dashboard.Profit') }}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="history in histories" :key="history.order_id">

                    <td colspan="1">{{ history.order_id }}</td>
                    <td>{{ history.asset }}</td>
                    <td>{{ history.open_time }}</td>
                    <td>{{ history.close_time }}</td>
                    <td>{{ history.open_price }}</td>
                    <td>{{ history.close_price }}</td>
                    <td>${{ history.amount }}</td>
    <!--                <td>-->
    <!--                    <span v-if="history.side == 1" style="display: inline !important; color: #118241"><i class="fa fa-2x put fa-arrow-up"></i></span>-->
    <!--                    <span v-else style="display: inline !important; color: #db4931"><i class="fa fa-2x put fa-arrow-down "></i></span>-->
    <!--                </td>-->
                    <td>
                        <span :class="getProfitColor(history.profit)" style="display: inline !important; color: #db4931">${{ history.profit }}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="show-trading-btn">
        <button class="btn">{{ $t('dashboard.show_trading_recommendation') }}</button>
    </div>
    </div>
</template>

<script>

export default {
    name: 'Trading_history',
    data() {
        return {
            liveHistory: true,
            histories: [],
        };
    },
    components: {
    // LiveTradingHistory,
    // DemoTradingHistory,
    },
    methods: {
        toggleHistoryTable(tradingType = true) {
          this.liveHistory = tradingType;
        },
        getProfitColor(profit){
          return profit < 0 ? 'text-danger':'text-success' ;
        },
        getHistory() {
          this.$store
              .dispatch('post', {
                  endpoint: '/wallet-history',
              })
              .then((data) => {
                  this.histories = data.data.data;
              })
              .catch((error) => {
                  console.log(error);
              });
      },
    },
    created() {
        this.getHistory();
    },
};
</script>

<style lang="scss" scoped>
    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }

    .trading-history{
        background: #04233f;
        padding: 22px 25px;
        border-radius: 10px;
        position: relative;
        /*min-height: 500px;*/
    }

    .live-trading-wrapper{
        margin-bottom: 30px;

        .live-trading-h2{
            font-size: 18px;
            font-weight: 700;
            padding: 10px 0px;
        }

        .order1-select-wrapper{
            width: 37%;
            position: relative;
        }

        .order1-select-wrapper i{
            position: absolute;
            right: 33px;
            font-size: 9px;
            top: 0;
            transform: rotate(90deg);
            bottom: 0;
            margin: auto;
            z-index: 2;
        }

        .order1-select-wrapper select{
            -moz-appearance:none; 
            -webkit-appearance:none; 
            appearance:none;
            width: 100%;
            padding: 8px 15px;
            background: transparent;
            border: 1px solid #254b78;
            color: white;
            font-size: 13px;
            border-radius: 8px;
            z-index: 10;
        }

        .lt-apply-btn{
            width: 17%;
        }

        .live-trd-btn{
            background: #049cb1;
            border: 1px solid #049cb1;
            font-size: 13px;
            width: 100%;
            padding: .49rem .75rem;
        }

        .live-trd-btn:hover{
            background: #334351;
            border: 1px solid #334351;
        }

        .live-trading-export{
            font-size: 13px;
            text-align: right;
            padding: 8px 0px;
        }
    }

    .lt-form{
        display: flex;
        justify-content: space-between;
    }

    .live-trading-table::-webkit-scrollbar{
        display: none;
    }

    .live-trading-table{
        overflow: scroll;
        -ms-overflow-style: none;  
        scrollbar-width: none;

        .table-dark{
            td{
                /*color: #0497ac;*/
                font-weight: 500;
            }
            
        }

        .table th{
            border-top: none;
        }
        tbody tr{
            background: #142940;
            font-size: 12px;
            color: #dee2e6;
        }
        .table thead tr{
            background: #043b55;
            color: #0497ac;

            th{
                border-color: #049cb1;
                font-size: 13px;
                font-weight: 600;
            }
        }
    }

    .show-trading-btn {
        display: flex;
        justify-content: flex-end;
        margin-top: 15px;

        .btn{
            color: white;
            background: #049cb1;
            font-size: 13px;
            font-weight: 500;
            /*width: 100%;*/
            height: 43px;
            text-transform: uppercase;
            border-radius: 9px;
            padding: 10px 32px;
        }
    }

    @media screen and (max-width:1200px){
        .trading-history .trading-clipath{
            display: none;
        }
    }

    @media screen and (max-width:999px){
    .live-trading-table{
        .table{
            width: 1000px;
        }
        
    }
    }

    @media screen and (max-width:768px){
        .show-trading-btn .btn[data-v-3a4fc215] {
            font-size: 11px;
            padding: 10px 24px;
        }

        .live-trading-wrapper .lt-apply-btn {
            width: 21%;
        }

        .live-trading-wrapper .order1-select-wrapper{
            width: 36%;
            position: relative;
        }
    }
</style>
