<template>
    <div class="aff-link-page">
        <div class="affiliate-capaign-table">
            <div class="row">
                <div class="col-12">
                    <div class="table-display-grid">
                        <div class="table-top">
                            <h4>{{$t('affiliate.campaign')}}</h4>
                            <div class="sort-table-btn">
                                <button class="btn-sort-item">
                                    <span>{{$t('affiliate.today')}}</span>
                                    <span class="dropdown-icon">
                                        <svg width="17" height="11" viewBox="0 0 17 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M8.25099 10.2417L0.239413 0.329949L16.2626 0.329948L8.25099 10.2417Z" fill="#45108A" />
                                        </svg>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="table-row-overflow">
                            <table class="table campaign-table">
                                <thead>
                                    <tr>
                                      <th>{{$t('affiliate.campaign_name')}}</th>
                                        <th>{{$t('affiliate.offer_type')}}</th>
                                        <th>{{$t('affiliate.promo_code')}}</th>
                                        <th>{{$t('affiliate.register_user')}}</th>
                                        <th>{{$t('affiliate.CTR')}}</th>
                                        <th>{{$t('affiliate.RTD')}}</th>
                                        <th>{{$t('affiliate.Link')}}</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(usr, ind) in user.referral" :key="usr.id">
                                        <td>{{usr.token}}</td>
                                        <td>{{usr.offer_type}}</td>
                                        <td>{{usr.promocode}}</td>
                                        <td>{{usr.referral_users.length}}</td>
                                        <td>0%</td>
                                        <td>0%</td>
                                        <td>
                                            <div class="input-group copy-link" style="min-width: max-content;">
                                                <input type="text" class="form-control" :value="usr.link" :id="usr.token" disabled  style="font-size:14px">
                                                <div class="input-group-append copy-icon" data-toggle="tooltip" title="Click to copy!">
                                                    <span class="input-group-text pointer" @click="copyClipboard(usr.token)"><i class="far fa-copy"></i></span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="delete">
                                            <div v-if="ind != 0">
                                                <button v-if="!delete_loading" @click="deleteLink(usr.token)">
                                                    <svg width="18" height="23" viewBox="0 0 18 23" fill="none" xmlns="http://www.w3.org/2000/svg" >
                                                        <path
                                                            d="M1.28571 20.4444C1.28571 21.85 2.44286 23 3.85714 23H14.1429C15.5571 23 16.7143 21.85 16.7143 20.4444V5.11111H1.28571V20.4444ZM18 1.27778H13.5L12.2143 0H5.78571L4.5 1.27778H0V3.83333H18V1.27778Z"
                                                            fill="#545454"
                                                        />
                                                    </svg>
                                                </button>
                                                <span v-else style="line-height:35px">{{$t('affiliate.deleting')}}...</span>
                                            </div>
                            
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapState} from 'vuex'
export default {
    computed:{
        ...mapState({
            user:(context)=>context.user,
            loading:(context)=>context.loading
        })
    },
    data(){
        return{
            delete_loading:false,
            // bonus:[],
            showCashback:true,
            offer_desp:[
                'Volume sharing offer — You receive a commission based on the total trading volume of your referrals as well as commission from the Company\'s revenue based on the overall trading activity of your referrals',
                'Volume sharing offer — You receive a commission based on the total trading volume of your referrals as well as commission from the Company\'s revenue based on the overall trading activity of your referrals',
                'Turnover sharing offer — You receive a commission based on the total trading volume of your referrals',
                'Deposit sharing offer — You receive a commission based on the first deposits made by your referrals',
                'Revenue sharing offer — You receive a commission from the Company\'s revenue based on the trading activity of your referrals',
                'CPA offer — You receive a one-time commission for referring an active client based on the GEO and FTD amount',
            ],
            data:{
                token:'',
                promocode:'',
                cashback:'',
                offer_type:'1',
            },
        }
    },
    methods:{
        changeOfferDescp(){
            if (this.data.offer_type == 1) {
                this.offer_desp[1] = this.offer_desp[0]
            }else{
                this.offer_desp[1] = this.offer_desp[this.data.offer_type]
            }
            
            if(this.data.offer_type == 4 || this.data.offer_type == 5){
                this.showCashback=false
            }else{
                this.showCashback=true
            }
        },
        createLink(){
            if(this.data.token.length < 7){
                this.$store.commit('setNotification', {type:2,msg:'campaign name must be at least 7 characters'})
                return false
            }
            // console.log(this.data)
            this.$store.commit('setLoading',true)
            this.$store.dispatch('post', {endpoint:'/affiliate/create-affiliate-link', details:this.data})
            .then((data)=>{
                console.log(data)
                this.$store.commit('setLoading',false)
                if(data.data.status){
                    this.data=''
                    this.$store.commit('setNotification', {type:1,msg:'Affiliate link created successfully'})
                }else{
                    this.$store.commit('setNotification', {type:2,msg:data.data.msg})
                }
                this.$store.dispatch('getAffiliateDashboard');
            })
            .catch((error)=>{
                this.$store.commit('setLoading',false)
                this.$store.dispatch('handleError', error)
            })
        },
        copyClipboard(id){
            var get=document.getElementById(id);
            get.removeAttribute('disabled')
            get.select();
            get.setSelectionRange(0, 99999);
            document.execCommand("copy");
            get.setAttribute('disabled',true)
        },
        deleteLink(token){
            this.delete_loading=true
            this.$store.dispatch('post', {endpoint:'/affiliate/delete-affiliate-link',details:{referral_token:token}})
            .then((data)=>{
                this.delete_loading=false
                if(data.data.status){
                    this.$store.commit('setNotification', {type:1,msg:data.data.msg})
                    this.$store.dispatch('getAffiliateDashboard');
                }else{
                    this.$store.commit('setNotification', {type:2,msg:data.data.msg})
                }
            })
            .catch((error)=>{
                this.delete_loading=false
                this.$store.dispatch('handleError', error);
            })
        },
    },
    created(){
        // this.getBonus()
    }
}
</script>

<style lang="scss" scoped>
    
    .aff-link-page{
        .pointer{
            cursor: pointer;
        }
        .table td, .table th {
            vertical-align: middle;
        }
        .affiliate-capaign-table {
            padding: 20px;
            border: 1px solid #dfdfdf;
            border-radius: 6px;

            .table-top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 0 15px 0;

                h4 {
                    color: #049CB1;
                    font-weight: bolder;
                    font-size: 20px;
                    margin-bottom: 0;
                }

                .sort-table-btn {
                    button {
                        position: relative;
                        background: #ffffff;
                        border: 1px solid #45108a;
                        border-radius: 6px;
                        outline: none;
                        box-shadow: none;
                        padding: 5px 70px 5px 5px;

                        span {
                            font-size: 12px;
                        }

                        .dropdown-icon {
                            position: absolute;
                            height: 100%;
                            right: 0;
                            top: 0;
                            line-height: 3;
                            width: 30px;

                            svg {
                                width: 10px;
                                height: 10px;
                            }
                        }
                    }
                }
            }

            .table-row-overflow {
                overflow-x: auto;
                -ms-overflow-style: none;

                &::-webkit-scrollbar {
                    display: none;
                }
            }

            .table.campaign-table {
                thead {
                    tr {
                        background: #e1d9f2;
                        border-bottom: none;

                        th {
                            color: #45108a;
                            font-size: 12px;
                            border-bottom: 1px solid #45108a;
                        }
                    }
                }

                tbody {
                    tr {
                        td {
                            font-size: 11px;
                            color: #919191;
                            border-bottom: 1px solid #45108a;
                        }
                    }
                }

                button {
                    background: transparent;
                    border: none;
                    outline: none;
                    box-shadow: none;

                    svg {
                        width: 15px;
                        height: 15px;
                    }
                }

                .table-affiliate-link-block {
                    background: #e1d9f2;
                    border-radius: 5px;
                    padding: 8px 15px 8px 8px;
                    overflow: hidden;
                    position: relative;

                    span {
                        color: #45108a;
                        font-size: 10px;
                    }

                    button {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        width: 30px;
                        background: #6343a9;
                    }
                }
            }
        }
    }
</style>