<template>
    <div class="affiliate">
        <ReferralLink />
        <div class="affiliate-link-extended">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <div class="col-smart-links">
                        <div class="col-smart-link-inner">
                            <div class="col-header-text">
                                <h4>{{ $t('affiliate.smart_link') }}</h4>
                                <p>{{ $t('affiliate.smart_link_text') }}</p>
                            </div>
                            <div class="link-code-box">
                                <span>{{user.referral_link}}</span>
                            </div>
                        </div>
                        <div class="col-footer-bottom">
                            <p class="col-footer-paragraph">
                                {{ $t('affiliate.smart_link_paragraph') }}.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-8 mb-4 mb-lg-0">
                    <div class="create-affiliate-link">
                        <div class="col-header-text">
                            <h4>{{ $t('affiliate.create_new_link') }}</h4>
                        </div>
                        <form @submit.prevent="createLink()">
                            <div class="row mx-0">
                                <div class="col-sm-6 crt-col">
                                    <div class="form-group">
                                        <label for="campaign-name">{{$t('affiliate.Campaign_name')}}</label>
                                        <div class="input-class-control">
                                            <input type="text" class="form-control aff-no-inp" name="campaign-name" v-model="data.token">
                                            <span>
                                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M12.7583 7.24184C15.0921 9.57813 15.0601 13.3238 12.7723 15.6242C12.768 15.6289 12.763 15.634 12.7583 15.6387L10.1333 18.2637C7.81805 20.5789 4.0513 20.5786 1.73642 18.2637C-0.578807 15.9489 -0.578807 12.1817 1.73642 9.86684L3.18587 8.41739C3.57025 8.03301 4.2322 8.28848 4.25204 8.83168C4.27735 9.52395 4.4015 10.2195 4.63056 10.8911C4.70814 11.1185 4.65271 11.3701 4.48278 11.54L3.97157 12.0512C2.87681 13.146 2.84247 14.9285 3.92646 16.034C5.02114 17.1504 6.82044 17.157 7.92352 16.0539L10.5485 13.4293C11.6497 12.3281 11.6451 10.5482 10.5485 9.4516C10.4039 9.30731 10.2583 9.1952 10.1446 9.11688C10.0641 9.06162 9.99765 8.98832 9.95054 8.90282C9.90342 8.81733 9.87694 8.722 9.8732 8.62446C9.85773 8.21168 10.004 7.78633 10.3302 7.46016L11.1526 6.6377C11.3682 6.42204 11.7066 6.39555 11.9566 6.57009C12.243 6.77007 12.5113 6.99485 12.7583 7.24184ZM18.2635 1.73631C15.9487 -0.578612 12.1819 -0.578925 9.86668 1.73631L7.24168 4.3613C7.237 4.36599 7.23192 4.37107 7.22762 4.37575C4.93989 6.67622 4.90782 10.4219 7.24168 12.7582C7.48867 13.0051 7.7569 13.2299 8.04329 13.4299C8.29336 13.6044 8.63172 13.5779 8.84735 13.3623L9.66977 12.5398C9.99594 12.2136 10.1422 11.7883 10.1267 11.3755C10.123 11.278 10.0965 11.1826 10.0494 11.0971C10.0023 11.0116 9.93582 10.9383 9.85535 10.8831C9.7416 10.8048 9.59598 10.6927 9.45141 10.5484C8.35481 9.45176 8.3502 7.67184 9.45141 6.57063L12.0764 3.94603C13.1795 2.84294 14.9787 2.84958 16.0735 3.96595C17.1574 5.07142 17.1231 6.85399 16.0283 7.94875L15.5171 8.45996C15.3472 8.62989 15.2918 8.88145 15.3694 9.10887C15.5984 9.78051 15.7226 10.476 15.7479 11.1683C15.7678 11.7115 16.4297 11.9669 16.814 11.5826L18.2635 10.1331C20.5788 7.81832 20.5788 4.05114 18.2635 1.73631Z"
                                                        fill="url(#paint0_linear)"
                                                    />
                                                    <defs>
                                                        <linearGradient id="paint0_linear" x1="9.99998" y1="0" x2="9.99998" y2="20" gradientUnits="userSpaceOnUse">
                                                            <stop stop-color="#A4ADF2" />
                                                            <stop offset="1" stop-color="#D0BCEC" />
                                                        </linearGradient>
                                                    </defs>
                                                </svg>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 crt-col">
                                    <div class="form-group">
                                        <label for="Promo Codes">{{$t('affiliate.Promo_code')}}:</label>
                                        <select class="form-control aff-no-inp" id="sel1" v-model="data.promo_code">
                                            <option :value="bonus.value">{{bonus.name}} - {{bonus.value}}%</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- <div class="col-sm-6 crt-col">
                                    <div class="row mx-0">
                                        <div class="col-12 px-0 form-group">
                                            <label for="" class="mb-1">{{$t('affiliate.Offer_type')}}</label>
                                            <select class="form-control aff-no-inp" id="sel1" v-model="data.offer_type" @change="changeOfferDescp()">
                                                <option value="1">{{$t('affiliate.Volume_sharing')}}</option>
                                                <option value="2">{{$t('affiliate.Turnover_sharing')}}</option>
                                                <option value="3">{{$t('affiliate.Deposit_sharing')}}</option>
                                                <option value="4">{{$t('affiliate.Revenue_sharing')}}</option>
                                                <option value="5">{{$t('affiliate.CPA')}}</option>
                                            </select>
                                        </div>
                                        <div class="col-12 px-0">
                                            <div class="aff-link-notify">
                                                <p class="m-0 input-group-label-text">
                                                    {{offer_desp[1]}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 crt-col" v-if="showCashback">
                                    <div class="row mx-0">
                                        <div class="col-12 px-0 form-group">
                                            <label for="" class="mb-1">{{$t('affiliate.Cashback')}}</label>
                                            <select class="form-control aff-no-inp" id="sel1" v-model="data.cashback">
                                                <option value="1">0%</option>
                                                <option value="2">10%</option>
                                                <option value="3">20%</option>
                                                <option value="4">30%</option>
                                                <option value="5">40%</option>
                                            </select>
                                        </div>
                                        <div class="col-12 px-0">
                                            <div class="aff-link-notify">
                                                <p class="input-group-label-text"> 
                                                    {{$t('affiliate.text5')}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="col-12 mt-3">
                                    <div class="form-button-wrapper">
                                        <button type="submit" class="btn btn-priamry-affiliate">
                                            <span v-if="!loading">{{$t('affiliate.create_btn')}}</span>
                                            <span v-else>{{$t('affiliate.create_btn_loading')}}...</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="affiliate-capaign-table">
            <div class="row">
                <div class="col-12">
                    <div class="table-display-grid">
                        <div class="table-top">
                            <h4>{{$t('affiliate.campaign')}}</h4>
                            <div class="sort-table-btn">
                                <button class="btn-sort-item">
                                    <span>{{$t('affiliate.today')}}</span>
                                    <span class="dropdown-icon">
                                        <svg width="17" height="11" viewBox="0 0 17 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M8.25099 10.2417L0.239413 0.329949L16.2626 0.329948L8.25099 10.2417Z" fill="#45108A" />
                                        </svg>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div class="table-row-overflow">
                            <table class="table campaign-table">
                                <thead>
                                    <tr>
                                        <th>{{$t('affiliate.campaign_name')}}</th>
                                        <th>{{$t('affiliate.offer_type')}}</th>
                                        <th>{{$t('affiliate.promo_code')}}</th>
                                        <th>{{$t('affiliate.register_user')}}</th>
                                        <th>{{$t('affiliate.CTR')}}</th>
                                        <th>{{$t('affiliate.RTD')}}</th>
                                        <th>{{$t('affiliate.Link')}}</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="(usr, ind) in user.referral" :key="usr.id">
                                        <td>{{usr.token}}</td>
                                        <td>{{usr.offer_type}}</td>
                                        <td>{{usr.promocode}}</td>
                                        <td>{{usr.referral_users.length}}</td>
                                        <td>0%</td>
                                        <td>0%</td>
                                        <td>
                                            <div class="input-group copy-link" style="min-width: max-content;">
                                                <input type="text" class="form-control" :value="usr.link" :id="usr.token" disabled  style="font-size:14px">
                                                <div class="input-group-append copy-icon" data-toggle="tooltip" title="Click to copy!">
                                                    <span class="input-group-text pointer" @click="copyClipboard(usr.token)"><i class="far fa-copy"></i></span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="delete">
                                            <div v-if="ind != 0">
                                                <button v-if="!delete_loading" @click="deleteLink(usr.token)">
                                                    <svg width="18" height="23" viewBox="0 0 18 23" fill="none" xmlns="http://www.w3.org/2000/svg" >
                                                        <path
                                                            d="M1.28571 20.4444C1.28571 21.85 2.44286 23 3.85714 23H14.1429C15.5571 23 16.7143 21.85 16.7143 20.4444V5.11111H1.28571V20.4444ZM18 1.27778H13.5L12.2143 0H5.78571L4.5 1.27778H0V3.83333H18V1.27778Z"
                                                            fill="#545454"
                                                        />
                                                    </svg>
                                                </button>
                                                <span v-else style="line-height:35px">{{$t('affiliate.deleting')}}...</span>
                                            </div>
                            
                                        </td>
                                    </tr>
                                    <!-- <tr>
                                        <td>23eed8ed8d4ae5</td>
                                        <td>Volume sharing</td>
                                        <td>50START (bonus 50%; min deposit $50)</td>
                                        <td>200</td>
                                        <td>0%</td>
                                        <td>0%</td>
                                        <td>
                                            <div class="table-affiliate-link-block">
                                                <span>http://165.227.204.80/re...</span>
                                                <button>
                                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M16 1H4C2.9 1 2 1.9 2 3V17H4V3H16V1ZM19 5H8C6.9 5 6 5.9 6 7V21C6 22.1 6.9 23 8 23H19C20.1 23 21 22.1 21 21V7C21 5.9 20.1 5 19 5ZM19 21H8V7H19V21Z" fill="white" />
                                                    </svg>
                                                </button>
                                            </div>
                                        </td>
                                        <td>
                                            <button>
                                                <svg width="18" height="23" viewBox="0 0 18 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M1.28571 20.4444C1.28571 21.85 2.44286 23 3.85714 23H14.1429C15.5571 23 16.7143 21.85 16.7143 20.4444V5.11111H1.28571V20.4444ZM18 1.27778H13.5L12.2143 0H5.78571L4.5 1.27778H0V3.83333H18V1.27778Z"
                                                        fill="#545454"
                                                    />
                                                </svg>
                                            </button>
                                        </td>
                                    </tr> -->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import ReferralLink from './layout/referral-link';
import {mapState} from 'vuex';

export default {
    computed: {
        ...mapState({
            user: (context) => context.user,
            loading:(context)=>context.loading,
        }),
    },
    components: {
        ReferralLink,
    },
    data() {
        return {
            delete_loading: false,
            showCashback:true,
            bonus:{},
            offer_desp:[
                'Volume sharing offer — You receive a commission based on the total trading volume of your referrals as well as commission from the Company\'s revenue based on the overall trading activity of your referrals',
                'Volume sharing offer — You receive a commission based on the total trading volume of your referrals as well as commission from the Company\'s revenue based on the overall trading activity of your referrals',
                'Turnover sharing offer — You receive a commission based on the total trading volume of your referrals',
                'Deposit sharing offer — You receive a commission based on the first deposits made by your referrals',
                'Revenue sharing offer — You receive a commission from the Company\'s revenue based on the trading activity of your referrals',
                'CPA offer — You receive a one-time commission for referring an active client based on the GEO and FTD amount',
            ],
            data:{
                token:'',
                promo_code:'',
                cashback:'',
                offer_type:'1',
            },
        };
    },
    methods: {
        copyClipboard(id) {
            var get = document.getElementById(id);
            get.removeAttribute('disabled');
            get.select();
            get.setSelectionRange(0, 99999);
            document.execCommand('copy');
            get.setAttribute('disabled', true);
        },
        deleteLink(token) {
            this.delete_loading = true;
            this.$store
                .dispatch('post', {endpoint: '/affiliate/delete-affiliate-link', details: {referral_token: token}})
                .then((data) => {
                    this.delete_loading = false;
                    if (data.data.status) {
                        this.$store.commit('setNotification', {type: 1, msg: data.data.msg});
                        this.$store.dispatch('getAffiliateDashboard');
                    } else {
                        this.$store.commit('setNotification', {type: 2, msg: data.data.msg});
                    }
                })
                .catch((error) => {
                    this.delete_loading = false;
                    this.$store.dispatch('handleError', error);
                });
        },
        changeOfferDescp(){
            if (this.data.offer_type == 1) {
                this.offer_desp[1] = this.offer_desp[0]
            }else{
                this.offer_desp[1] = this.offer_desp[this.data.offer_type]
            }
            
            if(this.data.offer_type == 4 || this.data.offer_type == 5){
                this.showCashback=false
            }else{
                this.showCashback=true
            }
        },
        createLink(){
            if(this.data.token.length < 7){
                this.$store.commit('setNotification', {type:2,msg:'campaign name must be at least 7 characters'})
                return false
            }
            this.$store.commit('setLoading',true)
            this.$store.dispatch('post', {endpoint:'/affiliate/create-affiliate-link', details:this.data})
            .then((data)=>{
                console.log(data)
                this.$store.commit('setLoading',false)
                if(data.data.status){
                    this.data=''
                    this.$store.commit('setNotification', {type:1,msg:'Affiliate link created successfully'})
                }else{
                    this.$store.commit('setNotification', {type:2,msg:data.data.msg})
                }
                this.$store.dispatch('getAffiliateDashboard');
            })
            .catch((error)=>{
                this.$store.commit('setLoading',false)
                this.$store.dispatch('handleError', error)
            })
        },
        getBonusPercentage(){
            this.$store.dispatch('get','/affiliate/get-affiliate-bonus')
            .then((response)=>{
                if(response.data.status){
                    this.bonus = response.data.data
                }
                console.log(response.data)
            })
            .catch((error)=>{
                console.log(error)
            })
        },
    },
    created() {
        this.getBonusPercentage();
        console.log(this.user)
    },
};
</script>

<style>
.affiliate {
    font-family: Campton;
}
button {
    box-shadow: none;
    outline: none !important;
}
</style>
<style lang="scss" scoped>
.affiliate {
    padding: 16px 0;
    height: 100%;
    .copy-link input{
        background: #E1D9F2;
        color: #45108A;
    }
    .copy-icon span{
        background: #6343A9;
        color: white;
    }
    .pointer{
        cursor: pointer;
    }
    .table td, .table th {
        vertical-align: middle;
    }
}
.affiliate .crt-col .aff-no-inp{
    border: 1px solid #049CB1;
    background: #FCFCFC;
    height: 44px;
    border-radius: 7px;
    font-family: Roboto;
    color:  #787878;
}
.affiliate-link-extended {
    margin-bottom: 1rem;
}

.col-header-text {
    h4 {
        font-weight: bold;
        font-size: 16px;
        line-height: 36px;
        color: #049cb1;
    }

    p {
        font-size: 12px;
        color: #6c6c6c;
        font-weight: 500;
    }
}

.col-smart-links {
    background: #fefefe;
    height: 100%;
    position: relative;

    .col-smart-link-inner {
        padding: 25px;
        padding-bottom: 35px;
        border-right: 1px solid #dfdfdf;
        border-left: 1px solid #dfdfdf;
        border-top: 1px solid #dfdfdf;
        border-radius: 6px 6px 0 0;
    }

    .link-code-box {
        background: #fcfcfc;
        border: 1px dashed #049cb1;
        box-sizing: border-box;
        text-align: center;
        border-radius: 5px;
        padding: 20px;

        span {
            font-size: 12px;
            word-break: break-all;
        }
    }

    .col-footer-bottom {
        height: fit-content;
        background: #ecf6ff;
        padding: 28px;
        border-radius: 0 0 6px 6px;

        p {
            margin-bottom: 0;
            color: #454040;
            font-size: 14px;
            font-weight: bolder;
        }
    }
}

.create-affiliate-link {
    padding: 25px;
    border: 1px solid #dfdfdf;
    border-radius: 6px;
    font-family: Campton;
    .aff-link-notify{
        color: #6C6C6C;
        p{
            line-height: 1.2;
            font-size: 14.5px;
        }
    }
    .form-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        label {
            color: #45108a;
            font-size: 14px;
            font-weight: 600;
        }
    }

    .input-class-control {
        width: 100%;
        position: relative;

        span {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            padding: 10px;
            width: 40px;
            border-left: 1px solid #049cb1;

            svg {
                width: 16px;
                height: 16px;
            }
        }
    }
}

.input-group-label-text {
    p {
        font-weight: 500;
        font-size: 12px;
        color: #6c6c6c;
    }
}

.btn-priamry-affiliate {
    background: #049cb1;
    border-radius: 5px;
    padding: 10px 45px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}

.affiliate-capaign-table {
    padding: 20px;
    border: 1px solid #dfdfdf;
    border-radius: 6px;

    .table-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 15px 0;

        h4 {
            color: #45108a;
            font-weight: bolder;
            font-size: 16px;
            margin-bottom: 0;
        }

        .sort-table-btn {
            button {
                position: relative;
                background: #ffffff;
                border: 1px solid #45108a;
                border-radius: 6px;
                outline: none;
                box-shadow: none;
                padding: 5px 70px 5px 5px;

                span {
                    font-size: 12px;
                }

                .dropdown-icon {
                    position: absolute;
                    height: 100%;
                    right: 0;
                    top: 0;
                    line-height: 3;
                    width: 30px;

                    svg {
                        width: 10px;
                        height: 10px;
                    }
                }
            }
        }
    }

    .table-row-overflow {
        overflow-x: auto;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .table.campaign-table {
        thead {
            tr {
                background: #e1d9f2;
                border-bottom: none;

                th {
                    color: #45108a;
                    font-size: 12px;
                    border-bottom: 1px solid #45108a;
                }
            }
        }

        tbody {
            tr {
                td {
                    font-size: 11px;
                    color: #919191;
                    border-bottom: 1px solid #45108a;
                }
            }
        }

        button {
            background: transparent;
            border: none;
            outline: none;
            box-shadow: none;

            svg {
                width: 15px;
                height: 15px;
            }
        }

        .table-affiliate-link-block {
            background: #e1d9f2;
            border-radius: 5px;
            padding: 8px 15px 8px 8px;
            overflow: hidden;
            position: relative;

            span {
                color: #45108a;
                font-size: 10px;
            }

            button {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                width: 30px;
                background: #6343a9;
            }
        }
    }
}

@media only screen and (min-width: 567px) {
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
    .col-header-text {
        h4 {
            font-size: 22px;
        }
    }

    .create-affiliate-link {
        padding: 25px;
        border: 1px solid #dfdfdf;
        border-radius: 6px;

        .form-group {
            label {
                font-size: 18px;
            }
        }
    }

    .affiliate-link-extended {
        margin-bottom: 1.5rem;
    }
}

@media only screen and (min-width: 1200px) {
    // .affiliate {
    //     padding: 30px;
    // }

    .col-smart-links {
        .col-smart-link-inner {
            position: relative;
            height: calc(100% - 145px);
            flex-direction: column;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 4rem;
        }

        .col-footer-bottom {
            position: absolute;
            min-height: 145px;
            bottom: 0;
            right: 0;
            left: 0;
            z-index: 2;
        }
    }

    .affiliate-link-extended {
        margin-bottom: 2rem;
    }

    .affiliate-capaign-table {
        .table-top {
            h4 {
                font-size: 22px;
            }
            .sort-table-btn {
                button {
                    padding: 8px 90px 8px 8px;

                    span {
                        font-size: 14px;
                    }
                }
            }
        }

        .table-row-overflow {
            overflow-x: auto;
            -ms-overflow-style: none;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        .table.campaign-table {
            thead {
                tr {
                    background: #e1d9f2;
                    border-bottom: none;

                    th {
                        color: #45108a;
                        font-size: 12px;
                        border-bottom: 1px solid #45108a;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        font-size: 11px;
                        color: #919191;
                        border-bottom: 1px solid #45108a;
                    }
                }
            }
        }
    }
}
</style>
