<template>
    <div class="aff-profile-page">
        <ReferralLink />
        <div class="profile-page-block">
            <h4 class="col-header">{{$t('affiliate.personal_info')}}</h4>
            <form @submit.prevent="updateUser()">
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-4">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="first_name" class="required">{{$t('affiliate.first_name')}}</label>
                                    <input type="text" class="form-control" name="first-name" v-model="user.firstname" />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="last_name">{{$t('affiliate.last_name')}}</label>
                                    <input type="text" class="form-control" name="last-name" v-model="user.lastname" />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="email">{{$t('affiliate.email')}}</label>
                                    <input type="email" class="form-control" name="email" v-model="user.email" />
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="username">{{$t('affiliate.username')}}</label>
                                    <input type="text" class="form-control" name="usename" v-model="user.username"/>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="username">{{$t('affiliate.phone')}}</label>
                                    <input type="text" class="form-control" v-model="user.phone"/>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="country">{{$t('affiliate.country')}}</label>
                                    <v-select :reduce="(ct) => ct.name" name="country" v-model="user.country" class="" label="name" :options="countries" placeholder="Select country"></v-select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-4 ml-lg-5">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea name="traffic source" rows="10" placeholder="traffic source" v-model="user.traffic_source"></textarea>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-priamry-profile">
                                    <span v-if="!loader">{{$t('affiliate.profile_btn')}}</span>
                                    <span v-else>{{$t('affiliate.profile_btn_loading')}}...</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- <div class="aff-profile-page">
    <affiliate-header icon="fa fa-user" text="Profile"></affiliate-header>
    <div class="personal-info mt-3">
      <div class="aff-black-head">
        <div class="adf-head">
          <div class="adfh-filter-icon">
            <span>{{$t('affiliate.Personal_information')}}</span>
          </div>
        </div>
      </div>
      <div class="pi-info py-3">
        <form @submit.prevent="updateUser">
          <div class="row mx-0 px-3">
            <div class="col-sm-6">
              <div class="row mx-0 form-gp">
                <label for="" class="col-1 px-0"><i class="fas fa-user"></i></label>
                <input type="text" placeholder="First name" v-model="user.firstname" class="info-input col-11" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row mx-0 form-gp">
                <label for="" class="col-1 px-0"><i class="fas fa-user"></i></label>
                <input type="text" placeholder="Last name" v-model="user.lastname" class="info-input col-11" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row mx-0 form-gp">
                <label for="" class="col-1 px-0"><i class="fas fa-user"></i></label>
                <input type="text" placeholder="Username" v-model="user.username" class="info-input col-11" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row mx-0 form-gp">
                <label for="" class="col-1 px-0"><i class="fas fa-envelope"></i></label>
                <input type="email" disabled placeholder="Email" v-model="user.email" class="info-input col-11" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row mx-0 form-gp py-0">
                <v-select :reduce="(ct) => ct.name" v-model="user.country" class="col-12" label="name" :options="countries" style="width:100%; color: #000" placeholder="Select country"></v-select>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="row mx-0 form-gp">
                <label for="" class="col-1 px-0"><i class="fas fa-phone"></i></label>
                <input type="text" placeholder="Phone" v-model="user.phone" class="info-input col-11" />
              </div>
            </div>
            <div class="col-sm-12">
              <textarea cols="30" rows="7" v-model="user.traffic_source" placeholder="Traffic source"></textarea>
             
            </div>
          </div>
          <hr class="mx-2" />
          <div class="aff-submit d-flex justify-content-end px-4">
            <button type="submit" class="btn btn-primary">
              <span v-if="!loader">{{$t('affiliate.Save')}}</span>
              <span v-else>{{$t('affiliate.Saving')}}...</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div> -->
</template>

<script>
import country from '../../../store/countries/countries.json';
import 'vue-select/dist/vue-select.css';
import ReferralLink from './layout/referral-link';
import {mapState} from 'vuex';

export default {
    components: {
        ReferralLink,
    },
    computed: {
        ...mapState({
            user: (context) => context.user,
            token: (context) => context.token,
        }),
    },
    data() {
        return {
            countries: country,
            loader: false,
        };
    },

    methods: {
        updateUser() {
            this.loader = true;
            this.$store
                .dispatch('post', {endpoint: '/affiliate/update-affiliate', details: this.user})
                .then((data) => {
                    if (data.data.status) {
                        this.loader = false;
                        data.data.user.affiliate = true;
                        var payload = {
                            user: data.data.user,
                            token: this.token,
                        };
                        this.$store.commit('setUser', payload);
                        this.$store.commit('setNotification', {
                            type: 1,
                            msg: 'Profile was updated successfully',
                            unset: true,
                        });
                    } else {
                        this.$store.commit('setNotification', {
                            type: 2,
                            msg: data.data.msg,
                        });
                    }
                })
                .catch((error) => {
                    this.loader = false;
                    console.log(error.request);
                });
        },
    },
};
</script>

<style lang="scss">
.aff-profile-page {
    .aff-submit button {
        border-radius: 0;
        background-color: #3276b1;
        border-color: #2c699d;
        padding: 2px 15px;
        font-size: 15px;
    }
    .vs__open-indicator {
        fill: #a2a2a2 !important;
        margin-right: 9px;
    }
    .vs__search,
    .vs__search:focus {
        color: #4c4f53;
        font-size: 13px;
    }
    .vs__actions {
        padding-right: 0;
        transform: scale(0.9);
    }
    .vs--searchable .vs__dropdown-toggle{
        margin-left: 71px;
        width: 77%;
        border-radius: 7px;
        background: #f8f8f8;
    }
    .v-select{
        width: 100% !important;
    }
    .vs__selected {
        color: #4e5890;
    }
}

@media screen and (max-width: 1200px){
    .aff-profile-page .vs__dropdown-toggle {
        width: 70% !important;
    }
}
</style>
<style lang="scss" scoped>
.aff-profile-page {
    height: 100%;
    font-family: Campton;
}
.btn-priamry-profile {
    background: #049cb1;
    border-radius: 5px;
    padding: 10px 45px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
}
.profile-page-block {
    padding: 20px;
    background: #fefefe;
    border: 1px solid #dfdfdf;
    border-radius:6px;

    .col-header {
        color: #049cb1;
        font-size: 16px;
        font-weight: bolder;
        margin-bottom: 20px;
    }

    .form-group {
        display: flex;
        justify-content: space-between;
        align-items: center;

        label {
            color: #6343a9;
            text-transform: capitalize;
            font-size: 12px;

            &.required {
                position: relative;

                &::after {
                    content: '*';
                    position: absolute;
                    top: 0;
                    right: -15px;
                    color: red;
                }
            }
        }

        .form-control {
            max-width: 65%;
        }

        textarea {
            width: 100%;
            padding: 15px;
            &::placeholder {
                font-size: 12px;
                color: #6343a9;
                text-transform: capitalize;
            }
        }

        .form-control,
        textarea {
            outline: none;
            box-shadow: none;
            background: #f8f8f8;
            border: 1px solid #049cb1;
            border-radius: 6px;
        }
    }
}
@media only screen and (min-width: 992px) {
    .profile-page-block {
      padding: 35px;
        .form-group {
            textarea {
                width: 75%;
                height: 100px;
            }
        }
    }
}
@media only screen and (min-width: 1200px) {
    .profile-page-block {
        .col-header {
            font-size: 24px;
        }

        .form-group {
            label {
                font-size: 14px;
            }

            textarea {
                width: 65%;
                height: 100px;
            }
        }
    }
}
</style>
