<template>
    <div v-if="openChatPanel" id="chat" class="">
        <div class="dialoge h-100">
            <div class="chat-body h-100">
                <div class="tab-content h-100">
                    <div id="chater" class="h-100 tab-pane fade in active show chat-tab">
                        <div class="chat-head align-items-center">
                            <div class="title new-display-flex">
                                <a @click="$parent.toggleChatPanel()" class="remove-collapse no-hover ml-2"><i class="bx bx-chevron-left"></i></a>
                                <p class="mb-0">{{$t('dashboard.Support')}}</p>
                            </div>
                            <div class="online-notify d-flex align-items-center">
                                <p class="rounded bg-success mb-0 green-dot"></p>
                                <p class="mb-0 ml-1 online-status">{{$t('dashboard.online')}}</p>
                            </div>
                        </div>
                        <div class="chat-supp h-100" v-if="!loading">
                            <div class="chat-section ">
                                <div v-for="chat in filteredList" :key="chat.id">
                                    <div v-if="chat.receiver != user.id" class="sender">
                                        <div class="chat-profile">
                                            <div class="p-chat-img">
                                                <img :src="user.profile_image" alt="" />
                                            </div>
                                            <div class="chat-msg px-2 pl-3">
                                                <p class="mb-0">{{ chat.message }}</p>
                                            </div>
                                        </div>
                                        <div class="chat-pseudo"></div>
                                        <div class="main-main ml-3 d-flex align-items-center">
                                            <small>{{ user.firstname }}</small>
                                            <span class="mx-1">|</span>
                                            <small>{{ chat.created_at }}</small>
                                        </div>
                                    </div>
                                    <div class="support-response mb-1" v-else>
                                        <div class="chat-profile">
                                            <div class="p-chat-img">
                                                <img src="@/assets/img/c.png" alt="" />
                                            </div>
                                            <div class="chat-msg px-2 pl-3">
                                                <p class="chat-right">{{ chat.message }}</p>
                                            </div>
                                        </div>
                                        <div class="chat-pseudo"></div>
                                        <div class="main-main resp-text d-flex justify-content-start mr-3 align-items-center">
                                            <small>{{ chat.created_at }}</small>
                                            <span class="mx-1">|</span>
                                            <small>{{$t('dashboard.support')}}</small>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="chat-form" style="">
                                <form class="d-flex align-items-center justify-content-between" @submit.prevent="sendChat()">
                                    <input class="form-control chat-input" placeholder="Type message" v-model="message">
                                    <!-- <input type="file" id="attach" style="display:none" />
                                    <label for="attach" class="m-0" v-if="!chat_loader"><i class="fa fa-paperclip paperclip mr-2"></i></label> -->
                                    <button type="submit">
                                        <i class="fa fa-paper-plane"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div v-else style="position:fixed;height:91%;width:100%;display:flex;align-items:center;justify-content:center">
                            <loader color="white"></loader>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapState} from 'vuex';
import loader from '../../layout/loader'
export default {
    components:{loader},
    computed: {
        ...mapState({
            user: (context) => context.user,
            openChatPanel: (state) => state.openChatPanel,
            // chats: (context) => context.chats 
        }),
        filteredList() {
            return this.chats
        },
    },
    data() {
        return {
            message: '',
            chats: [],
            chat_loader: false,
            loading:true
        };
    },
    methods: {
        sendChat() {
            if (this.message.trim().length < 1) {
                this.$store.commit('setNotification', {type: 2, msg: 'Message field is required'});
                return false;
            }
            let details = {
                message: this.message,
                receiver: 0,
            };
            this.chat_loader = true;
            this.chats.push({
                'created_at':'sending...',
                'filename':null,
                'id':null,
                'message':this.message,
                'receiver':0,
            })
            var length = this.chats.length
            this.message = ''
            this.$store
                .dispatch('post', {endpoint: '/send-chat', details: details})
                .then((data) => {
                    this.chat_loader = false;
                    if (data.data.status) {
                        this.chats.splice(0, length, ...data.data.chats)
                    }
                })
                .catch((error) => {
                    console.log(error);
                    this.chat_loader = false;
                    this.$store.dispatch('handleError', error);
                });
        },
        getSupportChat() {
            this.$store.dispatch('get', '/get-support-chat').then((data) => {
                console.log(data);
                // this.$store.commit('setChat', data.data.chats)
                this.loading=false
                this.chats = data.data.chats;
            })
            .catch((error)=>{
                this.loading =false
                this.$store.dispatch('handleError', error)
            })
        },
    },
    created() {
        
        this.getSupportChat();
    },
};
</script>

<style scoped lang="scss">
.h-100{
    height: 100%;
}
.main-main {
    small {
        margin-top: 4px;
        color: #cbcbcb !important;
    }
    span {
        line-height: 1;
        font-size: 13px;
    }
}
#chat {
    height:100%;
    background-color: #00182e !important;
    position: relative;
    min-width: 320px;
    max-width: 100% !important;
    
    ::-webkit-scrollbar {
        width: 4px;
    }
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    ::-webkit-scrollbar-thumb {
        background: #888;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    .badge {
        background-color: #3498db;
        padding: 3px 5px;
        border-radius: 4px;
        margin-left: 4px;
    }
    .sender {
        width: 87%;
        margin-bottom: 10px;
    }
    .tab-content {
        padding: 0;
        background-color: #001f3a;
        .chat-tab{
            background-color: #001f3a;
        }
        .chat-head {
            display: flex;
            justify-content: space-between;
            background-color: #00182e !important;
            padding: 8px 10px;
            .title p {
                font-weight: 500;
                font-size: 14px;
            }
            .no-hover {
                min-width: max-content;
                &:hover {
                    background-color: transparent;
                }
            }
            .online-notify {
                .green-dot {
                    height: 7px;
                    width: 7px;
                }
                .online-status {
                    font-size: 12px;
                    color: gray;
                }
            }
            .head-icon a {
                padding: 0;
            }
        }
        .chat-supp {
            .chat-section {
                overflow-y: auto;
                height: calc(100% - 125px);
                padding: 0 6px;
                padding-bottom: 64px;
                background: #00182e;
            }
            .support-response {
                margin-top: 10px;
                direction: rtl;
                margin-left: 30px;
                .chat-msg {
                    direction: rtl;
                    p {
                        display: flex;
                        justify-content: flex-start;
                    }
                }
                .chat-pseudo {
                    transform: skew(0, 40deg);
                }
            }
            .chat-form {
                border-top: 1px solid lightgray;
                background-color: #00182e;
                .chat-input:focus {
                    box-shadow: none;
                }
                .chat-input {
                    font-size: 12px;
                    color: white;
                    background-color: transparent;
                    outline: none;
                    resize: none;
                    // width: 291px;
                    height: 47px;
                    border: none;
                }
                .paperclip {
                    color: lightgray;
                }
                button {
                    border: none;
                    background: transparent;
                    color: #cbcbcb;
                    padding-right: 0.75em;
                }
            }
            .chat-pseudo {
                width: 13px;
                height: 13px;
                transform: skew(0, -40deg);
                margin-top: -10px;
                background-color: #01325e;
            }
            .chat-profile {
                z-index: 999999;
                display: flex;
                align-items: center;
                padding: 8px 16px;
                background-color: #01325e;
                .main-main {
                    text-align: left;
                    margin-left: 10px;
                }
                .p-chat-img {
                    img {
                        height: 33px;
                        width: 33px;
                        border-radius: 33px;
                    }
                }
            }
            .chat-msg {
                p {
                    line-height: 17px;
                    word-spacing: 1px;
                    font-weight: lighter;
                    color: #cbcbcb;
                    font-size: 13px;
                }
            }
        }
        .chat-main {
            .chat-content {
                display: flex;
                align-items: center;
                padding: 8px 16px;
                border-bottom: 1px solid #37373e;
                .main-main {
                    text-align: left;
                    margin-left: 10px;
                }
                .chat-img {
                    img {
                        height: 50px;
                        border-radius: 50px;
                    }
                    .badge {
                        position: absolute;
                        margin-top: 33px;
                        margin-left: -13px;
                        color: white;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
    ul {
        border: none;
    }
    li {
        width: 16.66666%;

        a:hover {
            background-color: transparent;
            color: white;
        }
        a.active {
            border-bottom: 1px solid #3498db;

            i {
                color: white;
            }
        }
    }
}
@media(min-width: 800px){
    #chat {
    .tab-content {
        .chat-supp {
            .chat-section {
                height: 87.5%;
            }
        }
    }
}
}
@media (max-width: 1199px) {
    #chat {
        // left: 268px;
    }
}
@media (max-width: 767px) {
    #chat {
        left: 0;
        // top: -93px;
    }
}
@media(max-width: 800px){
    #chat{
        position: fixed;
        top: 0 !important;
         left: 0;
            right: 0;
            bottom: 0;
        
    }
    #chat .thh-title{
        justify-content: flex-start !important ;
        align-items: center;

    }
    #chat .thh-title .fa-less-than{
        margin-right: 10px;
        font-size: 20px;
    }
}
@media(min-width: 800px){
    #chat .fa-less-than{
        font-size: 15px;
    }
}
.new-display-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
</style>
