<template>
    <div v-if="!user.is_demo" class="creditModal">
        <div class="cdModal_wrapper">
            <div class="cdModal_innner">
                <div class="cdModal-close">
                    <a @click="$parent.toggleCreditDemoWalletModal()" href="javascript:void(0)"><i class="fa fa-close"></i></a>
                </div>
                <div class="cdModal_icon">
                    <i class="fas fa-chart-line"></i>
                    <p class="cd-txt"> {{$t('dashboard.credit_demo_text1')}} </p>
                </div>
                <form @submit.prevent="creditWallet()" action="">
                    <div class="form-group">
                        <label for="" class="cdDemo_txt">{{$t('dashboard.credit_demo_text2')}}</label>
                        <input v-model="amount" type="number"  :max="max_demo_amount_possible" maxlength="4" :min="1" class="form-control cdNumb_inp">
                    </div>
                    
                    <button type="submit" class="btn btn-block cdModal-btn">{{$t('Add')}}</button>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
import {mapState} from 'vuex';
import mixins from '../../../mixins'
export default {
    data(){
        return {
            amount:0,
        }
    },
    mixins:[mixins],
    computed: {
        ...mapState({
            user: (context) => context.user,
            token: (context) => context.token,
            currentLanguage: (state) => state.language,
            account_type:(state)=> state.active_account_type,
            max_demo_amount_possible:(state)=> state.max_demo_amount_possible
        }),
    },
    methods:{
        creditWallet(){ 
            if(this.amount <= 0){ 
                this.$toast.open({message: 'You need to add more money', type: 'error', position: 'bottom-right'});
                return false;
            }
            else if( (parseFloat(this.amount) + parseFloat(this.user.demo_wallet.amount)) > this.max_demo_amount_possible){ 
                this.$toast.open({message: 'Maximum amount is $'+this.formatCurrency(this.max_demo_amount_possible), type: 'error', position: 'bottom-right'});
                return false;
            }

            this.$store.dispatch('post',{
                endpoint:'/credit-demo-wallet',
                details:{amount:this.amount}
            })
            .then((data)=>{
                if(data.data.status){
                    //
                    this.$parent.toggleCreditDemoWalletModal();
                    var usr={};
                    usr.user=data.data.data;
                    usr.token=this.token;
                    this.$store.commit('setUser',usr);

                    this.$parent.updateUserAccountBalances();

                    // TRADE ACCEPTED NOTIFICATION
                    this.$toast.open({message: data.data.message, type: 'success', position: 'bottom-right'});
                }else{
                    this.$toast.open({message: data.data.message, type: 'error', position: 'bottom-right'});
                }
            })
            .catch((error)=>{
                console.log(error);
            });
        }
    }
}
</script>

<style>
.cdModal_wrapper{
    background: #000000d9;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    display: block;
}

.cdShow{
    display: block;
}

.cdModal_innner{
    background: #181d2b;
    width: 331px;
    height: fit-content;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    padding: 35px;
}

.cdModal-close{
    text-align: center;
    background: #202537;
    color: #9396a0;
    width: 30px;
    height: 30px;
    padding: 3px 0px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 15px;
}

.cdModal_icon{
    background-color: #293145;
    color: #d5d6d8;
    border-radius: 4px;
    font-size: 14px;
    padding: 6px 10px;
    text-align: center;
    margin-bottom: 15px;
}

.cdModal_icon i{
    font-size: 50px;
    display: block;
    margin: 20px auto 12px;
}

.cd-txt{
    font-size: 13px;
    margin-bottom: 3px;
}

.cdDemo_txt{
    font-weight: 600;
    margin-bottom: 5px;
    display: inline-block;
    font-size: 14px;
}

.cdNumb_inp{
    background-color: #162032!important;
    color: #7e91a7!important;
    border-color: #495671;
    width: 100%;
    height: 36px;
}

.cdModal-btn{
    background-color: rgba(2,91,68,.15);
    border-color: #025b44;
    color: white;
    border-radius: 4px;
    height: 36px;
}

.cdModal-btn:hover{
    background-color: #025b44;
    color: white;
}


</style>