<template>
  <div id="dashboard" class="h-100">
    <navbar></navbar>
	
    <div class="dash-body  00">
      <div class="row m-0 d-flex box-container h-100 style-dfas">
        <sidebar></sidebar>
        <!-- Component renders here -->
        <div id="main-page-container" class="h-100">
          <div class="fixed-panel">
            <recentTrades></recentTrades>
            <tradingHistory></tradingHistory>
            <chats v-if="!user.is_demo"></chats>
          </div>
          <div class="content">
              <router-view></router-view>
          </div>
        </div>
      </div>
    </div>
    <!-- <demoCalculatorModal/> -->
	
  </div>
</template>

<script>
import navbar from './nav'
import recentTrades from '../trading/layout/order-panel'
import tradingHistory from './trading-history'
import chats from './chat'
import sidebar from './sidebar' 
// import smallSidebar from './small-sidebar'
import 'vue-select/dist/vue-select.css';
// import demoCalculatorModal from './demoCalculatorModal'
import {mapState} from 'vuex';
export default {
  name: 'page',
  components:{
    navbar,
    recentTrades,
    tradingHistory,
    chats,
    sidebar, 
    // smallSidebar,
    // demoCalculatorModal
  },
  computed: {
    ...mapState({
      user: (context) => context.user,
      token: (context) => context.token,
      currentLanguage: (state) => state.language,
      account_type:(state)=> state.active_account_type,
      openOrderPanel: (state) => state.openOrderPanel,
      openHistoryPanel: (state) => state.openHistoryPanel,
      openChatPanel: (state) => state.openChatPanel,
    }),
    other_account_types:function(){
      var temp=JSON.parse(JSON.stringify(this.account_types));
      delete temp[this.account_type];
      return temp;
    },
  },
  data(){
    return{
      tradHistory:'All positions',
      languages:{
        en:{
          icon: 'https://images.vexels.com/media/users/3/163965/isolated/preview/5bb2c926d53cc59030477ec3ecb6d26a-england-flag-language-icon-by-vexels.png',
          name: 'English',
        },
        kr:{
          icon: 'https://icons.iconarchive.com/icons/custom-icon-design/flag-3/256/Korea-Flag-icon.png',
          name: 'Korea',
        },
      },
      account_types:{},
      toggleDemoWallet:false
    };
  },
  methods:{
    toggleOrderPanel() {
				if(!this.openOrderPanel){
          this.$store.dispatch('resetNoneTradeHistoryModal');
        }
        this.$store.state.openOrderPanel = !this.openOrderPanel;
    },
    toggleHistoryPanel(){
        this.$store.state.openHistoryPanel = !this.openHistoryPanel;
    },
    toggleChatPanel(){
      if(!this.openChatPanel){
        this.$store.dispatch('resetModals');
      }
      this.$store.state.openChatPanel = !this.openChatPanel;
    },
    toggleCreditDemoWalletModal(){
      if(this.user.demo_wallet.amount > 1000){
        this.$store.dispatch("dangerNotify",{context:this,header:"NOT ALLOWED",body:"You still have some money in your demo account."});
        return false;
      }
      this.toggleDemoWallet = !this.toggleDemoWallet;
    },
    changeAccount(type){
      this.$store.state.active_account_type=type;
      var temp={
        user:this.user,
        token:this.token,
        account_type:type
      }
      this.$store.commit('setUser',temp);
    },
    convertLanguage() {
      var list = [];
      for (var lang in this.languages) {
        var temp = this.languages[lang];
        temp.code = lang;
        list.push(temp);
      }
      list = list.filter((lg) => lg.code != this.currentLanguage);
      return list;
    },
    changeLanguage(language) {
      localStorage.setItem('language', language);
      window.location.reload();
      console.log(language);
    },
    logout() {
      this.$store.dispatch('logout');
      // this.$store.commit('logout');
    },
  },
  created() {
    this.convertLanguage();
    if(!this.user.is_demo){
                this.$store.commit('getUser');
                this.$store.dispatch('getDashboard');
            }
    this.account_types={
      wallet:{
        label:this.$t('dashboard.LIVE_ACCOUNT'),
        amount:this.user.wallet.amount,
      },
      demo_wallet:{
        label:this.$t('dashboard.Demo_Account'),
        amount:this.user.demo_wallet.amount,
      }
    }
  },
}
</script>

<style scoped lang="scss">
  .content {
    display: inline-flex;
    width: 100%;
  }
  .fixed-panel{ 
    height: 100%; 
    z-index: 100000;
    display: inline-flex;
    background: #001425;
  }
  .green-glow{
    box-shadow: 0px 0px 21px 6px green;
      // border: 1px solid green;
      animation: grow .3s ease-in-out;
  }
  .red-glow{
    box-shadow: 0px 0px 21px 6px #ff00005e;
      // border: 1px solid #ff00005e;
      animation: grow .3s ease-in-out;
  }


  @keyframes grow{
    0%{
      transform: scale(1);
    }
    20%{
      transform: scale(.5);
    }
    80%{
      transform: scale(1.3);
    }
    20%{
      transform: scale(1);
    }
  }
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  #signals {
    width: 272px;
    z-index: 1000;
    background-color: #191f2d;
    height: 100%;
    overflow-y: scroll;
  }
  .cry {
    // margin: 6px;
    padding: 6px;
    font-size: 12px;
    color: white;
  }
  .sig-tra-price p {
    font-size: 12px;
  }
  .sig-tra-price:hover {
    background-color: rgba(48, 153, 245, 0.24);
  }
  .sig-tra-price {
    padding: 10px 10px !important;
    display: flex;
    justify-content: space-between;
    background-color: #2e354a;
  }
  .sig-tra-price:nth-of-type(even) {
    background-color: transparent;
  }
  .tab-footer ul {
    border-bottom: none;
    margin-bottom: 0 !important;
  }
  .tab-footer ul li {
    border: none !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
    background-color: #20273f;
  }
  .tab-footer ul a:hover {
    color: white;
    background-color: #313c61;
  }
  .tab-footer ul a {
    padding: 4px 10px !important;
    font-size: 20px;
    color: #8ea5c0;
  }
  .tab-footer {
    background-color: #20273f;
    position: fixed;
    padding: 5px 0px !important;
    bottom: 0;
  }
  .trade-status p {
    font-size: 14.5px;
    padding: 20px 0;
    background-color: #2e354a;
  }
  #close-trade a {
    background-color: #2e354a;
    padding: 10px 19px;
    border-radius: 6px;
  }
  .his-tabs li a.active {
    border-bottom: 1px solid red;
    color: white !important;
  }
  .his-tabs ul li {
    width: 50%;
  }
  .his-tabs ul a {
    display: block;
    // border: 1px solid red;
    text-align: center;
    padding: 13px 0;
    font-size: 15px;
    font-weight: 500;
    color: #d5d6d8;
  }
  .main-tab-content {
    background-color: #1b1e2f;
    color: white;
    width: 19.3em;
    // border:1px solid yellow;
    position: absolute;
    height: 100%;
  }
  .trade-right-tab {
    position: absolute;
    top: 0;
    z-index: 1000;
    height: 100%;
  }
  .favorite {
    border-bottom: 1px solid #464a58;
  }
  .favorite a i {
    font-size: 25px;
    color: #47474e;
  }
  .fav-list span {
    font-size: 12px;
  }
  .favorite .fav-list {
    font-size: 13px;
    color: #7b8da6;
    cursor: pointer;
  }
  .favorite .fav-list i {
    font-size: 12px;
    color: #ff9706;
  }
  .bal {
    cursor: pointer;
  }


  #main-page-container {
    display: flex;
    width: calc(100% - 110px);
  }

  .nr-dm-footer {
    color: #8ea5c0;
  }

  .nav-mid {
    transition: linear 0.25s;
    margin-left: 17rem;
    margin-right: 10px;
  }
  .chart-mid {
    transition: linear 0.25s;
    margin-right: 20rem !important;
    margin-left: 10px !important;
  }
  .sm-chart-toggler {
    margin-left: 20px;
    margin-right: 20px;
  }

  #page-content-wrapper {
    min-width: 100vw;
  }
  #menu-toggle,
  #chart-toggle {
    font-size: 30px;
    font-weight: bolder;
    color: #26a1ff;
    cursor: pointer;
  }



  .clear-fix {
    clear: right;
  }

  .finance-top-tabs-lg {
    display: none;
  }

  .finance-top-tabs-sm {
    background: #262c41;
    width: 100%;
    height: max-content;
    padding: 6px;
    position: fixed;
    left: 0;
    bottom: 0;
    opacity: 1;
    transition: opacity 200ms;
    z-index: 999;

    ul {
      margin-bottom: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    li {
      margin-right: 5px;

      &:last-of-type {
        margin-right: 0;
      }

      a {
        display: inline-block;
        background-color: #293145;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 34px;
        min-width: 68px;
        padding: 3px;

        &.router-link-exact-active {
          background: #364059;
        }

        svg {
          fill: #8ea5c0;
          width: 22px;
          margin: 0 auto;
        }
      }
    }
  }

  #dashboard-footer {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 1.5rem;
    margin-left: auto;
    height: fit-content;
  }

  .footer-top {
    p {
      font-size: 100%;
      font-family: inherit;
      vertical-align: baseline;
    }
  }

  .footer-sub-link {
    color: #8ea5c0;
    text-decoration: none !important;

    &:hover {
      color: initial;
    }
  }

  .footer-ddr {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .img-ddr {
      width: 32px;
      height: 32px;
      margin-right: 10px;
    }

    .footer-payment {
      img {
        width: 54px;
        height: auto;
      }
    }
  }

  .footer__bottom {
    padding-bottom: 25px;
    li {
      width: 100%;

      a {
        font-size: 11px;
        color: #007eff;
        border-bottom: 1px solid #007eff;
        text-decoration: none;
      }
    }
  }

  @media only screen and (min-width: 576px) {
    .finance-top-tabs-sm {
      width: 100%;
      max-width: 274px;

      li {
        a {
          height: 34px;
          min-width: 48px;

          svg {
            width: 28px;
          }
        }
      }
    }
  }

  @media (max-width: 600px) {
    .dash-body {
      margin-top: 63px !important;
      border: 1px solid #ffffff26;
    }
  }
  @media only screen and (min-width: 768px) {
    
    .footer__bottom {
      margin-top: 1.5rem;

      ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
      }

      li {
        width: fit-content;
        margin-right: 10px;

        a {
          white-space: nowrap;
        }
      }
    }
  }

  @media only screen and (min-width: 992px) {
    .footer-top {
      p {
        font-size: 11px;
      }
    }

    .footer__bottom {
      margin-top: 0.5rem;
    }

    .footer-ddr {
      float: right;
    }
  }

  @media only screen and (min-width: 1200px) {
    .finance-top-tabs-sm {
      display: none;
    }

    .finance-top-tabs-lg {
      display: block;

      .top-tabs-list {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 0;

        .top-tabs-items {
          margin-right: 1rem;
        }

        .top-tabs-link {
          display: block;
          background-color: #20273f;
          color: #7e91a7;
          transition: 0.3s ease;
          padding: 10px 15px;
          font-size: 12px;
          text-transform: uppercase;

          &.router-link-exact-active {
            color: #8ea5c0;
            background-color: #434858;
            text-decoration: none !important;
          }

          &:hover {
            color: #8ea5c0;
            background-color: #434858;
            text-decoration: none !important;
          }
        }
      }
    }

    

    #dashboard-footer {
      width: calc(100% - 100px);
      padding-left: 20px;
      padding-right: 20px;
    }
  }


  .rm-padding {
    padding: 14px;
  }
  .remove-p {
    display: none;
  }

  .dash-body {
    background: #001426;
    width: 100%;
    margin-top: 70px;
    height: calc(100% - 70px) !important;
  }

  .i-sm {
    font-size: 10px;
    color: #8fa5bf;
    margin-right: 10px;
  }


  .close i:focus {
    border: none;
  }
  .col-sm-3 a:hover {
    background-color: #364059 !important;
  }

  .close i {
    color: white;
  }
  .close {
    background-color: #1e2233;
    font-size: 13px;
    outline: none !important;
    padding: 9px 12px;
  }

  .show-profile-dropdown {
    display: block;
  }


  .bonus {
    background-color: rgba(85, 84, 59, 0.7);
    border: 1px solid rgba(231, 206, 69, 0.7);
    color: #c9b545;
    border-radius: 5px;
    padding: 5px 23px 5px 14px;
  }
  .bonus i {
    font-size: 18px;
    color: #eed961;
  }
  .bonus p {
    font-size: 10px;
  }
  .bn-text h6 {
    font-size: 14px;
    margin: 0;
    padding: 0;
    font-weight: 500;
  }
  p {
    margin: 0;
    padding: 0;
  }

  .grid i {
    font-size: 25px;
    border: 1px solid #363c4d;
    padding: 7px;
    color: #8d8f96;
    cursor: pointer;
  }
  .grid i:hover {
    color: white;
    background-color: #363c4d;
  }
  a:hover {
    text-decoration: none;
  }
  @media (max-width: 578px) {
    .fixed-panel {
      top:61px !important;
    }
    
  }

  @media (max-width: 600px) {
    .fixed-panel {
      z-index: 100000;
    }
    
  }
  @media(max-width: 767px){
    #main-page-container {
      width: 100%;
    }
  }
  @media (max-height: 790px) {
    .fixed-panel {
      height: 85%;
    }
    
  }


</style>
