<template>
    <div>
        <div class="asts">
            <a 
                :class="{
                        'active':frame_id == frame.id,
                        'waiting':frame.state == 'waiting',
                        'winning':status(frame.id),
                        'loosing':(frame.state != 'none' && frame.state != 'ended') && !status(frame.id),
                        'completed':frame.state == 'ended'
                }"
                class="nav-asset" @click="changeSymbol(frame)" v-for="(frame,index) in frames" :key="index" href="javascript:void(0)">

                <!-- CLOSE BUTTON -->
                <a v-if="frames.length > 1" @click="removeFrame(frame.id,$event)" class="closeNavAsset d-sm-" href="javascript:void(0)"><i class="fas fa-times"></i></a>

                <!-- PROGRESS INDICATOR -->
                <radial-progress-bar 
                    v-if="frame.state == 'waiting' || frame.state == 'trading-on'"
                    :diameter="32"
                    :completed-steps="(getFrameTrade(frame.id).total_active_session_seconds - getFrameTrade(frame.id).time_used)"
                    :total-steps="getFrameTrade(frame.id).total_active_session_seconds"
                    :strokeWidth="3"
                    startColor="#ffffff"
                    stopColor="#ffffff"
                    :innerStrokeWidth="3"
                    >
                    <p class="progress-p m-0">:{{ formatProgressSecond(getFrameTrade(frame.id).total_active_session_seconds - getFrameTrade(frame.id).time_used) }}</p>
                </radial-progress-bar> 

                <!-- COMPLETED ICON -->
                <div v-if="frame.state =='ended'" class="pt-2">
                    <i class="fas fa-check text-success"></i>
                </div>

                <!-- ASSET NAME/TYPE/TIME -->
                <div  class="ml-2">
                    <span>{{frame.asset.name}}</span>
                    <small :class="{'text-danger':!status(frame.id),'text-success':status(frame.id)}" v-if="frame.state == 'waiting' || frame.state == 'trading-on'" >
                        <div class="d-flex">
                            <span class="text-success" v-if="status(frame.id)">+</span>
                            <div style="font-size:12px"><Money :amount="total_profit(frame.id)" /></div>
                        </div>
                    </small>
                    <small class="" v-else>{{frame.asset.type}}</small>
                </div>
            </a>
            <a @click="toggleMarketModal()" href="javascript:void(0)" class="addSymbol">
                <i class="fas fa-plus mt-2"></i>
            </a>
        </div>
    </div>
</template>
<script>
import RadialProgressBar from 'vue-radial-progress';
import {mapState} from 'vuex';
export default {
    components:{
        RadialProgressBar
    },
    computed: {
        ...mapState({
            user: (context) => context.user,
            frames: (context) => context.frames,
            token: (context) => context.token,
            openMarketModal: (state) => state.openMarketModal,
            account_type:(state)=> state.active_account_type,
            currentLanguage: (state) => state.language,
            localEmitter: (state) => state.localEmitter,
            frame_id: (state) => state.frame_id,
            trades: (state) => state.trades,
            max_investment_possible :(state)=> state.max_investment_possible,
            max_demo_amount_possible :(state)=> state.max_demo_amount_possible,
        }),
        other_account_types:function(){
            var temp=JSON.parse(JSON.stringify(this.account_types));
            delete temp[this.account_type];
            return temp;
        },
        isTradePage:function(){
            return this.$route.name == 'trade_room';
        }
    },
    methods: {
        formatProgressSecond(seconds){
            return seconds >= 60 ? '1M':seconds
        },
        getFrameTrade(id){
            var trade = this.trades.find((d)=> d.frame_id == id);
            return trade;
        },
        total_profit(id){
            var profit= 0;
            this.trades.forEach((trade)=>{ 
                if(trade.frame_id == id && trade.state != 'ended'){ 
                    if(trade.status == 'winning'){
                        profit += trade.profit; 
                    }else if(trade.status == 'losing'){
                        profit -= trade.profit; 
                    } 
                }
            });
            return profit;
        },
        status(id){
            return this.total_profit(id) <= 0 ? false:true;
        },
        removeFrame(id,e){
            e.stopPropagation();
            
            this.$store.dispatch('removeFrame',{id,context:this});
        },
        changeSymbol(frame){
            this.$store.dispatch('resetModals');
            
            frame.asset.frame_id = frame.id;
            delete frame.asset.create_frame;
            this.localEmitter.emit('change_symbol',frame.asset);
        },
        toggleMarketModal(){
            this.$store.dispatch('resetModals');
            this.$store.state.openMarketModal=!this.openMarketModal;
        },
        updateUserAccountBalances(){
            this.account_types = {
                demo_wallet: {
                    id: -1,
                    label: this.$t('dashboard.Demo_Account'),
                    amount: this.user.demo_wallet.amount,
                },
            };
            if (!this.user.is_demo) {
                this.account_types['wallet'] = {
                    id: 1,
                    label: this.$t('dashboard.LIVE_ACCOUNT'),
                    amount: this.user.wallet.amount,
                };
            }
        }
    },
    created() {
        // Listening for user update from server
        var context = this;
        this.localEmitter.on('update_user',function(data){
            context.updateUserAccountBalances();
        });

        this.updateUserAccountBalances();
    },
}
</script>
<style scoped>
    .progress-p{
        font-size: 11px;
        font-weight: 700;
    }
    .closeNavAsset{
        font-size: 10px;
        position: absolute;
        left: 4px;
        top: 1px;
        padding: 1px 2px;
    }
    .closeNavAsset:hover{
        color: red;
    }
    .asts{
        display: inline-flex;
    }
	.nav-asset.completed{
		animation: flash 1s ease-in-out infinite;
	}
	@keyframes flash {
		0%{
			background: #ffa5003b;
		}
		50%{
			background: transparent;
		}
		100%{
			background: #ffa5003b;
		}
	}
    .nav-asset{
        margin-right: 10px;
        padding: 6px 10px;
        border: 1px solid #d3d3d340;
        border-radius: 4px;
        font-weight: 500;
        display: inline-flex;
        position: relative;
        transition: all .3s linear;
        overflow: hidden;
    }
    .nav-asset.active{
        background: #d3d3d33b;
        border: 1px solid #ffffff;
    }
    .nav-asset.active.winning{
        background: #26a69aa3;   
    }
    .nav-asset.active.loosing{
        background: #ef534f78;   
    }
    .nav-asset:hover{
        color: white;
        text-decoration: none;
        background: #d3d3d33b;
    }
    .nav-asset.winning{
        background: #26a69a47;
    }
    .nav-asset.loosing{
        background: #ef534f38;
    }
    .nav-asset span{
        display: block !important;
        line-height: 0.9;
        color: white;
        font-weight: bold;
    }
    .nav-asset small{
        margin-top: 4px;
        display: block !important;
        line-height: 0.9;
        font-weight: bold;
        color: lightgray;
        font-size: 10px;
    }
    @media (max-width:600px) {
        .addSymbol{
            border: 1px solid #0f4976 !important;
            border-radius: 4px;
            padding: 3px 10px !important;
            font-size: 12px !important;
        }
        .addSymbol.fas{
            margin-top: 7px;
        }
        .nav-asset{
            padding: 2px 5px;
        }
        .nav-asset span{
            font-size: 11px;
        }
        .nav-asset small{
            font-size: 9px;
        }
        .asts{
            display: flex;
            width: 100%;
            overflow-x: scroll;
        }
        .asts::-webkit-scrollbar {
            display: none;
        }
    }
    .addSymbol{
        border: 2px solid #d3d3d340;
        border-radius: 4px;
        padding: 2px 15px;
        color: #ffffffc4;
        font-size: 15px;
    }
    .addSymbol:hover{
        color: #ffffffc4;
    }
    .option-pop-up{
        background-color: #0f101478;
        z-index: 9999999;
    }
    .option-pop-up .flag {
        padding: 15px 14px;
        background-color: #293145;
        border-radius: 5px;
    }
    .option-pop-up .flag p {
        margin-left: 5px;
    }
    .option-pop-up .col-sm-3 {
        margin-top: 9px;
        padding-right: 0px;
        padding-left: 15px;
    }
    .option-pop-up .close i {
        color: white;
    }
    .option-pop-up .close {
        background-color: #1e2233;
        font-size: 13px;
        outline: none !important;
        padding: 9px 12px;
    }
    .option-pop-up .modal-content {
        background-color: #181b2b;
    }
    .option-pop-up .modal-header {
        border-bottom: none;
        font-size: 10px;
        padding-left: 25px;
        color: white;
    }
</style>