<template>
    <money-format :value="amount * 100" 
      locale='en' 
      currency-code='USD' 
      :subunits-value='true' 
      :hide-subunits='false'>
    </money-format> 
</template>
<script>
export default {
    props:['amount']
}
</script>