<template>
    <div id="header">
        <div class="nav d-flex py-2 justify-content-between align-items-center">
            <div class="nav-left d-none d-xl-flex align-items-center">
                <div class="logo">
                    <img src="../../../assets/img/logo1.png" alt="" width="90%">
                </div>
                <!-- <div class="grid ml-3">
                  <i class="fas fa-th-large"></i>
                </div> -->
            </div>
            <div class="sm-nav-icon d-xl-none">
                <i class="bx bx-menu" id="menu-toggle"></i>
            </div>
            <div class="nav-right d-flex align-items-center">
                <div class="lang d-none d-xl-flex mr-4 align-items-center " data-toggle="modal" data-target="#language">
                    <img v-if="languages[currentLanguage]" :src="languages[currentLanguage].icon" alt="" class="dashboard_lang_img" />
                </div>
                <div class="modal fade" id="language">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content pb-3">
                            <div class="d-flex justify-content-end">
                                <button type="button" class="close" data-dismiss="modal">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>

                            <div class="modal-header">
                                <h5 class="modal-title">{{ $t('dashboard.Languages') }}</h5>
                            </div>

                            <div class="modal-body px-4 pt-0">
                                <div class="row mr-0">
                                    <div class="col-sm-3" v-for="(lang, index) in convertLanguage()" :key="index">
                                        <a v-if="lang" href="javascript:void(0)" class="flag d-flex align-items-center" @click="changeLanguage(lang.code)">
                                            <img :src="lang.icon" width="20%" alt="" />
                                            <p class="mb-0">{{ lang.name }}</p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a style="min-width: 85px;" :class="account_type == 'wallet' ? 'live demo mx-4 dropdown-toggle text-center':'demo dropdown-toggle text-center'" href="#" data-toggle="dropdown">
                    <h3 class="mb-0 "><Money :amount="user[account_type].amount" /></h3>
                    <p class="text-center mb-0">{{ $t(account_type == 'wallet' ? 'dashboard.LIVE_ACCOUNT':'dashboard.DEMO') }}</p>
                </a>
                <div class="dropdown-menu px-3 pb-4 demo-real" style="width: 26em;">
                    <div class="pt-3">
                        <div class="nr-dm-head d-flex justify-content-between align-items-center">
                            <div class="dmh-bal">
                                <h6 class="m-0">{{ account_types[account_type].label }}:<Money :amount="account_types[account_type].amount" /></h6>
                                <p v-if="account_type == 'wallet'" class="bg-success mt-1">{{ $t('dashboard.LIVE_ACCOUNT') }}</p>
                                <p v-else class="bg-danger mt-1">{{ $t('dashboard.Demo_Account') }}</p>
                            </div>
                            <!-- <p class=""> -->
                            <router-link class="topup" v-if="account_type == 'wallet'" to="/dashboard/finance/deposit">{{ $t('dashboard.Top_Up') }}</router-link>
                            <a v-else class="topup" @click="toggleCreditDemoWalletModal()" href="javascript:void(0)">{{ $t('dashboard.Top_Up') }}</a>
                            <!-- </p> -->
                        </div>

                        <div v-for="(account_type,index) in other_account_types" :key="index" class="nr-dm-body mt-2">
                            <a @click="changeAccount(index)" href="javascript:void(0)">
                                <div class="dm-bordered">
                                    <div :class="index == 'wallet' ? 'dm-acc dm2':'dm-acc dm1'">
                                        <div class="txt">
                                            <h5>{{ account_type.label }}</h5>
                                            <div>{{ $t('dashboard.SWAP_FREE_ACCOUNT') }}</div>
                                        </div>
                                        <p class="dm-price"><Money :amount="account_type.amount" /></p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="profile dropdown-toggle d-none d-xl-block ml-4" id="profile-toggle">
                    <img v-if="user.profile_image != null" :src="user.profile_image" width="50px" height="50px" alt="" />
                    <img v-else src="../../../assets/img/user-xxl.png" width="50px" height="50px" alt="" />
                    <span>{{ user.firstname ? user.firstname : 'STRANGER' }}</span>
                </div>
                <div class="dropdown-menu" id="profile-dropdown" style="min-width:40vw;">
                    <div class="row m-0">
                        <div class="col-8 p-0 py-3">
                            <div class="details d-flex px-4 pb-3">
                                <div class="p_img">
                                    <img v-if="user.profile_image != null" :src="user.profile_image" width="100%" height="100%" alt="" />
                                    <img v-else src="../../../assets/img/user-xxl.png" width="100%" alt="" />
                                </div>
                                <div class="abt ml-3">
                                    <div class="per-profile">
                                        <h5 class="text-capitalize mb-0">{{ user.firstname ? user.firstname + ' ' + user.lastname : 'Unknown Client' }}</h5>
                                    </div>
                                    <div class="per-details">
                                        <p class="m-0">{{user.email}} | ID: {{ user.unique_id }}</p>
                                        <p class="m-0">IP: {{user.ip_address}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="acc-stat px-4 py-3">
                                <div class="title stat mb-3">
                                    <p>{{ $t('dashboard.Live_statistics') }}</p>
                                    <i class="fas fa-sync"></i>
                                </div>
                                <div class="per-property stat">
                                    <div class="">
                                        <p>{{$t('dashboard.Deals')}}</p>
                                        <small>0</small>
                                    </div>
                                    <div class="">
                                        <p>{{ $t('dashboard.Trading_turnover') }}</p>
                                        <small>$0</small>
                                    </div>
                                    <div class="">
                                        <p>{{ $t('dashboard.Net_turnover') }}</p>
                                        <small>$0</small>
                                    </div>
                                    <div class="">
                                        <p>{{ $t('dashboard.Trading_profit') }}</p>
                                        <small>$0</small>
                                    </div>
                                </div>

                            </div>
                            <div class="pro-bottom mt-3 stat px-4">
                                <div class="">
                                    <p>{{ $t('dashboard.Email_status') }}</p>
                                    <div class="status">
                                        <i :class="user.email_verified_at ? 'fas fa-check text-success' : 'fas fa-bullseye'"></i>
                                        <small :class="user.email_verified_at ? 'text-success' : ''">{{ user.email_verified_at ? $t('dashboard.VERIFIED') : $t('dashboard.Unverified') }}</small>
                                    </div>
                                </div>
                                <div class="">
                                    <p>{{ $t('dashboard.Identity_status') }}</p>
                                    <div class="status">
                                        <i :class="checkIdentityStatus() == 1 ? 'fas fa-check text-success' : 'fas fa-bullseye'"></i>
                                        <small :class="checkIdentityStatus()==1 ? 'text-success' : ''">{{checkIdentityStatus() == 1 ?  $t('dashboard.VERIFIED') : $t('dashboard.Unverified')}}</small>
                                    </div>
                                </div>
                                <div class="">
                                    <p>{{ $t('dashboard.Address_status') }}</p>
                                    <div class="status">
                                        <i :class="checkAddressStatus() == 1 ? 'fas fa-check text-success' : 'fas fa-bullseye'"></i>
                                        <small :class="checkAddressStatus()==1 ? 'text-success' : ''">{{checkAddressStatus() == 1 ?  $t('dashboard.VERIFIED') : $t('dashboard.Unverified')}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 px-0 py-3">
                            <div class="pro-nav">
                                <ul class="mb-0">
                                    <router-link to="/dashboard/profile/trading-profile">{{ $t('dashboard.Profile') }}</router-link>
                                    <router-link to="/dashboard/finance/deposit">{{ $t('dashboard.Deposit') }}</router-link>
                                    <router-link to="/dashboard/finance/withdrawal">{{ $t('dashboard.Withdrawal') }}</router-link>
                                    <router-link to="/dashboard/help/support">{{ $t('dashboard.Support') }}</router-link>
                                    <router-link to="/dashboard/news">{{ $t('dashboard.News') }}</router-link>
                                    <router-link to="/dashboard/profile/details">{{ $t('dashboard.Settings') }}</router-link>
                                    <a href="" @click.prevent="logout()">{{ $t('dashboard.Logout') }}</a>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <a class="money " href="/dashboard/trades/digital-demo-account">
                  <i class="fas fa-dollar-sign"></i>
                </a> -->

            </div>
        </div>
        <creditDemoModal v-if="toggleDemoWallet" />
    </div>
</template>
<script>
    import creditDemoModal from './credit-demo-modal'
    import 'vue-select/dist/vue-select.css';
    import {mapState} from 'vuex';
    export default {
        components:{
            creditDemoModal,
        },
        computed: {
            ...mapState({
                user: (context) => context.user,
                token: (context) => context.token,
                currentLanguage: (state) => state.language,
                account_type:(state)=> state.active_account_type,
            }),
            other_account_types:function(){
                var temp=JSON.parse(JSON.stringify(this.account_types));
                delete temp[this.account_type];
                return temp;
            },
        },
        data(){
            return{
                languages:{
                    en:{
                        icon: 'https://images.vexels.com/media/users/3/163965/isolated/preview/5bb2c926d53cc59030477ec3ecb6d26a-england-flag-language-icon-by-vexels.png',
                        name: 'English',
                    },
                    kr:{
                        icon: 'https://icons.iconarchive.com/icons/custom-icon-design/flag-3/256/Korea-Flag-icon.png',
                        name: 'Korea',
                    },
                },
                account_types:{},
                chat_loader:false,
                toggleDemoWallet:false
            };
        },
        methods:{
            checkIdentityStatus() {
                var check = -1;
                if (this.user.verification) {
                    if (this.user.verification.identity_verified_at != null) {
                        check = 1;
                    } else {
                        if (this.user.verification.identity_verification != null) {
                            check = 0;
                        }
                    }
                }
                return check;
            },
            checkAddressStatus() {
                var check = -1;
                if (this.user.verification) {
                    if (this.user.verification.address_verified_at != null) {
                        check = 1;
                    } else {
                        if (this.user.verification.address_verification != null) {
                            check = 0;
                        }
                    }
                }
                return check;
            },
            toggleCreditDemoWalletModal(){
                if(this.user.demo_wallet.amount > 1000){
                    this.$store.dispatch("dangerNotify",{context:this,header:"NOT ALLOWED",body:"You still have some money in your demo account."});
                    return false;
                }
                this.toggleDemoWallet = !this.toggleDemoWallet;
            },
            changeAccount(type){
                this.$store.state.active_account_type=type;
                var temp={
                    user:this.user,
                    token:this.token,
                    account_type:type
                }
                this.$store.commit('setUser',temp);
            },
            convertLanguage() {
                var list = [];
                for (var lang in this.languages) {
                    var temp = this.languages[lang];
                    temp.code = lang;
                    list.push(temp);
                }
                list = list.filter((lg) => lg.code != this.currentLanguage);
                return list;
            },
            changeLanguage(language) {
                localStorage.setItem('language', language);
                window.location.reload();
                console.log(language);
            },
            logout() {
                this.$store.commit('logout');
            },
        },
        created() {
            console.log(this.user)
            this.convertLanguage();
            this.$store.commit('getUser');
            this.$store.dispatch('getDashboard');
            this.account_types={
                wallet:{
                    label:this.$t('dashboard.LIVE_ACCOUNT'),
                    amount:this.user.wallet.amount,
                },
                demo_wallet:{
                    label:this.$t('dashboard.Demo_Account'),
                    amount:this.user.demo_wallet.amount,
                }
            }
        },
    }
</script>
<style scoped lang="scss">
    #header {
        background-color: #012546;
        color: white;
        font-family: Campton !important;
        .nav {
            padding-left: 25px;
            padding-right: 25px;
            #menu-toggle{
                font-size: 30px;
                font-weight: bolder;
                color: #26a1ff;
                cursor: pointer;
            }
            .nav-right{
                a:hover{
                    text-decoration: none;
                }
                .demo.dropdown-toggle::after {
                    display: none;
                }

                .demo:hover {
                    color: inherit;
                }
                .demo h3 {
                    font-weight: 600;
                    font-family: Roboto;
                    font-size: 30px;
                }
                .demo p {
                    border: 1px solid #f52914;
                    background-color: #531b1f;
                    font-size: 10px;
                    border-radius: 3px;
                }
                .live p {
                    border: 1px solid #009688 !important;
                    background-color: #009688 !important;
                    font-size: 10px;
                    border-radius: 3px;
                }
                .demo-real{
                    /*transform: translate3d(337px, 58px, 0px) !important;*/
                    background-color: #012546;
                    color: white;
                    padding-top: 0;
                    padding-bottom: 0;
                    border: none;
                }
                .dmh-bal dd, .nr-dm-body dd {
                    font-size: 10px;
                    line-height: 14px;
                    color: #909090;
                    margin-bottom: 0;
                }
                .dmh-bal{
                    font-family: Roboto;
                }
                .dmh-bal p {
                    padding:3px 5px;
                    background-color: #352c24;
                    border-radius: 3px;
                    text-transform: uppercase;
                    font-size: 9px;
                    text-align: center;
                }
                .topup {
                    background-color: rgba(2, 91, 68, 0.15);
                    border: 1px solid #025b44;
                    border-radius: 4px;
                    color: white;
                    font-size: 14px;
                    line-height: 16px;
                    padding: 15px 7px;
                    font-weight: 500;
                }
                .nr-dm-body h5 {
                    margin: 0;
                    font-size: 15px;
                }
                .nr-dm-body a:hover{
                    color: white;
                }
                .dm-bordered {
                    border-top: 2px solid #353d43;
                    padding-top: 10px;
                    margin-top: 14px;
                }
                .dm1 {
                    border-left: 5px solid red;
                }
                .dm2 {
                    border-left: 5px solid #090;
                }
                .dm3 {
                    border-left: 5px solid #e4ea19;
                }
                .dm-acc {
                    padding-left: 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-size: 9px;
                }
                .dm-price{
                    font-size: 16px;
                }
                .profile span {
                    position: absolute;
                    margin-left: -14px;
                    background-color: rgba(160, 158, 155, 0.7);
                    border: 1px solid rgba(167, 166, 163, 0.7);
                    top: 40px;
                    transform: translate(calc(-50% - 10px));
                    font-size: 9px;
                    padding: 0 8px;
                    border-radius: 3px;
                }
                .profile {
                    cursor: pointer;
                }
                .profile img {
                    border-radius: 50%;
                    background-color: #c3c7ca;
                }
                .cty-name p {
                    font-size: 17px;
                }
                .acc-stat {
                    padding: 8px 10px;
                    border-bottom: 1px solid #002C53;
                }
                .acc-stat .title i {
                    color: #C5B9EE;
                }
                .acc-stat .title p {
                    color: #C5B9EE;
                    font-weight: bold;
                }
                .stat .status small {
                    color: #e6a22d;
                    margin-left: 5px;
                }
                .stat .status {
                    padding-bottom: 1px;
                    color: #e6a22d;
                }
                .stat small {
                    font-size: 12px;
                    color: #C5B9EE;
                }
                .stat {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 12px;
                    color: #8ea5c0;
                    p{
                        margin-bottom: 0;
                    }
                }
                .pro-bottom .stat {
                    margin-bottom: 2px;
                }
                .pro-nav a:hover {
                    background-color: #364059;
                    color: white;
                }
                .pro-nav a {
                    display: block;
                    padding: 5px 19px;
                    color: #8ea5c0;
                    font-size: 14.4px;
                }
                .pro-ic{
                    margin-left: .5rem;
                }
                .money i {
                    border: 1px solid #025b44;
                    border-radius: 5px;
                    padding: 12px 20px;
                    font-size: 20px;
                }
                .modal-content {
                    background-color: #181b2b;
                }
                .modal-header {
                    border-bottom: none;
                    font-size: 10px;
                    padding-left: 25px;
                    color: white;
                }
                .lang {
                    cursor: pointer;
                }
                .dashboard_lang_img {
                    width: 48px;
                    height: 48px;
                }
                #language{
                    background-color: #0f101478;
                }
                #language .flag {
                    padding: 15px 14px;
                    background-color: #293145;
                    border-radius: 5px;
                }
                #language .flag p {
                    margin-left: 5px;
                }
                #language .col-sm-3 {
                    margin-top: 9px;
                    padding-right: 0px;
                    padding-left: 15px;
                }
                .close i {
                    color: white;
                }
                .close {
                    background-color: #1e2233;
                    font-size: 13px;
                    outline: none !important;
                    padding: 9px 12px;
                }
            }
            .nav-right .dropdown-menu .col-8 {
                background-color: #012546;
            }
            .nav-right .dropdown-menu .col-4 {
                background-color: #001F3A;
            }
            .nav-right #profile-dropdown {
                background-color: #2a3149;
                color: white;
                min-width: 40vw;
                transform: translate3d(786px, 58px, 0px) !important;
                padding-top: 0;
                padding-bottom: 0;
                border: none;
            }

            /*.nav-right .dropdown-menu .details .p_img {*/
            /*  width: 10em;*/
            /*}*/
            .nav-right .dropdown-menu .details {
                border-bottom: 2px solid #002C53;
                .abt{
                    .per-details{
                        p{
                            font-size: 12px;
                            color: #B6A66E;
                        }
                    }
                    .per-profile{
                        h5{
                            color: #C5B9EE;
                        }
                    }
                }
                .p_img img {
                    border-radius: 50%;
                    background-color: #c3c7ca;
                }
            }
            .sm-nav-right .dropdown-menu {
                top: 60px !important;
                background-color: #262c41;
                min-width: 80vw;
                color: white;
            }
            .sm-nav-right .dropdown-toggle::after {
                display: none;
            }
            .sm-nav-right .money i {
                padding-top: 15px;
                padding-bottom: 15px;
            }
            .sm-nav-right .bal p {
                font-size: 10px;
                border: 1px solid #78787b;
                background-color: #78787b;
                border-radius: 3px;
            }
            .lg-drop {
                min-width: 39vw;
                transform: translate3d(781px, 58px, 0px);
            }
        }
    }
    .show-profile-dropdown {
        display: block;
    }
    .nav-mid {
        transition: linear 0.25s;
        margin-left: 17rem;
        margin-right: 10px;
    }
    @media (min-width: 1075px) {
        .nav-right .dropdown-menu .details .p_img {
            width: 4em;
        }
        // .nav-right .dropdown-menu .details .p_img span {
        // margin-top: 7em;
        // margin-left: -42px;
        // }
    }
</style>