<template>
    <div id="header">
        <div class="nav d-flex py-2 justify-content-between align-items-center">
            <div class="nav-left d-none d-md-flex align-items-center">
                <div class="logo">
                    <!-- <router-link to="/"> -->
                        <img src="../../../assets/logo1.png" alt="" width="200px">
                    <!-- </router-link> -->
                </div>
                <div v-if="isTradePage" class="symbols ml-4">
                   <Frames />
                </div>
            </div>
            <div class="sm-nav-icon d-md-none">
                <i class="bx bx-menu bx-x" id="menu-toggle"></i>
            </div>
            <div class="nav-right d-flex align-items-center">
                 <div v-if="user.is_demo" class="grid ml-2 mr-4 mobile-none">
                  <router-link to="/">{{ $t('dashboard.Home') }}</router-link>
                </div>
                <div v-if="user.is_demo" class="grid ml-2 mr-4 mobile-none">
                  <router-link to="/register">{{ $t('dashboard.Create_Account') }}</router-link>
                </div>
                <div v-if="user.is_demo" class="grid ml-2 mr-4 attempt-left">
                  <a href="#createAccount" data-toggle="modal">{{ $t('dashboard.Attempt_Left') }}  : {{attempLeft(user)}}</a>
                </div>
                <div class="lang d-sm-flex align-items-center " data-toggle="modal" data-target="#language">
                    <img v-if="languages[currentLanguage]" :src="languages[currentLanguage].icon" alt="" class="dashboard_lang_img" />
                </div>
                <div class="modal fade option-pop-up" id="language">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content pb-3">
                            <div class="d-flex justify-content-end">
                                <button type="button" class="close" data-dismiss="modal">
                                    <i class="fas fa-times"></i>
                                </button>
                            </div>

							<div class="modal-header">
								<h5 class="modal-title">{{ $t('dashboard.Languages') }}</h5>
							</div>

							<div class="modal-body px-4 pt-0">
								<div class="row mr-0">
									<div class="col-sm-3" v-for="(lang, index) in convertLanguage()" :key="index">
										<a v-if="lang" href="javascript:void(0)" class="flag d-flex align-items-center" @click="changeLanguage(lang.code)">
											<img :src="lang.icon" alt="" style="width:30px; height:18px"/>
											<p class="mb-0">{{ lang.name }}</p>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<a @click="accountDropDown()" style="min-width: 85px;" :class="account_type == 'wallet' ? 'live demo dropdown-toggle text-center' : 'demo dropdown-toggle text-center'" href="#" data-toggle="dropdown">
					<h3 class="mb-0 "><Money :amount="user[account_type].amount" /></h3>
					<p class="text-center mb-0">{{ $t(account_type == 'wallet' ? 'dashboard.LIVE_ACCOUNT' : 'dashboard.DEMO') }}</p>
				</a>
				<div class="dropdown-menu px-3 pb-2 demo-real mobile-demo-real">
					<div class="pt-3">
						<div class="nr-dm-head d-flex justify-content-between align-items-center">
							<div class="dmh-bal">
								<h6 class="m-0">{{ account_types[account_type].label }}:<Money :amount="account_types[account_type].amount" /></h6>
								<p v-if="account_type == 'wallet'" class="bg-success mt-1 pb-0">{{ $t('dashboard.LIVE_ACCOUNT') }}</p>
								<p v-else class="bg-danger mt-1 pb-0">{{ $t('dashboard.Demo_Account') }}</p>
							</div>

							<router-link class="topup" v-if="account_type == 'wallet'" to="/dashboard/finance/deposit">{{ $t('dashboard.Top_Up') }}</router-link>
							<a v-else class="topup" @click="toggleCreditDemoWalletModal()" href="javascript:void(0)">{{ $t('dashboard.Top_Up') }}</a>
						</div>

						<div v-for="(account_type, index) in other_account_types" :key="index" class="nr-dm-body">
							<a @click="changeAccount(index)" href="javascript:void(0)">
								<div class="dm-bordered">
									<div :class="index == 'wallet' ? 'dm-acc dm2' : 'dm-acc dm1'">
										<div class="txt">
											<h5>{{ account_type.label }}</h5>
											<div class="txt-acc-type">{{ $t('dashboard.click_to_swap_account') }}</div>
										</div>
										<p class="dm-price"><Money :amount="account_type.amount" /></p>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div v-if="!user.is_demo" class="profile dropdown-toggle ml-4" id="profile-toggle">
					<img v-if="user.profile_image != null" :src="user.profile_image" width="50px" height="50px" alt="" />
					<img v-else src="../../../assets/img/user-xxl.png" width="50px" height="50px" alt="" />
					<span>{{ user.firstname ? user.firstname : 'STRANGER' }}</span>
				</div>
				<div class="dropdown-menu" id="profile-dropdown" style="min-width:40vw;">
					<div class="row m-0">
						<div class="col-8 p-0 py-3 mobile-dt-lg">
							<div class="details d-flex px-4 pb-3">
								<div class="p_img">
									<img v-if="user.profile_image != null" :src="user.profile_image" width="100%" height="100%" alt="" />
									<img v-else src="../../../assets/img/user-xxl.png" width="100%" alt="" />
								</div>
								<div class="abt ml-3">
									<div class="per-profile">
										<h5 class="text-capitalize mb-0">{{ user.firstname ? user.firstname + ' ' + user.lastname : 'Unknown Client' }}</h5>
									</div>
									<div class="per-details">
										<p class="m-0">{{ user.email }} | ID: {{ user.unique_id }}</p>
										<p class="m-0">IP: {{ user.ip_address }}</p>
									</div>
								</div>
							</div>
							<div class="acc-stat px-4 py-3">
								<div class="title stat mb-3">
									<p>{{ $t('dashboard.Live_statistics') }}</p>
									<i class="fas fa-sync"></i>
								</div>
								<div class="per-property stat">
									<div class="">
										<p>{{ $t('dashboard.Deals') }}</p>
										<small>0</small>
									</div>
									<div class="">
										<p>{{ $t('dashboard.Trading_turnover') }}</p>
										<small>$0</small>
									</div>
									<div class="">
										<p>{{ $t('dashboard.Net_turnover') }}</p>
										<small>$0</small>
									</div>
									<div class="">
										<p>{{ $t('dashboard.Trading_profit') }}</p>
										<small>$0</small>
									</div>
								</div>
							</div>
							<div class="pro-bottom mt-3 stat px-4">
								<div class="">
									<p>{{ $t('dashboard.Email_status') }}</p>
									<div class="status">
										<i :class="user.email_verified_at ? 'fas fa-check text-success' : 'fas fa-times-circle text-danger'"></i>
										<small :class="user.email_verified_at ? 'text-success' : 'text-danger'">{{ user.email_verified_at ? $t('dashboard.VERIFIED') : $t('dashboard.Unverified') }}</small>
									</div>
								</div>
								<div class="">
									<p>{{ $t('dashboard.Identity_status') }}</p>
									<div class="status">
										<i v-if="checkIdentityStatus() == 1" class="fas fa-check text-success"></i>
										<i v-if="checkIdentityStatus() == 0" class="fas fa-bullseye text-warning"></i>
										<i v-if="checkIdentityStatus() == -1" class="fas fa-times-circle text-danger"></i>

										<small v-if="checkIdentityStatus() == 1" class="text-success">{{ $t('dashboard.VERIFIED') }}</small>
										<small v-if="checkIdentityStatus() == 0" class="text-warning">{{ $t('dashboard.pending') }}</small>
										<small v-if="checkIdentityStatus() == -1" class="text-danger">{{ $t('dashboard.Unverified') }}</small>
									</div>
								</div>
								<div class="">
									<p>{{ $t('dashboard.Address_status') }}</p>
									<div class="status">
										<i v-if="checkAddressStatus() == 1" class="fas fa-check text-success"></i>
										<i v-if="checkAddressStatus() == 0" class="fas fa-bullseye text-warning"></i>
										<i v-if="checkAddressStatus() == -1" class="fas fa-times-circle text-danger"></i>

										<small v-if="checkAddressStatus() == 1" class="text-success">{{ $t('dashboard.VERIFIED') }}</small>
										<small v-if="checkAddressStatus() == 0" class="text-warning">{{ $t('dashboard.pending') }}</small>
										<small v-if="checkAddressStatus() == -1" class="text-danger">{{ $t('dashboard.Unverified') }}</small>
									</div>
								</div>
							</div>
						</div>
						<div class="col-4 px-0 py-3 mobile-none">
							<div class="pro-nav">
								<ul class="mb-0">
									<router-link to="/dashboard/profile/trading-profile">{{ $t('dashboard.Profile') }}</router-link>
									<router-link to="/dashboard/finance/deposit">{{ $t('dashboard.Deposit') }}</router-link>
									<router-link to="/dashboard/finance/withdrawal">{{ $t('dashboard.Withdrawal') }}</router-link>
									<router-link to="/dashboard/profile/details">{{ $t('dashboard.Settings') }}</router-link>
									<a href="" @click.prevent="logout()">{{ $t('dashboard.Logout') }}</a>
								</ul>
							</div>
						</div>
					</div>
				</div> 
			</div>
		</div>
		<creditDemoModal v-if="toggleDemoWallet" />
	</div>
</template>
<script>
    import creditDemoModal from './credit-demo-modal'
    import mixins from '../../../mixins'
    import 'vue-select/dist/vue-select.css';
    import {mapState} from 'vuex';
	import Frames from './frames.vue';
    export default {
        components:{
            creditDemoModal,Frames
		},
        mixins:[mixins],
        computed: {
            ...mapState({
                user: (context) => context.user,
                frames: (context) => context.frames,
                token: (context) => context.token,
                openMarketModal: (state) => state.openMarketModal,
                account_type:(state)=> state.active_account_type,
                currentLanguage: (state) => state.language,
                localEmitter: (state) => state.localEmitter,
                frame_id: (state) => state.frame_id,
                trades: (state) => state.trades,
				max_investment_possible :(state)=> state.max_investment_possible,
				max_demo_amount_possible :(state)=> state.max_demo_amount_possible,
            }),
            other_account_types:function(){
                var temp=JSON.parse(JSON.stringify(this.account_types));
                delete temp[this.account_type];
                return temp;
            },
			isTradePage:function(){
				return this.$route.name == 'trade_room';
			}
        },
        data(){
            return{
                languages:{
                    en:{
                        icon: 'https://images.vexels.com/media/users/3/163965/isolated/preview/5bb2c926d53cc59030477ec3ecb6d26a-england-flag-language-icon-by-vexels.png',
                        name: 'English',
                    },
                    hi: {
						icon: '/assets/img/country-flags/in.png',
						name: 'Hindi',
					},
					kr: {
						icon: '/assets/img/country-flags/KR.png',
						name: 'Korea',
					},
					jp: {
						icon: '/assets/img/country-flags/JP.png',
						name: 'Japan',
					},
					cn: {
						icon: '/assets/img/country-flags/CN.png',
						name: 'china',
					},
					rm: {
						icon: '/assets/img/country-flags/rm.png',
						name: 'Romania',
					},
					pt: {
						icon: '/assets/img/country-flags/pt.png',
						name: 'Portugues',
					},
					es: {
						icon: '/assets/img/country-flags/ES.png',
						name: 'espanol',
					},
					fr: {
						icon: '/assets/img/country-flags/fr.png',
						name: 'France',
					},
					in: {
						icon: '/assets/img/country-flags/in1.png',
						name: 'Indonesia',
					},
					ge: {
						icon: '/assets/img/country-flags/gr.png',
						name: 'Deutsch',
					},
					ar: {
						icon: '/assets/img/country-flags/ar.png',
						name: 'Arabic',
					},
					it: {
						icon: 'https://cdn.countryflags.com/thumbs/italy/flag-square-250.png',
						name: 'italiano',
                    },
                },
                account_types:{},
                chat_loader:false,
                toggleDemoWallet:false,
                temp_data:{}
            };
        },
        methods:{
			accountDropDown(){
				this.$store.dispatch('resetModals');
			},
            checkIdentityStatus() {
                var check = -1;
                if (this.user.verification) {
                    if (this.user.verification.identity_verified_at != null) {
                        check = 1;
                    } else {
                        if (this.user.verification.identity_verification != null) {
                            check = 0;
                        }
                    }
                }
                return check;
            },
            checkAddressStatus() {
                var check = -1;
                if (this.user.verification) {
                    if (this.user.verification.address_verified_at != null) {
                        check = 1;
                    } else {
                        if (this.user.verification.address_verification != null) {
                            check = 0;
                        }
                    }
                }
                return check;
            },
            toggleCreditDemoWalletModal(){
				this.$store.dispatch('resetModals'); 
                if(this.user.demo_wallet.amount >=  this.max_demo_amount_possible){
					this.$toast.open({type: 'error', dismissible: true, duration: 10000 * 1, message: 'You still have some money in your demo account.'});
                    return false;
                }
                this.toggleDemoWallet = !this.toggleDemoWallet;
            },
            changeAccount(type){
                this.$store.state.active_account_type=type;
                var temp={
                    user:this.user,
                    token:this.token,
                    account_type:type
                }
                this.$store.commit('setUser',temp);
            },
            convertLanguage() {
                var list = [];
                for (var lang in this.languages) {
                    var temp = this.languages[lang];
                    temp.code = lang;
                    list.push(temp);
                }
                list = list.filter((lg) => lg.code != this.currentLanguage);
                return list;
            },
            changeLanguage(language) {
                localStorage.setItem('language', language);
                window.location.reload();
                console.log(language);
            },
            logout() {
                this.$store.commit('logout');
            },
			updateUserAccountBalances(){
				this.account_types = {
					demo_wallet: {
						id: -1,
						label: this.$t('dashboard.Demo_Account'),
						amount: this.user.demo_wallet.amount,
					},
				};
				if (!this.user.is_demo) {
					this.account_types['wallet'] = {
						id: 1,
						label: this.$t('dashboard.LIVE_ACCOUNT'),
						amount: this.user.wallet.amount,
					};
				}
			}
        },
        created() {

			if (!this.user.is_demo) {
				this.$store.commit('getUser');
				this.$store.dispatch('getDashboard');
			}

			this.updateUserAccountBalances();
		},
	};
</script>
<style>
	.progress-p{
        font-size: 11px;
        font-weight: 700;
    }
    .closeNavAsset{
        font-size: 10px;
        position: absolute;
        left: 4px;
        top: 1px;
        padding: 1px 2px;
    }
    .closeNavAsset:hover{
        color: red;
    }
    .asts{
        display: inline-flex;
    }
	.nav-asset.completed{
		animation: flash 1s ease-in-out infinite;
	}
	@keyframes flash {
		0%{
			background: #ffa5003b;
		}
		50%{
			background: transparent;
		}
		100%{
			background: #ffa5003b;
		}
	}
    .nav-asset{
        margin-right: 10px;
        padding: 5px 10px;
        border: 1px solid #d3d3d340;
        border-radius: 4px;
        font-weight: 500;
        display: inline-flex;
        position: relative;
        transition: all .3s linear;
    }
    .nav-asset.active{
        background: #d3d3d33b;
        border: 1px solid #ffffff;
    }
    .nav-asset.active.winning{
        background: #26a69aa3;   
    }
    .nav-asset.active.loosing{
        background: #ef534f78;   
    }
    .nav-asset:hover{
        color: white;
        text-decoration: none;
        background: #d3d3d33b;
    }
    .nav-asset.winning{
        background: #26a69a47;
    }
    .nav-asset.loosing{
        background: #ef534f38;
    }
    .nav-asset span{
        display: block !important;
        line-height: 0.9;
        color: white;
        font-weight: bold;
    }
    .nav-asset small{
        margin-top: 4px;
        display: block !important;
        line-height: 0.9;
        font-weight: bold;
        color: lightgray;
        font-size: 10px;
    }
    @media (max-width:600px) {
        .addSymbol{
            border: 1px solid #0f4976 !important;
            border-radius: 4px;
            padding: 5px 10px !important;
            font-size: 12px !important;
        }
        .addSymbol.fas{
            margin-top: 7px;
        }
        .nav-asset{
            padding: 2px 5px;
        }
        .nav-asset span{
            font-size: 11px;
        }
        .nav-asset small{
            font-size: 9px;
        }
        .asts{
            display: flex;
            width: 100%;
            overflow-x: scroll;
        }
        .asts::-webkit-scrollbar {
            display: none;
        }
    }
    .addSymbol{
        border: 2px solid #d3d3d340;
        border-radius: 4px;
        padding: 9px 15px;
        color: #ffffffc4;
        font-size: 15px;
    }
    .addSymbol:hover{
        color: #ffffffc4;
    }
    .option-pop-up{
        background-color: #0f101478;
        z-index: 9999999;
    }
    .option-pop-up .flag {
        padding: 15px 14px;
        background-color: #293145;
        border-radius: 5px;
    }
    .option-pop-up .flag p {
        margin-left: 5px;
    }
    .option-pop-up .col-sm-3 {
        margin-top: 9px;
        padding-right: 0px;
        padding-left: 15px;
    }
    .option-pop-up .close i {
        color: white;
    }
    .option-pop-up .close {
        background-color: #1e2233;
        font-size: 13px;
        outline: none !important;
        padding: 9px 12px;
    }
    .option-pop-up .modal-content {
        background-color: #181b2b;
    }
    .option-pop-up .modal-header {
        border-bottom: none;
        font-size: 10px;
        padding-left: 25px;
        color: white;
    }
</style>
<style scoped lang="scss">
	@media(min-width: 576px){
		#profile-toggle{
			display: block;
		}
	}
	@media(max-width: 600px){
		.mobile-none{
			display: none;
		}
		.mobile-dt-lg{
			width: 100%;
			max-width: 100%;
			flex: 0 0 100%;
		}
		.mobile-demo-real{
			width: 21em !important;
			left: 0px !important;
		}
		#header .nav .nav-right #profile-dropdown{
			width: 100%;
		}
	}
	.attempt-left {
		font-size: 15px;
		font-weight: 600;
		color: red;
	}
	#header {
		background-color: #001425;
		color: white;
		position: fixed;
		width: 100%;
		z-index: 9999;
		font-family: Campton !important;
		.nav {
			// padding-left: 25px;
			// padding-right: 25px;
			padding: 25px .5rem;
			#menu-toggle {
				font-size: 30px;
				font-weight: bolder;
				color: #26a1ff;
				cursor: pointer;
			}
			.nav-right {
				a:hover {
					text-decoration: none;
				}
				.demo.dropdown-toggle::after {
					display: none;
				}

				.demo:hover {
					color: inherit;
				}
				.demo h3 {
					font-weight: 600;
					font-family: Roboto;
					font-size: 30px;
				}
				.demo p {
					border: 1px solid #f52914;
					background-color: #531b1f;
					font-size: 10px;
					border-radius: 3px;
				}
				.live {
					margin-right: 1.5rem;
					margin-left: 1.5rem;
					p {
						border: 1px solid #009688 !important;
						background-color: #009688 !important;
						font-size: 10px;
						border-radius: 3px;
					}
				}
				.demo-real {
					/*transform: translate3d(337px, 58px, 0px) !important;*/
					background-color: #012546;
					color: white;
					padding-top: 0;
					padding-bottom: 0;
					border: none;
					width: 24em;
				}
				.dmh-bal dd,
				.nr-dm-body dd {
					font-size: 10px;
					line-height: 14px;
					color: #909090;
					margin-bottom: 0;
				}
				.dmh-bal {
					font-family: Roboto;
				}
				.dmh-bal p {
					padding: 3px 5px;
					background-color: #352c24;
					border-radius: 3px;
					text-transform: uppercase;
					font-size: 9px;
					text-align: center;
				}
				.topup {
					background-color: rgba(2, 91, 68, 0.15);
					border: 1px solid #025b44;
					border-radius: 4px;
					color: white;
					font-size: 14px;
					line-height: 16px;
					padding: 15px 7px;
					font-weight: 500;
				}
				.nr-dm-body h5 {
					margin: 0;
					font-size: 15px;
				}
				.nr-dm-body a:hover {
					color: white;
				}
				.dm-bordered {
					border-top: 2px solid #353d43;
					padding-top: 10px;
				}
				.txt {
					font-size: 16px;
				}
				.dm1 {
					border-left: 5px solid red;
				}
				.dm2 {
					border-left: 5px solid #090;
				}
				.dm3 {
					border-left: 5px solid #e4ea19;
				}
				.dm-acc {
					padding-left: 10px;
					display: flex;
					justify-content: space-between;
					align-items: center;
					font-size: 9px;
				}
				.dm-price {
					font-size: 19px;
					font-family: Roboto;
				}
				.profile span {
					position: absolute;
					margin-left: -14px;
					background-color: rgba(160, 158, 155, 0.7);
					border: 1px solid rgba(167, 166, 163, 0.7);
					top: 40px;
					transform: translate(calc(-50% - 10px));
					font-size: 9px;
					padding: 0 8px;
					border-radius: 3px;
				}
				.profile {
					cursor: pointer;
					margin-left: 1.5rem;
				}
				.profile img {
					border-radius: 50%;
					background-color: #c3c7ca;
				}
				.cty-name p {
					font-size: 17px;
				}
				.acc-stat {
					padding: 8px 10px;
					border-bottom: 1px solid #002c53;
				}
				.acc-stat .title i {
					color: #c5b9ee;
				}
				.acc-stat .title p {
					color: #c5b9ee;
					font-weight: bold;
				}
				.stat .status small {
					color: #e6a22d;
					margin-left: 5px;
				}
				.stat .status {
					padding-bottom: 1px;
					color: #e6a22d;
				}
				.stat small {
					font-size: 12px;
					color: #c5b9ee;
				}
				.stat {
					display: flex;
					align-items: center;
					justify-content: space-between;
					font-size: 12px;
					color: #8ea5c0;
					p {
						margin-bottom: 0;
					}
				}
				.pro-bottom .stat {
					margin-bottom: 2px;
				}
				.pro-nav a:hover {
					background-color: #364059;
					color: white;
				}
				.pro-nav a {
					display: block;
					padding: 5px 19px;
					color: #8ea5c0;
					font-size: 14.4px;
				}
				.pro-ic {
					margin-left: 0.5rem;
				}
				.money i {
					border: 1px solid #025b44;
					border-radius: 5px;
					padding: 12px 20px;
					font-size: 20px;
				}

				.lang {
					cursor: pointer;
					margin-right: 1.5rem;
				}
				.dashboard_lang_img {
					width: 50px;
					height: 34px;
				}
			}
			.nav-right .dropdown-menu .col-8 {
				background-color: #012546;
			}
			.nav-right .dropdown-menu .col-4 {
				background-color: #001f3a;
			}
			.nav-right #profile-dropdown {
				background-color: #2a3149;
				color: white;
				min-width: 40vw;
				padding-top: 0;
				padding-bottom: 0;
				border: none;
			}

			.nav-right .dropdown-menu .details .p_img {
				width: 85px;
			}
			.nav-right .dropdown-menu .details {
				border-bottom: 2px solid #002c53;
				.abt {
					.per-details {
						p {
							font-size: 12px;
							color: #b6a66e;
						}
					}
					.per-profile {
						h5 {
							color: #c5b9ee;
						}
					}
				}
				.p_img img {
					border-radius: 50%;
					background-color: #c3c7ca;
				}
			}
			.sm-nav-right .dropdown-menu {
				top: 60px !important;
				background-color: #262c41;
				min-width: 80vw;
				color: white;
			}
			.sm-nav-right .dropdown-toggle::after {
				display: none;
			}
			.sm-nav-right .money i {
				padding-top: 15px;
				padding-bottom: 15px;
			}
			.sm-nav-right .bal p {
				font-size: 10px;
				border: 1px solid #78787b;
				background-color: #78787b;
				border-radius: 3px;
			}
			.lg-drop {
				min-width: 39vw;
				transform: translate3d(781px, 58px, 0px);
			}
		}
	}
	.show-profile-dropdown {
		display: block;
	}
	.nav-mid {
		transition: linear 0.25s;
		margin-left: 17rem;
		margin-right: 10px;
	}

	@media (min-width: 1075px) {
		.nav-right .dropdown-menu .details .p_img {
			width: 4em;
		}
	}
	@media (max-width: 576px) {
		.nav-right {
			.lang {
				margin-right: 0 !important;
			}
			.live {
				margin-right: 10px !important;
				margin-left: 15px !important;
			}
			#profile-dropdown {
				transform: translate3d(0px, 58px, 0px) !important;
			}
		}
	}
	@media (min-width: 578px) {
		.nav-right {
			#profile-dropdown {
				transform: translate3d(200px, 58px, 0px) !important;
			}
		}
	}
	@media (min-width: 768px) {
		.nav-right #profile-dropdown {
			transform: translate3d(290px, 58px, 0px) !important;
		}
	}
	@media (min-width: 1200px) {
		.nav-right #profile-dropdown {
			transform: translate3d(765px, 58px, 0px) !important;
		}
	}

	@media (max-width: 375px) {
		#header .nav {
			padding-left: 12px !important;
			padding-right: 12px !important;
		}
		.nav-right .live {
			margin-right: 0px !important;
			margin-left: 8px !important;
		}
		.nav-right .profile {
			margin-left: 3px !important;
		}
	}

	@media (max-width: 578px) {
		#header .nav .nav-right .dashboard_lang_img {
			width: 40px;
			height: 36px;
		}

		#header .nav .nav-right .lang {
			margin-right: 1rem !important;
		}

		#header .nav .nav-right .demo h3 {
			font-size: 13px;
		}

		#header .demo {
			min-width: 67px;
			margin-right: 1.2rem;
		}

		#header .nav .nav-right .profile img {
			width: 45px !important;
			height: 45px !important;
		}

		#header .nav .nav-right .profile span {
			font-size: 8px;
		}
	}
</style>
