<template>
    <div class="sell-option-modal-wrapper">
        <div class="sell-option-inner">
            <div class="sell-option-header">
                <h6 class="sell-op-h6">Sell Options (2)</h6>
                <i class="fa fa-close"></i>
            </div>
            <div class="sell-option-table">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th scope="col" class="s-bt">Amount</th>
                            <th scope="col" class="s-bt">Expected Profit</th>
                            <th scope="col" class="s-bt">Profit After Sale(P/L)</th>
                            <th scope="col" class="s-bt"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <i class="fa fa-play"></i>
                                <span class="sl-price">$10.00</span>
                            </td>
                            <td class="sp-white">+$9.30</td>
                            <td class="sp-red">-$4.21 (-42.10%)</td>
                            <td>Sell</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="fa fa-play"></i>
                                <span class="sl-price">$10.00</span>
                            </td>
                            <td class="sp-white">+$9.30</td>
                            <td class="sp-red">-$4.21 (-42.10%)</td>
                            <td>Sell</td>
                        </tr>
                    </tbody>
                </table>

                
            </div>
            <div class="sell-foot-btn">
                <button class="btn ">See all (2)</button>
            </div>
        </div>
    </div>
</template>

<script>
export default {

}
</script>

<style scoped lang="scss">
    .sell-option-modal-wrapper{
        position: absolute;
        top: 146px;
        right: 217px;
        z-index: 99999;

        .sell-option-inner{
            background: #1d2031;
            width: 653px;

            .sell-option-header{
                display: flex;
                justify-content: space-between;
                padding: 14px;
                background: #262c3c;

            }

            .sell-op-h6{
                color: white;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 15px;
                margin-bottom: 0;
            }

            i{
                color: #93959e;
                font-size: 22px;
                font-weight: bold;
            }

        }

        .sell-option-table{
            padding: 0px 19px;


            .table td, .table th {
                padding: 16px 10px;
            }
            .table-dark{
                background-color: #1d2031;
            }

            .thead{
                
            }

            .table-dark td, .table-dark th, .table-dark thead th {
                border: none;
                border-top: 1px solid #454d55;
            }

            .th{
                
            }

            .s-bt{
                border-color: 0px !important;
                border-top: none !important;
                font-weight: 100;
                font-size: 18px;
                color: #93959e;
                letter-spacing: 1px;
            }

            tbody {
                tr{
                    td{
                        font-weight: 100 !important;
                        font-size: 18px !important;
                        color: #93959e !important;
                        // letter-spacing: 1px;

                        i{
                            font-size: 10px;
                            transform: rotate( 31deg );
                            color: #28a745;
                            padding-right: 9px;
                        }

                        .sp-red{
                            color: #bc1b1f !important;
                            font-weight: 600 !important;
                        }

                        .sp-white{
                            color: white !important;
                            font-weight: 600 !important;
                        }
                    }
                }
            }
        }

        .sell-foot-btn{
            background: #1d2031;
            width: fit-content;
            margin-left: auto;
            margin-right: 17px;

            .btn{
                font-weight: 500;
                font-size: 21px;
                width: 273px;
                margin-bottom: 30px;
                margin-top: 20px;
                margin-right: auto;
                height: 47px;
                text-transform: capitalize;
                background: #fb3c24;
                border-color: #fb3c24;
                color: white;
            }
        }
    }
</style>