<template>
    <div class=" p-0 sidebar">
        <aside class="nav-aside">
            <ul class="display-slide-big">
                <li>
                    <a href="/dashboard/trade-room" :class="this.$route.fullPath.split('/')[2] == 'trade-room' ? 'active' : ''" class="side-tooltip trading">
                        <div class="nav-icon-wrapper">
                            <i class="fas fa-chart-line"></i>
                        </div>
                        <p class="side-label">{{ $t('dashboard.Trading') }}</p>
                    </a>
                </li>
                <li>
                    <a @click="$parent.toggleOrderPanel()" href="javascript:void(0)" class="side-tooltip" :class="{'active':$parent.openOrderPanel ? true :false}" >
                        <div class="nav-icon-wrapper">
                             <i class="fas fa-history"></i>
                        </div>
                        <p class="side-label">{{$t('dashboard.recent_trades')}}</p>
                        <span v-if="active_trades_length > 0" class="rt-counter">{{active_trades_length}}</span>
                    </a>
                </li>
                <li :class="{'trd-history-glow':flash_history}">
                    <a @click="$parent.toggleHistoryPanel()" href="javascript:void(0)" :class="{'active':$parent.openHistoryPanel ? true :false}" class="side-tooltip">
                        <div class="nav-icon-wrapper">
                             <i class="fas fa-history"></i>
                        </div>
                        <p class="side-label">{{ $t('dashboard.trading_history_title') }}</p>
                    </a>
                </li>
                <li v-if="!user.is_demo">
                    <router-link to="/dashboard/finance/deposit" :class="this.$route.fullPath.split('/')[2] == 'finance' ? 'active' : ''" class="side-tooltip">
                        <div class="nav-icon-wrapper">
                             <i class="fas fa-dollar-sign"></i>
                        </div>
                        <p class="side-label">{{ $t('dashboard.Finance') }}</p>
                    </router-link>
                </li>
                <li v-if="!user.is_demo">
                    <router-link to="/dashboard/profile/details" :class="this.$route.fullPath.split('/')[2] == 'profile' ? 'active' : ''" class="side-tooltip">
                        <div class="nav-icon-wrapper">
                                <i class="fas fa-user"></i>
                        </div>
                        <p class="side-label">{{ $t('dashboard.Profile') }}</p>
                    </router-link>
                </li>
                <li v-if="!user.is_demo">
                    <a @click="$parent.toggleChatPanel()" href="javascript:void(0)" :class="{'active':$parent.openChatPanel ? true :false}" class="chat side-tooltip">
                        <div class="nav-icon-wrapper">
                             <i class="fas fa-comments"></i>
                        </div>
                        <p class="side-label">{{ $t('dashboard.Chat') }}</p>
                    </a>
                </li>
                <li v-if="!user.is_demo">
                    <a href="javascript:void(0)" class="side-tooltip" @click.prevent="logout()">
                        <div class="nav-icon-wrapper">
                             <i class="fas fa-sign-out-alt"></i>
                        </div>
                        <p class="side-label">{{ $t('dashboard.Logout') }}</p>
                    </a>
                </li>
                <li v-if="user.is_demo">
                    <a href="/login" class="side-tooltip">
                        <div class="nav-icon-wrapper">
                             <i class="fas fa-sign-out-alt"></i>
                        </div>
                        <p class="side-label">{{ $t('auth.login') }}</p>
                    </a>
                </li>
            </ul>
                <div class="sm-md-nav-icon d-none" >
                    <span @click="closeNav()">Close</span>
                </div>
        </aside>
    </div>
</template>

<script>
import { mapState } from 'vuex';
    export default {
        data(){
            return {
                flash_history:false
            }
        },
        computed:{
            ...mapState({
                user: (state) => state.user,
                openOrderPanel: (state) => state.openOrderPanel,
                openHistoryPanel: (state) => state.openHistoryPanel,
                openChatPanel: (state) => state.openChatPanel,
                trades: (state) => state.trades,
                localEmitter: (state) => state.localEmitter,
            }),
            active_trades_length(){
                return this.trades.filter((d)=>d.state != 'ended').length ;
            }
        },
        methods:{
            logout() {
                this.$store.commit('logout');
            },
            closeNav(){
                const sidebar_container = document.querySelector(".sidebar")
                const hamburgger = document.querySelector("#menu-toggle")
                sidebar_container.classList.remove('d-block')
                hamburgger.classList.add('bx-menu')
            },
            navCloser() {
                const nav_list = document.querySelectorAll('.side-tooltip')
                nav_list.forEach(nav => {
                    nav.addEventListener("click", () => this.closeNav());
                })
            }
        },
        mounted(){
            this.navCloser()
            var context=this;
            if(this.localEmitter){
                    this.localEmitter.on('trade_completed',function(e){
                    context.flash_history=true;
                    setTimeout(()=>{
                        context.flash_history=false;
                    },5000);
                });
            }

            var route = this.$route;
            if(route.query.support != undefined){ 
                this.$parent.toggleChatPanel();
            }else if(route.query.history != undefined){
                this.$parent.toggleHistoryPanel();
            }
        }
    }
</script>

<style scoped lang='scss'>
    .rt-counter{
        position: absolute;
        top: 33%;
        left: 67%;
        color: #fb3d23;
        font-size: 11px;
        font-weight: 700;
    }

    .trd-history-glow{
        background: #54b976;    
        animation: animate .5s infinite alternate;
    }

    @keyframes animate{
        50% {background: #54b976;}
        100% {background: #012546;}
    }

    .sidebar {
        background-color: #001425;
        height: 100%;
        left: 0;
        z-index: 99;
        font-family: Campton;
    }
    aside p {
        font-size: 13px;
        line-height: 1;
        margin-top: 4px;
    }
    aside i {
        font-size: 23px;
    }
    aside a {
        text-align: center;
        font-size: 13px;
        display: block;
        color: #CCD1FC !important;
        padding: 15px 5px;
        cursor: pointer;
        min-width: 90px;
    }
    .sidebar aside a{
        min-width: auto !important;
        width: 85px;
        font-weight: 500;
        position: relative;
    }
    aside a:hover {
        text-decoration: none;
        color: white !important;
        transition: ease-out 0.3s;
        /*background-color: #464a58;*/
    }
    a.side-tooltip.trading.active {
        color: #54b987 !important;
        pointer-events: none;
    }
    .side-label{
        margin-top: 6px;
        line-height: 15px;
        margin-bottom: 0;
        // text-transform: uppercase;
        font-family: Roboto;
        font-size: 12px;
    }
    #market .col-sm-3,
    #help .col-sm-3 {
        padding-right: 0;
    }
    #market .mkt, #help .mkt{
        width: auto;
        padding: 30px;
    }
    .mkt p {
        font-size: 14px;
        margin-top: 10px;
        color: white;
    }
    #market .mkt i,
    #help .mkt i {
        font-size: 40px;
    }
    .fin svg {
        width: 47px;
        fill: #8ea5c0;
    }
    #finance .fin a{
        width: auto;
    }
    #language,
    #trading,
    #finance {
        background-color: #0f101478;
    }
    .modal-content {
        background-color: #181b2b;
    }
    #finance .modal-body,
    #profile .modal-body {
        padding-left: 24px;
        padding-right: 24px;
    }
    .modal-header {
        border-bottom: none;
        font-size: 10px;
        padding-left: 25px;
        color: white;
    }
    #profile .fin {
        width: 177px;
        height: 134px;
        display: flex;
        justify-content: center;
    }
    #profile .fin svg {
        width: 79px;
    }
    #profile .fin i {
        font-size: 79px;
    }
    #profile .fin a {
        // padding: 19px 18px;
        width: 100% !important;
    }
    .fin i {
        font-size: 65px;
    }
    .fin a p {
        color: white;
        font-weight: 500;
    }
    .fin a {
        display: block;
        padding: 14px 34px;
    }
    .trade p {
        font-size: 12.5px;
        font-weight: bold;
    }
    #trading .col-sm-4 {
        padding-right: 0;
    }
    #trading .trade .tra-midd {
        font-size: 20px;
    }
    #trading .trade i {
        padding: 10px 15px;
        color: #8ea5c0;
        font-size: 33px;
        line-height: 0.4px;
    }
    .trade,
    .fin {
        border: 1px solid #293145;
        border-radius: 5px;
        background-color: #293145;
        margin-top: 15px;
    }
    #trading .trade {
        text-align: center;
        display: block;
    }
    #trading .modal-header {
        color: white;
    }
     @media (max-width: 600px) {
        .sidebar {
            position: fixed;
            top: 0 !important;
            bottom: 0;
            right: 0;
            left: 0;
            background: #001426;
            z-index: 1000000;

            .nav-aside{
                height: 100%;
                display: grid;
                position: relative;
                place-items: center;
            }

            .display-slide-big{
                width: 65%;
                max-width: 400px;
                margin: auto;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-auto-rows: 1fr 1fr;
                align-items: center;
                row-gap: 15px;
                column-gap: 15px;
                position: relative;

                li{
                    width: 100%;
                    min-height: 100px;
                    min-width: 100px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 5px;
                    border: 1px solid #ccd1fc;

                    .side-tooltip{
                        width: 100%;
                        height: 100%;
                    }
                }
            }

            .nav-icon-wrapper{
                display: flex;
                margin: 0 auto;
                width: 70px;
                height: 70px;
                border-radius: 50%;
                justify-content: center;
                background: #0d2c4896;
                align-items: center;
            }

            .sm-md-nav-icon{
                width: 100%;
                margin-bottom: -10px;
                z-index: 10000;
                display: flex !important;
                justify-content: center;
                align-items: center;

                span{
                    cursor: pointer;
                    padding: 8px 25px;
                    background: #0d2c4896;
                    color: #fb0000;
                    font-weight: bolder;
                    border: 1px solid #fb0000;
                    border-radius: 5px;
                    font-size: 16px;
                }
            }
        }
    }
    @media (max-width: 767px) {
        .sidebar {
            position: fixed;
            display: none;
            top:62px;
        }
    }
   
</style>