<template>
    <div v-if="openHistoryPanel" id="tradHistory" class="">
        <div class="tradHistory-main py-3">
            <div class="tradHistory-head px-3">
                <div class="thh-title d-flex justify-content-between">
                    <a @click="$parent.toggleHistoryPanel()" class="remove-collapse no-hover"><i class="bx bx-chevron-left"></i></a>
                    <p class="mb-0">{{ $t('dashboard.trading_history_title') }}</p>
                </div>
                <!-- <div class="thh-select py-2">
                    <v-select class="trade-select" v-model="tradHistory" :options="['All positions','Binary options','Digital options','Forex']"></v-select>
                </div> -->
            </div>
            <div v-if="!loading" class="tradHistory-body">
                <a @click="selectTrade(trade)" href="javascript:void(0)" v-for="(trade,index) in histories" :key="index" class="thb-item d-flex justify-content-between" >
                    <div class="thb-date">
                        <h6 class="thb-h6 thb-f6">{{trade.time}}</h6>
                        <span>{{trade.date}}</span>
                        <div class="thb-curr mt-2">
                            <!-- <small>{{$t('dashboard.asset')}}</small> -->
                            <h6 class="thb-h6">{{trade.asset}}</h6>
                        </div>
                    </div>

                    <div class="thb-profit">
                        <h6 v-if="trade.profit > 0" class="text-success thb-h6">
                            <b><Money class="d-inline" :amount="trade.profit" /></b>
                        </h6>
                        <h6 v-else class="text-danger thb-h6 thbp-h6">
                            <b><Money class="d-inline" :amount="trade.profit" /></b>
                        </h6>
                        <span class="thb-caret d-flex align-items-center mt-1">
                            <i v-if="trade.side == 1" class="fas fa-caret-up text-success"></i>
                            <i v-if="trade.side == -1" class="fas fa-caret-down text-danger"></i>
                            <Money class="thbc-money" :amount="trade.amount" />
                        </span>
                    </div>
                    <div class="thb-type">
                        <p v-if="trade.account_type == 'demo_wallet'" class="text-danger">Demo</p>
                        <p v-else class="text-success">Live</p>
                    </div>
                </a>

                <div v-if="next_page_url" class="loadmore">
                    <button @click="loadMore()" class="btn">
                        <span v-if="!loading_more">{{$t('dashboard.load_more')}}</span>
                        <span v-else>{{$t('dashboard.loading')}}....</span>
                    </button>
                </div>
            </div>
            <div v-else style="position:fixed;height:91%;width:100%;display:flex;align-items:center;justify-content:center">
                <loader color="white"></loader>
            </div>
        </div>
        <div v-if="displayTradingDetail" id="tradHistory-item">
            <div class="thi-head d-flex justify-content-between py-3 px-3">
                <div class="curr">
                    <h5 class="my-0 py-0">{{selected_trade.asset}}</h5> 
                    <!-- <span class="ml-3">2 Binary</span> -->
                </div>
                <a @click="closeTradeDetails()" class="remove-tradHistory-item">
                    <i class="fas fa-times pointer"></i>
                </a>
            </div>
            <div class="tradHistory-item-body">
                <div class="thi-chart" style="height:250px;">
                    <div v-show="selected_trade.profit > 0" class="win">
                        <img class="status-gif" src="https://media2.giphy.com/media/ehC4SqtNcEeLAiu66w/giphy.gif" alt="">
                        <h3 class="status-label">WIN</h3>
                    </div>
                    <div v-show="selected_trade.profit <= 0" class="lose">
                        <img class="status-gif" src="https://media3.giphy.com/media/9GIS25pTk3RKHCiq7O/giphy.gif?cid=ecf05e47mxdhbk7vwegg8y2vxl72vow6jk5wmn2sv2kpnw52&rid=giphy.gif" alt="">
                        <h3 class="status-label">LOSE</h3>
                    </div>
                </div>
            <div class="thi-footer">
                <div class="thif-result d-flex justify-content-between px-3">
                    <div class="sub-thif">
                        <h6 class="thif-name">{{$t('dashboard.investment')}}</h6>
                        <h5 v-if="selected_trade.profit > 0" class="thif-value text-success"><Money class="d-inline" :amount="selected_trade.amount" /></h5>
                        <h5 v-else class="thif-value text-danger"><Money class="d-inline" :amount="selected_trade.amount" /></h5>
                    </div>
                    <div class="sub-thif">
                        <h6 class="thif-name">{{$t('dashboard.result_pl')}}</h6>
                        <h5 v-if="selected_trade.profit > 0" class="thif-value text-success">+<Money class="d-inline" :amount="selected_trade.profit" /></h5>
                        <h5 v-else class="thif-value text-danger"><Money class="d-inline" :amount="selected_trade.profit" /></h5>
                    </div>
                    <div class="sub-thif">
                        <h6 class="thif-name">{{$t('dashboard.result')}}%</h6>
                        <h5 v-if="selected_trade.profit > 0" class="thif-value text-success">{{selected_trade.percentage}}%</h5>
                        <h5 v-else class="thif-value text-danger">-{{selected_trade.percentage}}%</h5>
                    </div>
                </div>
                <div class="thif-pos p-3">
                    <p>{{$t('dashboard.position_closed_automatically')}}</p>
                    <span>{{selected_trade.expire_time}}</span>
                </div>
                <div class="thi-datas pt-3 pb-2">
                    <div class="row mx-0 pl-2">
                        <div class="col-sm-6">
                            <h5 class="thid-title">{{$t('dashboard.purchase_time')}}</h5>
                            <p class="thid-body">{{selected_trade.purchase_time}}</p>
                        </div>
                        <div class="col-sm-6">
                            <h5 class="thid-title">{{$t('dashboard.expiration_time')}}</h5>
                            <p class="thid-body">{{selected_trade.expire_time}}</p>
                        </div>
                        <div class="col-sm-6">
                            <h5 class="thid-title">{{$t('dashboard.strike')}}</h5>
                            <p class="thid-body">{{selected_trade.open_price}}</p>
                        </div>
                        <div class="col-sm-6">
                            <h5 class="thid-title">{{$t('dashboard.trade_time')}}</h5>
                            <p class="thid-body">{{selected_trade.seconds}}s</p>
                        </div>
                        <div class="col-sm-6">
                            <h5 class="thid-title">{{$t('dashboard.opening_price')}}</h5>
                            <p class="thid-body">{{selected_trade.open_price}}</p>
                        </div>
                        <div class="col-sm-6">
                            <h5 class="thid-title">{{$t('dashboard.closing_price')}}</h5>
                            <p class="thid-body">{{selected_trade.close_price}}</p>
                        </div>
                    </div>
                    <div class="col-12 d-flex thidf-container px-2 mb-2">
                        <p class="thid-footer" style="font-weight: 600;color: wheat;">{{$t('dashboard.position_id')}}</p>
                        <p class="thid-footer ml-2 order_id">{{selected_trade.order_id}}</p>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapState } from 'vuex';
import loader from '../../layout/loader'
export default {
    components:{loader},
    data(){
        return{
            tradHistory:'All positions', 
            next_page_url:null,
            loading_more:false,
            selected_trade:{},
            displayTradingDetail:false,
            loading:true,
        };
    },
    computed:{
        ...mapState({
            openHistoryPanel: (state) => state.openHistoryPanel,
            histories: (state) => state.histories,
            user: (state) => state.user,
        })
    },
    methods:{
        closeTradeDetails(){
            this.displayTradingDetail=false;
        },
        selectTrade(trade){
            this.selected_trade=trade;
            console.log(trade);
            this.displayTradingDetail=true;
        },
        loadMore(){
            if(this.next_page_url != null && !this.loading_more){
                const url=this.next_page_url.split('/api/v1')[1];
                this.getHistory(url);
            }
        },
        getHistory(url=null) {
            this.loading_more=true;
            this.$store
            .dispatch('get', url)
            .then((data) => {
                console.log(data);
                this.loading_more=false;
                this.loading = false
                this.$store.state.histories = [...this.histories,...data.data.data];
                this.next_page_url=data.data.next_page_url;
            })
            .catch((error) => {
                this.loading = false
                this.loading_more=false;
            });
        },
    },
    created(){
        var url = !this.user.is_demo ? '/trading-histories':'/quick-trading-histories';
        this.getHistory(url);
    }
}
</script>
<style>
    .status-label{
        margin: auto;
        text-align: center;
        font-weight: 600;
    }
    .win .status-label{
        color: #62ff71;
    }
    .lose .status-label{
        color: #dc3545;
    }
    .win .status-gif{
        width: 200px;
        margin: auto;
        display: block;
    }
    .win .status-gif{
        width: 200px;
        margin: auto;
        display: block;
    }
    .lose .status-gif{
        width: 200px;
        margin: auto; 
        display: block;
    }
    .tradHistory-item-body{
        overflow-y: auto;
        padding-bottom: 100px;
    }
    .sub-thif h5{
        font-weight: 600 !important;
    }
    .loadmore .btn{
        border-color: #464e67;
        color: #bfbfbf;
        font-size: 11px;
        margin: auto;
        display: block;
        margin-top: 12px;
        width: 90%;
    }
  .thh-select .vs__dropdown-toggle{
    background-color: #001F3A;
    font-size: 14px;
    padding: 0 10px;
    width: 100% !important;
    height: 47px;
    color: #fff;
    border-radius: 10px;
    border-color: #B8FFB1;
  }
  .thh-select .vs__dropdown-menu:hover{
    background:#464a58a8 ;
  }
  .thh-select .vs__open-indicator {
      fill: #C4C4C4;
    }
  .thh-select .trade-select{
      background: #001F3A;
      border: 1px solid #B8FFB1;
      border-radius: 10px;
      font-family: Campton;
      font-size: 17px;
      font-weight: 600;
  }
  .thh-select .trade-select .vs__selected{
    color: #fff !important;
  }
  .thh-select .trade-select .vs__dropdown-menu{
      margin-top: 15px;
    background:#022C53 !important;
    color: #fff !important;
    fill: #fff;
      border-radius: 5px;
  }
  .thh-select .trade-select .vs__dropdown-option{
    color: #fff;
  }
  .thh-select .trade-select .vs__dropdown-option:hover{
    background:#00417C ;
  }
</style>
<style scoped lang="scss">
    .pointer{
        cursor: pointer;
    }
    #tradHistory{
        height: 100%;
        background-color: #00182e;
        position: relative;
        display: flex;
        margin-right: 10px;
        max-width: 100% !important;
        .text-success{
            color: #62FF71 !important;
        }
        .tradHistory-main{
            overflow: hidden;
            min-width: 320px;
            width: 100%;
            height:100%;
            .thh-title{
                color: #CBCBCB;
            }
            .tradHistory-body {
                overflow: scroll;
                height: 100%;
                padding-bottom: 100px;
                .thb-item{
                    margin:10px 13px;
                    background-color: #001425;
                    line-height: 1;
                    text-decoration: none;
                    color: unset;
                    border-radius: 5px;
                    position: relative;
                }
                .thb-profit{
                    width: 100%;
                    padding: 15px 0 15px 13px;
                    .thb-h6 b{
                        font-weight: 800;
                        font-size: 22px;
                    }
                    .thb-caret i{
                        font-size: 29px;
                        line-height: 1px;
                    }
                    .thbc-money{
                        margin-left: 10px;
                        color: #fff;
                        font-size: 14px;
                    }
                }
                .thb-type p{
                    right: 0;
                    font-size: 11px;
                    position: absolute;
                    bottom: 0;
                    margin: 0;
                    padding: 5px;
                }
                .thb-type p.text-danger{

                }
                .thb-date{
                    padding:7px 13px;
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                    background-color: #001324;
                    color: #CBCBCB;

                    span{
                        font-size: 13px;
                        color: #cbcbcb !important;
                    }
                    small{
                        font-size: 13px;
                        font-weight: 500;
                    }
                }
                .thb-f6{
                    line-height: 16px;
                    font-size: 17px !important;
                }
                .thb-h6{
                    font-family: Roboto;
                    font-size: 14px;
                    font-weight: 700;
                    padding: 0;
                    margin: 0;

                }
                .thb-item{
                    cursor: pointer;
                    span{
                        font-size: 11px;
                        color: gray;
                        i{
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
    #tradHistory-item{
        margin-left: 12px;
        background-color: #001425;
        height: 100%;
        width: 300px;
        overflow: hidden;
        min-width: 380px;
        .thi-head{
            color: #cbcbcb;
            line-height: 1;
            .curr {
                display: flex;
                align-items: center;
                h5{
                    font-size: 18px;
                    font-weight: bolder;
                    line-height: 1;
                }
                span{
                    color: gray;
                    font-size: 13px;
                }
            }
        }
        .thi-footer{
            font-family: Campton;
            .thi-datas{
                background-color: #001425;
                .col-sm-6,.col-12{
                    padding: 0;
                }
                .thidf-container{
                    background: #053F73;
                }
                .thid-footer{
                    margin-top: 5px;
                    margin-bottom: 0;
                    color: gray;
                    font-size: 14px;
                }
                .order_id{
                    font-family: Roboto;
                    color: white;
                    font-size: 15px;
                }
                .thid-exp{
                    color: gray;
                    line-height: 5px;
                }
                .thid-result{
                    margin-top: 10px;
                    font-size: 20px !important;
                }
                .thid-body{
                    font-family: Roboto;
                    color: white;
                    font-size: 12px;
                    font-weight: 500;
                    line-height: 8px;
                }
                .thid-title{
                    margin-top: 7px;
                    font-weight: lighter;
                    font-size: 14.5px;
                }
            }
            .thif-name{ 
                font-weight: lighter;
                font-size: 14px;
                margin: 0;
                color: #fff;
            }

            .thif-value{
                font-family: Roboto;
                line-height: 1.4;
                font-weight: 100;
            }
            .thif-pos{
                text-align: center;
                color:white;
                background: #00000052;
                p{
                    font-size: 17px;
                }
                span{
                    font-size: 13px;
                }
            }
        }
    }
    ::-webkit-scrollbar {
        width: 4px;
    }
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    ::-webkit-scrollbar-thumb {
        background: #888;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
     @media(max-width: 800px){
        #tradHistory{
            top: 0 !important;
        }
        #tradHistory .thh-title{
            justify-content: flex-start !important ;
            align-items: center;

        }
        #tradHistory .thh-title .fa-less-than{
            margin-right: 10px;
            font-size: 20px;
        }
    }
    @media(min-width: 800px){
        #tradHistory .thh-title{
            justify-content: flex-start !important ;
            align-items: center;

        }
        #tradHistory .thh-title .fa-less-than{
            font-size: 15px;
        }
    }
    @media (max-width: 1199px) {
        #tradHistory{
            // left: 268px;
        }
        #tradHistory-item{
            left: 0;
        }
    }


@media(max-width: 800px){
 #tradHistory .tradHistory-main .tradHistory-body{
     padding-bottom: 200px;
 }
  #tradHistory{
    left: 0px;
    position: fixed;
    width: 100%;
    top: 70px;
  }
  #tradHistory-item{
    position: fixed;
    width: 99%;
    margin: auto;
    left: 0;
    right: 0;
    overflow: auto;
  }
}
</style>