<!DOCTYPE html>
<html lang="en" class="">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<!-- Bootstrap -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://kit.fontawesome.com/dba3c70e5f.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="<%= BASE_URL %>assets/css/bootstrap.min.css">
	<!-- <link rel="stylesheet" href="<%= BASE_URL %>css/style.min.css"> -->
	<link rel="stylesheet" href="<%= BASE_URL %>assets/fonts/all.min.css">
	<link rel="stylesheet" href="<%= BASE_URL %>assets/fonts/boxicons/css/boxicons.min.css">
	<!-- <link rel="stylesheet" href="<%= BASE_URL %>css/stx-chart.css"> -->
	<link rel="icon" href="<%= BASE_URL %>favicon.ico">
	<!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
	<link rel="stylesheet" href="<%= BASE_URL %>assets/fonts/campton/campton.css">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link
		href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;900&family=Roboto:wght@300;400;500;700&display=swap"
		rel="stylesheet">
	<link rel="preload" as="image" href="https://media2.giphy.com/media/ehC4SqtNcEeLAiu66w/giphy.gif">
	<link rel="preload" as="image" href="https://media3.giphy.com/media/9GIS25pTk3RKHCiq7O/giphy.gif?cid=ecf05e47mxdhbk7vwegg8y2vxl72vow6jk5wmn2sv2kpnw52&rid=giphy.gif">

	<!-- <link rel="stylesheet" href="<%= BASE_URL %>assets/js/manifest.json"></link> -->
	<title>P2P Options</title>
	
	<style>
		#app{
			height: 100%;
		}
		.bx.bx-chevron-left{
			cursor: pointer;
			padding: 10px;
			margin-right: 10px;
			margin-left: -20px;
            font-size: 38px;
		}
		@media (min-width: 800px){
			.bx.bx-chevron-left{
				font-size: 20px;
			}
		}
		
		@media screen and (min-width: 812px) and (orientation: landscape) {
			.portrait .sidebar{
				overflow-y: auto;
			}
			
		}
		@media screen and (min-width: 2px) and (orientation: landscape) {
			.portrait #market .market-label{
				padding: 8px 10px 8px 15px !important;
				font-size: 13px !important;
			}
			.portrait .types{
				padding-top: 0 !important;
			}
			.portrait #market .assets .types ul li a{
				font-size: 12px !important;
			}
			.portrait th.profit{
				font-size: 12px !important;
			}
			.portrait .thead-btm th{
				font-size: 12px !important;
			}
			.portrait .tab-content table td span{
				font-size: 12px !important;
			}
			.portrait .mark-close{
				padding: 3px 10px !important;
			}
			.portrait .trd-purchase-time-value, .purchase-time-count{
				font-size: 20px !important;
			}
			.portrait .trading-pur-amt[data-v-51c8e146] {
				padding: 5px 0 5px 6px !important;
			}
			.portrait .trading-purchase-time .trd-purchase-time-wrapper {
				margin-top: 6px !important;
			}
		}
		@media screen and (min-width: 2px) and (max-width: 811px) and (orientation: landscape) {
			.trade_landscape {
				transform: rotate(-90deg);
				width: 100vh;
				height: 100vw;
				min-width: 100vw;
				min-height: 100vh;
				top: 100%;
				left: 0;
			}
			
			.portrait .sidebar{
				top: 27px !important;
				overflow: auto;
			}
			.portrait #header .nav{
				padding-top:2px !important;
				padding-bottom: 2px !important; 
			}
			.portrait .dash-body{
				margin-top: 38px !important;
			}
			.portrait .chartFrame{
				height: 94% !important;
			}
			.portrait .money_format{
				font-size: 15px !important;
			}
			.portrait #header .nav .nav-right .demo p{
				font-size: 7px !important;
			}
			.portrait #profile-toggle{
				display: none !important;
			}
			.portrait .market-holder{
				position: unset !important;
			}
		}
	</style>
</head>

<body style="overflow-x: hidden;height: 100vh;" class="portrait">
	<noscript>
		<strong>
			We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
			Please enable it to continue.
		</strong>
	</noscript>
	<div id="app" class="h-100"></div>
	<script src="https://unpkg.com/bowser@2.7.0/es5.js"></script>
	<!-- <script src="<%= BASE_URL %>datafeeds/udf/dist/polyfills.js"></script>
	<script src="<%= BASE_URL %>datafeeds/udf/dist/bundle.js"></script> -->
	<script src="<%= BASE_URL %>datafeeds/udf/dist/polyfills.js"></script>
	<script src="<%= BASE_URL %>datafeeds/udf/dist/bundle.js"></script>
	
	<script src="<%= BASE_URL %>assets/js/jquery.min.js"></script>
	<script src="<%= BASE_URL %>assets/js/popper.min.js"></script>
	<script src="<%= BASE_URL %>assets/js/bootstrap.min.js"></script>
	<script src="<%= BASE_URL %>assets/js/dashboard.js"></script>
	<script type="text/javascript" src="https://connect.facebook.net/en_US/sdk.js"></script>
	<script type="text/javascript" src="<%= BASE_URL %>js/socket.io.js"></script>
	<script type="text/javascript" src="https://connect.facebook.net/en_US/sdk.js"></script>
	<script  type="text/javascript" src="<%= BASE_URL %>js/socket.io.js"></script>
	<script src="<%= BASE_URL %>charting_library/charting_library/charting_library.standalone.js"></script>
	<!-- <script type="text/javascript" src="<%= BASE_URL %>js/socket.io.js"></script> -->
</body>
</html>