<template>
	<div class="mr-1 h-100">
		<div v-if="loading_symbols" id="loader">
			<div class="trinity-rings-spinner">
				<div class="circle"></div>
				<div class="circle"></div>
				<div class="circle"></div>
			</div>
		</div>
		<div v-else class="h-100" style="position:relative;display:flex">
			<div class="h-100 w-100" style="position:relative">
				<div v-if="isTradePage">
					<div class="d-block d-sm-block d-md-none frame-holder"><frames /></div>
				</div>
				
				<div class="chartFrame" style="position:relative">
					<div id="tv_chart_container" class="w-100"></div>
					<div v-if="chart_ready" class="market-holder"> <MarketModal></MarketModal> </div>
					<!--  -->
					<div v-if="completed_trades.length > 0" class="sell-option-modal-wrapper">
						<div class="sell-option-inner">
							<div class="sell-option-header d-flex" style="justify-content:space-between">
								<h6 class="sell-op-h6">{{$t('dashboard.Trades')}} ({{ completed_trades.length }})</h6>
								<a href="#" @click="openHistory(false)" data-dismiss="modal"><i class="fa fa-close"></i></a>
							</div>
							<div class="sell-option-table">
								<table class="table table-dark">
									<thead>
										<tr>
											<th scope="col" class="s-bt">{{$t('dashboard.asset')}}</th>
											<th scope="col" class="s-bt">{{$t('dashboard.investment')}}</th>
											<th scope="col" class="s-bt">{{$t('dashboard.Profit')}}</th>
										</tr>
									</thead>
									<tbody>
										<tr v-for="(symbol, index) in completed_trades" :key="index">
											<td>
												<div class="d-flex">
													<i v-if="symbol.direction == 'up'" class="fas fa-arrow-up text-success mr-1"></i>
													<i v-else class="fas fa-arrow-down  text-danger mr-1"></i>
													{{ symbol.asset }}
												</div>
											</td>
											<td><Money :amount="symbol.amount" /></td>
											<td>
												<div v-if="symbol.status == 'winning'" class="d-flex">
													<i class="fa fa-play win"></i>
													<span class="sl-price text-success d-flex">
														+
														<Money v :amount="symbol.profit" />
													</span>
												</div>
												<div v-else class="d-flex">
													<i class="fa fa-play loose"></i>
													<span class="sl-price text-danger d-flex">
														-
														<Money v :amount="symbol.amount" />
													</span>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="sell-foot-btn">
								<button @click="openHistory()" class="btn ">{{$t('dashboard.see_all')}} ({{ completed_trades.length }})</button>
							</div>
						</div>
					</div>
				</div>

				<!--  -->
				<div v-if="frame.state == 'waiting' || frame.state == 'trading-on'" class="og-trade-box">
					<div class="on-going-trade" :class="{'og-red': isTrading}">
						<b class="og-value"><i style="font-size:14px" class="fas fa-clock"></i> {{ isTrading ? rem_trading_time : '00:' + purchase_time }}</b>
						<small class="og-abel">
							<span v-if="isTrading">{{$t('dashboard.expiration_time')}}</span>
							<span v-else>{{$t('dashboard.Expiration_time')}}</span>
						</small>
					</div>
					<div class="on-going-trade grey">
						<b class="og-value">
							<i class="fas" :class="{'fa-plus': total_investment >= 0}"></i>
							{{ total_investment }}
						</b>
						<small class="og-abel">{{$t('dashboard.total_investment')}}</small>
					</div>
					<div class="on-going-trade" :class="{'og-red': total_profit < 0, 'og-green': total_profit > 0}">
						<b class="og-value">
							<i class="fas" :class="{'fa-plus': total_profit >= 0}"></i>
							{{ total_profit }}
						</b>
						<small class="og-abel">{{$t('dashboard.expected_profit')}}</small>
					</div>
					<div class="on-going-trade pt-2">
						<button @click="showOrderPanel()" class="d-none d-sm-none d-md-block btn">
							<span >{{$t('dashboard.see_all')}} ({{ total_trades }})</span> 
							
						</button>
						<i @click="showOrderPanel()" class="fas fa-eye d-block d-sm-block d-md-none text-success"></i>
					</div>
				</div>

				
			</div>
			<!-- TRADE PANEL -->
			<div v-if="chart_ready" class="trading-details-wrapper trading-d-sm pt-1 pl-1 pr-1">
				<!-- trading-d-sm : small screen class -->
				<div class="trading-details-inner">
					<div class="trading-details-row3">
						<div class="trading-details-row3-inner">
							<div class="active-trade-class flex-width-75">
								<!-- <div class="trd-single-con"> -->
								<div class="invest-time flex-width-50">
									<investmentTime></investmentTime>
								</div>
								<!-- <div class="invest-sp">
                                        <investmentStrikePrice></investmentStrikePrice>
                                    </div> -->
								<!-- </div> -->
								<!-- <div class="trd-second-con"> -->
								<div class="invest-amt flex-width-50">
									<investmentAmount></investmentAmount>
								</div>
								<div class="trading-purchase-time profit-tab mob-none flex-width-50">
									<div class="trd-purchase-title">
										<i class="fa fa-question-circle-o"></i>
										<span>{{$t('dashboard.Profit')}}</span>
									</div>
									<div class="trd-purchase-time-box">
										<div class="trd-purchase-time-value">
											<a style="text-decoration:none" href="javascript:void(0)"> {{ profit_perc }}% </a>
										</div>
										<div class="trd purchase-time-count value">
											<Money :amount="profit" />
										</div>
									</div>
								</div>
								<!-- </div> -->
							</div>
							<div v-if="frame.state != 'trading-on' && frame.attribute == 'ready'" class="trd-flex-con flex-width-25">
								<div class="trade-up">
									<a @click="startTrade('up')" class="trd-lower-btn trd-btn-up">
										<span class="trd-switch-btn">
											<span class="trd-switch-inner">
												<span class="trd-switch-item1">
													<span class="trd-switch-item1-iiner mob-dir-icon">
														<i class="fa fa-arrow-up mr-2 mr-md-0"></i>
													</span>
													<span class="trd-per">+{{ profit_perc }}%</span>
												</span>
											</span>
										</span>
									</a>
								</div>
								<div class="trade-down">
									<a @click="startTrade('down')" class="trd-lower-btn">
										<span class="trd-switch-btn">
											<span class="trd-switch-inner">
												<span class="trd-switch-item1">
													<span class="trd-switch-item1-iiner mob-dir-icon">
														<i class="fa fa-arrow-down mr-2 mr-md-0"></i>
													</span>
													<span class="trd-per">+{{ profit_perc }}%</span>
												</span>
											</span>
										</span>
									</a>
								</div>
							</div>
							<div v-if="frame.attribute == 'new_option' || frame.state == 'trading-on'" class="trd-flex-con flex-width-25 text-center nw-option">
								<div class="m-auto w-100">
									<a @click="resetFrameFromDisplay()" class="trd-lower-btn new-option w-100">
										<div class="mob-yl">
											<i class="fas fa-plus"></i>
											<span class="trd-per n-opt">{{$t('dashboard.new_option')}}</span>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--End Of Trade Panel-->
		</div>
		<div class="modal option-pop-up" id="createAccount">
			<div class="modal-dialog modal-dialog-centered h-100">
				<div class="modal-content">
					<div class="modal-body text-center mb-3">
						<h5 style="font-weight:700;font-size: 25px;" class="m-0 mt-4">{{$t('dashboard.Demo_account')}}</h5>
						<p style="font-size: 12px;" class="m-0">{{$t('dashboard.access_full_func')}}</p>
						<img style="margin-top: 25px;margin-bottom: 25px;" width="200px" src="../../../assets/img/createaccount.svg" alt="" />
						<b class="text-danger d-block mb-2">{{$t('dashboard.You_have')}} {{ attempLeft(user) }} {{$t('dashboard.attempt_left')}}</b>
						<div style="justify-content:space-around" class="d-flex mt-5">
							<router-link to="/register" data-dismiss="modal" style="color: #8acc8c;border: 1px solid #4caf5040;" class="btn">{{$t('dashboard.create_account')}}</router-link>
							<a v-if="attempLeft(user) > 0" href="javascript:void(0)" data-dismiss="modal" style="color: #ccbbed;border: 1px solid #ccbbed1a;" class="btn">{{$t('dashboard.CONTINUE')}} <i class="fas fa-chevron-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import investmentAmount from './layout/investment-amount';
	import investmentTime from './layout/investment-time';
	import MarketModal from './layout/market';

	import {mapState} from 'vuex';
	import Datafeed from './config/datasource';
	import mixins from '../../../mixins';
	import Frames from '../layout/frames.vue';
	export default {
		props: {
			symbol: {
				default: '',
				type: String,
			},
			interval: {
				default: '1',
				type: String,
			},
			containerId: {
				default: 'tv_chart_container',
				type: String,
			},
			datafeedUrl: {
				default: 'https://demo_feed.tradingview.com',
				type: String,
			},
			libraryPath: {
				default: '/charting_library/charting_library/',
				type: String,
			},
			chartsStorageUrl: {
				default: 'https://saveload.tradingview.com',
				type: String,
			},
			chartsStorageApiVersion: {
				default: '1.1',
				type: String,
			},
			clientId: {
				default: 'test',
				type: String,
			},
			userId: {
				default: 'public_user_id',
				type: String,
			},
			fullscreen: {
				default: false,
				type: Boolean,
			},
			autosize: {
				default: true,
				type: Boolean,
			},
			studiesOverrides: {
				type: Object,
			},
		},
		mixins: [mixins],
		data() {
			return {
				data_feed: {},
				result: {
					profit: 0,
					status: false,
				},
				submitting: false,
				trading: false,
				currencies: ['BTC', 'ETH', 'LTC'],
				max_seconds: 59,
				last_trade_second: {},
				vertical_line: {
					next_trade_line_id: null,
					current_trade_time: 0,
				},
				rem_trading_time: 0,
				overrides: {
					'paneProperties.background': '#001425',
					'paneProperties.vertGridProperties.color': '#001425',
					'paneProperties.horzGridProperties.color': '#001425',
					'symbolWatermarkProperties.transparency': 90,
					'scalesProperties.textColor': '#AAA',
					'mainSeriesProperties.candleStyle.wickUpColor': '#336854',
					'mainSeriesProperties.candleStyle.wickDownColor': '#7f323f',
				}
			};
		},
		components: {investmentAmount, investmentTime, MarketModal, Frames},
		computed: {
			...mapState({
				user: (state) => state.user,
				loading_symbols: (state) => state.loading_symbols,
				active_symbol: (state) => state.active_symbol,
				symbols: (state) => state.symbols,
				binance_api: (state) => state.binance_api,
				chart_ready: (state) => state.chart_ready,
				active_account_type: (state) => state.active_account_type,
				capital: (state) => state.investment_amount,
				localEmitter: (state) => state.localEmitter,
				strike_prices: (state) => state.strike_prices,
				strikes_data: (state) => state.strikes_data,
				trade_data: (state) => state.trade_data,
				trades: (state) => state.trades,
				trades_lines: (state) => state.trades_lines,
				profit_perc: (state) => state.profit_perc,
				purchase_times: (state) => state.purchase_times,
				purchase_times_ms: (state) => state.purchase_times_ms,
				asset: (state) => state.asset,
				token: (state) => state.token,
				chart_widget: (state) => state.chart_widget,
				openOrderPanel: (state) => state.openOrderPanel,
				openOrderBox: (state) => state.openOrderBox,
				selected_trade_time: (state) => state.selected_trade_time,
				frames: (state) => state.frames,
				frame_id: (state) => state.frame_id,
				socket_connection: (state) => state.socket_connection,
				toaster_notification_instances: (state) => state.toaster_notification_instances,
				asset_types: (state) => state.asset_types,
				trade_completed_data: (state) => state.trade_completed_data,
				display_orderlines: (state) => state.display_orderlines,
				max_investment_possible: (state) => state.max_investment_possible
			}),
			isTrading: function() {
				if (this.frame == undefined) {
					return false;
				}
				return this.frame.state == 'trading-on';
			},
			total_trades: function() {
				return this.trades.filter((d) => d.frame_id == this.frame.id && d.state != 'ended').length;
			},
			total_investment: function() {
				var sum = 0;
				this.trades.forEach((trade) => {
					if (trade.frame_id == this.frame.id && trade.state != 'ended') {
						sum += trade.amount;
					}
				});
				return sum;
			},
			total_profit: function() {
				var profit = 0;
				this.trades.forEach((trade) => {
					if (trade.frame_id == this.frame.id && trade.state != 'ended') {
						if (trade.status == 'winning') {
							profit += trade.profit;
						} else if (trade.status == 'losing') {
							profit -= trade.profit;
						}
					}
				});
				return profit;
			},
			profit: function() {
				return parseFloat((this.profit_perc / 100) * this.capital).toFixed(1);
			},
			activeTrades: function() {
				return this.trades.filter((d) => d.state != 'ended');
			},
			purchase_time() {
				return this.purchase_times[this.active_symbol.symbol];
			},
			purchase_time_ms() {
				return this.purchase_times_ms[this.active_symbol.symbol];
			},
			strike_price() {
				return this.strike_prices[this.active_symbol.symbol];
			},
			strike_data() {
				return this.strikes_data[this.active_symbol.symbol];
			},
			frame() {
				var result = null;
				result = this.frames.find((d) => d.id == this.frame_id);
				return result;
			},
			completed_trades() {
				return this.trade_completed_data[this.frame.id] ?? [];
			},
			isTradePage:function(){
				return this.$route.name == 'trade_room';
			}
		},
		methods: {
			openHistory(open=true) {
				if(open){
					this.$store.state.openHistoryPanel = true;
				}
				this.resetFrameFromDisplay();
			},
			resetFrameFromDisplay() {
				this.removeAllOrderLine();
				if (this.frame.state == 'ended' || this.frame.state == 'none') {
					this.resetVisibleRange();
					this.$store.dispatch('updateFrameAttribute', {id: this.frame.id, value: 'ready'});
					this.$store.dispatch('updateFrameStatus', {id: this.frame.id, value: 'none'});

					var temp = {...this.trade_completed_data};
					delete temp[this.frame.id];
					this.$store.state.trade_completed_data = {...temp};

					for (var index in this.display_orderlines) this.removeOrderLine(index);
				} else {
					var asset = {...this.frame.asset};
					asset.create_frame = true;
					this.localEmitter.emit('change_symbol', asset);
				}
			},
			changeSymbol(symbol) {

				//preparing ground for new symbol by removing vertical lines
				this.removeAllOrderLine();

				this.$store.dispatch('setSymbol', {
					type: symbol.type,
					name: symbol.name,
					frame_id: symbol.frame_id,
					trade_time: symbol.trade_time,
					create_frame: symbol.create_frame,
					forceCreate: symbol.forceCreate,
					callback: this.resetVisibleRange,
				});
				this.$store.state.purchase_time = 0;
			},
			removeAllOrderLine(){
				this.chart_widget.activeChart().removeAllShapes();
				var temp = {...this.trades_lines, ...this.display_orderlines};
				for (var index in temp) {
					this.removeOrderLine(index);
				}

				this.$store.state.trades_lines = {};
				this.$store.state.display_orderlines = {};
				this.vertical_line.current_trade_time = null;
			},
			showOrderPanel() {
				this.$store.state.openOrderPanel = true;
			},
			hideOrderPanel() {
				this.$store.state.openOrderPanel = false;
			},
			checkBalance() {
				if (this.user[this.active_account_type].amount < this.capital) {
					this.$notify({
						group: 'foo',
						type: 'error',
						position: 'bottom',
						duration: 3000,
						closeOnClick: true,
						title: 'INSUFFICIENT BALANCE',
						text: 'You dont have enough money in your wallet to start this trade.',
					});
					return false;
				}
				return true;
			},
			checkTradeAmount() {
				if (this.capital <= 0) {
					this.$notify({
						group: 'foo',
						type: 'error',
						position: 'bottom',
						duration: 3000,
						closeOnClick: true,
						title: 'INSUFFICIENT INVESTMENT',
						text: "You can't trade with $0",
					});
					return false;
				}
				return true;
			},
			startTrade(direction) {
				if (this.strike_price == 0) {
					return false;
				}

				if(this.capital > this.max_investment_possible){
					this.$toast.open({type: 'error', dismissible: true, duration: 10000 * 1, message: 'Maximum investment is $'+this.formatCurrrency(this.max_investment_possible)});
					return false;
				}

				if (!this.checkBalance() || !this.checkTradeAmount()) {
					return false;
				}
				var user = {...this.user};
				var result = null;

				if (user.is_demo) {
					if (this.user.no_of_trade >= 10) {
						window.$('#createAccount').modal('show');
						return false;
					}
				}

				var strike_trade_time = this.getTradeStartTime(this.purchase_time_ms);
				var order_id = Math.round(Math.random() * 99999);
				var trade_details = {
					action: 'order',
					user_id: this.user.id,
					user_token: this.token,
					quick_demo: this.user.is_demo,
					id: order_id,
					strike_price: JSON.parse(JSON.stringify(this.strike_price)),
					amount: parseFloat(this.capital),
					profit: parseFloat(this.profit),
					percentage_profit: this.profit_perc,
					active: true,
					state: 'waiting',
					status: '',
					purchase_time_ms: this.purchase_time_ms,
					...strike_trade_time,
					total_active_session_seconds: strike_trade_time.time_rem + this.selected_trade_time, //trade time + (Remaining seconds to trade start)
					strike_second_rem: strike_trade_time.time_rem, //diff btw 59 - strike seconds
					direction: direction,
					strike_data: {...this.strike_data},
					account_type: this.active_account_type,
					asset: this.active_symbol.symbol,
					trade_time: this.selected_trade_time,
					time_used: 0,
					openBody: false,
					win: null,
					close_price: 0,
					recent_trade_seconds: 0,
					frame_id: this.frame.id,
				};

				// IF USER IS A DEMO USER AND ATTEMPT IS OVER
				if (this.user.is_demo && this.user.no_of_trade >= 10) {
					window.$('#createAccount').modal('show');
					return false;
				}

				// CREATING NOTIFICATION AND SAVING THE NOTIFICATION INSTANCE SO WE CAN DISMISS IT OURSELF LATER
				var instance = this.$toast.open({type: 'default', dismissible: false, duration: 10000 * 60, message: 'Requesting trade at ' + trade_details.strike_price});
				this.$store.state.toaster_notification_instances[order_id] = instance;

				// SENDING TRADE REQUEST TO SERVER
				this.socket_connection.send(JSON.stringify(trade_details));

				// Just a quik fix, it will still be moved to server later
				this.rem_trading_time = this.selected_trade_time;

				// ASSIGN TRADE TIME TO FRAME
				var time = this.getTradeTimeObject(this.selected_trade_time);
				if (time) {
					this.$store.dispatch('updateFrameTradeTime', {id: this.frame.id, value: time});
				}

				this.$store.dispatch('resetModals');
			},
			getTradeTimeObject(time) {
				time = this.active_symbol.timing.find((d) => d.name == time);
				return time;
			},
			makeTradeLine(capital, direction, price) {
				var color = direction == 'up' ? '#27a69a' : '#ff0000';
				return (
					this.chart_widget
						.activeChart()
						// .createOrderLine()
						.createPositionLine()
						.setText('')
						.setPrice(price)
						.setQuantity('$' + capital)
						.setLineWidth(2)
						.setLineColor(color)
						.setLineStyle(0)
						.setQuantityBackgroundColor(color)
						.setQuantityTextColor('#ffffff')
						.setQuantityBorderColor(color)
						.setBodyBorderColor(color)
				);
			},
			getTradeStartTime(date) {
				var strike_time = new Date(date);
				var strike_hour = strike_time.getHours();
				var strike_min = strike_time.getMinutes();
				var strike_seconds = strike_time.getSeconds();
				//if the strike min is 59 then we change the start trade min to 1
				var start_trade_min = strike_min >= this.max_seconds ? 1 : strike_min + 1;
				var time_rem = this.max_seconds - strike_seconds;
				var time_rem_formatted = this.formatTime(0, time_rem);

				return {
					strike_hour,
					strike_min,
					strike_seconds,
					time_rem,
					time_rem_formatted,
					start_trade_min,
				};
			},
			trade(data, trade) {
				if (trade.direction == 'up') {
					if (data.close < trade.strike_price) {
						this.updateTradeDetails('status', 'losing', trade.id);
					} else {
						this.updateTradeDetails('status', 'winning', trade.id);
					}
				} else if (trade.direction == 'down') {
					if (data.close < trade.strike_price) {
						this.updateTradeDetails('status', 'winning', trade.id);
					} else {
						this.updateTradeDetails('status', 'losing', trade.id);
					}
				}
			},
			formatTime(min, seconds) {
				min = min < 10 ? '0' + min : min;
				seconds = seconds < 10 ? '0' + seconds : seconds;
				return min + ':' + seconds;
			},
			updateTradeDetails(field, value, id) {
				this.$store.state.trades = this.trades.map((trade) => {
					if (trade.id == id) {
						trade[field] = value;
					}
					return trade;
				});
			},
			convertToTime(time) {
				var date = new Date(time);
				return date.getFullYear() + '-' + (date.getMonth() + 1) + '-' + date.getDate() + ' ' + date.getHours() + ':' + date.getMinutes() + ':' + date.getSeconds();
			},
			convertToNextMinuteTime(time) {
				var date = new Date(time + 60 * 1000);
				date = Date.UTC(date.getFullYear(), date.getUTCMonth(), date.getUTCDate(), date.getUTCHours(), date.getMinutes(), 0);
				return date;
			},
			convertToNextTradeEndTime(time) {
				var seconds = this.selected_trade_time > 60 ? this.selected_trade_time : 60;
				var date = new Date(time + seconds * 1000);
				date = Date.UTC(date.getFullYear(), date.getUTCMonth(), date.getUTCDate(), date.getUTCHours(), date.getMinutes(), date.getSeconds());
				return date;
			},
			updateNextOrderLine(data) {
				if (this.isTrading) {
					return false;
				}
				if (data.symbol != this.active_symbol.symbol) {
					//only display next trade line for the current symbol
					return false;
				}

				if (this.frame.attribute == 'new_option') return false;

				if (data.time == this.vertical_line.current_trade_time) {
					//avoid drawing next vertical line multiple times
					return false;
				}

				this.vertical_line.current_trade_time = parseInt(data.time);

				this.chart_widget.activeChart().removeAllShapes(); //remove all lines/shapes
				// this.chart_widget.activeChart().setSymbol(this.active_symbol.symbol.base_asset+'/'+this.active_symbol.symbol.q);
				var next_trade = this.convertToNextMinuteTime(data.time);
				next_trade = Math.round(new Date(next_trade) / 1000);

				//NEXT TRADE TIME
				this.chart_widget.activeChart().createMultipointShape([{time: next_trade}], {
					shape: 'vertical_line',
					lock: false,
					zOrder: 'top',
					disableSelection: true,
					disableSave: true,
					disableUndo: true,
					text: 'text',
					overrides: {
						linecolor: '#fff',
						linewidth: 2,
					},
				});

				// NEXT TRADE TIME END
				// var end_next_trade = this.convertToNextTradeEndTime(next_trade * 1000)
				// var next_trade_in_time = new Date(next_trade * 1000);
				// next_trade_in_time = this.formatTime(next_trade_in_time.getMinutes(),0);

				this.chart_widget.activeChart().createShape(
					{time: next_trade},
					{
						shape: 'text',
						lock: false,
						zOrder: 'top',
						disableSelection: true,
						disableSave: true,
						disableUndo: true,
						text: 'Next purchase',
						overrides: {
							fontsize: 11,
							color: '#ffffff',
							bold: true,
							linewidth: 2,
						},
					}
				);
				// console.log('Created end',new Date(end_next_trade));
			},
			removeOrderLine(id) {
				console.log(id);
				try {
					if (this.trades_lines[id]) {
						this.trades_lines[id].remove();
					} else if (this.display_orderlines[id]) {
						this.display_orderlines[id].remove();
					}
				} catch (e) {
					//
					console.log('RemoveOrderLineError', e);
				}
			},
			initialiseEmitter() {
				var feed = Datafeed;
				feed.setEmitter(this.localEmitter);
				feed.setUserId(this.user.id);
				this.data_feed = feed;
				var context = this;

				this.localEmitter.on('trade_data', function(e) {
					var data = e;

					context.$store.state.strikes_data[data.symbol] = data;
					context.$store.state.strike_prices[data.symbol] = parseFloat(data.close);
					context.updateNextOrderLine(e);
				});

				this.localEmitter.on('change_symbol', function(symbol) {
					context.changeSymbol(symbol);
				});

				this.localEmitter.on('socket_message', function(e) {
					// console.log(e);
					switch (e.action) {
						case 'trade_notification':
							context.handleTradeNotification(e);
							break;
						case 'trade_accepted':
							context.handleTradeAccepted(e);
							break;
						case 'trade_completed':
							context.handleTradeCompleted(e.trade);
							break;
						case 'update_user':
							context.saveUserDetailsFromSocket(e.data);
							break;
						case 'update_trades':
							context.updateTradesFromSocket(e.trades);
							break;
						case 'update_trade_history':
							context.updateTradeHistoryFromSocket(e.data);
							break;
						default:
						//
					}
				});

				this.localEmitter.on('global_socket_opened', function(e) {
					context.$store.state.socket_connection = e;
				});
			},
			handleTradeAccepted(data) {
				var order = data.trade;

				if (this.toaster_notification_instances[order.id]) this.toaster_notification_instances[order.id].dismiss();

				if (!this.trades_lines[order.id] && order.state == 'trading-on') {
					// KEEPING REFERENCE TO ORDER LINE DRAWN FOR THIS TRADE
					this.$store.state.trades_lines[order.id] = this.makeTradeLine(order.amount, order.direction, order.strike_price);
				}

				if (this.user.is_demo) { 
					var temp = {...this.user};
					temp.no_of_trade += 1;
					temp.demo_wallet.amount -= order.amount;
					this.$store.state.user = {...temp};
					localStorage.setItem('p2p_demo', encodeURIComponent(JSON.stringify(temp)));
				}

				// TRADE ACCEPTED NOTIFICATION
				this.$toast.open({message: data.message, type: data.type, position: data.position ?? 'bottom-right'});
			},
			handleTradeCompleted(order) {
				this.localEmitter.emit('trade_completed', order);
				console.log(order);
				// REMOVE THE TRADING LINE
				this.removeOrderLine(order.id);
				// DRAW NEW TRADE TIME LINE
				this.updateNextOrderLine(this.strikes_data[order.asset]);
				// SAVE INTO COMPLETED TRADES
				this.$store.state.completed_trades.push(order);

				// Saving details of completed trade for frame display
				var temp = {...this.trade_completed_data};
				if (!temp[order.frame_id]) temp[order.frame_id] = [];
				temp[order.frame_id].push(order);
				this.$store.state.trade_completed_data = {...temp};
				this.$store.dispatch('updateFrameAttribute', {id: order.frame_id, value: 'new_option'});

				if (this.frame.id == order.frame_id) {
					this.$store.dispatch('updateFrameAttribute', {frame_id: order.frame_id});
					this.$store.dispatch('tradeCompleted', {frame_id: order.frame_id});
				}

				if (this.user.is_demo && order.profit > 0) { 
					var usr = {...this.user}; 
					usr.demo_wallet.amount += (order.profit + order.amount);
					this.$store.state.user = {...usr};
					localStorage.setItem('p2p_demo', encodeURIComponent(JSON.stringify(usr)));
				}
			},
			updateTradesFromSocket(data) {
				// TRYING TO KEEP THE VALUES OF SOME FIELDS THESAME EVEN IF NEW DATA ARRIVES
				var stale_trade_object = {};
				this.trades.forEach((d) => {
					stale_trade_object[d.id] = {
						openBody: d.openBody,
					};
				});
				var temp = this.$store.state.trades_lines;
				// UPDATING FRONTEND TRADES FROM THE SOCKET
				this.$store.state.trades = data.map((trade) => {
					trade = {...trade, ...stale_trade_object[trade.id]};

					// ENSURE TRADE LINE HAS BEEN DRAWN IF NOT
					// ENSURE THE TRADE FRAME_ID IS THE CURRENT FRAME ID
					if (this.trades_lines[trade.id] == undefined && this.frame.id == trade.frame_id && this.frame.attribute != 'new_option') {
						temp[trade.id] = this.makeTradeLine(trade.amount, trade.direction, trade.strike_price);
						this.$store.state.trades_lines = {...temp};
					}
					return trade;
				});

				// IF THERE ARE TRADES STILL ACTIVE/WAITING THEN WE WANT TO KEEP THE ORDER BOX ACTIVE
				if (data.filter((d) => d.state != 'ended').length > 0) {
					// Just a quik fix, it will still be moved to server later
					var sample_trade = data.filter((d) => d.state == 'trading-on');
					if (sample_trade.length > 0) this.rem_trading_time = sample_trade[0].time_rem_formatted;
				}

				// checking trades from socket if any of them is 'trading-on' then the frame should reflect trading is on
				data.forEach((d) => { 
					this.$store.dispatch('updateFrameStatus', {id: d.frame_id, value: d.state});

					//INCASE USER REFRESHED THE PAGE AND FRAMES GO AWAY, BUT REMEMBER WE HAVE THE FRAME ID STORED IN THE
					// TRADE OBJECT IN THE SERVER THEN WE CAN USE IT TO CREATE ANOTHER FRAME/S
					if (this.frames.find((frame) => frame.id == d.frame_id) == undefined) {
						var symbol = this.getSymbol(d.asset);
						if (symbol) {
							symbol.frame_id = d.frame_id;
							symbol.create_frame = true;
							symbol.trade_time = this.getTradeTimeObject(d.trade_time);
							symbol.forceCreate = true;
							this.changeSymbol({...symbol});
						}
					}
				});

				// TRADING IS ACTIVE ON THIS FRAME
				if (this.frame.state == 'trading-on') {
					this.$store.state.isTrading = true;
					this.chart_widget.activeChart().removeAllShapes();
				} else {
					this.$store.state.isTrading = false;
				}

				// ALL TRADES ARE DONE
				var active_trades = this.trades.filter((d) => d.state != 'ended').length;
				if (active_trades == 0 && this.isTrading) {
					this.$store.state.openOrderPanel = false;
					this.rem_trading_time = 0;
				}
			},
			saveUserDetailsFromSocket(e) {
				if (!this.user.is_demo) { 
					this.$store.commit('setUser', {user: e, token: this.token});

					this.localEmitter.emit('update_user',e);
				}
			},
			updateTradeHistoryFromSocket(history) {
				this.$store.state.histories.unshift(history);
			},
			handleTradeNotification(data) {
				this.$toast.open({message: data.message, type: data.type, position: data.position ?? 'bottom-right'});
			},
			resetVisibleRange() {
				this.chart_widget
					.activeChart()
					.exportData()
					.then((d) => {
						var data = d.data;
						var barlength = data.length >= 10 ? 10 : data.length;

						var latest = new Date(data[data.length - 1][0]); //get the time of the bar from index = 0
						latest.setSeconds(latest.getSeconds() + 120);

						var previous_bars = data[data.length - barlength];
						if (previous_bars) {
							this.setChartViewRange(previous_bars[0], latest.getTime());
						}
					});
			},
			setChartViewRange(from, to) {
				try {
					this.chart_widget
						.activeChart()
						.setVisibleRange({from: from, to: to}, {percentRightMargin: 40})
						.then(() => console.log('New visible range is applied'));
				} catch (e) {
					///
				}
			},
			initialiseChart() {
				var widgetOptions = {
					debug:true,
					symbol: this.active_symbol.base_asset + '/' + this.active_symbol.quote_asset,
					// BEWARE: no trailing slash is expected in feed URL
					datafeed: this.data_feed,
					interval: this.interval,
					container_id: this.containerId,
					library_path: this.libraryPath,
					locale: 'en',
					disabled_features: ['symbol_info','symbol_search_hot_key','create_volume_indicator_by_default','use_localstorage_for_settings', 'header_widget', 'header_symbol_search', 'timeframes_toolbar', 'compare_symbol', 'header_compare'],
					enabled_features: ['adaptive_logo'],
					charts_storage_url: this.chartsStorageUrl,
					charts_storage_api_version: this.chartsStorageApiVersion,
					client_id: this.clientId,
					user_id: this.userId,
					fullscreen: this.fullscreen,
					autosize: this.autosize,
					studies_overrides: this.studiesOverrides,
					overrides:this.overrides,
					toolbar_bg:'#ccd1fc'
				};
				var context = this;

				var tvWidget = new window.TradingView.widget(widgetOptions);
				tvWidget.onChartReady(() => {

					context.$store.state.chart_widget = tvWidget;
					// context.chart_widget.changeTheme('Dark');
					context.$store.state.chart_ready = true;
					//setting the visible range of the chart
					setTimeout(() => {
						this.$store.dispatch('setSymbol', {type: 'Crypto', name: 'BTCUSD'});
						context.chart_widget.activeChart().setSymbol('BTC/USD');

						this.$store.dispatch('removeFrame', {id: this.frames[0].id, context: this});

						context.chart_widget
							.activeChart()
							.exportData()
							.then((d) => {
								var data = d.data;
								var barlength = data.length >= 10 ? 10 : data.length;

								var latest = new Date(data[data.length - 1][0]);
								latest.setSeconds(latest.getSeconds() + 120);

								var previous_bars = data[data.length - barlength];
								if (previous_bars) {
									context.setChartViewRange(previous_bars[0], latest.getTime());
								}
							});
					}, 500);
				});
			},
			drawChatLineForCurrentAssets() {
				this.trades.forEach((element) => {
					if (element.state != 'ended') {
						this.makeTradeLine(element.trade, element.direction, element.strike_price);
					}
				});
			},
			getSymbol(name) {
				var symbols = [];
				this.asset_types.forEach((d) => {
					symbols = [...symbols, ...d.assets];
				});
				var asset = symbols.find((d) => name == d.name);
				return asset;
			},
			getSymbols() {
				this.$store.state.loading_symbols = true;
				this.$store.state.loading_chart = true;

				this.$store
					.dispatch('get', '/trading-symbols')
					.then((data) => {
						console.log(data);

						var det = data.data;
						var symbol_times = {};
						var symbol_prices = {};
						var symbol_strikes = {};
						var symbols = [];
						det = det['types'].map((type) => {
							type.assets = type.assets.map((d) => {
								symbols.push(d);
								//initialising symbol time and prices
								d.type = type.title;
								symbol_times[d.name] = 0;
								symbol_prices[d.name] = 0;
								symbol_strikes[d.name] = {};
								return d;
							});
							return type;
						});

						this.$store.state.purchase_times = symbol_times;
						this.$store.state.strike_prices = symbol_prices;
						this.$store.state.strikes_data = symbol_strikes;
						this.$store.state.asset_types = det;

						this.$store.dispatch('setSymbol', {type: 'Forex', name: 'EURUSD', skipframe: true});

						//setting symbols for market/asset selections
						this.identifySymbolTypes(data.data['types']); //pairing each symbol with its api and passing it to the datafeed

						this.$store.state.loading_symbols = false;
						this.$store.state.loading_chart = false;

						if (symbols.length > 0) {
							this.$store.state.available_trade_times = data.data['timing']
						}

						setTimeout(() => {
							this.initialiseChart();
						}, 500);
					})
					.catch((error) => {
						this.$store.state.loading_symbols = false;
						this.$store.state.loading_chart = false;
						console.log(error);
					});
			},
			identifySymbolTypes(data) {
				var symbolsApi = {};
				data.forEach((type) => {
					type.assets.forEach((asset) => {
						var asset_type = {...type};
						delete asset_type.assets;
						symbolsApi[asset.base_asset + '/' + asset.quote_asset] = asset_type;
					});
				});

				// Saving it in the datafeed files so as to have access to the symbols and their apis in the datafeeds
				this.data_feed.setTradingData('symbols_and_type', symbolsApi);
			},
		},
		mounted() {
			// if(this.user.is_demo){
			// window.$("#createAccount").modal('show');
			// }
		},
		created() {
			// this.$store.state.chart_ready = false; 
			this.getSymbols();
			this.initialiseEmitter();
		},
	}
</script>

<style scoped lang="scss">
	.market-holder{
		// position: absolute;
		width: 100%;
	}
	.chartFrame{
		height: 100%;
	}
	@media(max-width: 600px){
		.frame-holder{
			padding-bottom: 10px;
			padding-top: 10px;
			padding-left: 5px;
		}
		.mob-none{
			display: none;
		}
		.trd-lower-btn .new-option{
			padding: 9px;
		}
		.trd-per{
			font-size: 12px;
			display: block;
			width: 60px;
		}
	}
	@media(max-height:370px){
		.profit-tab{
			display: none;
		}
		.frame-holder{
			margin-top: 5px;
			margin-bottom: 5px;
			margin-left: 5px;
			font-size: 10px;
		}
	}
	.sell-option-modal-wrapper {
		position: absolute;
		top: 0;
		right: 0px;
		transform: scale(0.7);

		@media (max-width: 600px) {
			transform: scale(1);
			margin: auto;
			position: absolute;
			top: 0px;
			bottom: 0;
			background: #00000087;
			left: 0;
			right: 0;
			z-index: 99999;
		}

		.sell-option-inner {
			background: #00182e;
			width: 653px;
			transform: scale(0.9);


			@media (max-width: 600px) {
				width: unset !important;
				max-width: 653px;
				position: absolute;
				top: 0;
				bottom: 0;
				margin: auto;
				height: fit-content;
				left: 0;
				right: 0;
			}

			.sell-option-header {
				display: flex;
				justify-content: space-between;
				padding: 14px;
				background: #00182e;
			}

			.sell-op-h6 {
				color: white;
				text-transform: uppercase;
				font-weight: 600;
				font-size: 15px;
				margin-bottom: 0;
			}

			i {
				color: #93959e;
				font-size: 22px;
				font-weight: bold;
			}
		}

		.sell-option-table {
			padding: 0px 19px;

			.table td,
			.table th {
				padding: 16px 10px;
			}
			.table-dark {
				background-color: #00182e;
			}

			.table-dark td,
			.table-dark th,
			.table-dark thead th {
				border: none;
				border-top: 1px solid #454d55;
			}
			.s-bt {
				border-color: 0px !important;
				border-top: none !important;
				font-weight: 100;
				font-size: 18px;
				color: #93959e;
				letter-spacing: 1px;
			}

			tbody {
				tr {
					td {
						font-weight: 400 !important;
						font-size: 16px !important;
						color: white !important;
						// letter-spacing: 1px;

						i.fa-play.win {
							font-size: 10px;
							transform: rotate(31deg);
							color: #28a745;
							padding-right: 9px;
							margin-top: 10px;
						}

						i.fa-play.loose {
							font-size: 10px;
							transform: rotate(-31deg);
							color: red;
							padding-right: 9px;
							margin-top: 10px;
						}

						.sp-red {
							color: #bc1b1f !important;
							font-weight: 600 !important;
						}

						.sp-white {
							color: white !important;
							font-weight: 600 !important;
						}
					}
				}
			}
		}

		.sell-foot-btn {
			background: #00182e;
			width: fit-content;
			margin-left: auto;
			margin-right: 17px;
			

			.btn {
				font-weight: 500;
				font-size: 14px;
				margin-bottom: 30px;
				margin-top: 20px;
				margin-right: auto;
				height: auto;
				text-transform: capitalize;
				background: #fb3c24;
				border-color: #fb3c24;
				color: white;
			}
		}
	}
</style>
<style scoped lang="scss">
	.new-option {
		background: orange;
		text-align: center;
		height: unset;
		padding: 24px 10px;
		border-radius: 3px;
		display: block;
		font-size: 17px;
	}
	.new-option .trd-per {
		text-transform: uppercase;
		font-size: 15px;
	}
	.new-option .fa-plus {
		display: block;
		color: white;
		font-size: 17px;
		margin-bottom: 10px;
	}
	.og-trade-box {
		position: absolute;
		top: 1px;
		right: 0px;
		display: flex;
		padding: 10px 10px;
		background: #141822;
	}
	.on-going-trade {
		margin-right: 15px;
	}
	.on-going-trade.grey {
		color: gray;
	}
	.on-going-trade b {
		display: block;
		font-size: 16px;
		font-weight: 200;
	}
	.on-going-trade b .fas {
		font-size: 10px;
	}
	.on-going-trade small {
		display: block;
	}
	.on-going-trade button {
		padding: 3px 25px;
		font-size: 12px;
		background: #47ae7a;
		border-radius: 3px;
		color: white;
		font-weight: 600;
	}
	.og-red {
		color: #ef5351 !important;
	}
	.og-green {
		color: #27a69a !important;
	}
	::-webkit-scrollbar {
		width: 5px;
	}
	::-webkit-scrollbar-track {
		background: #f1f1f1;
	}
	::-webkit-scrollbar-thumb {
		background: #053f73;
	}
	::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
	.submit-loader {
		margin: 0;
		color: black;
	}
	#alert {
		position: fixed;
		z-index: 999999;
		display: flex;
		justify-content: space-between;
		min-width: 150px;
		height: 65px;
		width: 100px;
		padding: 10px 10px !important;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
		margin: auto !important;
	}
	.alert-content {
		padding: 0px 5px;
	}
	.alert-content h5 {
		font-size: 17px;
		font-weight: 600;
	}
	.trade-panel {
		/* position: absolute; */
		/* z-index: 9999999; */
		/* right: 210px; */
		display: flex;
		/* top: 50px; */
		background: #121524;
		padding: 10px;
		border-radius: 2px;
		border: 1px solid white;
		transition: all 1s ease-in-out;
	}
	.trade-panel.active {
		background: white !important;
	}
	.det {
		margin-right: 15px;
		color: black;
		font-weight: 600;
	}
	.det h5 {
		font-size: 15px;
		font-weight: 600;
	}
	.det p {
		margin: 0 !important;
		font-size: 9px;
		font-weight: 700;
	}
	.det.waiting {
		color: #4d4d4d;
	}
	.timer {
		color: white !important;
		font-size: 15px;
		font-weight: 600;
	}
	.timer p {
		font-size: 11px;
	}
	.timer.losing,
	.timer.winning {
		color: #db4931 !important;
		font-size: 17px !important;
	}
	.profit.losing h5 {
		color: #db4931 !important;
		font-size: 17px;
		font-weight: 600;
	}
	.profit.winning h5 {
		color: #3da54f !important;
		font-size: 17px;
		font-weight: 600;
	}
</style>

<style lang="scss">
	.purchase-time-count.value {
		color: #55bd51;
	}
	.trd {
		text-decoration: none;
		color: #ccbbed;
	}
	.trd:hover {
		text-decoration: none;
		color: white;
	}
	.fadeout {
		opacity: 0;
	}
	.ciq-search {
		display: none;
	}
	.ciq-night {
		background: transparent !important;
	}
	#dashboard-footer[data-v-62bc36b2] {
		margin-top: 30px;
	}

	.trading-details-wrapper {
		margin-left: 10px;
		.trd-flex-con {
			display: flex;
			justify-content: space-between;
		}
		.trade-up {
			margin-right: 0.5rem;
		}
	}
	.trading-pur-amt .trd-amt-con {
		display: flex;
		align-items: center;
	}
	.trd-purchase-time-wrapper {
		border-radius: 4px;
	}

	.trading-purchase-time {
		/*background: ;*/
		border-radius: 6px;
		margin-bottom: 10px;
		padding: 10px 7px;
		border: 1px solid #7f6e9e;
		.trd-purchase-time-wrapper {
			margin-top: 10px;
		}
		.purchase-time-counter {
			font-size: 20px;
			line-height: 22px;
			font-weight: 600;
		}
	}

	.trd-purchase-title {
		display: flex;
		align-items: center;
	}

	.trd-purchase-title {
		font-size: 12px;
		text-align: center;
		margin-bottom: 4px;
		font-weight: 600;
		color: #cbcbcb;
		span {
			margin-left: 10px;
		}
	}

	.trd-purchase-time-box {
		display: flex;
		justify-content: space-between;
	}

	.trd-purchase-time-control {
		display: flex;
		border-top: 1px solid #282f43;
	}

	.trd-purchase-time-value,
	.purchase-time-count {
		font-size: 22px;
		line-height: 22px;
		font-weight: 600;
		text-align: left;
		color: #ccbbed;
	}

	.trd-purchase-flag-icon {
		border-right: 1px solid #282f43;
		flex: 1;
		text-align: center;
	}
	.trd-amount-time {
		font-size: 18px;
		line-height: 22px;
		padding: 10px 6px;
		width: 100px;
	}

	.trd-amount-time input {
		width: 100%;
		font-size: 18px;
		font-weight: 700;
		padding-left: 5px;
		padding-top: 1px;
	}

	.strike-price {
		i {
			color: #cbcbcb;
		}
		text-align: center;
	}

	.trd-lower-btn {
		height: 66px;
		display: block;
		padding: 5px 14px;
		font-size: 16px;
		line-height: 18px;
		color: #b81900 !important;
		background: linear-gradient(#ff3e1f, #f1372e) 0;
		border-radius: 4px;
		text-align: center;
		cursor: pointer;
	}
	.trd-per {
		color: white;
		font-size: 20px;
		font-weight: 700;
		margin-top: 10px;
	}

	.trd-btn-up {
		color: #2e7924 !important;
		background: -webkit-gradient(linear, left top, left bottom, from(#4fc83d), to(#3da44f)) 0;
		background: linear-gradient(#4fc83d, #3da44f) 0;
		cursor: pointer;
	}

	.trd-switch-btn {
		/*height: 40px;*/
		width: 100%;
		overflow: hidden;
		display: block;
	}

	.trd-switch-item1 {
		/*display: flex;*/
		height: 40px;
		/*justify-content: space-between;*/
		/*align-items: center;*/
	}

	.trd-switch-item1 .fa-arrow-down {
		font-size: 22px;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
	}

	.trd-switch-item1 .fa-arrow-up {
		font-size: 22px;
		-webkit-transform: rotate(45deg);
		transform: rotate(45deg);
	}

	.trd-switch-item2 {
		/*align-items: center;*/
		height: 40px;
		font-size: 13px !important;
		/*display: flex;*/
		-webkit-box-align: center;
	}

	.trd-btn-amt {
		border-bottom: 1px dashed;
		cursor: help;
		text-align: center;
	}

	.fadeout {
		opacity: 0;
	}
	.ciq-search {
		display: none;
	}
	.ciq-night {
		background: transparent !important;
	}

	#loader {
		position: absolute;
		width: 100px;
		height: 100px;
		margin: auto;
		top: 0%;
		bottom: 40%;
		left: 0;
		right: 0;
	}
	.trinity-rings-spinner,
	.trinity-rings-spinner * {
		box-sizing: border-box;
	}

	.trinity-rings-spinner {
		height: 66px;
		width: 66px;
		padding: 3px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: row;
		overflow: hidden;
		box-sizing: border-box;
	}
	.trinity-rings-spinner .circle {
		position: absolute;
		display: block;
		border-radius: 50%;
		border: 3px solid #dbdcde;
		opacity: 1;
	}

	.trinity-rings-spinner .circle:nth-child(1) {
		height: 60px;
		width: 60px;
		animation: trinity-rings-spinner-circle1-animation 1.5s infinite linear;
		border-width: 3px;
	}
	.trinity-rings-spinner .circle:nth-child(2) {
		height: calc(60px * 0.65);
		width: calc(60px * 0.65);
		animation: trinity-rings-spinner-circle2-animation 1.5s infinite linear;
		border-width: 2px;
	}
	.trinity-rings-spinner .circle:nth-child(3) {
		height: calc(60px * 0.1);
		width: calc(60px * 0.1);
		animation: trinity-rings-spinner-circle3-animation 1.5s infinite linear;
		border-width: 1px;
	}

	@media(max-width:360px){
		.trd-lower-btn{
			padding: 0 !important;
		}
		
	}
	#tv_chart_container{
		height: 100%;
	}
	@media only screen and (max-width: 600px) {
		.og-trade-box {
			position: absolute;
			top: unset !important;
			right: 0px;
			left: 0px;
			display: flex;
			padding: 10px 10px;
			background: #141822;
			bottom: 55px;
			text-align: center;
			background: #001020 !important;
			margin-bottom: 5px;
			justify-content: space-around;
		}
		.on-going-trade b{
			font-size: 14px !important;
		}
		.on-going-trade small{
			font-size: 9px !important;
		}
		#tv_chart_container {
			height: calc(100vh - 240px) !important;
		}
		.trading-d-sm {
			margin: 0;
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
			background: #001426;
			width: 100%;
			justify-content: center;
			padding: 14px 0;
			display: flex;

			.trading-details-row3-inner {
				display: flex;
				justify-content: space-between;
				align-items: center;
				.trd-amt{
					width: 51px;
					font-size: 16px !important;
				}
				.active-trade-class {
					display: flex;
					justify-content: flex-start;
					flex-wrap: wrap;

					.flex-width-50 {
						// width: 46%;
						// max-width: 138px;
						max-height: 68px;
						overflow: hidden;
						margin-right: 4px;
					}
				}
				.trd-single-con {
					margin-right: 10px;
				}
				.trd-flex-con {
					display: flex;
					// width: 30%;
					margin-left: 0px;
				}
				.mob-dir-icon{
					display:block;
				}
				.trd-lower-btn {
					border-radius: 2px;
					padding:0 9px;
					max-height:59px;
					display:flex;
					align-items:center;
				}
				.trading-purchase-time {
					margin-bottom: 0;
					border-radius: 3px;
					border-color: #00213d !important;
					.trd-purchase-time-wrapper {
						margin-top: 0px;
					}
				}

				.invest-time {
					margin-bottom: 0;
				}
				.trd-amt-mast {
					margin-bottom: 0;
				}
				.trade-up {
					margin-right: 5px;
					margin-bottom: 0;
				}
				.trading-pur-amt {
					padding: 10px 7px 7px 10px;
				}
				.trd-amt {
					height: 25px;
				}
				.trading-pur-amt .trd-amt-con {
					align-items: flex-start;
				}
				.trd-per{
					font-size: 14px !important;
					margin-top: 0px;
				}
				.mob-yl{
					width: 100%;
				}
				.trd-per.n-opt{
					width: 100%;
					padding: 0px 2px 6px 0px;
				}
				.trd-flex-con.nw-option{
					flex:1;
				}
				.new-option .fa-plus{
					margin-bottom: 4px !important;
					margin-top: 4px !important;
				}
				.new-option .fa-plus{
					// margin-bottom: 0 !important;
					// font-size: 15px;
					// margin-bottom: 3px;
				}
			}
			.trading-details-inner {
				width: 100%;
			}
		}
		.d-none-sm-page {
			display: none !important;
		}
		.white-space-wrap {
			white-space: pre-wrap;
		}
		.new-option {
			padding: 20px 10px;
		}
		.new-option .trd-per {
			font-size: 14px;
			margin-top: 0;
		}
	}
	@media only screen and (max-width: 400px) {
		.trading-d-sm .trading-details-row3-inner .trd-lower-btn{
			padding: 0;
		}
	}
	@media only screen and (max-width: 600px) {
		.trading-d-sm {
			padding: 8px 0;
			background: #00101f;
			.trading-details-inner {
				width: 100%;
			}
			.trading-details-row3-inner {
				.trd-flex-con {
					margin-left: 0px;
				}
				.trd-single-con {
					margin-right: 6px;
				}
				.trading-purchase-time {
					padding: 5px 7px;
				}
				.active-trade-class {
					justify-content: flex-start;
				}
				.trading-pur-amt {
					padding: 5px 7px 3px 10px;
				}
				.trd-purchase-time-value,
				.purchase-time-count {
					font-size: 16px;
				}
				.trd-purchase-title{
					// display: none;
				}
				.trd-purchase-title span {
					margin-left: 5px;
					font-size: 10px ;
				}
				.trd-switch-item1 {
					.trd-switch-item1-iiner {
						margin-right: 0;
					}
					.fa-arrow-down {
						font-size: 21px;
					}
					.fa-arrow-up {
						font-size: 21px;
					}
				}
				.trading-al-icon {
					padding: 0px 6px;
				}
				.trd-per {
					font-size: 16px;
				}
			}
		}
	}
	@media (max-width: 375px) {
		.trd-switch-item1-iiner {
			display: block !important;
		}
	}

	@keyframes trinity-rings-spinner-circle1-animation {
		0% {
			transform: rotateZ(20deg) rotateY(0deg);
		}
		100% {
			transform: rotateZ(100deg) rotateY(360deg);
		}
	}
	@keyframes trinity-rings-spinner-circle2-animation {
		0% {
			transform: rotateZ(100deg) rotateX(0deg);
		}
		100% {
			transform: rotateZ(0deg) rotateX(360deg);
		}
	}
	@keyframes trinity-rings-spinner-circle3-animation {
		0% {
			transform: rotateZ(100deg) rotateX(-360deg);
		}
		100% {
			transform: rotateZ(-360deg) rotateX(360deg);
		}
	}
</style>
