<template>
    <div id="loading">
        <div class="load" :style="'border-top:2px solid '+color"></div>
        <span>{{text}}</span>
    </div>
</template>

<script>
export default {
    props:['color','text']
}
</script>

<style scoped>
    #loading{
        display: flex !important;
        align-items: center !important;
        margin: 0;
        padding: 0;
    }
    span{
        margin-left: 5px;
    }
    .load{
        width: 23px;
        height: 23px;
        border: 2px solid transparent;
        border-radius: 50%;
        /* border-top: 2px solid white; */
        animation: roll .45s infinite linear;
    }
    @keyframes roll {
        0%{
            transform: rotate(0deg);
        }
        100%{
            transform: rotate(360deg);
        }
    }
</style>