<template>
  <div class="row">
    <div :class="notification.type == 1 ? 'active col-11 m-auto alert-success text-center notify py-2 mx-0':'col-11 m-auto alert-success text-center notify py-2 mx-0'" >
      <b style="font-weight: 400;" v-html="notification.message"></b>
    </div>
    <div :class="notification.type == 2 ? 'active col-11 m-auto alert-danger text-center notify py-2 mx-0':'col-11 m-auto alert-danger text-center notify py-2 mx-0'" >
      <b style="font-weight: 400;" v-html="notification.message"></b>
    </div>
  </div>
</template>
<script>
import {mapState} from 'vuex';

export default {
  name: 'notification',
  computed: {
    ...mapState({
      notification: (state) => state.notification,
    }),
  },
};
</script>
<style scoped>
  .notify.active{
    right: 0px;
  }
  .notify {
    padding: 8px;
    position: fixed;
    right: 0;
    max-width: 330px;
    width: auto;
    min-width: 240px;
    top: 30px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    right: -100%;
    transition: all .3s linear;
    z-index: 999999999;
    box-shadow: 0px 0px 4px grey;
  }
  b{
    padding: 8px 10px;
    display: block;
    text-transform: capitalize;
    text-align: left;
    font-weight: 600 !important;
  }
</style>
