<template>
  <div id="loadercover">
    <div class="loader-container">
        <loader />
    </div>
  </div>
</template>

<script>
import loader from '../layout/loader.vue';
export default {
    components: { loader },
    created() {
        var token = this.$route.params.token;
        this.$store.state.token = token;
        var endpoint = this.$store.state.endpoint;
        endpoint=endpoint.replace('v1','');
        this.$store.dispatch('post', {
            endpoint:'/update-profile',
            details:{}
        })
        .then((data)=>{
            if (data.data.status) {
                var local_user = {
                    user: data.data.data,
                    token: token,
                };
                this.$store.commit('setUser', local_user);
                window.location.href = '/dashboard/trade-room';
            } else {
                window.location.href = '/login';
            }
        })
        .catch((error)=>{
            window.location.href = '/login';
        });
    },
}
</script>

<style>
    #loadercover{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: black;
        z-index: 999;
        text-align: center;
    }
    .loader-container{
        width: fit-content !important;
        height: fit-content;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
</style>