<template>
    <div class="affiliate_nav_dropdown">
        <div class="dropdown">
            <p class="affiliate_nav_drop mb-0" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img :src="languages[currentLanguage].icon" alt="" />
                <span class="affiliate_nav_title">{{ languages[currentLanguage].name }}</span>
            </p>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <ul>
                    <li v-for="(lang, index) in convertLanguage()" :key="index">
                        <a class="dropdown-item" href="javascript:void(0)" @click="changeLanguage(lang.code)">
                            <img :src="lang.icon" alt=""  class="affiliate-lang-img"/>
                            <span class="affiliate_nav_title">{{ lang.name }}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>
<script>
import {mapState} from 'vuex';

export default {
  computed: {
    ...mapState({
      currentLanguage: (state) => state.language,
    }),
  },

  data() {
    return {
      languages: {
        en: {
          icon: 'https://images.vexels.com/media/users/3/163965/isolated/preview/5bb2c926d53cc59030477ec3ecb6d26a-england-flag-language-icon-by-vexels.png',
          name: 'US',
        },
        kr: {
          icon: 'https://icons.iconarchive.com/icons/custom-icon-design/flag-3/256/Korea-Flag-icon.png',
          name: 'Korea',
        },
      },
    };
  },
  methods: {
    convertLanguage() {
      var list = [];
      for (var lang in this.languages) {
        var temp = this.languages[lang];
        temp.code = lang;
        list.push(temp);
      }
      list = list.filter((lg) => lg.code != this.currentLanguage);
      return list;
    },

    changeLanguage(language) {
      localStorage.setItem('language', language);
      window.location.reload();
    },
  },

  created() {
    this.convertLanguage();
  },
};
</script>
<style>
    .affiliate_nav_drop img{
        width: 35px;
        height: auto;
    }
    .affiliate_nav_drop{
        cursor: pointer;
    }
    .affiliate-lang-img{
        width: 20px;
        height: auto;
    }
    .affiliate_nav_dropdown .affiliate_nav_title{
        font-size: 15px;
        color: #013134;
        font-family: Campton;
        font-weight: 500;
    }
    .affiliate_nav_drop .affiliate_nav_title{
      margin-left: 8px !important;
    }
    @media(max-width:768px){
      .affiliate_nav_drop .affiliate_nav_title{
        margin-left: 1px !important;
        font-size: 12px !important;
      }
    }

</style>