<template>
	<div>
		<div class="lang d-flex align-items-center dropdown-toggle justify-content-center" data-toggle="dropdown">
			<span class="img-wrapper">
				<img :src="languages[currentLanguage].icon" alt="" width="50%" />
			</span>
			<span class="ml-1 flag-display_name">{{ languages[currentLanguage].name }}</span>
		</div>
		<div class="dropdown-menu lang-dropdown">
			<div class="row mx-0">
				<div class="col-4 px-0 mb-2" v-for="(lang, index) in convertLanguage()" :key="index">
					<div class="flag">
						<a href="javascript:void(0)" @click="changeLanguage(lang.code)" class="flag-item d-flex align-items-center">
							<div class="flag-img">
								<img :src="lang.icon" alt="" />
							</div>
							<span class="flag-name">{{ lang.name }}</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
	import {mapState} from 'vuex';

	export default {
		computed: {
			...mapState({
				currentLanguage: (state) => state.language,
			}),
		},

		data() {
			return {
				languages: {
					en: {
						icon: '/assets/img/country-flags/US.png',
						name: 'English',
					},
					hi: {
						icon: '/assets/img/country-flags/in.png',
						name: 'Hindi',
					},
					kr: {
						icon: '/assets/img/country-flags/KR.png',
						name: 'Korea',
					},
					jp: {
						icon: '/assets/img/country-flags/JP.png',
						name: 'Japan',
					},
					cn: {
						icon: '/assets/img/country-flags/CN.png',
						name: 'china',
					},
					rm: {
						icon: '/assets/img/country-flags/rm.png',
						name: 'Romania',
					},
					pt: {
						icon: '/assets/img/country-flags/pt.png',
						name: 'Portugues',
					},
					es: {
						icon: '/assets/img/country-flags/ES.png',
						name: 'espanol',
					},
					it: {
						icon: 'https://cdn.countryflags.com/thumbs/italy/flag-square-250.png',
						name: 'italiano',
					},
					fr: {
						icon: '/assets/img/country-flags/fr.png',
						name: 'France',
					},
					in: {
						icon: '/assets/img/country-flags/in1.png',
						name: 'Indonesia',
					},
					ge: {
						icon: '/assets/img/country-flags/gr.png',
						name: 'Deutsch',
					},
					ar: {
						icon: '/assets/img/country-flags/ar.png',
						name: 'Arabic',
					},
				},
			};
		},
		methods: {
			convertLanguage() {
				var list = [];
				for (var lang in this.languages) {
					var temp = this.languages[lang];
					temp.code = lang;
					list.push(temp);
				}
				list = list.filter((lg) => lg.code != this.currentLanguage);
				return list;
			},

			changeLanguage(code) {
				localStorage.setItem('language', code);
				window.location.reload();
			},
		},

		created() {
			this.convertLanguage();
		},
	};
</script>
<style lang="scss" scoped>
	.flag {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;

		a {
			display: inline-block;
			height: auto;

			&:hover {
				color: #013134;
				opacity: 1;
			}
		}
	}

	.flag-img {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		overflow: hidden;
		box-shadow: 0px 0px 5px 1px #80808057;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			// height: 30px;
		}
	}

	.flag-display_name {
		text-transform: capitalize;
	}

	.flag-name {
		font-size: 12px;
		text-transform: capitalize;
	}

	.img-wrapper {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		overflow: hidden;
		box-shadow: 0px 0px 3px grey;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.lang-dropdown {
		max-width: 400px;
		height: auto;
		left: 0 !important;
	}
</style>
