<template>
    <div class="affiliate-login">
        <div class="login-bg">
            <div class="row login-bg-row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="login-text-wrapper">
                        <h2 class="login-txt-h2">
                            <span class="green-txt-h2">{{ $t('affiliate.banner_text_1') }} </span>
                            <span class="purple-txt-h2">{{ $t('affiliate.banner_text_2') }} </span>
                            <span class="green-txt-h2">{{ $t('affiliate.banner_text_3') }} </span>
                        </h2>
                        <div class="login-inner-txtWrapper">
                            <div class="login-inner-txt">
                                <i class="fa fa-play login-forward-icon"></i>
                                <div class="login-txt">
                                    <h6 class="login-txt-title">
                                       {{ $t('affiliate.banner_title_login_1') }} 
                                    </h6>
                                    <p class="login-txt-p">
                                       {{ $t('affiliate.banner_text_login_1') }} 
                                    </p>
                                </div>
                            </div>
                            <div class="login-inner-txt">
                                <i class="fa fa-play login-forward-icon"></i>
                                <div class="login-txt">
                                    <h6 class="login-txt-title">
                                        {{ $t('affiliate.banner_title_login_2') }}
                                    </h6>
                                    <p class="login-txt-p">
                                         {{ $t('affiliate.banner_text_login_2') }}
                                    </p>
                                </div>
                            </div>
                            <div class="login-inner-txt">
                                <i class="fa fa-play login-forward-icon"></i>
                                <div class="login-txt">
                                    <h6 class="login-txt-title">
                                        {{ $t('affiliate.banner_title_login_3') }}
                                    </h6>
                                    <p class="login-txt-p">
                                         {{ $t('affiliate.banner_text_login_3') }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="login-form-wrapper">
                        <h2 class="login-form-title">{{ $t('affiliate.login') }}</h2>
                        <div class="login-links-wrapper">
                            <a href="#" class="btn fg-link mr">
                                <i class="fab fa-facebook login-fac"></i>
                                <span class="ml-2">{{ $t('affiliate.login_fb') }}</span>
                            </a>
                            <a href="#" class="btn fg-link ml">
                                <img src="../../../assets/google2.png" alt="" class="fg-icon" />
                                <span class="ml-2">{{ $t('affiliate.login_g') }}</span>
                            </a>
                        </div>
                        <div class="form-divider mt-2 mb-2">
                            <span class="or">{{ $t('affiliate.login_or') }}</span>
                        </div>
                        <form @submit.prevent="loginUser()">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email" v-model="user.email" />
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="Password" v-model="user.password" />
                            </div>
                            <div class="form-group form-check">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1" />
                                <div class="fg-label">
                                    <label class="form-check-label" for="exampleCheck1">{{ $t('affiliate.login_fp') }}</label>
                                    <router-link to="/affiliate/forgot-password" class="login-forgot-password">. . . {{ $t('affiliate.login_rem') }}</router-link>
                                </div>
                            </div>
                            <button class="btn login-form-btn mb-3">
                                <span v-if="!loading">{{ $t('affiliate.sign_in_btn') }}</span>
                                <span class="loading-gif" v-else>{{ $t('affiliate.Authorizing') }}...</span>
                                <!-- LOG IN -->
                            </button>
                            <p class="register-link">
                                {{ $t('affiliate.not_yet') }}? <router-link to="/affiliate/register"><span class="login-signup">{{ $t('affiliate.sign_up_alt') }}</span></router-link>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main -->
        <!-- <div class="container-fluid p-0 affiliate_login_main">
      <div class="row">
        <div class="col-lg-8  col-sm-12 affiliate_text_wrapper">
          <h1 class="affiliates_header">
            {{$t('affiliate.affiliates_header')}}
          </h1>
          <div class="affiliate_hero_section">
            <div class="affiliate_hero_text">
              <p> {{$t('affiliate.affiliate_hero_text1')}} </p>
              <p>{{$t('affiliate.affiliate_hero_text2')}}</p>
              <p>{{$t('affiliate.affiliate_hero_text3')}}</p>
              <p>{{$t('affiliate.affiliate_hero_text4')}}</p>
              <p>{{$t('affiliate.affiliate_hero_text5')}}</p>
            </div>
            <img src="../../../assets/img/help/iphoneview.png" alt="" />
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="affiliate_login_form">
            <form @submit.prevent="loginUser">
              <div class="affiliate_form_header">
                <h6>{{$t('affiliate.Sign_in')}}</h6>
              </div>
              <div class="form-fields">
                <label class="label" for="email">{{$t('affiliate.E-mail')}}</label>
                <div class="form-group">
                  <input type="email" v-model="user.email" class="form-control affiliate_fm" />
                  <i class="fa fa-user affiliate_form_icon"></i>
                </div>
                <label class="label" for="password">{{$t('affiliate.Password')}}</label>
                <div class="form-group">
                  <input type="password" v-model="user.password" class="form-control affiliate_fm" />
                  <i class="fa fa-lock affiliate_form_icon"></i>
                </div>
                <div class="form-group">
                  <label for="" class="chackbox-label">
                    <router-link to="/affiliate/reset-password">{{$t('affiliate.Forgot_your_password')}}</router-link>
                  </label>
                </div>
              </div>
              <div class="affiliate_form_footer">
                <router-link to="/affiliate/register">{{$t('affiliate.Not_yet_registered')}}</router-link>
                <button type="submit" class="btn btn-primary">
                  <span v-if="!loading">{{$t('affiliate.Sign_in')}}</span>
                  <span class="loading-gif" v-else>{{$t('affiliate.Authorizing')}}...</span>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="row affiliate_footer_wrapper">
        <div class="col-md-4">
          <h5 class="affiliate_footer_h5">{{$t('affiliate.footer_h5')}}</h5>
          <p class="affiliate_footer_p">{{$t('affiliate.footer_p1')}}</p>
        </div>
        <div class="col-md-4">
          <h5 class="affiliate_footer_h5">{{$t('affiliate.footer_p2')}}</h5>
          <p class="affiliate_footer_p">{{$t('affiliate.footer_p3')}}</p>
        </div>
        <div class="col-md-4">
          <h5 class="affiliate_footer_h5">{{$t('affiliate.footer_p4')}}</h5>
          <p class="affiliate_footer_p">{{$t('affiliate.footer_p5')}}</p>
        </div>
      </div>
    </div> -->
    </div>
</template>

<script>
import {mapState} from 'vuex';
// import affiliateLanguage from '../../public/extra_components/affiliate_select_language'
export default {
    //   components:{
    //     affiliateLanguage
    //   },
    computed: {
        ...mapState({
            loading: (state) => state.loading,
        }),
    },

    data() {
        return {
            user: {
                email: '',
                password: '123456',
            },
        };
    },

    methods: {
        loginUser() {
            this.$store.commit('setLoading', true);
            this.$store
                .dispatch('post', {endpoint: '/affiliate/login', details: this.user})
                .then((res) => {
                    this.$store.commit('setLoading', false);
                    if (res.data.status) {
                        res.data.user.affiliate = true;
                        this.$store.commit('setUser', res.data);
                        this.$router.push('/affiliate/dashboard');
                    } else {
                        this.$store.commit('setNotification', {
                            type: 2,
                            msg: res.data.msg,
                        });
                    }
                })
                .catch((error) => {
                    this.$store.commit('setLoading', false);
                    this.$store.dispatch('handleError', error);
                });
        },
    },
};
</script>

<style lang="scss" scoped>
input:active,
input:focus,
button:focus,
button:active,
a:focus {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

a{
    text-decoration: none !important;
}

.login-bg {
    background-image: url('../../../assets/hero-bg.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 77vh;
    display: flex;
    justify-content: center;

    .login-bg-row {
        width: 70%;
        margin: auto;
    }
}

.login-text-wrapper {
    .login-txt-h2 {
        font-size: 32px;
        font-weight: 700;
        width: 355px;

        .green-txt-h2 {
            color: #049cb1;
        }

        .purple-txt-h2 {
            color: #5049b5;
        }
    }

    .login-inner-txtWrapper {
        margin-top: 48px;
        width: 320px;

        .login-inner-txt {
            display: flex;
            margin-bottom: 23px;
        }

        .login-forward-icon {
            color: #049cb1;
            font-size: 14px;
            padding: 5px 0px;
        }

        .login-txt {
            margin-left: 30px;
        }

        .login-txt-title {
            font-size: 17px;
            font-weight: 700;
            color: #2c2c2c;
        }

        .login-txt-p {
            color: #949494;
            font-size: 15px;
            font-weight: 500;
            line-height: 1.4;
        }
    }
}

.affiliate-login {
    padding: 70px 0px 50px;
    font-family: 'Campton';
}

.login-form-wrapper {
    border: 1px solid #049cb1;
    padding: 65px 70px;
    background: white;
    margin-left: 20px;
    border-radius: 16px;
    width: 475px;

    .login-form-title {
        font-size: 19px;
        font-weight: 700;
        color: #424242;
    }

    .login-links-wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;

        .fg-link {
            font-size: 11px;
            background: #f3f3ff;
            border-radius: 5px;
            font-weight: 600;
            width: 45%;
            text-align: center;
            display: flex;
            justify-content: center;
        }

        .login-fac {
            color: blue;
            font-size: 17px;
        }

        .fg-icon {
            width: 17px;
        }
    }

    .form-group {
        .form-control {
            height: 52px;
            border: 1px solid #049cb1;
        }

        .form-check-label {
            color: #c4c4c4;
            font-size: 14px;
            width: unset;
        }

        .form-check-input {
            margin-top: 0.4rem;
        }
    }

    .login-form-btn {
        width: 100%;
        color: white;
        background: #049cb1;
        border-radius: 5px;
        font-weight: 600;
        font-size: 14px;
        padding: 12px 0;
    }
}

.form-divider {
    text-align: center;

    .or {
        color: #e0e0e0;
    }
}

.or::before {
    content: '';
    display: flex;
    margin-top: 12px;
    border-top: 1px solid #b8b4f0;
    position: absolute;
    width: 30%;
}

.or::after {
    content: '';
    display: inline;
    margin-top: 12px;
    border-top: 1px solid #b8b4f0;
    position: absolute;
    margin-left: 22px;
    width: 30%;
}

.login-forgot-password {
    font-size: 11px;
}

.fg-label {
    display: flex;
    justify-content: space-between;
    padding-top: 3px;
}

.register-link {
    text-align: center;
    font-size: 13px;
}

.login-signup {
    color: #000000;
    font-weight: 500;
}

.login-signup:hover {
    color: #000;
    text-decoration: none;
}

.register-link a {
    text-decoration: none;
}

@media screen and (max-width: 1300px) {
    .login-form-wrapper {
        margin-left: 0px;
        width: unset;
        padding: 55px 37px;
    }

    .login-bg .login-bg-row {
        width: 75%;
    }
}

@media screen and (max-width: 999px) {
    .login-bg .login-bg-row {
        width: 99%;
    }
}

@media screen and (max-width: 767px) {
    .login-text-wrapper .login-inner-txtWrapper {
        width: 100%;
    }

    .login-bg .login-bg-row {
        width: 77%;
    }
}

@media screen and (max-width: 600px) {
    .login-bg .login-bg-row {
        width: 100%;
    }

    .login-form-wrapper {
        margin-left: 0px;
        width: unset;
        padding: 37px 19px;
    }

    .login-text-wrapper .login-txt-h2 {
        font-size: 26px;
        width: 100%;
    }

    .login-text-wrapper .login-inner-txtWrapper .login-forward-icon[data-v-7561d556] {
        font-size: 11px;
    }

    .login-text-wrapper .login-inner-txtWrapper .login-txt-p[data-v-7561d556] {
        font-size: 14px;
    }

    .login-text-wrapper .login-inner-txtWrapper .login-txt-title[data-v-7561d556] {
        font-size: 16px;
    }

    .login-form-wrapper .login-form-title[data-v-7561d556] {
        font-size: 17px;
    }

    .login-text-wrapper .login-inner-txtWrapper {
        margin-top: 32px;
        margin-bottom: 32px;
    }

    .login-text-wrapper .login-inner-txtWrapper .login-inner-txt {
        margin-bottom: 10px;
    }

    .login-text-wrapper .login-inner-txtWrapper .login-txt {
        margin-left: 20px;
    }

    .login-form-wrapper .form-group .form-check-label {
        color: #c4c4c4;
        font-size: 12px;
        width: unset;
    }

    .login-forgot-password[data-v-7561d556] {
        font-size: 11px;
    }

    .login-text-wrapper .login-inner-txtWrapper .login-txt-p[data-v-6756f132] {
        font-size: 14px;
        margin-bottom: 2px;
    }

    .login-text-wrapper .login-inner-txtWrapper .login-txt-title[data-v-6756f132] {
        font-size: 16px;
    }
}
</style>
