<template>
<!--  <div class="affiliate-login" v-if="tokenVerified">-->
<!--    <div class="affiliate_nav_wrapper">-->
<!--      <nav>-->
<!--        <div class="affiliate_nav_logo">-->
<!--          <img src="../../../assets/img/p2plogo.png" alt="" />-->
<!--        </div>-->
<!--        <affiliateLanguage/>-->
<!--      </nav>-->
<!--    </div>-->

<!--    <div class="container-fluid p-0 affiliate_login_main" id="affiliate_login_main">-->
<!--      <div class="row">-->
<!--        <div class=" col-md-12 ">-->
<!--          <div class="affiliate_login_form" id="affiliate_login_form">-->
<!--            <form @submit.prevent="resetPassword">-->
<!--              <div class="affiliate_form_header">-->
<!--                <h6>{{$t('affiliate.New_Password')}}</h6>-->
<!--              </div>-->
<!--              <div class="form-fields" id="form-fields">-->
<!--                <div class="form-group" id="form-group">-->
<!--                  <label class="label" for="password">{{$t('affiliate.Enter_new_password')}}</label>-->
<!--                  <input type="passoword" v-model="user.password" class="form-control affiliate_fm" />-->
<!--                </div>-->
<!--                <div class="form-group" id="form-group">-->
<!--                  <label class="label" for="password">{{$t('affiliate.Re-enter_password')}}</label>-->
<!--                  <input type="passoword" v-model="user.password_confirmation" class="form-control affiliate_fm" />-->
<!--                </div>-->
<!--                <button type="submit" class="btn btn-primary affiliate-forget-btn">-->
<!--                  <span v-if="!loading">{{$t('affiliate.Reset_Password')}}</span>-->
<!--                  <span class="loading-gif" v-else>{{$t('affiliate.Resseting_Password')}}...</span>-->
<!--                </button>-->
<!--              </div>-->
<!--            </form>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <div class="public-login" v-if="tokenVerified" style="background-image: url('../assets/img/hero-bg.png'); ">
    <div class="pl-layout">
      <div class="pl-reset-h">
        <h5>{{ $t('affiliate.resetting_password') }}</h5>
      </div>
      <div class="pl-form mt-4">
        <form @submit.prevent="resetPassword()">
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Password" v-model="user.password">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Confirm Password" v-model="user.password_confirmation">
          </div>
          <div class="form-group mt-4">
            <button type="submit" class="btn btn-lg btn-submit">
              <span v-if="!loading">{{$t('affiliate.resetting_password_btn')}}</span>
              <span v-else>{{$t('affiliate.resetting_password_btn_loading')}}...</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import {mapState} from 'vuex';

export default {
  computed: {
    ...mapState({
      loading: (state) => state.loading,
    }),
  },

  data() {
    return {
      user: {
        password: '',
        password_confirmation: '',
      },
      tokenVerified: false,
    };
  },
  methods: {
    verifyToken() {
      console.log(this.$route.params.token)
      this.$store
          .dispatch('get', '/affiliate/verify-reset-token?code=' + this.$route.params.token)
          .then((res) => {
            if (res.data.status) {
              this.tokenVerified = true;
            } else {
              this.$store.commit('setNotification', {
                type: 2,
                msg: res.data.msg,
              });
              setTimeout(() => {
                window.location.href = '/affiliate/reset-password';
              }, 2000);
            }
            this.$store.commit('setLoading', false);
          })
          .catch((error) => {
            console.log(error.request);
            if (error.request != null) {
              this.$store.dispatch('handleError', error);
            }
            this.loading = false;
          });
    },

    resetPassword() {
      if (this.user.password.length < 0 || this.user.password_confirmation.length < 0) {
        this.$store.commit('setNotification', {
          type: 2,
          msg: 'ALL fields are required',
        });
        return false;
      }
      this.$store.commit('setLoading', true);
      this.$store
              .dispatch('post', {details: this.user, endpoint: '/affiliate/reset-password?token=' + this.$route.params.token})
              .then((res) => {
                console.log(res.data);
                if (res.data.status) {
                  this.$store.commit('setNotification', {
                    type: 1,
                    msg: res.data.msg,
                  });
                  setTimeout(() => {
                    window.location.href = '/affiliate/login';
                  }, 1500);
                } else {
                  this.$store.commit('setNotification', {
                    type: 2,
                    msg: res.data.msg,
                  });
                }
                this.$store.commit('setLoading', false);
              })
              .catch((err) => {
                this.$store.dispatch('handleError', err);
                this.$store.commit('setLoading', false);
              });
    },
  },

  created() {
    this.verifyToken();
  },


};
</script>

<style scoped lang="scss">
  .public-login{
    font-family: Campton;
    background-size: cover;
    background-position: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    color: #3E3E3E;
    align-items: center;
    .pl-layout{
      background: #fff;
      margin-top: 20px;
      margin-bottom: 20px;
      padding: 60px 40px;
      border-radius: 20px;
      /*height: 620px;*/
      width: 450px;
      box-shadow: -3px 7px 37px -20px rgba(104,110,110,1);
      .pl-reset-h{
        h5{
          font-family: Campton;
          font-size: 23px;
          font-weight: 600;
        }
      }
      .pl-head{
        width: 100%;
      }
      .pl-shield{
        h5{
          font-weight: 700;
          color: #424242;
        }
      }
      .pl-form{
        input.form-control{
          height: 54px;
          border:1px solid #049CB1;
        }
        .btn-submit{
          width: 100%;
          color: white;
          background: #049CB1;
          border-radius: 5px;
          font-weight: 600;
          font-size: 15px;
          padding: 15px 0;
        }
      }
    }
  }
  @media(max-width:576px){
    .pl-layout{
      padding: 80px 18px !important;
      margin:0 17px;
      /*width: 300px !important;*/
    }
  }
  @media (min-height: 900px) {
    .pl-layout{
      height: max-content;
    }
  }
</style>