<template>
	<div class="public-login" style="background-image: url('../assets/img/hero-bg.png'); ">
		<div class="pl-layout">
			<div class="pl-reset-h">
				<h5>{{ $t('affiliate.reset_password') }}</h5>
			</div>
			<div class="pl-form mt-4">
				<form @submit.prevent="forgotPassword()">
					<div class="form-group">
						<input type="email" class="form-control" placeholder="Email" v-model="user.email" />
					</div>
					<div class="form-group mt-4">
						<button type="submit" class="btn btn-lg btn-submit">
							<span v-if="!loading">{{ $t('affiliate.reset_password_btn') }}</span>
							<span v-else>{{ $t('affiliate.reset_password_btn_loading') }}...</span>
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</template>

<script>
	import {mapState} from 'vuex';

	export default {
		computed: {
			...mapState({
				loading: (state) => state.loading,
			}),
		},

		data() {
			return {
				user: {
					email: '',
				},
			};
		},

		methods: {
			forgotPassword() {
				if (!this.user.email) {
					this.$store.commit('setNotification', {
						type: 2,
						msg: 'Email field is required',
					});
					return false;
				}

				this.$store.commit('setLoading', true);
				this.$store
					.dispatch('post', {details: this.user, endpoint: '/affiliate/forget-password'})
					.then((res) => {
						if (res.data.status) {
							this.$store.commit('setNotification', {
								type: 1,
								msg: res.data.msg,
							});
						} else {
							this.$store.commit('setNotification', {
								type: 2,
								msg: res.data.msg,
							});
						}
						this.$store.commit('setLoading', false);
					})
					.catch((err) => {
						this.$store.dispatch('handleError', err);
						this.$store.commit('setLoading', false);
					});
			},
		},
	};
</script>

<style scoped lang="scss">
	.public-login {
		font-family: Campton;
		background-size: cover;
		background-position: center;
		width: 100%;
		min-height: 100vh;
		display: flex;
		justify-content: center;
		color: #3e3e3e;
		align-items: center;
		.pl-layout {
			background: #fff;
			margin-top: 20px;
			margin-bottom: 20px;
			padding: 60px 40px;
			border-radius: 20px;
			/*height: 620px;*/
			width: 450px;
			box-shadow: -3px 7px 37px -20px rgba(104, 110, 110, 1);
			.pl-reset-h {
				h5 {
					font-family: Campton;
					font-size: 23px;
					font-weight: 600;
				}
			}
			.pl-head {
				width: 100%;
			}
			.pl-shield {
				h5 {
					font-weight: 700;
					color: #424242;
				}
			}
			.pl-form {
				input.form-control {
					height: 54px;
					border: 1px solid #049cb1;
				}
				.btn-submit {
					width: 100%;
					color: white;
					background: #049cb1;
					border-radius: 5px;
					font-weight: 600;
					font-size: 15px;
					padding: 15px 0;
				}
			}
		}
	}
  .btn-submit span{
    text-transform: uppercase;
  }
	@media (max-width: 576px) {
		.pl-layout {
			padding: 80px 18px !important;
			margin: 0 17px;
			/*width: 300px !important;*/
		}
	}
	@media (min-height: 900px) {
		.pl-layout {
			height: max-content;
		}
	}
</style>
