<template>
	<div class="affiliate-dash">
		<!-- nav sm -->
		<header>
			<nav class="nav-sm-dash">
				<div class="brand-img">
					<img src="@/assets/img/p2plogo.png" />
				</div>
				<div class="nav-inner-items">
					<div class="nav-items-md-sc">
						<div class="nav-item-lsr">
							<affiliateLanguage class="affiliate-flag" />
							<div class="form-input-nav mx-2">
								<form>
									<div class="form-group">
										<input type="text" class="form-control search__input" placeholder="Find by UID" />
										<button type="submit"><i class="fa fa-search"></i></button>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="navs-extended d-flex">
						<div class="af-pro-img dropdown-toggle" data-toggle="dropdown">
							<img src="../../../../assets/img/user-xxl.png" alt="" />
						</div>
						<div class="dropdown-menu">
							<div class="nv-dp-head d-flex align-items-center">
								<div class="nv-img">
									<img src="../../../../assets/img/user-xxl.png" alt="" />
								</div>
								<div class="nv-details ml-2">
									<h6>{{ user.firstname }} {{ user.lastname }}</h6>
									<p class="mb-0">{{ user.email }}</p>
								</div>
							</div>
							<div class="dropdown-divider my-0"></div>
							<a class="dropdown-item" href="#"><i class="fa fa-user mr-2"></i> {{ $t('affiliate.Profile') }}</a>
							<a class="dropdown-item" href="#"><i class="fa fa-link mr-2"></i> {{ $t('affiliate.My_affiliate_links') }}</a>
							<div class="dropdown-divider my-0"></div>
							<a class="dropdown-item py-4" href="javascript:void(0)" @click="logoutUser()"><i class="fa fa-sign-out mr-2"></i>{{ $t('affiliate.Logout') }}</a>
						</div>
						<a href="javascript:void(0)" v-toggle_active class="nav-hambugger" @click="navToggler">
							<i class="fa fa-bars"></i>
						</a>
					</div>
				</div>
			</nav>
		</header>
		<div class="affiliate-inner">
			<!-- nav inner -->
			<div class="nav-aside" :class="navBar ? 'open-nav' : ''">
				<div class="aside-nav-wrapper">
					<ul class="nav-aside-list mt-5">
						<li>
							<router-link class="f-s-13" to="/affiliate/dashboard">
								<i class="fa fa-lg fa-fw fa-dashboard"></i>
								<span class="menu-item-parent">{{ $t('affiliate.Dashboard') }}</span>
							</router-link>
						</li>
						<li>
							<router-link class="f-s-13" to="/affiliate/affiliate-link">
								<i class="fa fa-lg fa-fw fa-link"></i>
								<span class="menu-item-parent">{{ $t('affiliate.My_affiliate_links') }}</span>
							</router-link>
						</li>
						<li>
							<router-link class="f-s-13" to="/affiliate/profile">
								<i class="fa fa-lg fa-fw fa-user"></i>
								<span class="menu-item-parent">
									{{ $t('affiliate.Profile') }}
								</span>
							</router-link>
						</li>
						<li>
							<a class="f-s-13" href="javascript:void(0)" @click="logoutUser()">
								<i class="fa fa-lg fa-fw fa-sign-out"></i>
								<span class="menu-item-parent">
									{{ $t('affiliate.Logout') }}
								</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<!-- page-layout -->
			<div class="aff-layout-main" :class="navBar ? 'open-width' : ''">
				<router-view></router-view>
			</div>
		</div>
	</div>
</template>

<script>
	import affiliateLanguage from '@/components/public/extra_components/changeLanguage';
	import {mapState} from 'vuex';
	export default {
		components: {
			affiliateLanguage,
		},
		computed: {
			...mapState({
				user: (state) => state.user,
			}),
		},
		data() {
			return {
				navBar: false,
				logout: false,
			};
		},

		methods: {
			navToggler() {
				this.navBar = !this.navBar;
			},
			openModa() {
				this.logout = !this.logout;
			},
			logoutUser() {
				this.$store.commit('Affiliatelogout');
			},
		},
		created() {
			if (!Object.prototype.hasOwnProperty.call(this.$store.state.user, 'affiliate')) {
				this.$router.push('/affiliate/login');
			}
			this.$store.dispatch('getAffiliateDashboard');
		},

		directives: {
			toggle_active: {
				bind: function(el, binding, vnode) {
					el.addEventListener(
						'click',
						() => {
							let active = vnode.context.class_active;
							active = !active;
							vnode.context.class_active = active;
							if (!active) {
								el.classList.remove('active');
							} else {
								el.classList.add('active');
							}
						},
						false
					);
				},
			},
		},
	};
</script>

<style lang="scss">
	.affiliate-flag {
		.lang {
			cursor: pointer;
		}

		.lang-dropdown {
			top: 22px !important;
			// left: 50% !important;
			// transform: translate3d(0, 0, 0) !important;
			box-shadow: 3px 4px 15px 0px rgba(40, 114, 123, 0.07);
		}

		.flag {
			padding: 10px;
			margin: 2;

			a {
				text-decoration: none !important;

				span {
					margin-left: 8px;
				}
			}
		}

		.lang-dropdown {
			top: 18px !important;
			left: 50% !important;
			transform: translate3d(0, 50%, 0) !important;
		}
	}
</style>

<style lang="scss" scoped>
	.affiliate-dash {
		min-height: 100vh;
		font-family: Campton;
	}

	.affiliate_nav_dropdown .affiliate_nav_drop {
		color: white !important;
		margin-right: 10px !important;
	}

	header {
		background-color: #fff;
		box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);
		.nav-sm-dash {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-right: 28px;
		}

		.brand-img {
			width: 200px;

			img {
				width: 110%;
				margin: 0 20px;
			}
		}

		.navs-extended {
			float: right;
			.af-pro-img {
				width: 40px;
				height: 40px;
				border-radius: 40px;
				cursor: pointer;
				background: #c5b9ee;
				margin-left: 27px;
				margin-right: 20px;
				img {
					width: 100%;
					border-radius: 40px;
				}
			}
			.dropdown-menu.show {
				border: none;
				background: linear-gradient(180deg, #a4adf2 0%, #d0bcec 100%);
				padding: 0;
				top: 15px !important;
				.dropdown-item {
					padding-top: 10px;
					padding-bottom: 10px;
					color: white;
					&:hover {
						background: rgba(0, 20, 38, 0.1);
						color: white;
					}
				}

				.nv-dp-head {
					padding: 15px 1.5rem;
					.nv-details {
						h6 {
							color: white;
							font-size: 20px;
							font-weight: 600;
							margin-bottom: 0;
						}
						p {
							color: white;
							font-size: 14px;
						}
					}
				}
				.nv-img {
					width: 50px;
					height: 50px;
					border-radius: 50px;
					background: #fff;
					img {
						border-radius: 50px;
						width: 100%;
					}
				}
			}
		}

		.nav-inner-items {
			display: flex;
			align-items: center;

			.nav-hambugger {
				padding: 12px 12px 6px;
				border-radius: 3px;
				i {
					font-size: 22px;
					color: black;
				}
			}
		}
	}

	.nav-items-md-sc {
		display: none;
	}

	.affiliate-inner {
		position: relative;
		width: 100%;
		height: 100%;
		overflow-x: hidden;
	}

	.nav-aside {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100;
		width: 90px;
		background: linear-gradient(180deg, #a4adf2 0%, #d0bcec 100%);
		height: 100%;
		min-height: 100vh;
		transform: translateX(-101%);
		transition: 200ms ease-in;
		overflow: hidden;

		&.open-nav {
			transform: translateX(0);
		}
	}

	.aside-nav-wrapper {
		width: 100%;
		height: 100%;

		.account-info {
			padding: 12px 17px 1px 16px;
		}
	}

	.aff-layout-main {
		padding: 0 13px;
		padding-right: 40px;
		width: 100%;
		margin-left: 0;
		margin-top: 30px;
		height: 100%;
		min-height: 100vh;
		transition: 200ms ease-in, width 0ms;

		&.open-width {
			transform: translateX(108px);
		}
	}

	.account-info {
		background: linear-gradient(to bottom, rgba(48, 153, 245, 0.07) 0, rgba(48, 153, 245, 0.2) 75%, rgba(48, 153, 245, 0.45) 100%);

		.status-icon {
			display: inline-block;
			height: 3rem;
			width: 3rem;
			font-size: 3rem;
		}

		.account-status {
			color: #8b91a0;
			display: inline-block;
			margin-left: 1rem;
			line-height: 25px;

			.status-block-color {
				color: #009af9;
			}
		}

		.bonus-block {
			display: block;
			margin-top: 10px;

			div {
				text-align: center;
				color: #8b91a0;
				font-size: 12px;
				border-radius: 0;
			}
		}
	}

	.progress {
		height: 8px;
	}

	.nav-aside-list {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		li {
			width: 100%;
			display: block;

			a {
				display: block;
				width: 100%;
				text-decoration: none !important;
			}
		}

		.f-s-13 {
			/*display: block;*/
			padding: 20px 7px;
			color: #fff;
			position: relative;
			font-size: 13px;
			transition: 300ms;
			text-align: center;
			span {
				display: block;
				font-size: 14px;
				font-weight: 500;
				line-height: 1.2;
				margin-top: 6px;
			}
			i {
				color: inherit;
				font-size: 24px;
				&.fa-angle-right {
					transform: rotate(180deg);
				}
			}
			&:hover {
				background: rgba(0, 20, 38, 0.1);
			}
			&.active {
				color: #fff;
			}

			b {
				color: inherit;
				position: absolute;
				top: 12px;
				right: 0;
				height: 25px;
				width: 25px;
			}
		}

		.dropdown-menu.extend-absolute {
			position: relative !important;
			transform: none !important;
			width: 100% !important;
			border-radius: 0 !important;
			background: #22262e;
		}

		.fs-dribble {
			padding-left: 40px;
			font-size: 12px;
		}
	}

	.log-out-modal {
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.6);
		z-index: 100000;
		transition: 300ms ease-in;
		pointer-events: none;
		opacity: 0;

		&.open {
			pointer-events: visible;
			opacity: 1;
		}

		.MessageBoxMiddle {
			width: 100%;
			max-width: 725px;
			margin: 0 auto;
			height: fit-content;
			color: #fff;
			padding: 20px;

			.MsgTitle {
				display: flex;
				justify-content: flex-start;
				align-items: center;

				span {
					font-size: 22px;
					letter-spacing: -1;
				}
			}

			.fa-sign-out {
				color: #fb3c4a !important;
				margin-right: 10px;
				font-size: 24px;
			}
		}

		.MessageBoxButtonSection {
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}

		.width-extended {
			background-color: #232323;
			width: 100%;
		}

		.botTempo {
			color: #000;
			background: #fff;
			border-radius: 3px;
			padding: 7px 15px;
			font-weight: bolder;

			&:last-of-type {
				margin-left: 9px;
			}
		}
	}

	.dropdown-menu.lang,
	.dropdown-menu.smart-link {
		top: 8px !important;

		.lang-flag-sm {
			margin-right: 5px;
		}

		.dropdown-item {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			padding-top: 5px;
			padding-bottom: 5px;
			transition: 200ms ease-in;
			color: #333;
			font-size: 12px;

			&:hover {
				color: #fff;
				background-color: #3276b1;
			}
		}
	}

	@media only screen and (max-width: 768px) {
		header .brand-img img {
			margin: 0;
		}
		.aff-layout-main {
			// padding: 0 13px;
			padding-right: 17px;
		}
		header .nav-sm-dash {
			padding-right: 12px;
		}
	}
	@media only screen and (min-width: 768px) {
		header {
			.nav-inner-items {
				justify-content: space-between;
				align-items: center;
			}
		}

		.nav-items-md-sc {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
		}

		.nav-item-lsr {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			margin-right: 10px;
		}

		.dropdown {
			button {
				outline: none !important;
				box-shadow: none !important;
				border: none !important;
				border-radius: 0 !important;
			}
		}

		.activity-btn {
			background: #0d0f12;
			border: 1px solid #0d0f12;
			padding: 8px 8px 0px;

			i {
				color: #fff;
				font-size: 18px;
			}
		}

		.smartlink-btn {
			padding-left: 1.2rem;
			padding-right: 1.2rem;

			.label {
				color: #697b92;
				text-shadow: 0 0 1px #111318;
				display: block;
				font-size: 10px;
				font-weight: 700;
				text-transform: uppercase;
				padding-left: 0;
				text-align: left;
			}

			.project-selector {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				max-width: 97%;
				color: #555;
				white-space: nowrap;
				background: 0 0;
				border: none;
				padding: 0;
				text-align: left;
				font-size: 14px;
				cursor: pointer;

				span {
					color: #b9b9b9;
					display: inline-block;
					margin-right: 6px;
				}

				i {
					font-weight: normal;
				}
			}
		}

		.lang-flag-sm {
			width: 16px;
			height: 16px;
		}

		.language-dropdown,
		languages-link {
			text-decoration: none;
			font-size: 14px;
			color: #fff;
			span {
				margin-left: 5px;
			}

			i {
				font-size: 12px;
				margin-left: 5px;
			}
		}

		.form-input-nav {
			display: flex;
			justify-content: center;
			align-items: center;

			form {
				.form-group {
					position: relative;
					width: 100%;
					height: 100%;
					margin-bottom: 0;
					margin-left: 15px;
					margin-right: 15px;
					button {
						position: absolute;
						top: 0;
						right: 0;
						width: 30px;
						height: 100%;
						z-index: 3;
						border: none;
						background: transparent;
						padding-right: 8px;
						i {
							color: #d5d5d5;
						}
					}
				}

				.form-control {
					border-radius: 3px;
					background: #fff;
					color: #404040;
					font-size: 14px;
					box-shadow: none !important;
					min-width: 300px;
					width: 100%;
					height: 37px;
					padding: 0 28px 0 10px;
					outline: 0;
				}
			}
		}
	}
	@media only screen and (min-width: 992px) {
	}
	@media only screen and (min-width: 1200px) {
		.aff-layout-main {
			width: calc(100% - 110px);
			margin-left: auto;
		}
		.nav-aside {
			transform: translateX(0);
		}
		.nav-hambugger {
			display: none;
		}
	}
</style>
