<template>
    <div id="referral-link">
        <div class="row">
            <div class="col-12 col-md-6 mb-3 mb-md-0 pr-lg-5">
                <div class="referral-link-copier">
                    <h5 class="mb-0">{{ $t('affiliate.refferal_link') }}</h5>
                    <div class="link-copier">
                        <div class="input-link-copier">
<!--                            <span id="refer_id">{{ user.referral_link }}</span>-->
                            <input type="text" :value="user.referral_link" id="refer_id" disabled>
                            <button @click="copyClipboard('refer_id')">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M16 1H4C2.9 1 2 1.9 2 3V17H4V3H16V1ZM19 5H8C6.9 5 6 5.9 6 7V21C6 22.1 6.9 23 8 23H19C20.1 23 21 22.1 21 21V7C21 5.9 20.1 5 19 5ZM19 21H8V7H19V21Z" fill="white" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 pl-lg-5">
                <div class="referral-link-statistics">
                    <ul class="statistics mb-0">
                        <li>
                            <p class="list-title">{{ $t('affiliate.Visitors') }}</p>
                            <p class="list-name">{{user.visitors}}</p>
                        </li>
                        <li>
                            <p class="list-title">{{ $t('affiliate.Reg') }}</p>
                            <p class="list-name">{{user.count_referral}}</p>
                        </li>
                        <li>
                            <p class="list-title">{{ $t('affiliate.Commission') }}</p>
                            <p class="list-name">$0.00</p>
                        </li>
                        <li class="mr-0">
                            <p class="list-title">{{ $t('affiliate.Balance') }}</p>
                            <p class="list-name">$0.00</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {mapState} from 'vuex'
export default {
    name: 'Referral-link',
    computed:{
        ...mapState({
            user:(context)=>context.user,
        })
    },
    data() {
        return {
           
        };
    },
    methods:{
        copyClipboard(id) {
            var get = document.getElementById(id);
            get.removeAttribute('disabled');
            get.select();
            get.setSelectionRange(0, 99999);
            document.execCommand('copy');
            get.setAttribute('disabled', true);
        },
    }
};
</script>

<style lang="scss">
#referral-link {
    width: 100%;
    margin-bottom: 20px;
}
.referral-link-copier {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    h5 {
        color: #043b56;
        font-weight: 600;
        font-size: 18px;
        text-transform: capitalize;
    }
}
.link-copier {
    .input-link-copier {
        background: rgba(89, 44, 184, 0.18);
        border-radius: 8px;
        overflow: hidden;
        padding: 5px 35px 5px 10px;
        position: relative;
        input{
            background: transparent;
            border: none;
            outline: none;
            font-size: 14px;
            color: #6443a9;
            font-weight: bolder;
        }
        span {
            font-size: 10px;
            color: #6443a9;
            font-weight: bolder;
        }

        button {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            width: 30px;
            outline: none;
            border: none;
            box-shadow: none;
            background: #6443a9;

            svg {
                width: 14px;
            }
        }
    }
}
.statistics {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-right: 30px;

        .list-title {
            font-size: 14px;
            color: #049cb1;
            text-transform: capitalize;
            font-weight: 500;
            margin-bottom: 0;
        }

        .list-name {
            color: #000;
            font-size: 10px;
            font-weight: 500;
            font-family: Roboto;
            margin-bottom: 0;
        }
    }
}
@media only screen and (max-width: 567px) {
    .referral-link-copier {
        display: block;
    }
    .link-copier{
        margin-top: 10px;
        .input-link-copier span{
            font-size: 13px;
        }
    }
}
@media only screen and (min-width: 567px) {
    .referral-link-copier {
        flex-wrap: nowrap;
    
        h5 {
            font-size: 20px;
            margin-right: 5px;
            font-weight: bolder;
        }
    }

    .link-copier {
        margin-left: 12px;
        .input-link-copier {
            padding: 8px 50px 8px 8px;
            span {
                font-size: 14px;
            }

            button {
                width: 40px;
                svg {
                    width: 16px;
                }
            }
        }
    }

    .statistics {
        li {
           
            .list-title {
                font-size: 14px;
            }

            .list-name {
                font-size: 13px;
                font-weight: bolder;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .statistics {
        justify-content: flex-end;
    }
    .referral-link-copier {
        h5 {
            font-size: 16px;
        }
    }

    .link-copier {
        margin-left: 12px;
        .input-link-copier {
            padding: 5px 30px 5px 10px;
            span {
                font-size: 12px;
            }

            button {
                width: 30px;
                svg {
                    width: 14px;
                }
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .link-copier {
        .input-link-copier {
            padding: 8px 50px 8px 15px;
            span {
                font-size: 14px;
            }

            button {
                width: 40px;
                svg {
                    width: 16px;
                }
            }
        }
    }
}

@media only screen and (min-width: 1200px) {
}
</style>
