<template>
	<div class="public-layout d-flex affiliate-l">
		<div class="border-right" id="sidebar-wrapper">
			<div class="list-group list-group-flush">
				<router-link to="/" class="list-group-item list-group-item-action">{{ $t('home.nav_quick') }}</router-link>
				<router-link to="/about-us" class="list-group-item list-group-item-action">{{ $t('home.nav_about_us') }}</router-link>
				<router-link to="/contact-us" class="list-group-item list-group-item-action">{{ $t('home.nav_contact_us') }}</router-link>
			</div>
		</div>
		<div class="pl-wrapper">
			<div class="navs">
				<div class="row mx-0">
					<div class="col-md-10 px-0">
						<div class="navs-left d-flex justify-content-between align-items-center" style="box-shadow: 0 4px 18px rgba(0, 0, 0, 0.1);">
							<router-link to="/" class="logo">
								<img src="../../../../assets/img/logo1.png" alt="" />
							</router-link>
							<div class="navs-center d-flex">
								<div class="navs-links d-md-flex d-none align-items-center">
									<router-link to="/">{{ $t('home.nav_quick') }} </router-link>
									<router-link to="/about-us">{{ $t('home.nav_about_us') }}</router-link>
									<router-link to="/contact-us">{{ $t('home.nav_contact_us') }}</router-link>
								</div>
								<div class="d-flex justify-content-between align-items-center navs-c-lf">
									<changelanguage />
									<div class="navs-toggler d-block d-md-none" id="navs-toggler">
										<i class="bx bx-menu bx-x" id="menu-icon"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-2 px-0">
						<div class="navs-right  d-none d-md-block">
							<div class="navs-login d-flex justify-content-center align-items-center">
								<router-link to="/affiliate">{{ $t('home.login_text') }}</router-link>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div>
				<router-view></router-view>
			</div>
			<div class="pl-footer">
				<div class="container px-0">
					<div class="row mx-0">
						<div class="col-sm-6 px-0 ff-img">
							<img src="../../../../assets/logo.png" width="80%" alt="" />
						</div>
						<div class="col-sm-6 px-3">
							<div class="row mx-0">
								<div class="col-sm-4 px-0">
									<div class="item-links">
										<router-link to="/">{{ $t('home.footer_contact') }}</router-link>
										<router-link to="/">{{ $t('home.footer_tnc') }}</router-link>
									</div>
								</div>
								<div class="col-sm-4 px-0">
									<div class="item-links">
										<router-link to="/">{{ $t('home.footer_pp') }}</router-link>
										<router-link to="/">{{ $t('home.footer_kyl') }}</router-link>
									</div>
								</div>
								<div class="col-sm-4 px-0">
									<div class="item-links">
										<router-link to="/">{{ $t('home.footer_payment') }}</router-link>
										<router-link to="/">{{ $t('home.footer_disclosure') }}</router-link>
									</div>
								</div>
							</div>
							<div class="footer-divider mt-3"></div>
							<div class="f-footer mt-3 justify-content-between">
								<p>Copywrite © 2021 Option p2p</p>
								<div class="f-social">
									<p>{{ $t('home.footer_follow_us') }}:</p>
									<div class="social-icons ml-3">
										<i class="fab fa-instagram"></i>
										<i class="fab fa-twitter"></i>
										<i class="fab fa-facebook"></i>
										<i class="fab fa-youtube"></i>
										<i class="fab fa-telegram"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import changelanguage from '@/components/public/extra_components/changeLanguage';

	export default {
		components: {
			changelanguage,
		},
	};
</script>

<style lang="scss"></style>
