<template>
	<div id="app" class="">
		<notification></notification>
		<div style="position:relative;z-index:99999999">
			<notifications animation-type="velocity" group="foo" />
		</div>
		<router-view></router-view>
	</div>
</template>

<script>
	import {initFbsdk} from '@/config/facebook_oAuth.js';
	export default {
		methods: {
			createDemoAccount() {
				var user = {
					address: '',
					address_two: null,
					city: 'Unknown',
					country: 'Unknown',
					date_of_birth: '',
					demo_wallet: {user_id: 0, amount: 200, amount_usd: 2000},
					wallet: {user_id: 0, amount: 200, amount_usd: 2000},
					dial_code: '',
					dial_ct: '',
					email: 'unknown@optionp2p.io',
					firstname: 'User',
					gender: 'Unknown',
					id: 1,
					ip_address: '0.0.0.0',
					lastname: 'Demo',
					login_sessions: [],
					nickname: null,
					phone: '',
					profile_image: 'https://www.iconsdb.com/icons/preview/royal-blue/user-xxl.png',
					phone_verified_at: null,
					state: 'Unknown',
					unique_id: '',
					no_of_trade: 0,
					is_demo: true,
				};
				localStorage.setItem('p2p_demo', encodeURIComponent(JSON.stringify(user)));
				this.$store.state.user = user;
			},
		},
		created() {
			var localEmitter = null;
			var EventEmitter = require('events').EventEmitter;
			localEmitter = new EventEmitter();
			this.$store.state.localEmitter = localEmitter;
			
			
			var currentLanguage = window.localStorage.getItem('language');
			this.$store.state.language = currentLanguage;

			if (this.$route.meta.AuthRequired || this.$route.matched.find((d) => d.meta.AuthRequired)) {
				var data = localStorage.getItem('p2p');
				if (!data) {
					

					if (this.$route.name == 'trade_room') {
						var demo = localStorage.getItem('p2p_demo');
						if (demo) {
							demo = decodeURIComponent(demo);
							demo = JSON.parse(demo);
							localStorage.setItem('p2p_demo', encodeURIComponent(JSON.stringify(demo)));
							this.$store.state.user = demo;
						} else {
							this.createDemoAccount();
						}
						return false;
					}

					if (this.$route.matched.find((d) => d.meta.affiliateAuth)) {
						this.$router.push('/affiliate/login');
					} else {
						this.$router.push('/login');
					}
					return false;
				}

				data = decodeURIComponent(data);
				data = JSON.parse(data);
				// console.log(data);
				this.$store.commit('setUser', data);
			}
		},
		mounted() {
			initFbsdk();
		},
	};
</script>
<style>
	.v-toast {
		z-index: 9999999999 !important;
	}
	.v-toast__item--success {
		background-color: #2bc573 !important;
	}
	.v-toast__item {
		min-height: 3em !important;
	}
	.v-toast__item .v-toast__text {
		padding: 0px 1em !important;
		font-size: 13px;
	}
	.v-toast__item .v-toast__icon {
		width: 20px !important;
		min-width: 20px !important;
		height: 20px !important;
	}
</style>
<style lang="scss">
	html {
		position: relative;
	}

	.daterangepicker {
		border: none !important;
		border-radius: 5px !important;
		background-color: #262c41 !important;
	}

	.daterangepicker .ranges ul {
		padding: 8px;
	}

	.daterangepicker .ranges li {
		margin-bottom: 8px;
		color: #9396a0;
		background-color: #1e2231;
		border: 1px solid #444956;
	}

	.daterangepicker .ranges li:hover {
		color: #fff;
		background-color: #293145;
		border-color: #444956;
	}

	.daterangepicker .ranges li.active {
		color: #fff;
		background-color: #293145;
		border-color: #444956;
	}

	.daterangepicker .ranges {
		background: #262c41 !important;
		border: none;
	}

	.daterangepicker.show-ranges.ltr .drp-calendar.left {
		border: none;
	}

	.daterangepicker .drp-calendar.left {
		padding: 8px;
	}

	.daterangepicker .calendar-table {
		border: 1px solid #fff;
		border-radius: 4px;
		background-color: #fff;
		background-color: #1e2231;
		border: 1px solid #444956;
	}

	.daterangepicker td.off {
		background-color: #1e2231;
	}

	.daterangepicker td.in-range {
		background-color: #1e2231;
		color: #ffffff;
	}

	.daterangepicker td.off,
	.daterangepicker td.off.in-range {
		background-color: #1e2231;
	}

	.daterangepicker.show-calendar .drp-buttons {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.daterangepicker .drp-selected {
		display: block;
		width: 100%;
		font-size: 14px;
		padding-right: 8px;
		line-height: 20px;
		border: 1px solid #444956;
		text-align: center;
		padding: 10px;
	}
	.modal-backdrop {
		z-index: 980 !important;
	}

	.avatar-block {
		.input-file {
			input[type='file'] {
				visibility: hidden;
				width: 1px;
				height: 1px;
			}

			.btn {
				background-color: #20273f;
				color: #7e91a7;
				font-size: 12px;
				cursor: pointer;
				margin-bottom: 10px;
				box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 0 8px rgba(48, 153, 245, 0.3);
				transition: 200ms ease-in;

				&:hover {
					color: #ffffff;
					background-color: #2f364d;
				}
			}

			.file-selected {
				font-size: 12px;
				text-align: center;
				width: 100%;
				display: block;
				margin-top: 7px;
			}
		}
	}

	@media only screen and (min-width: 1200px) {
		.avatar-block {
			.input-file {
				.btn {
					font-size: 15px;
				}

				.file-selected {
					font-size: 13px;
				}
			}
		}
	}
</style>
