<template>
	<div class="public-layout d-flex">
		<div class="border-right" id="sidebar-wrapper">
			<div class="list-group list-group-flush">
				<router-link to="/demo-trade" class="list-group-item list-group-item-action">{{ $t('home.nav_quick') }}</router-link>
				<router-link to="/about-us" class="list-group-item list-group-item-action">{{ $t('home.nav_about_us') }}</router-link>
				<router-link to="/contact-us" class="list-group-item list-group-item-action">{{ $t('home.nav_contact_us') }}</router-link>
				<router-link to="/login" class="list-group-item list-group-item-action text-uppercase">{{ $t('home.login_text') }}</router-link>
				<router-link to="/affiliate/login" class="list-group-item list-group-item-action">{{ $t('home.affiliate') }}</router-link>
			</div>
		</div>
		<div class="pl-wrapper">
			<div class="navs">
				<div class="row mx-0">
					<div class="col-md-10 px-0">
						<div class="navs-left d-flex justify-content-between align-items-center">
							<router-link to="/" class="logo">
								<img src="../../../assets/img/logo1.png" alt="" />
							</router-link>
							<div class="navs-center d-flex">
								<div class="navs-links d-md-flex d-none align-items-center">
									<a href="/demo-trade" >{{ $t('home.nav_quick') }}</a>
									<router-link to="/about-us">{{ $t('home.nav_about_us') }}</router-link>
									<router-link to="/contact-us">{{ $t('home.nav_contact_us') }}</router-link>
									<router-link to="/affiliate">{{ $t('home.affiliate') }}</router-link>
								</div>
								<div class="d-flex justify-content-between align-items-center navs-c-lf">
									<changelanguage />
									<div class="navs-toggler d-block d-md-none" id="navs-toggler">
										<i class="bx bx-menu bx-x" id="menu-icon"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-2 px-0">
						<div class="navs-right  d-none d-md-block">
							<div class="navs-login d-flex justify-content-center align-items-center">
								<router-link to="/login">{{ $t('home.login_text') }}</router-link>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div>
				<router-view></router-view>
			</div>
			<div class="pl-footer">
				<div class="section-wrapper">
					<div class="review-extended">
						<div class="review-extended-bottom">
							<div class="text-extended">
								<div class="container">
									<div class="row">
										<div class="col-12">
											<p>
												{{ $t('home.footer_text_1') }}
												<br />
												<br />
												* {{ $t('home.footer_text_2') }}.
												<br />
												<br />
												{{ $t('home.footer_text_3') }}
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container px-0">
					<div class="row mx-0">
						<div class="col-sm-6 px-0 ff-img">
							<img src="../../../assets/logo.png" width="80%" alt="" />
						</div>
						<div class="col-sm-6 px-3">
							<div class="row mx-0">
								<div class="col-sm-4 px-0">
									<div class="item-links">
										<router-link to="contact-us"> {{ $t('home.footer_contact') }}</router-link>
										<router-link to="/"> {{ $t('home.footer_tnc') }}</router-link>
									</div>
								</div>
								<div class="col-sm-4 px-0">
									<div class="item-links">
										<router-link to="privacy-policy"> {{ $t('home.footer_pp') }}</router-link>
										<router-link to="/"> {{ $t('home.footer_kyl') }}</router-link>
									</div>
								</div>
								<div class="col-sm-4 px-0">
									<div class="item-links">
										<router-link to="/"> {{ $t('home.footer_payment') }}</router-link>
										<router-link to="/"> {{ $t('home.footer_disclosure') }}</router-link>
									</div>
								</div>
							</div>
							<div class="footer-divider mt-3"></div>
							<div class="f-footer mt-3 justify-content-between">
								<p>Copyright © {{ currentYear }} Option p2p</p>
								<div class="f-social">
									<p>{{ $t('home.footer_follow_us') }}:</p>
									<div class="social-icons ml-3">
										<i class="fab fa-instagram"></i>
										<i class="fab fa-twitter"></i>
										<i class="fab fa-facebook"></i>
										<i class="fab fa-youtube"></i>
										<i class="fab fa-telegram"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
	import changelanguage from '../extra_components/changeLanguage';

	export default {
		components: {
			changelanguage,
		},
		data() {
			return {
				currentYear: new Date().getFullYear(),
			};
		},
	};
</script>

<style lang="scss">
	.review-extended {
		background: #ffffff;
	}
	.VueCarousel-dot-container {
		margin-top: 0 !important;
	}
	.VueCarousel-navigation {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0px);
		width: 75%;
		margin: 0 auto;
		height: 32px;
	}
	.VueCarousel-navigation-button {
		background-color: #31065b !important;
		width: 20px;
		height: 20px;
		padding: 0 !important;

		i {
			color: #ffff;
			font-size: 14px;
		}
	}
	.public-layout {
		overflow-x: auto;
		#sidebar-wrapper {
			height: 100vh;
			margin-left: -7.1rem;
			-webkit-transition: margin 0.25s ease-out;
			-moz-transition: margin 0.25s ease-out;
			-o-transition: margin 0.25s ease-out;
			transition: margin 0.25s ease-out;
			background-color: #000000e8;
			position: absolute;
			z-index: 99999;
			margin-top: 70px;
			width: 100%;
			display: none;
			.list-group-item {
				background-color: transparent;
				padding: 8px 1.25rem;
				color: #fff;
				font-weight: 600;
				font-size: 14px;
				&:hover {
					border-left: 2px solid white;
				}
			}
		}
		&.toggled #sidebar-wrapper {
			margin-left: 0;
			display: block;
		}
		.pl-wrapper {
			min-width: 100%;
		}
		.navs {
			color: #013134;
			font-family: Campton;
			.navs-left {
				background-color: #ffff;
				padding: 16px 39px;

				.logo {
					img {
						width: 150px;
					}
				}
				.navs-center {
					margin-left: 15px;
					font-size: 14px;
					.navs-links a {
						line-height: 20px;
						margin-right: 40px;
						font-weight: 600;
						text-align: center;
						&:hover {
							text-decoration: none;
						}
					}

					.navs-c-lf {
						margin-left: 40px;
						.navs-toggler {
							cursor: pointer;
							i {
								color: #3e0b73;
								font-size: 40px;
							}
						}
						.lang {
							cursor: pointer;
							margin-right: 20px;
							span {
								font-size: 14px;
								font-weight: 600;
							}
							&::after {
								display: none !important;
							}
						}
						.dropdown-menu.lang-dropdown {
							top: 21px !important;
							left: 0 !important;
							.flag {
								.flag-item {
									padding: 6px 15px;
									span {
										margin-left: 10px;
									}
									&:hover {
										text-decoration: none;
										cursor: pointer;
									}
								}
							}
						}
					}
				}
			}
			.navs-right {
				height: 100%;
				background-color: #31045e;
				.navs-login {
					height: 100%;
					a {
						background-color: white;
						padding: 6px 25px;
						border-radius: 5px;
						color: #5a5a5a;
						font-weight: 600;
						&:hover {
							text-decoration: none;
						}
					}
				}
			}
		}
		.pl-footer {
			background: #1f0443;
			padding: 0px 0 5px;
			.footer-img {
				display: flex;
				justify-content: flex-start;
			}
			.item-links {
				a {
					color: #eeeeee;
					font-size: 12px;
					display: block;
					font-weight: 600;
					margin-top: 13px;
				}
			}
			.footer-divider {
				border-top: 1px solid white;
			}
			.f-footer {
				display: flex;
				.f-social {
					display: flex;
				}
				.social-icons {
					i {
						padding-right: 10px;
						font-size: 18px;
						color: white;
					}
				}
				p {
					font-family: Campton;
					color: #f0e5ff;
					font-weight: 500;
					font-size: 12px;
				}
			}
		}
	}
	@media (max-width: 768px) {
		.public-layout {
			.navs-left {
				padding: 14px 4px 14px 10px !important;
			}
			.navs-center {
				.navs-c-lf {
					margin-left: 0px !important;
					.lang {
						margin-right: 0px !important;
					}
				}
				.navs-links a {
					margin-right: 10px !important;
				}
			}
		}
	}
	@media (min-width: 768px) {
		#sidebar-wrapper {
			display: none;
		}
		.public-layout {
			.navs {
				.navs-left {
					.navs-center {
						.navs-c-lf {
							.dropdown-menu.lang-dropdown {
								left: -165px !important;
								.flag {
									.flag-item {
										padding: 6px 15px;
										span {
											margin-left: 10px;
										}
										&:hover {
											text-decoration: none;
											cursor: pointer;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	@media (max-width: 576px) {
		.ff-img {
			text-align: center;
		}
		.f-footer {
			display: block !important;
			text-align: center;
		}
		.f-social {
			justify-content: center;
		}
	}
	@media (min-width: 768px) {
		.VueCarousel-navigation {
			width: 35%;
			height: 32px;
		}
	}
</style>
