<template>
    <div class="pl-layout">
        <div class="pl-head">
            <h4 class="text-center">{{ $t('home.login') }}</h4>
        </div>
        <div class="pl-social d-flex justify-content-between mt-4">
            <div class="social-item d-flex align-items-center pointer" @click="loginWithFacebook()">
                <i class="fab fa-facebook"></i>
                <span class="ml-2">{{ $t('home.login_facebook') }}</span>
            </div>
            <div class="social-item d-flex align-items-center pointer" @click="loginWithGoogle()">
                <img src="../../../assets/img/search.svg" alt="" width="20">
                <span class="ml-2 mr-2">{{ $t('home.login_google') }}</span>
            </div>
        </div>
        <div class="pl-divider mt-3">
            <p class="p-0 m-0 text-center">or</p>
        </div>
        <div class="pl-form mt-3">
            <form @submit.prevent="loginUser()">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email"  name="email" v-model="userData.detail.email">
                </div>
                <div class="form-group mt-4">
                    <input type="password" class="form-control" placeholder="Password" name="password" v-model="userData.detail.password">
                </div>
                <div class="form-check mt-4">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="">{{ $t('home.login_remember') }}
                    </label>
                </div>
                <div class="form-group mt-4">
                    <div class="text-danger">{{this.error_msg}}</div>
                    <button type="submit" class="btn btn-lg btn-submit">
                        <span v-if="!loading">{{ $t('home.login_btn') }}</span>
                        <span v-else>{{ $t('home.login_btn_loader') }}</span>
                    </button>
                </div>
                <div class="form-footer d-flex justify-content-between">
                    <router-link to="/forgot-password">{{ $t('home.login_forgot') }}?</router-link>
                    <router-link to="/register">{{ $t('home.login_register') }}</router-link>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import {mapState, mapActions} from 'vuex';
    export default {
        name: "login_component",
        computed: {
            ...mapState({
                loading: (state) => state.loading,
            }),
        },
        data() {
            return {
                error_msg:'',
                userData: {
                    endpoint: '/login',
                    detail: {
                        email: '',
                        password: '',
                    },
                },
            };
        },

        methods: {
            ...mapActions(['loginUser']),
            loginWithFacebook() {
                window.FB.login((response) => {
                    console.log('fb response', response);
                    window.FB.api('/me', {locale: 'tr_TR', fields: 'name, email, birthday, hometown, education, gender, website, work'}, (data) => {
                        if (data.email != undefined) {
                            var payload = {
                                endpoint: '/login',
                                detail: {},
                            };
                            payload.detail.email = data.email ?? '';
                            payload.detail.password = data.id;
                            payload.gmail_login = true;
                            payload.gmail_id = data.id;

                            this.loginUser(null, payload);
                        } else {
                            this.$store.commit('setNotification', {type: 2, msg: 'We have no access your facebook email, Please signin using another login method.'});
                        }
                    });
                }, this.params);
            },
            loginWithGoogle() {
                this.$gAuth
                    .signIn()
                    .then((GoogleUser) => {
                        var user = GoogleUser.getBasicProfile();
                        console.log(user);
                        var payload = {
                            endpoint: '/login',
                            detail: {},
                        };
                        payload.detail.email = user.kt;
						payload.detail.password = user.KR;
						payload.detail.gmail_login = true;
						payload.detail.gmail_id = user.KR;

                        this.loginUser(null, payload);
                    })
                    .catch((error) => {
                        console.log('error', error);
                    });
            },

            loginUser(e, data = this.userData) {
                console.log(data);
                this.error_msg = '';
                if(data.detail.email.length == 0 || data.detail.password.length == 0 ){
                    this.error_msg = 'Please enter your email and password';
                    return false;
                }
                this.$store.dispatch('loginUser', data);
            },
        },

        created() {
            //  console.log(window.bowser.getParser(window.navigator.userAgent));
        },
    }
</script>

<style scoped lang="scss">
    .pointer{
        cursor: pointer;
    }
    .pl-layout{
        background: #fff;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 60px 50px;
        border-radius: 20px;
        height: 620px;
        width: 450px;
        .pl-head{
            display: flex;
            justify-content: space-between ;
            align-items: center;
            h4{
                color: #424242;
                font-weight: 700;
                font-size: 31px;
            }
        }
        .pl-social{
            .social-item{
                padding:13px 18px;
                background: #F3F3FF;
                border-radius: 5px;
                font-weight: 600;
                i{
                    color: blue;
                    font-size: 19px;
                }
            }
        }
        .pl-divider{
            p{
                color: #DCDCDC;
            }
            p::before{
                content: '';
                display: flex;
                margin-top:12px;
                border-top: 1px solid #B8B4F0;
                position: absolute;
                width: 145px;
            }
            p::after{
                content: '';
                display: inline;
                margin-top:12px;
                border-top: 1px solid #B8B4F0;
                position: absolute;
                margin-left: 22px;
                width: 145px;
            }
        }
        .pl-form{
            input.form-control{
                height: 54px;
                border:1px solid #049CB1;
            }
            input[type='checkbox']:focus{
                -webkit-appearance: checkbox !important;
            }
            .form-check-input {
                margin-top: 0.4rem;
            }
            .form-check-label{
                color: #C4C4C4;
                font-size: 17px;
            }
            .btn-submit{
                width: 100%;
                color: white;
                background: #049CB1;
                border-radius: 5px;
                font-weight: 600;
                font-size: 14px;
                padding: 12px 0;
            }
            .form-footer{
                a{
                    color: #1A1A1A;
                    font-size: 17px;
                    font-weight: 600;
                    &:hover{
                        text-decoration: none;
                    }
                }

            }
        }
    }
    .btn-submit{
        span{
            text-transform: uppercase;
        }
    }
    @media(max-width:576px){
        .pl-layout{
            padding: 36px 18px !important;
            height: max-content !important;
            margin-left: 17px;
            margin-right: 17px;
            /*width: 300px !important;*/
            .pl-head{
                text-align: center;
                display: block !important;
            }
            .pl-divider{
                p::after{
                    width: 121px !important;
                }
                p::before{
                    width: 121px !important;
                }
            }
        }
    }
    @media (min-height: 900px) {
        .pl-layout{
            height: max-content;
        }
    }
</style>