<template>
    <div class="pl-layout">
        <div class="pl-head">
            <h4>{{ $t('home.sign_up') }}</h4>
        </div>
        <div class="pl-social d-flex justify-content-between mt-4">
            <div class="social-item d-flex align-items-center pointer" @click="loginWithFacebook()">
                <i class="fab fa-facebook"></i>
                <span class="ml-2">{{ $t('home.login_facebook') }}</span>
            </div>
            <div class="social-item d-flex align-items-center pointer" @click="loginWithGoogle()">
                <img src="../../../assets/img/search.svg" alt="" width="20">
                <span class="ml-2 mr-2">{{ $t('home.login_google') }}</span>
            </div>
        </div>
        <div class="pl-divider mt-3">
            <p class="p-0 m-0 text-center">or</p>
        </div>
        <div class="pl-form mt-3">
            <form @submit.prevent="createAccount()">
                <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" v-model="user.email">
                </div>
                <div class="form-group mt-4">
                    <input type="password" class="form-control" placeholder="Password" v-model="user.password">
                </div>
                <div class="form-group mt-4">
                    <input type="password" class="form-control" placeholder="Confirm Password" v-model="user.password_confirmation">
                </div>
                <div class="form-check mt-4">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" value="">{{ $t('home.sign_up_toc') }}
                    </label>
                </div>
                <div class="form-group mt-4">
                    <button type="submit" class="btn btn-lg btn-submit">
                        <span v-if="!loading">{{ $t('home.sign_up_btn') }}</span>
                        <span v-else>{{ $t('home.sign_up_btn_loader') }}</span>
                    </button>
                </div>
                <div class="form-footer text-center">
                    <p class="ff-text">{{ $t('home.sign_up_account') }} <router-link to="/login" class="btn-login-alt">{{ $t('home.sign_login_alt') }}</router-link></p>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
    import {mapState} from 'vuex';
    export default {
        name: "register_component",
        computed: {
            ...mapState({
                loading: (state) => state.loading,
            }),
        },
        data() {
            return {
                user: {
                    email: '',
                    password: '',
                    password_confirmation: '',
                },
                params: {
                    client_id: '405489142264-g5cdcidet97q3rgjmjs300uj60ggt92j.apps.googleusercontent.com',
                },
                renderParams: {
                    width: 250,
                    height: 50,
                    longtitle: true,
                },
            };
        },
        methods: {
            loginWithFacebook() {
                window.FB.login((response) => {
                    console.log('fb response', response);
                    window.FB.api('/me', { locale: 'tr_TR', fields: 'name, email, birthday, hometown, education, gender, website, work' },
                        (data)=>{
                            if(data.email != undefined){
                                var payload = {
                                    user: {},
                                };
                                payload.email = data.email ?? '';
                                payload.password = data.id;
                                payload.password_confirmation = data.id;
                                payload.lastname = data.name.split(' ')[0];
                                payload.firstname = data.name.split(' ')[1];
                                payload.gmail_login = true;
                                payload.gmail_id = data.id;

                                this.createAccount(null, payload, true);
                            }else{
                                this.$store.commit('setNotification', {type: 2, msg: 'We have no access your facebook email, Please signin using another login method.'});
                            }
                        });
                }, this.params);
            },
            loginWithGoogle() {
                this.$gAuth
                    .signIn()
                    .then((GoogleUser) => {
                        // console.log('GoogleUser', GoogleUser);
                        // console.log('getId', GoogleUser.getId());
                        // console.log('getBasicProfile', GoogleUser.getBasicProfile());
                        // console.log('getAuthResponse', GoogleUser.getAuthResponse());

                        var user = GoogleUser.getBasicProfile();
                        var payload = {
                            user: {},
                        };
                        payload.email = user.kt;
                        payload.password = user.KR;
                        payload.password_confirmation = user.KR;
                        payload.lastname = user.qR;
                        payload.firstname = user.oT;
                        payload.profile_image = user.wI;
                        payload.gmail_login = true;
                        payload.gmail_id = user.KR;

                        this.createAccount(null, payload, true);
                    })
                    .catch((error) => {
                        console.log('error', error);
                    });
            },
            createAccount(e, data = this.user, socialSignIn = false) {
                if (data.email.length == 0 || data.password.length == 0 || data.password_confirmation.length == 0) {
                    this.$store.commit('setNotification', {type: 2, msg: 'All fields are required'});
                    return false;
                }

                if (this.loading) {
                    return false;
                }

                // this.loading=true;
                data.socialSignIn = socialSignIn;
                this.$store.dispatch('createAccount', data);
            },
        },
        mounted() {

        },
    }
</script>

<style scoped lang="scss">
    .pointer{
        cursor: pointer;
    }
    .pl-layout{
        background: #fff;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 57px 41px;
        border-radius: 20px;
        width: 450px;
        .pl-head{
            display: flex;
            justify-content: space-between ;
            align-items: center;
            h4{
                color: #424242;
                font-weight: 700;
                font-size: 30px;
                width: 50%;
            }
        }
        .pl-social{
            .social-item{
                padding:13px 18px;
                background: #F3F3FF;
                border-radius: 5px;
                font-weight: 600;
                i{
                    color: blue;
                    font-size: 19px;
                }
                span{
                    color: #3E3E3E;
                }
            }
        }
        .pl-divider{
            p{
                color: #DCDCDC;
            }
            p::before{
                content: '';
                display: flex;
                margin-top:12px;
                border-top: 1px solid #B8B4F0;
                position: absolute;
                width: 146px;
            }
            p::after{
                content: '';
                display: inline;
                margin-top:12px;
                border-top: 1px solid #B8B4F0;
                position: absolute;
                margin-left: 30px;
                width: 146px;
            }
        }
        .pl-form{
            input.form-control{
                height: 54px;
                border:1px solid #049CB1;
                background: transparent;
            }
            input[type='checkbox']:focus{
                -webkit-appearance: checkbox !important;
            }
            .form-check-input {
                margin-top: 0.4rem;
            }
            .form-check-label{
                color: #444242;
                font-size: 14px;
                line-height: 1;
            }
            .btn-submit{
                width: 100%;
                color: white;
                background: #049CB1;
                border-radius: 5px;
                font-weight: 600;
                font-size: 15px;
                padding: 15px 0;
            }
            .form-footer{
                .ff-text{
                    color: #C4C4C4;
                    font-size: 13px;
                    font-weight: 400;
                }
            }
        }
    }
    .btn-submit span{
        text-transform: uppercase;
    }
    .btn-login-alt{
        color: #000;
    }
    @media(max-width:576px){
        .pl-layout{
            padding: 50px 18px !important;
            margin-left: 17px;
            margin-right: 17px;
            /*width: 300px !important;*/
            .pl-head{
                text-align: center;
                display: block !important;
                h4{
                    width: 100% !important;
                }
            }
            .pl-divider{
                p::after{
                    width: 114px !important;
                }
                p::before{
                    width: 114px !important;
                }
            }
        }
    }
    @media (min-height: 900px) {
        .pl-layout{
            height: max-content;
        }
    }
</style>